.dayView {
  /* padding: 0 59px 0 58px; */
}
.dayView .calendarNavigation {
  position: absolute;
  right: 40px;
  padding-top: 25px;
}
.dayView .selectedDayLabel {
  float: left;
  height: 100px;
    /*margin-top: 30px;*/

    width: 49%;


    /*background: #ededed;*/


}

.dayView .selectedDayLabel table{
    border: 1px solid #D9D9D9;
    float: left;
    height:100% !important;
    margin-left: 0px;
    width: 100%;
    -webkit-border-radius: 5px;
    text-align: center;
    /*border-collapse: collapse;*/
}
.weekTable{
    border: 1px solid #D9D9D9;
    float: left;

margin-top:18px;



    text-align: center;

}


.dayView .selectedDayLabel table tr {
    background: #ededed;

    border-top:1px solid #000066;

    border-left:1px solid #D9D9D9;
    border-right:1px solid #ffffff;
    height: 85%;

}



.selectedDayLabel table tr td:first-child{
    width:6%;

    text-align:right;color:#858484;

}
.selectedDayLabel table tr td:nth-child(2) {
    width:70%;
    padding:0 0 0 10px;
    color:#858484;

    line-height: 19px;
}




.dayView .selectedDayLabel h1{font-size: 42px;font-family: arial; font-weight: normal;padding-top: 12px;}


.dayView .selectedDayLabel h2,
.dayView .selectedDayLabel h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 20px;
}

.dayView .selectedDayLabel h3 em {
  font-style: normal;
  font-size: 14px;
  color: #CCCCCC;
}
.dayView .calendarContainer {
  clear: both;
  border: 1px solid #d9d9d9;
  position: absolute;
  top: 90px;
  left: 58px;
  right: 59px;
  bottom: 36px;

}

.calimg{ background: url(img/calImg.png) no-repeat; }

.dayView .cal_content .addContainer {
  float: right;
  width: 45px;
  height: 15px;
}
.dayView .cal_content .addContainer .addDiaryItemButton {
  width: 26px;
  height: 27px;
  vertical-align:middle;
    margin-top: 6px;
}
.dayView .cal_content .allDayContainer {

  background: url(img/calList_bg.jpg) repeat;
  position: relative;
  padding: 0 8px 0 0;
    /*height: 100%;*/
    /*border-left: solid 4px #0055a5;*/

}
.dattdbg{background: url(img/calList_bg.jpg) repeat;min-height: 100px;}
.dattdborderleft{ border-left: solid 15px #0055a5;border-collapse:collapse;}

.dayView .cal_content .allDayContainer .allDayLabel{
	background: #ededed;
	width: 14%;
	vertical-align:middle;
	text-align:right;
	font-size: 12px;
	color: #858484;
	/*height:100%;*/
	float:left;
	padding:0px 8px 0px 0;
	font-weight: bold;
	border: 1px solid #d9d9d9;
    /*height: 100%;*/
    border-right: none;


}

.dayView .cal_content .allDayContainer .itemContainer,
.dayView .cal_content .allDayContainer .eventContainer {
  /*margin: 40px 45px 0 125px;*/
    padding: 6px 10px;
}
.dayView .cal_content .allDayContainer .eventContainer {
  margin-left: 200px;
}
.dayView .cal_content .allDayContainer.dropTarget {
  background-color: #e7fce6;
}
.dayView .cal_content .allDayContainer .addContainer {
  width: 30px;
    margin-top: 18px;
    margin-right: 10px;
}
.dayView .calendarContainer .periodContainer {
  margin: 0;
  padding: 0;
}
.dayView .calendarContainer .periodContainer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hide;
  position: absolute;
  top: 47px;
  bottom: 0;
  right: 0;
  left: 0;
}
.dayView .calendarContainer .periodContainer ul::-webkit-scrollbar {
  border-left: 1px solid #d9d9d9;
  background-color: #fbfbfb;
}
.dayView .calendarContainer .periodContainer ul li {
  position: relative;
  min-height: 45px;
  background: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #f1f1f1;
  padding: 6px 0;
}
.dayView .calendarContainer .periodContainer ul li:first-of-type,
.dayView .calendarContainer .periodContainer ul li:last-of-type {
  background: url(img/diagonal-stripes.png);
}
.dayView .calendarContainer .periodContainer ul li.light {
  background: #fcfcfc;
  border-bottom-color: #eeeeee;
}
.dayView .calendarContainer .periodContainer ul li.dark {
  background: #f2f2f2;
  border-bottom-color: #e5e5e5;
}
.dayView .calendarContainer .periodContainer ul li.noSubject .subjectLabel {
  display: none;
}
.dayView .calendarContainer .periodContainer ul li.noSubject .itemContainer {
  margin-left: 133px;
}
.dayView .calendarContainer .periodContainer ul li.noSubject .eventContainer {
  margin-left: 138px;
}
.dayView .calendarContainer .periodContainer ul li.dropTarget {
  background-color: #e7fce6;
  background-image: none;
}
.dayView .calendarContainer .periodContainer ul li div {
  display: inline-block;
}
.dayView .calendarContainer .periodContainer ul li .periodLabel {
  position: absolute;
  font-size: 11px;
  color: #858484;
  font-weight: bold;
  text-align: right;
  padding: 12px 13px 3px 3px;
  top: 0px;
  bottom: 0;
  width: 110px;
  border-right: 1px solid #d9d9d9;
}
.dayView .calendarContainer .periodContainer ul li .subjectLabel {
  position: absolute;
  font-size: 11px;
  color: #858484;
  font-weight: bold;
  padding: 12px 3px 3px 13px;
  top: 0px;
  bottom: 0;
  left: 127px;
  width: 82px;
  border-left: 1px solid white;
}
.dayView .calendarContainer .periodContainer ul li .subjectLabel strong {
  color: #000000;
}
.dayView .calendarContainer .periodContainer ul li .itemContainer,
.dayView .calendarContainer .periodContainer ul li .eventContainer {
  margin: 0px 45px 0 235px;
  padding: 3px 0;
  display: block;
}
.dayView .calendarContainer .periodContainer ul li .eventContainer {
  margin-left: 240px;
}
.dayView .calendarContainer .periodContainer ul li .addContainer {
  width: 38px;
}
.cal_tbw_bottom {
	border: 1px solid #D9D9D9;
	border-radius: 5px 5px 5px 5px;
	margin-right: 8px;
	margin-top: 14px;
	padding: 6px;
	position: relative;
	width:45%;
	height: 60px;
}

.cal_tbw_bottom .tbw_date {
	color: #1C7DCF;
	float: left;
	font-size: 40px;
	padding: 0 20px;
}
.cal_tbw_bottom .tbw_day {
	float: left;
	padding-right: 120px;
}

.cal_tbw_bottom .tbw_day h4 {
	color: #1C7DCF;
	font-size: 30px;
	font-weight: normal;
}
.cal_tbw_bottom .tbw_day h5 {
	color: #3D3C3C;
	font-size: 22px;
	font-weight: normal;
	padding: 4px 0;
}
.cal_tbw_bottom .tbw_day h6 {
	color: #6C6C6C;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
}

.calendar_open {
	display: block;
	height: 56px;
	margin-top: -28px;
	position: absolute;
	right: 30px;
	text-indent: -999999px;
	top: 50%;
	width: 51px;
	border: 0;
	cursor: pointer;
	z-index: 100;
}

.cal_tbw_bottom span.icon {
	background: url("../frame/images/calender.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 35px;
	margin-left: 33px;
	margin-top: 50px;
	text-indent: -9999px;
	width: 35px;
}