.popup {
	display: none;
	position: fixed; /* fixed to float on top of everything, absolute highest in parent container */
	z-index: 900;

	background-color: #ffffff;
	
	border-radius: 4px;
	border-color: #817e7e;
	border-style: solid;
	border-width: 1px;
	
	-webkit-box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.55);
	padding: 2px;
	margin: 0;
	min-height: 17px;
}

.callout {
	position: absolute;
	display: block;
	z-index: 901;
	margin: 0;
	padding: 0;
}

.calloutleft {
	width: 9px;
	height: 25px;
	background: url(popup_callout_left.png) no-repeat 0 4px;
	margin-top: -1px;
}

.calloutright {
	width: 9px;
	height: 25px;
	background: url(popup_callout_right.png) no-repeat 0 4px;
	margin-top: -1px;
	margin-left: -2px;
}

.callouttop {
	width: 25px;
	height: 9px;
	background: url(popup_callout_top.png) no-repeat 4px 0;
}

.calloutbottom {
	width: 25px;
	height: 9px;
	background: url(popup_callout_bottom.png) no-repeat 4px 0;
	margin-top: -2px;
}