/*
Copyright (c) 2003-2011, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/
*{padding:0; margin:0;}
body
{
	/* Font */
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;

	/* Text color */
	color: #222;

	/* Remove the background color to make it transparent */
	background-color: #fff; padding-top:5px; line-height:13px;
}

/* preserved spaces for rtl list item bullets. (#6249)*/
ol,ul,dl
{
    padding-right:40px;
}
p{ padding-bottom:3px;}
html
{
	/* #3658: [IE6] Editor document has horizontal scrollbar on long lines
	To prevent this misbehavior, we show the scrollbar always */
	_overflow-y: scroll;
	/* #6341: The text cursor must be set on the editor area. */
	cursor: text;
	/* #6632: Avoid having "text" shape of cursor in IE7 scrollbars.*/
	*cursor:auto;
}

img:-moz-broken
{
	-moz-force-broken-image-icon : 1;
	width : 24px;
	height : 24px;
}
img, input, textarea
{
	cursor: default;
}


