/* CSS Document */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}
.frame {
 /* background: url("images/main_bg.png") repeat scroll 0 0 transparent;*/
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: -5px;
  font-family: "Diary Font";
  border-top:0px;
  background-color:#ececec;
  cursor:none;
}

header#head {
	display: block;
	/* border-top: 2px solid #178ac0; */
	position: relative;
	cursor:none;
}

header#head .wrap {
	width: 100%;
	margin: 0 auto;
	position: relative;
	cursor:none;
}

.wrap_new{
	background: #4793df; /* Old browsers */ 
	background: -moz-linear-gradient(top, #4793df 0%, #3798b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4793df), color-stop(100%,#0f57a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4793df 0%,#0f57a7 100%); /* Chrome10+,Safari5.1+ */
	height: 65px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	cursor: none;
}

header#head .wrap .logo {
	width: 110px;
	float: left;
	margin: 8px 0 3px 5px;
	cursor: none;
}

header#head .wrap .logo a {
	display: block;
	height: 82px;
	background: url(images/sprite_image.png) no-repeat 0 0;
	text-indent: -9999px;
	cursor: none;
}
.apps_btn {
	float: right;
	margin: 13px 50px 0 0;
	
	
}
.apps_btn table{
	width:200px;
}
.apps_btn table tr td{ 
	
	float:right;
	margin: 0 5px 0 5px;
	
}

.notify_num{
	
	min-width:10px;
	height:20px;
	line-height:20px;
	text-align:center;
	background:#ff0000;
	color:#fff;
	border-radius:20px;
	padding: 5px 8px;
	z-index:999;
	box-shadow:0 1px 2px 0 #666;
	margin:0 10px 0 -5px;
}

.due .notify_num
{
	margin:0 10px 0 -8px;
}

.navbar{
	float: right;
	/*margin: 19px 5px 0 0px;*/
}

#nav
{
	padding:0;
	float:right;
}
#nav li
{
	display:inline;
}
#nav li a
{  
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-decoration: none;
	float:left;
	padding:5px 10px;
	background:url("images/due_bg.png") no-repeat ;
	width:100px;
	height:26px;
	color:#ffffff;
	text-align:center;
	
	
	margin: 0px;
}

.due li a
{
	background:url("images/due_bg2.png") no-repeat ;
}


#nav li a: hover
{
	background:#9B1C26;
}
#nav   li a.active
{
	background:#fff !important;
	color:#000;
}
.frame > header {
  width: 100%;
  height: 65px;
  /* background: url(images/title_bar.png) no-repeat; */
  cursor: none;
}
.frame > header > .logo {
  position: fixed;
  width: 224px;
  height: 65px;
  display: block;
  /*//	background: url(images/school_logo.png) no-repeat;*/ 
  left: 13px;
  top: 12px;
}
.frame > header > .logo img {
  max-width: 224px;
  max-height: 65px;
}
.frame > header > nav > ul {
  padding: 0;
  margin: 0;
  top: 29px;
  height: 48px;
  left: 285px;
  position: fixed;
}
.frame > header > nav > ul > li {
  display: inline-block;
  list-style-type: none;
}
.frame > header > nav > ul > li > a {
  display: inline-block;
  padding: 14px 18px 0px 18px;
  height: 45px;
  margin-top: 3px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: #000000 -1px -1px 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.4)));
  -webkit-box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.2) inset, 1px -1px 1px rgba(0, 0, 0, 0.2) inset, 0 -3px 0 0 rgba(255, 255, 255, 0.1);
}
.frame > header > nav > ul > li > a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(100, 100, 100, 0.4)));
}
.frame > header > nav > ul > li > a.selected {
  color: #0055a5;
  text-shadow: none;
  cursor: default;
  background-image: none;
  background-color: #ffffff;
}
.frame > header > nav > ul > li:first-of-type > a {
  margin-left: 3px;
  border-top-left-radius: 8px;
  -webkit-box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.2) inset, 1px -1px 1px rgba(0, 0, 0, 0.2) inset, -2px -1px 0 2px rgba(255, 255, 255, 0.1);
}
.frame > header > nav > ul > li:last-of-type > a {
  margin-right: 3px;
  border-top-right-radius: 8px;
  -webkit-box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.2) inset, 1px -1px 1px rgba(0, 0, 0, 0.2) inset, 2px -1px 0 2px rgba(255, 255, 255, 0.1);
}
.frame > header > .search {
  backgroud:red;
  width: 230px;
  height: 36px;
  margin:0;
  
} 
.frame > header > .search > input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 3px;
  font-size: 14px;
  font-family: "Diary Font";
  vertical-align: middle;
  color: #888888;
  border-style: none;
  outline: none;
  padding-left: 32px;
  background: #ffffff url(images/search_magnifier.png) no-repeat 11px 6px;
  border-radius: 15px;
  -webkit-box-shadow: inset 4px 4px 4px #d5d5d5, 0 0 1px 3px rgba(255, 255, 255, 0.3);
}
.frame > header > .search > input:focus {
  color: black;
  -webkit-box-shadow: inset 4px 4px 4px #d5d5d5, 0 0 3px 3px rgba(255, 255, 255, 0.5);
}
.frame > header > .search > .loadingIndicator {
  position: absolute;
  left: 30px;
  top: 17px;
  display: none;
}
.frame > header > .search .loading > input {
  background-image: none;
}
.frame > header > .search .loading > .loadingIndicator {
  display: block;
}
.frame > header > input::-webkit-input-placeholder {
  color: #cccccc;
}
.frame .container {
  /* position: fixed;
  top: 77px;
  bottom: 50px;
  left: 9px;
  right: 9px;
  background-color: #ffffff; 
  border-top-right-radius: 6px; */
  
  left: 166px;
  background: url("images/main_bg.png") repeat scroll 0 0 transparent;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 82%;
}

#vtab {
	margin: 15px 5px;
	height: 100%;
	cursor:none;
}


#vtab > ul > li.home_li {
	
	
	background: url('images/homenormalicon.png') no-repeat center 6px;
	
	
}

#vtab > ul > li.inbox_li {
	
	background: url('images/inboxnormalicon.png') no-repeat center 6px;
}

#vtab > ul > li.report_li {
	
	background: url('images/Reports_icon.png') no-repeat center 6px;
}

#vtab > ul > li.calender_li {
	background: url('images/calendarnormalicon.png') no-repeat center 6px;
}

#vtab > ul > li.timetable_li {
	background: url('images/timtablenormalicon.png') no-repeat center 6px;
}

#vtab > ul > li.myclasses_li {
	background: url('images/myclassnormal.png') no-repeat center 6px;
}

#vtab > ul > li.schoolinfo_li {
	background: url('images/schoolinformationnormalicon.png') no-repeat center 6px;
}


#vtab > ul > li.edu_content_li {
	background: url('images/educationalcontentnormal.png') no-repeat center 6px;
}

#vtab > ul > li.profile_li {
	background: url('images/myprofilenormalicon.png') no-repeat center 6px;
}

#vtab > ul > li.about_li {
	background: url('images/aboutdaisynormalicon.png') no-repeat center 6px;
}

#vtab > ul > li.selected {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	border: 1px solid #5080b6;
	border-right: none;
	z-index: 10;
	background-color: #ececec !important;
	position: relative;
	border-radius: 6px 0 0 6px;
	
	-webkit-box-shadow: -1px 0 0.8px 1px #98b8e6;

	
}
#vtab > ul > li.home_li.selected  {
	
	background: url('images/homeselectedicon.png') no-repeat center 6px;	
}

#vtab > ul > li.inbox_li.selected {
	
	background: url('images/inbosslectedicon.png') no-repeat center 6px;
}

#vtab > ul > li.report_li.selected {
	
	background: url('images/Reports_icon_Active.png') no-repeat center 6px;
}

#vtab > ul > li.calender_li.selected {
	background: url('images/calendarselectedicon.png') no-repeat center 6px;
}

#vtab > ul > li.timetable_li.selected {
	background: url('images/timtableselectedicon.png') no-repeat center 6px;
}

#vtab > ul > li.myclasses_li.selected {
	background: url('images/myclassselected.png') no-repeat center 6px;
}

#vtab > ul > li.schoolinfo_li.selected {
	background: url('images/schoolinformationselectedicon.png') no-repeat center 6px;
}


#vtab > ul > li.edu_content_li.selected {
	background: url('images/educationalcontaneselectedicon.png') no-repeat center 6px;
}

#vtab > ul > li.profile_li.selected {
	background: url('images/myprofileselectedicon.png') no-repeat center 6px;
}

#vtab > ul > li.about_li.selected {
	background: url('images/aboutdaisyselectedicon.png') no-repeat center 6px;
}



#vtab > ul > li {
	color: black;
	width: 130.2px;
	height: 52px;
	list-style-type: none;
	display: block;
	text-align: center;
	margin: 0;
	padding-bottom: 10px;
	
	position: relative;
	border-right: none;
	
	cursor:pointer;
	
}



#vtab > ul {
	float: left;
	width: 130px;
	text-align: left;
	display: block;
	margin: auto 0;
	padding: 0;
	position: relative;
	top:0px;
}
#vtab > div {
	background-color: #ececec !important;	
	margin-left: 100px;
	border: 1px solid #5080b6;
	min-height: 600px;
	padding: 12px;
	position: relative;
	z-index: 9;
	border-radius:6px 6px 6px 6px;
	
	
}
#vtab > div > h4 {
	color: #800;
	font-size: 1.2em;
	border-bottom: 1px dotted #800;
	padding-top: 5px;
	margin-top: 0;
}


#vtab  > ul > li span {
	position:absolute;
	bottom:5px;
	
	left:58px;
	font-weight:bold;
	
	font-family: "Diary Font";
}

.frame .container .content {
  position: relative;
  
  height: 100%;
  background-color: #ececec !important;
}
.frame > footer {
  padding: 0;
  margin: 0;
  bottom: 6px;
  height: 44px;
  left: 8px;
  right: 9px;
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.4)));
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.frame > footer > nav > ul {
  padding: 0;
  margin: 0;
  bottom: 6px;
  height: 44px;
  left: 9px;
  right: 9px;
  position: fixed;
}
.frame > footer > nav > ul > li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
}

.frame > footer > nav > ul > li a {
  display: inline-block;
  padding: 13px 16px 0px 16px;
  height: 31px;
  color: #cccccc;
  font-size: 13px;
  cursor: pointer;
  font-family: "Diary Font";
  font-weight: bold;
  text-shadow: #000000 -1px -1px 2px;
  -webkit-box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.2) inset, 1px -1px 1px rgba(0, 0, 0, 0.2) inset;
}

.frame > footer > nav > ul > li a.selected,
.frame > footer > nav > ul > li a:hover.selected {
  background-image: none;
  background-color: #ffffff;
  color: #0055a5;
  text-shadow: none;
  cursor: default;
}

.frame > footer > nav > ul > li a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(100, 100, 100, 0.4)));
  color: #ffffff;
  /*#cbe3fa; */

}
.frame > footer > nav > ul > li:first-of-type > a {
  border-bottom-left-radius: 5px;
}
.frame > footer > .iconTab {
  float: right;
  margin: 0;
  height: 100%;
  width: 139px;
  height: 44px;
  background: url('images/footer_icon_tab.png') no-repeat;
}
.frame > footer > .iconTab > .icon {
  position: relative;
  margin: 0;
  /*background: url('images/footer_icon.png') no-repeat;*/
  width: 103px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  top: -10px;
}
#versionNumber {
  position: absolute;
  left: 16px;
  font-size: 10px;
  bottom: 5px;
  color: #aaa;
  z-index: 1;
}

.headerNavigation {
	width : 100px;
}


/* call out function css*/
.callout_click
{
	background: #4793df; /* Old browsers */ 
	background: -moz-linear-gradient(top, #4793df 0%, #3798b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4793df), color-stop(100%,#0f57a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4793df 0%,#0f57a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4793df 0%,#0f57a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4793df 0%,#0f57a7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4793df 0%,#0f57a7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4793df', endColorstr='#0f57a7',GradientType=0 ); 
	border-radius: 10px 10px 10px 10px;
	
	clear: both;
	padding: 10px;
	
	border-width:2px 0 0 0;
	border-style:solid;
	border-color:#a2c3e7;
	border-color: -moz-linear-gradient(top, #555555, #111111);
	
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 450px;
	min-height: 450px;
	width:230px;
}
.callout_click_container{
	background:white;
	max-height: 445px;
	min-height: 445px;
	width:230px !important;
}
.callout_click .search {
	display: inline-block;
	width: 220px;
	height: 36px;
	top: 31px;
	border-bottom: 1px solid #7a8091;
	padding: 8px 5px;
	background: #4793df; /* Old browsers */ 
	background: -moz-linear-gradient(top, #ffffff 0%, #a6aab7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#a6aab7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#a6aab7 100%); /* Chrome10+,Safari5.1+ */
} 
.callout_click .search input {
	width: 215px;
	height: 30px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 3px;
	font-size: 14px;
	font-family: "Diary Font";
	vertical-align: middle;
	color: #888888;
	border-style: none;
	outline: none;
	padding-left: 32px;
	background: #ffffff url(images/search_magnifier.png) no-repeat 11px 6px;
	border-radius: 15px;
	-webkit-box-shadow: inset 4px 4px 4px #d5d5d5, 0 0 1px 3px rgba(255, 255, 255, 0.3);
}
.callout_click .popupContent{
	width:200px !important;
	height:380px !important;
}
.calloutarea_due
{
	display:none;
	position:absolute;
	z-index:1000;
	top:57px;
}

.calloutarea_assigned
{
	display:none;
	position:absolute;
	z-index:1000;
	top:57px;
	right:230px;;
}

.calloutarea_notification
{
	display:none;
	position:absolute;
	z-index:1000;
	top:57px;
	right:8%;
}

.calloutarea_search
{
	display:none;
	position:absolute;
	z-index:1000;
	top:57px;
	right:6%;
	width:260px;
}

.callout {
	z-index:20;
	border:0 none;
	top:-12px;
	clear: both;
	float: left;
	margin: 0 0 0 50px;
	position:absolute;
}

.callout_click table{
	border-collapse: separate;
	border-radius: 10px 10px 10px 10px;
	clear: both;
	margin: 0px 0 0 0px;
}
.callout_click table tr{
	border-bottom: 1px solid #FFFFFF !important;
	clear: both;
	float: left;
	margin-top: 8px;
	padding-top: 2px;
}

.callout_click table tr:first-child td:first-child{
	border-radius: 10px 0 0 0px;
}
.callout_click table tr:last-child td:first-child{
	border-radius: 0px 0 0 10px !important;
}
.calender_profile table tr:last-child{
	border-bottom:0px  !important;
}
.callout_click table tr td:first-child{
	background:#e7e7e7 !important;
	border-bottom: 0px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	color: #9999A2;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 0px;
	vertical-align: middle;
}
.callout_click table tr td:nth-child(2) {
	width: 10%;
	padding:2px 5px;
	border-bottom:1px solid #D9D9D9;
	border-right:0px solid #D9D9D9;
}
.callout_click table tr td:last-child {
	background:#f6f5f5;
	border-bottom: 0 solid #D9D9D9;
	border-radius: 0 0px 0 0;
	padding: 0px 0px;
	vertical-align: middle;
}
.callout_click table .overdueRow{
	background:url(images/bg_tbl.png) repeat ;
	border-bottom: 1px solid #D9D9D9;
	border-top: 1px solid #D9D9D9;
	border-left: 0px solid #D9D9D9;
	border-radius: 5px 5px 5px 5px;
	border-right: 1px solid #D9D9D9;
	float: left;
	height: 50px;
	margin: 0 0 0 0px;
	text-align: left;
	width: 230px;
	cursor:pointer;
}
.callout_click table tr td div img{
	margin:10px 5px 0 ;
	border-radius:2px;
	float:left;
	width:30px;
	height:30px;
}
.callout_click table tr td div img.close_row{
	float: right;
	height: 21px;
	margin-right: 15px ;
	width: 21px;
	cursor:pointer;
}
.callout_click table span{
	color:#9999a2;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
}
.callout_click table h6{
	float:left;
	color:#4A4A4A;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	top:-40px;
	position: relative;
}

.black_overlay_callout{
	display: none;
	position: absolute;
	top: 7%;
	left: 0%;
	width: 100%;
	height: 93%;
	background-color: black;
	z-index:10;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.black_overlay_callout_calandar{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:10;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.black_overlay_frame{
	display: none;
	position: absolute;
	left: 0%;
	height: 100%;
	background-color: black;
	z-index:10;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.logo_text {
	color: #FFF;
	font-family: Diary Font;
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin: 25px 10px 0 20px;
}

.task_ic {
	background:url("images/taskicon.png") no-repeat;
	bottom: 0;
	cursor: pointer;
	height: 38px;
	left: 30px;
	position: fixed;
	width: 97px;
/*	z-index: 100;*/
	
}

#updatingImg {
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
to   {-webkit-transform: rotate(-359deg);}
}

.feedbackLink {
	color: #fff;
	line-height: 30px;
	display: block;
	font-weight: bold;
}

.feedbackDiv {
	position:absolute;	
	left: 50%;
	top: 50%;
	width: 510px;
	margin: -20% 0 0 -20%;
	background: #F6F6F6;
	z-index: 9999;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	overflow: hidden;
}

.calendarAccessDiv {
	position:absolute;	
	left: 5%;
	right: 7%;
	top: 10%;
	width: 87.5%;
	height: 82.5%;
/*	margin: -20% 0 0 -20%;*/
	background: #F6F6F6;
	z-index: 9999;
	border-radius: 10px 10px 0 0;
/*	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;*/
	overflow: hidden;
}

.feedbackTitle{
	color: white;
	font-weight: bold;
	font-size: 15px;
	background: #4793df; /* Old browsers */ 
	background: -moz-linear-gradient(top, #4793df 0%, #3798b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4793df), color-stop(100%,#0f57a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4793df 0%,#0f57a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4793df 0%,#0f57a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4793df 0%,#0f57a7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4793df 0%,#0f57a7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4793df', endColorstr='#0f57a7',GradientType=0 ); 
	border-bottom: 1px solid #f8f3f3;
	border-radius: 10px 10px 0 0;
	padding: 10px;
}

.feedbackLabel {
	display: block;
	color: #414040;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	padding:10px 10px 2px 10px;
}

.feedbackMessage {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #D4D4D4;
	font-size: 12px;
	min-height: 60px;
	padding: 10px!important;
	resize: none;
	width: 480px;
	margin:0 0 10px 10px;
}

.dialog-message {
	position:absolute;	
	left: 50%;
	top: 50%;
	width: 510px;
	margin: -20% 0 0 -20%;
	background: #F6F6F6;
	z-index: 10001;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	overflow: hidden;
}

.dialog-messageTitle{
	color: white;
	font-weight: bold;
	font-size: 15px;
	background: #4793df; /* Old browsers */ 
	background: -moz-linear-gradient(top, #4793df 0%, #3798b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4793df), color-stop(100%,#0f57a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4793df 0%,#0f57a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4793df 0%,#0f57a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4793df 0%,#0f57a7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4793df 0%,#0f57a7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4793df', endColorstr='#0f57a7',GradientType=0 ); 
	border-bottom: 1px solid #f8f3f3;
	border-radius: 10px 10px 0 0;
	padding: 10px;
}

.dialog-messageContent {
	display: block;
	color: #414040;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	padding:10px 10px 2px 10px;
}

.black_overlay_callout_message{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:10000;
	-moz-opacity: 0.8;
	opacity:0.1;
	filter: alpha(opacity=80);
}

#loadingMessage {
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: white;
	top: 20px;
	left: 0px;
	position: absolute;
}