body {
	background-color: rgba(0, 85, 165, 0.8);
	color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.notification .content header {
	width: 100%;
	height: 33px;
	display: block;
	cursor: pointer;

	h1 {
		position: absolute;
		left: 13px;
		top: 9px;
		font-family: "Diary Font";
		font-size: 13px;
		font-weight: 600;		/* CondensedBold */
		padding-top: 0px;
		margin-top: 0px;
		cursor: pointer;
	}

	a {
		top: 6px;
		right: 9px;
		width: 17px;
		height: 17px;
		background-image: url(../chrome/close.png);
		display: block;
		position: absolute;
		cursor: pointer;

		&:hover {
			background-image: url(../chrome/close_down.png);
		}
	}
}

.notification .content .notifications {
	position: absolute;
	display: block;
	left: 3px;
	right: 3px;
	top: 30px;
	bottom: 3px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	color: #4a4a4a;
	border-spacing: 0;
	padding: 3px;
    overflow-y: auto;

	.notification {
		font-family: "Diary Font";
		font-size: 13px;
		font-weight: 600;		/* CondensedBold */
		display: block;
		cursor: default;

		&.noColor > div {
			.icon {
				left: 7px;
			}
			> span {
				margin-left: 26px;
				width: 190px;
			}
		}

		> div {
			display: block;
			height: 43px;
			overflow: hidden;
			text-overflow: ellipsis;

//			&:nth-child(even) {
//				background-color: rgba(255, 255, 255, 1);
//			}

			> span {
				display: block;
				width: 183px;
				max-width: none;
				margin-top: 0;
				padding: 0;
				margin-left: 33px;
			}

			.title {
				font-weight: 600;		/* CondensedBold */
				color: #999999;
			}

			.message {
				white-space: normal;
				line-height: 13px;
			}

			.link {
				width: 18px;
				height: 18px;
				right: 0;
				top: 14px;
				background-image: url(close_notification.png);
				display: block;
				cursor: hand;
				cursor: pointer;
				margin-right: 4px;
			}

			.icon {
				top: 14px;
				left: 14px;
			}

			.colorStripe {
				height: 43px;
			}
		}
	}
}
