.searchResults {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 390px;
  min-height: 390px;
  width: 230px;
}
.searchResults table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 230px;
}

.searchResults table th{
	width: 230px;
}

.searchResults .noResults {
	font-family: "Diary Font";
	font-weight: bold;
	font-size: 12px;
	position: relative;
	height: 45px;
	width: 230px;
	left: 26px;
	top:10px;
}

.searchResults .noResults span {
	right: 0;
	white-space: nowrap;
	overflow: hidden;
	text-align:middle;
}

#searchPopup .searchResults th,
#searchPopup .searchResults td {
  vertical-align: top;
  line-height: 30px;
  white-space: nowrap;
}
#searchPopup .searchResults th {
  border-right: 1px solid #ddd;
  color: #888;
  text-align: right;
  width: 90px;
}
#searchPopup .searchResults .noResults,
#searchPopup .searchResults .resultItem {
  font-family: "Diary Font";
  font-weight: bold;
  font-size: 12px;
  position: relative;
  height: 30px;
  width: 100%;
}
#searchPopup .searchResults .noResults > span,
#searchPopup .searchResults .resultItem > span {
  position: absolute;
  left: 26px;
  top:10px;
  right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align:middle;
}
#searchPopup .searchResults .noResults {
  font-style: italic;
  color: #888;
}
#searchPopup .searchResults .resultItem {
  cursor: pointer;
}

.searchResults .resultItem {
  background: url(../home/images/bg_tbl.png) repeat-x;
  width:230px;
  height:45px;
  cursor: pointer;
}
.searchResults .resultItem .homework{
  background: url(../notification/homework.png) no-repeat -3px 3px;
  float:left;
  height:45px;
  width:20px;
  top:5px;
  left:10px;
}
.searchResults .resultItem .assignment {
  background: url(../notification/assignment.png) no-repeat -3px 3px;
  float:left;
  height:45px;
  width:20px;
  top:5px;
  left:10px;
}
.searchResults .resultItem .messageFromTeacher {
  background: url(../notification/messageFromTeacher.png) no-repeat -3px 3px;
  float:left;
  height:45px;
  width:20px;
}
.searchResults .resultItem .messageFromParent {
  background: url(../notification/messageFromParent.png) no-repeat -3px 3px;
  float:left;
  height:45px;
  width:20px;
}
.searchResults .resultItem .event {
  background: url(../notification/reminder.png) no-repeat -3px 3px;
  float:left;
  height:45px;
  width:20px;
}
.searchResults .resultItem .research {
  background: url(../notification/research.png) no-repeat -3px 3px;
  float:left;
  height:45px;
  width:20px;
  top:5px;
  left:10px;
}
.searchResults .resultItem .note {
  background: url(../notification/note.png) no-repeat -3px 3px;
  float:left;
  height:45px;
  width:20px;
}
.searchResults .resultItem .school {
  background: url(../notification/schoolinfo.png) no-repeat -3px 3px;
  float:left;
  height:45px;
  width:20px;
}
.searchResults .resultItem .empower {
  background: url(../notification/empower.png) no-repeat -3px 3px;
  float:left;
  height:45px;
  width:20px;
}
.searchResults .resultItem .banner {
  background: url(../notification/empower.png) no-repeat -3px 3px;
  float:left;
  height:45px;
  width:20px;
}
