.diaryView {
  display: block;
  position: absolute;
  top: 25px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  overflow: hidden;
}
.empowerPanel + .diaryView {
  left: 231px;
}
.empowerPanel {
  position: fixed;
  left: 9px;
  top: 111px;
  bottom: 89px;
  width: 220px;
}
.empowerPanel,
.empowerPanel h1,
.empowerPanel h2,
.empowerPanel p,
.empowerPanel span,
.empowerPanel table,
.empowerPanel td,
.empowerPanel th,
.empowerPanel strong,
.empowerPanel b,
.empowerPanel em,
.empowerPanel i {
  cursor: none;
}
.empowerPanel strong,
.empowerPanel b {
  font-weight: bold;
}
.empowerPanel em,
.empowerPanel i {
  font-style: italic;
}
.empowerPanel .empowerContentBody {
  display: block;
  position: absolute;
  left: 4px;
  top: 4px;
  bottom: 4px;
  right: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 5px 10px 10px;
}
.empowerPanel .empowerTab {
  display: block;
  position: absolute;
  width: 39px;
  left: 193px;
  height: 37px;
  top: 0px;
  cursor: pointer;
}
.empowerPanel .empowerTab .empowerSearch {
  display: block;
  position: absolute;
  width: 39px;
  top: 0px;
  height: 37px;
  background: url(../../assets/empower/search.png) no-repeat;
  cursor: pointer;
}
.empowerPanelBackground {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(../../assets/empower/panel_topleft.png) left top no-repeat, url(../../assets/empower/panel_topright.png) right top no-repeat, url(../../assets/empower/panel_bottomleft.png) left bottom no-repeat, url(../../assets/empower/panel_bottomright.png) right bottom no-repeat, url(../../assets/empower/panel_top.png) left top repeat-x, url(../../assets/empower/panel_bottom.png) left bottom repeat-x, url(../../assets/empower/panel_left.png) left top repeat-y, url(../../assets/empower/panel_right.png) right top repeat-y, #edf2ed;
}
.empowerigationPanel {
  display: block;
  position: absolute;
  left: 0px;
  right: 284px;
  top: 0px;
  bottom: 0px;
}
.empowerContentBody h1 {
  clear: both;
  font-family: "Diary Font";
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 15px;
}
.empowerContentBody h2 {
  clear: both;
  font-family: "Diary Font";
  font-size: 11px;
  font-weight: bold;
  line-height: 12px;
  margin: 11px 0;
  padding-top: 0px;
}
.empowerContentBody p,
.empowerContentBody td,
.empowerContentBody li {
  font-family: "Diary Font";
  font-size: 11px;
  font-weight: 300;
  line-height: 18px;
  margin: 0;
}
.empowerContentBody p strong,
.empowerContentBody td strong,
.empowerContentBody li strong,
.empowerContentBody p b,
.empowerContentBody td b,
.empowerContentBody li b {
  font-weight: 900;
}
.empowerContentBody p {
  margin-bottom: 10px;
}
.empowerContentBody table {
  border-width: 0px;
  border-collapse: collapse;
  border: none;
}
.empowerContentBody table.border th,
.empowerContentBody table.border td {
  border-width: thin;
  border-style: solid;
  border-color: #f9f9f9;
}
.empowerContentBody table th input[type="text"],
.empowerContentBody table td input[type="text"],
.empowerContentBody table td textarea {
  width: 100%;
}
.empowerContentBody th {
  font-family: "Diary Font";
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  padding: 2px;
  background-color: #f9f9f9;
}
.empowerContentBody td {
  text-align: left;
  padding: 2px;
  border: none;
  vertical-align: top;
}
.empowerContentBody img {
  float: left;
  width: 175px;
}
.empowerContentBody li {
  list-style-position: inside;
}
.empowerContentBody input[type="text"],
.empowerContentBody textarea {
  font-family: "Comic Sans MS", cursive;
  color: blue;
  border: 1px dotted grey;
}

.calendercontent {
	background: none repeat scroll 0 0 #F5F5F5;
	border: 6px solid #FFFFFF;
	box-shadow: 0 1px 3px 1px #999999;
	height: 45px;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.cal_tbw_top ul{
	margin:5px 0 0 0px;
	padding:0px;
	list-style:none;
}
.cal_tbw_top ul li.col{
	float:left;
	width:10%;
}
.cal_tbw_top ul li.col a{
	display:block;
	margin:0 8px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	padding:4px;
	color:#fff;
	
	text-align:center;
	font-weight:bold;
}


.cal_tbw_top ul li.col.view a{
	background:#ea287d;
	border:2px solid #ea287d;
	box-shadow:0 1px 2px 0 #757575;
	-moz-box-shadow:0 1px 2px 0 #757575;
	-webkit-box-shadow:0 1px 2px 0 #757575;
	
}
.cal_tbw_top ul li.col.view.active a{
	border:2px solid #ea287d;
	box-shadow:0px 4px 4px 0px #2f8798 inset;
	-moz-box-shadow:0px 4px 4px 0px #2f8798 inset;
	-webkit-box-shadow:0px 4px 4px 0px #2f8798 inset;
}


.cal_tbw_top ul li.col.day a{
	background:#1c5cff;
	background: url("daybtnnormal.png") no-repeat scroll transparent;
	width:70px;
	height:27px;
}
/*.cal_tbw_top ul li.col.day .selected {
	
	background: url("daybtnselected.png") no-repeat scroll transparent;
	width:80px;
	height:27px;
}*/


.cal_tbw_top ul li.col.week a{
	
	background: url("weeknormal.png") no-repeat scroll transparent;
	width:70px;
	height:27px;
}

/*.calender_li .navigationItem .cal_tbw_top ul li.col.week .selected {
		
	background: url("weekbtnselected.png") no-repeat scroll transparent;
	width:80px;
	height:27px;
	
}*/



.cal_tbw_top ul li.col.month a{
	background: url("monthnomal.png") no-repeat scroll transparent;
	width:70px;
	height:27px;
}

/*.cal_tbw_top ul li.col.month .selected{
	
	background: url("monthbtnselected.png") no-repeat scroll transparent;
	width:80px;
	height:27px;
}*/

.cal_tbw_top ul li.col.glance a{
	background: url("glancenormal.png") no-repeat scroll transparent;
	width:70px;
	height:27px;
}

/*.cal_tbw_top ul li.col.glance .selected{
	
	background: url("glancebtnselected.png") no-repeat scroll transparent;
	width:80px;
	height:27px;
}*/






.cal_tbw_top ul li.col.filter a{
	background:#d0cecf;
	border:2px solid #d0cecf;
	box-shadow:0 1px 2px 0 #757575;
	-moz-box-shadow:0 1px 2px 0 #757575;
	-webkit-box-shadow:0 1px 2px 0 #757575;
}
.cal_tbw_top ul li.col.filter.active a{
	border:3px solid #d0cecf;
	box-shadow:0px 4px 4px 0px #d0cecf inset;
	-moz-box-shadow:0px 4px 4px 0px #d0cecf inset;
	-webkit-box-shadow:0px 4px 4px 0px #d0cecf inset;
}

.cal_tbw_top ul li.col.tasks a{
	background:#e8505d;
	border:2px solid #e8505d;
	box-shadow:0 1px 2px 0 #757575;
	-moz-box-shadow:0 1px 2px 0 #757575;
	-webkit-box-shadow:0 1px 2px 0 #757575;
	padding:2px;
}
.cal_tbw_top ul li.col.tasks.active a{
	border:3px solid #e8505d;
	box-shadow:0px 4px 4px 0px #e8505d inset;
	-moz-box-shadow:0px 4px 4px 0px #e8505d inset;
	-webkit-box-shadow:0px 4px 4px 0px #e8505d inset;
}

.cal_tbw_top ul li.col.event a{
	background:#5291d6;
	border:2px solid #5291d6;
	box-shadow:0 1px 2px 0 #757575;
	-moz-box-shadow:0 1px 2px 0 #757575;
	-webkit-box-shadow:0 1px 2px 0 #757575;
	padding:2px;
}
.cal_tbw_top ul li.col.event.active a{
	border:3px solid #5291d6;
	box-shadow:0px 4px 4px 0px #5291d6 inset;
	-moz-box-shadow:0px 4px 4px 0px #5291d6 inset;
	-webkit-box-shadow:0px 4px 4px 0px #5291d6 inset;
}

.cal_tbw_top ul li.col.note a{
	background:#e47935;
	border:2px solid #e47935;
	box-shadow:0 1px 2px 0 #757575;
	-moz-box-shadow:0 1px 2px 0 #757575;
	-webkit-box-shadow:0 1px 2px 0 #757575;
	padding:2px;
}
.cal_tbw_top ul li.col.note.active a{
	border:3px solid #e47935;
	box-shadow:0px 4px 4px 0px #e47935 inset;
	-moz-box-shadow:0px 4px 4px 0px #e47935 inset;
	-webkit-box-shadow:0px 4px 4px 0px #e47935 inset;
}
.cal_tbw_top ul li.col.tasks span.arrow{
	background: url("/images/checkbox.png");
	height: 29px;
	
	right: -18px;
	text-indent: -9999px;
	top: -3px;
	width: 18px;
}
