.splash .container .content {
	overflow:hidden !important;
}

.splash .title {
	position: fixed;
	top: 27px;
	right:23px;
	color: #ffffff;
	font-size:14pt;
	text-shadow: black -1px -1px 3px;
}

.schoolBanner {
	display: block;
	width: 600px;
	height: 600px;
	padding-top: 8px;
	padding-bottom: 0px;
	text-align:center;
}

.schoolBanner img {
   
	max-width:100%; 
	max-height:100%;
	margin:auto;
	display:block;
}
.containerWidgets .close {	
	display: block;
	position: absolute;
	top: 0px;
	left: 820px;
	width: 21px;
	height: 21px;
	background-image: url(images/close.png);
	cursor: pointer;
	z-index:2;
}

.containerWidgets .close:hover {
	background-image: url(images/close_down.png);
}