@search-popup-width: 330px;
@search-popup-height: 600px;

#searchPopup {
	.searchResults {
		overflow-x: hidden;
		overflow-y: auto;
		max-height: @search-popup-height;
		width: @search-popup-width;

		table {
			border-collapse: collapse;
			table-layout: fixed;
			width: @search-popup-width - 10px;
		}
	
		th, td {
			vertical-align: top;
			line-height: 30px;
			white-space: nowrap;
		}
		
		th {
			border-right: 1px solid #ddd;
			color: #888;
			padding-left: 2px;
			padding-right: 6px;
			text-align: right;
			width: 90px;
		}
		
		.noResults, .resultItem {
			font-family: "Diary Font";
			font-weight: bold;
			font-size: 12px;
			position: relative;
			height: 30px;
			width: 100%;

			> span {
				position: absolute;
				left: 26px;
				right: 0;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
		
		.noResults {
			font-style: italic;
			color: #888;
		}
		
		
		.resultItem {
			cursor: pointer;
		
			&.homework{
				background: url(../notification/homework.png) no-repeat -3px -4px;
			}
			
			&.assignment {
				background: url(../notification/assignment.png) no-repeat -3px -4px;
			}
			
			&.messageFromTeacher {
				background: url(../notification/messageFromTeacher.png) no-repeat -3px -4px;
			}
			
			&.messageFromParent {
				background: url(../notification/messageFromParent.png) no-repeat -3px -4px;
			}
			
			&.event {
				background: url(../notification/reminder.png) no-repeat -3px -4px;
			}
			
			&.research {
				background: url(../notification/research.png) no-repeat -3px -4px;
			}
			
			&.note {
				background: url(../notification/note.png) no-repeat -3px -4px;
			}	

			&.school {
				background: url(../notification/schoolinfo.png) no-repeat -3px -4px;
			}

			&.empower {
				background: url(../notification/empower.png) no-repeat -3px -4px;
			}
			
			&.banner {
				background: url(../notification/empower.png) no-repeat -3px -4px;
			}

		}
		
	}
}