/* Properties from frame.css */
.sidebar {
  position: fixed;
  right: 10px;
  top: 182px;
  bottom: 89px;
  width: 250px;
  -webkit-transition: width 400ms;
    height: 400px;
}
.sidebar.minimised {
  width: 0px;
}
.sidebar.minimised .tab.tasks {
/*  top: 0;*/
	vertical-align:middle;
}

.sidebarDiv {
	background: none repeat scroll 0 0 #73a8e8;
	border: 5px solid #3984d1;
	border-radius: 5px 5px 5px 5px;
	height:100%;
	width:100%;
}
.sidebar.minimised .contents {
  -webkit-box-shadow: none;
  border: none;
}
.sidebar .tab {
  display: block;
  position: absolute;
  width: 28px;
  left: -28px;
  top: 110px;
  height: 204px;
  /*background: #ffffff url(img/tab_button.png) no-repeat bottom left;*/
    background: url(img/mytimetable.png) no-repeat;
  cursor: pointer;
  -webkit-transition: top 400ms;
  -webkit-box-shadow: #bbbbbb 0 0 6px;
  -webkit-border-radius: 7px 0 0 7px;
  border: 1px solid #cccccc;
  border-right: none;
}
.sidebar .tab:hover {
  -webkit-box-shadow: #999999 0 0 6px;
}
.sidebar .tab.selected {
/*  top: 0;*/
  vertical-align:middle;
    background: url(img/mytimetable2.png) no-repeat;
  background-position: top left;
  z-index: 4;
}
.sidebar .tab.selected span {
  top: 63px;
}
.sidebar .tab span {
  display: block;
  position: absolute;
  width: 11px;
  height: 44px;
  top: 40px;
  /*right: 13px;*/
}
.sidebar .tab.tasks span {
  /*background: url(img/tasks.png) no-repeat;*/
    /*background: url(img/mytimetable.png) no-repeat;*/
    height: 184px;
    width: 28px;
}
.sidebar .tab.notes span {
  background: url(img/notes.png) no-repeat;
}
.sidebar .contents {
  -webkit-box-shadow: #bbbbbb 0 0 6px;
  -webkit-border-radius: 0 0 0 7px;
  border: 1px solid #cccccc;
  border-right: none;
  position: absolute;
    width:100%;
  height: 100%;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/

}
.sidebar .contents .insetShadow {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: #dddddd 0 0 2px inset;
  -webkit-border-radius: 0 0 0 7px;
  background-color: #fafafa;
}
.sidebar .contents .insetShadow > div {
  display: none;
}
.sidebar .contents .insetShadow > div.selected {
  display: block;
}
.sidebar .contents .topTab {
  text-align: center;
  color: #000000;
  line-height: 36px;
  font-size: 16px;
  position: absolute;
  width: 124px;
  height: 36px;
  border-bottom: 2px groove #ffffff;
  cursor: pointer;
}
.sidebar .contents .topTab:hover {
  background-color: #ffffff;
}
.sidebar .contents .topTab.assigned {
  margin-left: 124px;
  border-left: 2px groove #ffffff;
}
.sidebar .contents .topTab.selected {
  border-bottom: none;
}
.sidebar .contents .topTab.selected:hover {
  background-color: transparent;
}
.sidebar .contents .topTab.selected + .tabContent {
  display: block;
}
.sidebar .contents .tabContent {
  position: absolute;
  top: 37px;
  bottom: 1px;
  left: 8px;
  right: 0px;
  overflow-y: scroll;
  padding: 10px 2px;
  display: none;
}
.sidebar .contents .tasks .header {
  display: block;
  position: relative;
  width: 100%;
  height: 18px;
  overflow: hidden;
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 12px;
  -webkit-border-radius: 3px;
  margin-bottom: 11px;
  text-shadow: #ffffff -1px 1px;
  border: 1px solid #D1CFCF;
  color: #999999;
  background-color: #EEEBEB;
  text-transform: capitalize;
}
.sidebar .contents .tasks .header.hasTasks {
  cursor: pointer;
}
.sidebar .contents .tasks .header.hasTasks .expandButton {
  display: block;
  width: 10px;
  height: 10px;
  top: 4px;
  left: 7px;
  background: url(img/collapsed.png) left top no-repeat;
}
.sidebar .contents .tasks .header div,
.sidebar .contents .tasks .header span {
  position: absolute;
  display: block;
  padding-top: 2px;
}
.sidebar .contents .tasks .header span {
  left: 21px;
}
.sidebar .contents .tasks .header .expandButton {
  display: none;
}
.sidebar .contents .tasks .header.expanded > .expandButton {
  background-image: url(img/expanded.png);
}
.sidebar .contents .tasks .header .count {
  border: 1px solid #D1CFCF;
  background-color: #F6F5F5;
  top: -1px;
  right: -1px;
  width: 19px;
  height: 16px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  text-shadow: none;
}
.sidebar .contents .tasks .header.overdue {
  background-color: #f9e3cc;
  border-color: #eed3b7;
  color: #cf7041;
}
.sidebar .contents .tasks .header.overdue .count {
  background-color: #FDF7F0;
  border-color: #eed3b7;
}
.sidebar .contents .tasks .header.overdue + .taskList .title {
  color: #cf7041;
}
.sidebar .contents .tasks .header.today {
  background-color: #D6EEDC;
  border-color: #c2e0ca;
  color: #339966;
}
.sidebar .contents .tasks .header.today .count {
  background-color: #F3FAF5;
  border-color: #c2e0ca;
}
.sidebar .contents .tasks .header.today + .taskList .title {
  color: #339966;
}
.sidebar .contents .tasks .header.tomorrow {
  color: #666666;
}
.sidebar .contents .tasks .header.tomorrow + .taskList .title {
  color: #666666;
}
.sidebar .contents .tasks .header.expanded + .taskList {
  height: auto;
  min-height: 30px;
  max-height: 2000px;
  -webkit-transition: all 400ms;
}
.sidebar .contents .tasks .taskList {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 400ms;
}
.sidebar .contents .tasks .taskList .taskListItem {
  position: relative;
  width: 100%;
  height: 45px;
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 13px;
  color: #b2b1b1;
  padding-bottom: 6px;
}
.sidebar .contents .tasks .taskList .taskListItem div {
  position: absolute;
}
.sidebar .contents .tasks .taskList .taskListItem .dot {
  width: 16px;
  height: 16px;
  background: url(img/task_dot.png) center no-repeat;
}
.sidebar .contents .tasks .taskList .taskListItem .dot.completed {
  width: 20px;
  height: 14px;
  background: url(img/task_tick2.png) center no-repeat;
}
.sidebar .contents .tasks .taskList .taskListItem .dueTime {
  left: 19px;
}
.sidebar .contents .tasks .taskList .taskListItem .title {
  left: 19px;
  top: 13px;
  right: 25px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999999;
}
.sidebar .contents .tasks .taskList .taskListItem .title span {
  text-transform: capitalize;
}
.sidebar .contents .notes {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 8px;
  right: 0px;
  overflow-y: scroll;
  padding: 10px 2px;
  overflow-x: hidden;
}
.sidebar .contents .notes .note {
  position: relative;
  padding-bottom: 11px;
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 12px;
}
.sidebar .contents .notes .note .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(img/task_dot.png) center no-repeat;
}
.sidebar .contents .notes .note .creationDate {
  position: relative;
  left: 19px;
  color: #999999;
}
.sidebar .contents .notes .note .title {
  position: relative;
  margin: 0 25px 0 19px;
  color: #4a4a4a;
}
.sidebar .contents .notes .noteDetail {
  position: relative;
  padding: 6px 10px;
  padding-bottom: 40px;
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 12px;
}
.sidebar .contents .notes .noteDetail .noteBack {
  text-transform: uppercase;
  color: #b2b1b1;
  background: url(img/notes_back.png) top left no-repeat;
  padding-left: 20px;
  font-weight: bold;
  font-height: 13px;
}
.sidebar .contents .notes .noteDetail .noteHeader {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #999999;
}
.sidebar .contents .notes .noteDetail .noteHeader .noteCreationDate {
  color: #b2b1b1;
}
.sidebar .contents .notes .noteDetail .noteHeader .noteTitle {
  color: #8D8D8D;
}
.sidebar .contents .notes .noteDetail .noteEntry {
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 11px;
  overflow-y: scroll;
}
.sidebar .contents .notes .noteDetail .noteEntry .noteEntryDate {
  color: #999999;
}
.sidebar .contents .notes .noteDetail .noteEntry .noteEntryText {
  color: #4a4a4a;
}
.sidebar .contents .notes .noteDetail .fieldContainer textarea {
  width: 203px;
  height: 54px;
  font-family: "Diary Font";
  font-size: 11px;
  -webkit-box-shadow: #dddddd 0 0 10px inset;
  -webkit-border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  resize: none;
  padding: 3px 10px;
}
.sidebar .contents .notes .noteDetail .fieldContainer textarea::-webkit-scrollbar {
  -webkit-border-radius: 10px 0 10px;
}
.sidebar .contents .notes .link,
.sidebar .contents .tasks .link {
  position: absolute;
  width: 17px;
  height: 17px;
  background: url(img/note_link.png) top left no-repeat;
  right: 3px;
  top: 12px;
  cursor: pointer;
}

.timetableContent {
	background: red !important;
	border: 1px solid #D9D9D9;
	border-radius: 4px 4px 4px 4px;
	clear: both;
}

.timetableContent tr:first-child td:first-child {
	padding: 8px;
	border-radius: 5px 5px 0 0;
	background: #e1e1e6;
	text-align: center;
}

.timetableContent tr:nth-child(2) td:first-child {
	padding: 8px;
	background: #fff;
}

.tt_sidebar_text {
	color: #666;
	font-size: 12px !important;
}

.timetableContent tr:last-child td:first-child {
	padding: 8px;
	border-radius: 0 0 5px 5px;
	background: #f5d8d8;
}