<!-- Task details -->

<div class="editButtonContainer popupHead">
	<table style="margin-left:0px;" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>

				<td width="16"><a style="margin-left:-3px" class="back btn_add btns" id="backTaskDetails">Back</a></td>
				<td class="midheadtxt">Assigned item</td>
				<td width="16"><a style="margin-right:-3px" class="send btn_add btns" id="sendItem">Send</a></td>
			</tr>
		</tbody>
	</table>
</div>
{{#details}}
<div style="height:260px;overflow-y:scroll;float:left;width:100%;overflow-x:hidden;font-size:18px;font-family:arial">
	<div style="padding:20px">
	<div style="float:left;color:#567adb"><b>{{{selectedClass}}}</b></div> 
	<div style="float:left; font-size:16px"><b> / {{{title}}}</b></div> 
	</div>
	<table cellpadding="0" cellspacing="0" border="0"  class="bottom_tbl_classes" style="font-size:14px"  >

		<tr id="rowDueTime">
			<td style="width:20%;padding-left:10px"><b>Due</b></td>
			<td style="width:70%; padding:0px; height:30px;">{{dueDayTime}}</td>
		</tr>
		<tr id="rowEstimatedTime">
			<td style="width:20%;padding-left:10px"><b>Estimated Time</b></td>
			<td style=" padding:0px; height:30px;">{{estimatedTime}}</td>
		</tr>
		<tr>

			<td style="width:20%;padding-left:10px"><b>Assigned By</b></td>
			<td style="padding:0px; height:30px;"> {{assignedBy}} </td>
		</tr>
		<tr>

			<td style="width:20%;padding-left:10px"><b>Assigned To</b></td>
			<td style=" padding:0px; height:30px;"></td>
		</tr>
		

	</table>
</div>

<div style="width:100%;">
<div style="width:67%;float:left;padding-left:20px"><b>Name</b> </div>
<!--<div style="width:30%;float:left"><b>Progress</b> </div>-->

<div style="height:190px;overflow-y:scroll;float:left;width:100%;overflow-x:hidden">


<table cellpadding="0" cellspacing="0" border="0"  class="bottom_tbl_classes"  >
	{{#assignTo}}
		<tr>
			<td style="width:70%; padding-left:10px">{{studentName}}</td>
			<!-- <td style="width:30%; float:left; padding-left:5px; height:30px;"> 0 % </td>-->
		</tr>
	{{/assignTo}}
</table>
</div>

</div>
{{/details}}




