

<div style="height:100%;float:left;width:49%;margin-left:1%">
	<table cellpadding="0" cellspacing="0" border="0"  class="bg bottomhead" style="margin-right:2%;margin-bottom:12px;margin-top:20px;">
		<tr>
			<td style="width:92%;font-size:14px;font-family:Arial">Select Students</td>
			
		</tr>
	</table>
	<div style="height:395px;overflow-y:scroll;float:left;width:100%;overflow-x:hidden">
		<table cellpadding="0" cellspacing="0" border="0"  id="studentListToAssign" class="bottom_tbl_classes"  >
			{{#students.length}}
				<tr>
					<td class="select" colspan="2" style="height:20px; !important"><h2 style="font-size:14px">Select All</h2></td>
			         <td colspan="2" style=""></td>
					<td style="width:20%; height:20px;!important">
					<span>
					<input type="checkbox" id="allStudent" style="width:15px; height:15px;"/>
					<label  style="display:none;" for="allStudent" class="allStudent" ></label></td>
					</span>
				</tr>
			{{/students.length}}
			{{#students}}
				<tr class="studentList" style="height:40px;">
					<td style="width:2%;height:40px;"><img style="width:60px; height:60px;" src="{{profileImageToDisplay}}"></td>
			
					<td style="width:40%" ><span class="studentName" id="studentName{{UniqueId}}">{{name}}  {{lastName}}</span></td>
					<td style="width:40%; padding:0px; height:70px;">
					</td>
					<td style="width:6%"></td>
					<td style="width:20%">
					<input  type="checkbox" id="{{UniqueId}}" style="width:15px; height:15px;" class="studentChk"/>
					<label  style="display:none;"  for="{{UniqueId}}" id={{UniqueId}} ></label></td>
				</tr>
			{{/students}}
		
		</table>
	</div>
	<div id="popupDiv">
</div>


