<iframe style="border:none;margin-left:3px;" id="dashboard" width="100%" height="100%" src="{{calendarAccessLink}}"></iframe>
<!-- div id="loadingMessage" style="top:40px;"><img style="margin-top: 5%;margin-left: 20%;" src="assets/calendar/img/calendar-loader.gif"/></div -->