
<div class="editButtonContainer popupHead" style="">

         <table style="margin-left:0px;" border="0" cellpadding="0" cellspacing="0" width="100%">
         	<tbody>
         		<tr>
    		        <td width="16"><a class="cancel btn_add btns">Cancel</a></td>

                    <td width="210" style="color:#ffffff; font-size:14px;padding-top:8px;text-align:center">
                    	<div class="classHeader">Add Class<div>
                    </td>
    		    	<td width="16"><a class="save btn_add btns">Save</a></td>
          		</tr>
          	</tbody>
         </table>
    </div>
<div>


    <table cellpadding="0" cellspacing="0" class="tableFieldLayout studentProfileEditLayout addClassTable" id="classFormEditPopup">
        <tr style="width:100%">
            <td style="width:30% !important;">Time</td>
            <td class="time" style="width:70% !important;"></td>
        </tr>
        <tr>
            <td style="width:80px !important;">Class</td>
            <td><input type="text" name="subject" style="width:180px !important;" maxlength="20" originalValue="{{subject}}" value="{{subject}}"/></td>
        </tr>
        <tr>
            <td style="width:80px !important;">Room</td>
            <td><input type="text" name="room" value="{{room}}" class="roomNo" originalValue="{{room}}" maxlength="20" style="width:180px;"/></td>
        </tr>
        <tr id="colorDiv" >
            <td style="width:80px !important;" class="alignTop">Color</td>
            <td class="colour">
                <div class="subjectcolour subjectColourSwatch"></div>
                <span class="colourName" style="margin-top:-2px;"></span>
                <input type="hidden" name="subjectColour"/>
                <input type="hidden" name="isAdmin" id="isAdmin" value=""/>
                <span class="lockContainer" style="margin:8px 10px 0px 0px">
                  <span class="delete btn_add btn" style="cursor:pointer; width:38px;height:18px; line-height:20px;margin-right:10px;margin-top:10px; background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#a50a0a), to(#df1f1f));background-image:-webkit-linear-gradient(top, #a50a0a, #df1f1f);border:solid 1px #990505">Delete</span>
                  <span class="lockItem" style="width:32px;height:20px;margin-top:7px; float:right"><img src="assets/lock.png"></span>
                </span>

            </td>

        </tr>
    </table>


    <div id="classFormSubjectColourPicker" class="popup">
        <div class="popupContent">
            {{#colourPalette}}<div class="subjectcolour {{colour}}" colourIndex="{{id}}"></div>{{/colourPalette}}
        </div>
        <div class="callout"></div>
    </div>
</div>