<div class="richbox">
	
        
        	 <div class="" style="width: 100%;margin-left: 10px; height: 20px;color:#5b5a5a">
        	  {{#isNewMsg}}
        	 	  <div> <span class="label3" style="padding:0;">Show in list</span></div>
        	 	 
        	 	  {{#isTeacher}}
		        	  <div style="width:100px; display:inline-block;"><input type="radio" name="toList" id="studentSelect" class="radio" value="student"  style="position:relative;  left:0; width:15px; vertical-align:top; padding-top:0px;margin-top:-2px;margin-right:4px;"/>Students</div>
					  {{#allowParents}}<div style="width:90px;display:inline-block;"><input type="radio" name="toList" id="parentSelect" class="radio" value="parent"  style="position:relative;  left:0; width:15px; vertical-align:top; padding-top:0px;margin-top:-2px;margin-right:4px;">Parents</div>{{/allowParents}}
					  <div style="width:90px; display:inline-block;"><input type="radio" name="toList" id="classSelect" class="radio" value="class"  style="position:relative;  left:0; width:15px; vertical-align:top; padding-top:0px;margin-top:-2px;margin-right:4px;">Class</div>
				      <div style="width:50px; display:inline-block;"><input type="radio" name="toList" id="allSelect" class="radio" value="all"  style="position:relative;  left:0; width:15px; vertical-align:top; padding-top:0px;margin-top:-2px;margin-right:4px;">All</div>
				   {{/isTeacher}}
				   {{^isTeacher}}
				     	<div style="width:100px; display:inline-block;"><input type="radio" name="toList" id="teacherSelect" class="radio" value="teacher"  style="position:relative;  left:0; width:15px; vertical-align:top; padding-top:0px;margin-top:-2px;margin-right:4px;"/>Teacher</div>
				    {{/isTeacher}}
				{{/isNewMsg}}    
			</div>
				 
        	 <div> <span class="label3" style="padding-bottom:5px;">To </span><div>
        	 <div style="float:left; width:83%" id="divTolist">
            		<div style="color:#5b5a5a; padding-bottom:5px; padding-left:20px; margin-top:15px;  display:none;" id="receiverName"> </div>
        	 </div>
        	
			<div id="popupDiv">
			</div>
	</div>
	  
	<div style:100%>
        <span class="label3">Subject </span>
        <div style="width:100%">
		    <span >
				 <input class="messageSubject" type="text" style="width:67%" >
            </span>
			<span class="send" style="cursor:pointer;">Send</span>
		</div>
  	</div>
  	<textarea class="textarea messageDescription"></textarea>
  	<input class="hiddenParentId" type="hidden" value=""></input>
</div>

 <div id="inboxFade" class="black_overlay"></div>