<div class="monthViewCalendar" style="margin-top:95px">

	<div class="monthViewColumnsHeaderWrapper">
    	<section class="monthViewColumnsHeader">
        	<div class="dayTitleCellWrapper"><div class="dayTitleCell"><span class="dayTitle">Monday</span></div></div>
            <div class="dayTitleCellWrapper"><div class="dayTitleCell"><span class="dayTitle">Tuesday</span></div></div>
            <div class="dayTitleCellWrapper"><div class="dayTitleCell"><span class="dayTitle">Wednesday</span></div></div>
            <div class="dayTitleCellWrapper"><div class="dayTitleCell"><span class="dayTitle">Thursday</span></div></div>
            <div class="dayTitleCellWrapper"><div class="dayTitleCell"><span class="dayTitle">Friday</span></div></div>
            <div class="dayTitleCellWrapper"><div class="dayTitleCell"><span class="dayTitle">Saturday</span></div></div>
            <div class="dayTitleCellWrapper"><div class="dayTitleCell"><span class="dayTitle">Sunday</span></div></div>
        </section>
    </div>
	
	<div class="monthViewCalendarBodyWrapper">
    	<div class="monthViewDayWrapper">
			{{#days}}{{> diaryDayCellMonth}}{{/days}}
        </div>
    </div>
</div>
