<div class="glanceView">

	<!--	<div style="padding-top:0px;display:block">
	<table class="calendarDetails" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-top:5px;font-size:20px;padding-right:22px;">
	{{dateRange}}
	</td><td class="buttonbackground calendarDateSelect" style="padding: 0px 16px 0px 16px">
	Jump to month <div class="dropDownDisclosure"></div>
	</td></tr></table>
	</div>

	-->

	<table class="weekTable" cellpadding="0" cellspacing="0" border="0" style="float:left;width:49%; -webkit-border-radius: 6px;height:123px;background-color:#ededed">
		<tbody>
			<tr style="border-bottom:solid 1px #ffffff">

				<td style="border-right:solid 1px #d0cfcf;width:50%;border-bottom:solid 1px #ffffff;-webkit-border-bottom-left-radius: 6px;"><!--   <div style="padding-bottom:4px;"> <span style="color:#color:#567adb;font-size:20px;"> <h3 style="color:#color:#567adb;">{{dateRange}}</h3> </span> </div> -->
				<div style="padding-bottom:8px;">
					<span style="color:#567adb;font-size:25px;"><b>{{dateRange}}</b></span>
				</div></td>

				<td class="studCalendarAccess" style="background-color:#;width:25%; border-left:solid 1px #ffffff;border-bottom:solid 1px #ffffff;-webkit-border-bottom-right-radius: 6px;">
					{{#isTeacher}}<img src="assets/dateiconnormal.png" style="cursor:pointer;" >{{/isTeacher}}
					{{^isTeacher}}<img src="assets/calImg.png" style="cursor:none;">{{/isTeacher}}
				</td>

			</tr>
		</tbody>
	</table>

	<table class="calendarDetails" cellpadding="0" cellspacing="0" border="0" style="margin-left:1%;float:left;width:49%; border: 1px solid #D9D9D9; float: left; text-align: center;height:102px;-webkit-border-radius: 6px;background-color:#ededed">

		<tr style="height:35px;">

			<td style="font-family:arial;font-weight:bold;background-color:#;text-align:center;color:#4b4b4b;font-size:16px;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#e1e1e6));"> Select Month </td>

		</tr>

		<tr>

			<td style="margin:0;border-bottom:solid 1px #ffffff;-webkit-border-bottom-right-radius: 6px;-webkit-border-bottom-left-radius: 6px;"><!--
			<span class="buttonbackground calendarDateSelect">
			Jump to Month <div class="dropDownDisclosure"></div>
			</span>
			-->
			<div id="diaryGlanceDatePicker"></td>
		</tr>
	</table>

	{{#calendar}}
	{{> diaryGlanceCalendar}}
	{{/calendar}}
</div>

<div id="glancePopup" class="popup diaryItemPopup">
	<div class="popupContent"></div>
	<div class="callout"></div>
</div>

<!--
<div id="glancePopupMonthList" class="popup" style="width:107px">
<div class="popupContent"></div>
<div class="callout"></div>
</div>
-->

<div id="dayDiaryItemFormEditPopup" title="Edit item" style="display:none;" class="formContainer"></div>