<div style="margin-top:0px;position:relative" class="diaryItem {{subjectColour}} {{type}} {{#responseRequired}} responseRequired {{/responseRequired}} {{#due}} due {{/due}} {{#completed}} completed {{/completed}}" diaryItemId="{{id}}" diaryItemIds="{{id}}" {{#moveable}}draggable="true"{{/moveable}}>
	<div style="height:28px;">
		<div class="subjectColor" style="background-color:{{subjectColour}}; height:28px">
			<div class="icon" style="height:28px;margin-top:-6px;"></div>
		</div>
		<span style="padding-top:0px;margin-left: 45px;height:28px"><strike></strike>{{#title}}{{#message}}Attention: {{/message}}{{title}}{{/title}}{{^title}}&nbsp;{{/title}}</span>
	</div>
</div>