<section class="frame" style="background-color:#e1dfdf">
	<header id="head" style="height:50px">
		<div class="wrap wrap_new" style="height:50px">
		<div class="logo"><a href="#" style="background: none; display: inline;"><img style="width: 108px; height: 37px;" src="app-storage:/{{schoolLogo}}"></a></div>
		<!--<div class="logo_text">{{name}}</div> -->
		
		<div class="apps_btn">
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<tr>
						<td><img  class="search_icon" style="cursor: pointer;" src="assets/frame/images/search_icon.png" border="0" width="41" height="30"></td>
						<td><img class="synch_icon" style="cursor: pointer;" src="assets/frame/images/refresh_icon.png" border="0" width="41" height="30"></td>
						<td><img class="settings_icon" style="cursor: pointer;" src="assets/frame/images/setting_icon.png" border="0" width="41" height="30"></td>
						<td><img class="feedbackLink" style="cursor: pointer;" src="assets/frame/images/feedback_icon.png" border="0" width="41" height="30"></td>
					</tr>
				</tbody>
			</table>
			
			<div class="calloutarea_search" style="display:none;">
		         <img class="callout" style="left:100px;" src="assets/frame/images/callout.gif" />
				 <div class="callout_click" style="overflow-y:hidden; width:230px;">
				 	<div class="callout_click_container">
				 	<div class="search">
				        <input type="text" placeholder="Search..." />
				        <!-- img src="assets/search/ajax-loader1.gif"/ --> 
					</div>
					
					<div class="popupContent"></div>
					</div>
				</div>
			</div>
		</div>
			<div class="navbar" style="margin:0px 4px 0 0;">
				<div style="height:20px;float:left;font-size:15px;margin:20px 10px 0 0;width:280px;">
					<div id="updateMsg" style="color:white;padding-top:0px;display:none;">
						<img id="updatingImg" src="assets/frame/images/updateicon.png" style="margin-top:0px;float:left"/>
						<label style="padding-bottom:5px;"><b style="font-family:Arial;font-size:13px;padding-left:8px">Updating news and announcements, etc</b><label/>
					</div>
				</div>
				<ul id="nav">
				    <li class="due"><a href="#" class="tooltip" style="width:80px;height:40px;margin-right:8px;background-image:("due_bg2.png")"><span id="dueCount" class="notify_num">{{overDueTaskCount}}</span>Due</a></li>
				    <div class="calloutarea_due" >
						 <img class="callout" style="left:60px;" src="assets/frame/images/callout.gif" />
						 <div class="callout_click">
						 	<div class="callout_click_container" style="overflow-y:scroll; overflow-x: hidden">
				               {{#overDueTaskList}}{{> dueItemsView}}{{/overDueTaskList}}
				            </div>
						</div>
					</div>
					<li class="assigned"><a href="#" class="tooltip"><span id="assignedCount" class="notify_num">{{assignedTaskCount}}</span>Assigned</a></li>
					<div class="calloutarea_assigned">
				         <img class="callout" style="left:40px;" src="assets/frame/images/callout.gif" />
						 <div class="callout_click">
							<div class="callout_click_container" style="overflow-y:scroll; overflow-x: hidden">
								{{#assignedTaskList}}{{> assignedItemsView}}{{/assignedTaskList}}
							</div>
						</div>
					</div>
					<li class="notification"><a href="#" class="tooltip"><span id="notificationCount" class="notify_num">{{notificationCount}}</span>Notifications
					<div class="calloutarea_notification">
				         <img class="callout" style="left:20px;" src="assets/frame/images/callout.gif" />
						 <div class="callout_click">
							<div class="callout_click_container" style="overflow-y:scroll; overflow-x: hidden">
								{{#notificationsList}}{{> notificationsView}}{{/notificationsList}}
							</div>
						</div>
					</div>
				</ul>
				
			</div>
		</div>
	</header>
	<div class="dialog-message" style="cursor:none;display:none;">
		<div class="dialog-messageTitle">Prime Planner</div>   
		<p class="dialog-messageContent">
			Daisy Planner.
		</p>
		<div class="cdacw_btn">
			<input class="dialog-message-cancel btn_add" type="button" value="Close" style=" float:left;cursor:pointer;margin:0 0 10px 10px;">       
		</div>
	</div>
	<div class="feedbackDiv" style="display:none;cursor:none;">    
    	<div class="feedbackTitle">Got Feedback?</div>   
    	<div class="cdacw_form"> 
			<div class="cdacw_msgbox" id="resultMsg" style="color:#afafba;border:1px solid #D4D4D4;line-height: 20px;padding: 6px 6px 6px 28px; background:url(http://www.digiplanner.co.uk/images/info_icon.png) no-repeat 6px 8px; display:none;"></div>
			<div class="cdacw_msgbox">
				<div class="feedbackLabel" style="">Message</div>
				<textarea style="" rows="10" cols="50" class="feedbackMessage" id="feedbackMessage"></textarea>
			</div>
        </div>
		<div class="cdacw_btn">
			<input class="cdacw_btn_cancel btn_add" type="button" value="Close" style=" float:left;cursor:pointer;margin:0 0 10px 10px;">       
			<input class="cdacw_btn_submit btn_add" type="button" value="Submit" style=" float:right;cursor:pointer;margin:0 10px 10px 0;">
		</div>			
     </div>
    	
	<div id="vtab" style="margin-left:1%"> 
    	<ul class="headerNavigation">
        	<li class="home_li navigationItem" data-link="home"><span></span></li>
			<li class="calender_li navigationItem" data-link="day"><span style="left:50px;"></span></li>
			<li class="timetable_li navigationItem" data-link="subject"><span style="left:45px;"></span></li>
			{{#isTeacher}}
				<li class="myclasses_li navigationItem" data-link="myclasses"><span style="left:45px;"></span></li>
			{{/isTeacher}}
			<li class="inbox_li navigationItem" data-link="inbox"><span></span></li>
			<li class="schoolinfo_li navigationItem" data-link="schoolInformation"><span style="left:20px;"></span></li>
			<li class="edu_content_li navigationItem" data-link="educationalContent"><span style="left:20px;"></span></li>
			<li class="profile_li navigationItem" data-link="myprofile"><span style="left:45px;"></span></li>
			<li class="report_li navigationItem" data-link="report"><span></span></li>
			<li class="about_li navigationItem" data-link="about"><span></span></li>
		</ul>
		
		
		
		<div id="containerDiv" style="border:solid 1px #5080b6;margin-right:1%;min-height:86%;-webkit-box-shadow: -1px -1px 2px 2px #98b8e6;border-radius:0px 6px 6px 6px;margin-left:130px;margin-top:0px;">
			<div class="container">
				<!-- div id="versionNumber">{{versionNumber}}</div -->
				<div class="content"></div>
			</div>
		</div>
	</div>
	
	
	<div class="task_ic">
		<img src="assets/frame/images/taskicon.png" border="0" width="78" height="38">
	</div>
	
	<!-- div class="search">
        <input type="text" placeholder="Search..." />
        <img class="loadingIndicator" src="assets/search/ajax-loader1.gif"/>
	</div -->
    
    
    <!-- footer>
		{{#footerNav}}
    		{{> frameFooterNav}}
    	{{/footerNav}}
		<div class="iconTab"><div class="icon"></div></div>
	</footer -->


	
	
	<div id="feedbackDialog" title="Your Feedback" style="width:500px;display:none">
		<p>We appreciate any feedback you have about your diary</p>
		<textarea id="feedbackContent" style="width:100%;height:100px"></textarea>
		<div style="display:block;width:100%;text-align:right">
		<a id="feedbackCancel" style="cursor:pointer">Cancel</a>
		<button id="feedbackSave">SAVE</button>
		</div>
	</div>

</section>
<div id="fadeCallout" class="black_overlay_callout"></div>
<div id="fadeCallout" class="black_overlay_callout_calandar"></div>
<div id="fadeCallout" class="black_overlay_callout_message"></div>

<div id="calendarAccessPopup" class="calendarAccessDiv" style="display:none;cursor:none;">    
	<div class="feedbackTitle" style="height:20px;">
		<div style="float:left;">Calendar Access Of Students</div>
		<div style="">
			<input class="cdacw_btn_cancel btn_add closeCalendarAccessPopup" type="button" value="Close" style=" float:right;cursor:pointer;right:20px;margin-top:-3px;">       
		</div>
	</div>   
	<div class="calendarAccess_container" style=""></div>
</div>