<div style="width:100%;height:100%" >
    <div style="width:5px;height:100%;float: left;">
       <img src="assets/myClasses/images/left-shadow.png" width="10px" height="58%" align="right" >
    </div>

	<div class="newsAnnouncementsContent" style="display:block;height:62%; width: 97.6%; float: left;">
		
		<div style="width:97.1%;height:20px;background-color:#;color:#262323;padding:1.2% 0% 0.8% 0%;-webkit-border-top-left-radius: 10px;-webkit-border-top-right-radius: 10px;margin-left:1%">    
		      <span style="float:left;padding-left:21.4%;width:12%"><span>Sort By :</span><span class="dueToggle" style="padding-left:30%">Due</span></span>
		      	<div id="toggleSwitch" style="float:left;margin:0 2.9% 0 3.5%" class="bool-slider">
				    <div class="inset">
				        <div class="control"></div>
				    </div>
				</div>
		      
		      <span class="assignedToggle" style="float:left;width:10%;margin-left:-1%">Assigned </span>
		      </div>
		      
		 <h2 class="title_tabs title_tabs_overdue" style="border:1px solid #d3d3d3;-webkit-border-top-left-radius: 4px;-webkit-border-top-right-radius: 4px;margin-bottom:0px;border-bottom:none;width:97%;">Overdue</h2>     
		<div class="glanceContainer" style="max-height:73%; overflow-y:scroll;width: 99.5%;overflow-x:hidden;margin-top:0px;">
			{{#isDueSection}}
			{{#calendar}}
				   <div class="glanceItem" style="width:99.7%; margin-left:0%; margin-bottom:0px;color:#0a0707;">
			   			
	              		{{#overdueItems}}
	                  		{{> glanceSectionsView}}
	              		{{/overdueItems}}
	              		<!-- {{^overdueItems}}
	              			<h2 class="nulRecord" style="margin-bottom:0px;">No Records Present</h2>
	              		{{/overdueItems}} -->
				   </div>
				   <div class="glanceItem" style="width:99.7%; margin-left:0%;border-top:none; margin-bottom:0px;">
			   			<h2 class="title_tabs" style="border-radius: 0px 0px 0px 0px;margin:0px 0 0 0;">Today</h2>
	              		{{#todaysItems}}
	                  		{{> glanceSectionsView}}
	              		{{/todaysItems}}
	              		
				   </div>
				   <div class="glanceItem" style="width:99.7%; margin-left:0%; margin-bottom:0px;">
			   			<h2 class="title_tabs" style="border-radius: 0px 0px 0px 0px;margin-bottom:0px">Upcoming</h2>
	              		{{#upcomingItems}}
	                  		{{> glanceSectionsView}}
	              		{{/upcomingItems}}
	              		
				   </div>
			{{/calendar}}
			{{/isDueSection}}
			{{^isDueSection}}
				{{#calendar}}
				   <div class="glanceItem" style="width:99.7%; margin-left:0%; margin-bottom:0px;">
			   			<!--<h2 class="title_tabs" style="border-radius: 0px 0px 0px 0px;margin:0px 0px 0px 0px">Today</h2>-->
	              		{{#todaysItems}}
	                  		{{> glanceSectionsAssignedView}}
	              		{{/todaysItems}}
	              		
				   </div>
				   <div class="glanceItem" style="width:99.7%; margin-left:0%; margin-bottom:0px;">
			   			<h2 class="title_tabs" style="border-radius: 0px 0px 0px 0px;">Previous</h2>
	              		{{#previousItems}}
	                  		{{> glanceSectionsAssignedView}}
	              		{{/previousItems}}
	              		
				   </div>
				{{/calendar}}
			{{/isDueSection}}
		</div>
   
	<div id="diaryItemsPopup" class="popup diaryItemPopup">
		<div class="popupContent"></div>
		<div class="callout"></div>
	</div>
	<div id="dayDiaryItemFormEditPopup"  
		style="background:-webkit-gradient(linear, 0 0, 0 100%, from(#f6f5f5), to(#ebebeb));  border-radius: 6px;
		float: left; margin: 0px; overflow: hidden; padding: 0; display:none;" class="formContainer"></div>
	</div>


	<div style="width:5px;height:100%;float: left;background-color:#">
	    <img src="assets/myClasses/images/right-shadow.png" width="10px" height="55%" align="left" >
	</div>
</div>