<!--
		<div class="tokenmessagecontainer">
	</div>
		
	<div class="tokenbusy">
		<img src="assets/token/images/busy.gif">
	</div>-->
	{{^registered}}
     			
			<div class="messageBox">
			 <div class="loginMiddle" style="height: 290px;width: 473px;">


           <div id="container" class="loginWrap">

               <div class="rlWrap">

                    <div class="formElement">             <br />


                        <form id="contact" method="post" action="">
                            <div class="loginFiled">
                                <span class="icon email"></span>
                                <input onchange="validateLogin();" id="email" type="text" name="name" placeholder="Please enter your email/username" title="Please enter your email" class="required">
                             	<label id="emailError" style="display:none;" for="name" generated="true" class="error"></label>
                            
                             </div>
                            <div class="loginFiled">
                                 <span class="icon password"></span>
                                <input id="password" type="password" name="password" title="Please enter your password" id="password" value="" placeholder="Please enter your password" class="required "/>
                             	<label id="passError" style="display:none;" for="name" generated="true" class="error">Please enter your password</label>
                             </div>
                             <div class="loginFiled">
                                 <span class="icon schoolDomain"></span>
                                <input id="domain" type="text" name="domain" title="Please enter domain" id="domain" value="" placeholder="schoolname.prime-planner.com(optional)" class="required "/>
                             	<label id="domainError" style="display:none;" for="name" generated="true" class="error">Please enter domain</label>
                             </div>


                            <div class="rlw_bottom">

								<a class="forgotPassword">Forgot Password?</a>
                                <input type="button" name="" value="Login" class="login" id="loginBtn"/>

                                <div class="clear"></div>

                            </div>


                        </form>

                    </div>

                </div>

             </div>
       </div>


{{/registered}}
  