
 <div style="height:220px;overflow-y:scroll;float:left;width:49%;overflow-x:hidden;margin-left:1%">
<table cellpadding="0" cellspacing="0" border="0"  class="classes_tbl_rt"  class="bg"  >
{{#diaryItems}}
	<tr class="taskListRow" style= "cursor: pointer;" id="taskListRow{{uniqueId}}">
		<td style="width:8%" class="taskAssigned{{type}}" style="height:30px;line-height:30px;">
		<input style="height:24px;" type="hidden" value="{{uniqueId}}" class="itemId"/>
		</td>
		<td style="width:55%" ><h2 class="titleTask" style="height:24px;line-height:24px;">{{title}}</h2></td>
		<td style="width:15%;text-align:right">
			<h2 class="assignedDayTask">{{assignedDay}}</h2>
			<input type="hidden" class="assignedDay" value="{{assignedDay}}, {{assignedYear}} {{assignedTime}}" />
			<input type="hidden" class="dueDay" value="{{dueDay}}, {{dueYear}} {{dueTime}}" />
			<input type="hidden" class="type" value="{{type}}" />
			<input type="hidden" class="dairyItemTypeName" value="{{dairyItemTypeName}}" />
			<input type="hidden" class="subject" value="{{subject}}" />
			
		</td>
		<td style="width:1%">
			{{#id}}
				<img class="arrowTask" src="../src/assets/myClasses/images/rightarrow.png" align="left">
			{{/id}}	
		</td>
	</tr>
	{{/diaryItems}}
</table>
 </div>