<div class="myClassesView">
	<div class="title">

		<div>
            <div style="width=100%;height:7px;background-color:#ececec;">

                        		    <div style="width:98%;margin:0 auto">  <img src="assets/myClasses/images/top-shadow.png" width="100%" height="7px" align="middle" > </div>
                        		    </div>

		    <div style="width:100%;height:103.5%" >




             <div style="width:10px;height:100%;float: left;background-color:#ececec">
                <img src="assets/myClasses/images/left-shadow.png" width="10px" height="100%" align="right" >
             </div>

			<div style="width: 97%; float: left;" class="aboutContainer">

				<section id="Section1" class="add_announcement">
					<div class="myinbox_content">
						<div class="my">
							<table cellpadding="0" cellspacing="0" border="0"  class="bg">
								<tr style="">
									<td style="height:20px;line-height:20px;padding:0px;margin:0px;"><span><h2>My Classes</h2></span></td>
									<td><span style="float:left;margin-top: 2px;"><h2>Tasks</h2></span>
									<Div style="float: right; margin-right: 30px;margin-top: 2px;">
										<div class='' >
											<select  id="selectTaskType" style="padding:10px;height:30px;width:100%; display:none;" >
												<option  value="0" selected ="selected">All</option>
												{{#diaryItemTypes}}
													<option localtype_id="{{id}}" value="{{formTemplate}}">{{name}}</option>
												{{/diaryItemTypes}}
											</select>
										</div>
									</Div></td>
								</tr>
							</table>
						</div>
						<div class='classes'>
						
						</div>
						
					</div>
				</section>




			</div>

   <div style="width:10px;height:100%;float:left;background-color:#ececec">
                  <img src="assets/myClasses/images/right-shadow.png" width="10px" height="100%" align="left" >
               </div>

</div>

		</div>
	</div>
</div>
