{{#selectedTeacher}}
	<table cellpadding="0" cellspacing="0" border="0" class="thcr_tbl_rt" style="margin-left:10px;">
		<tbody>
			<tr>
				<!--<td style=" padding: 20px 10px;" width="10%"><img src="assets/myProfile/images/missing-thumb.png" alt="Smiley face" height="70" width="70"></td>-->
				<td style=" padding: 20px 10px;" width="10%"><img src="{{profileImageToDisplay}}" alt="Smiley face" height="70" width="70"></td>
				<td class="name_txt">{{UserName}}</td>
			</tr>
			<tr>
				<td><img src="assets/myProfile/images/phonenumbericon.png" alt="Smiley face" height="16" width="25"></td>
				<td>{{Phone}}</td>
			</tr>
			<tr style="cursor:pointer;" >
				<td><img src="assets/myProfile/images/mailicon.png" alt="Smiley face" height="16" width="25"></td>
				<td ><span class="teacherEmail">{{Email}}</span>
				<input type="hidden" class="UserId" value="{{UserId}}"/>
				</td>
			</tr>
	
			<tr style="cursor:pointer;" >
				<td><img src="assets/myProfile/images/mailicon.png" alt="Smiley face" height="16" width="25"></td>
				<td><a > <span style="color:#000000 " id="sendMsg" receiverName = "{{UserName}}" receiverId = "{{UserId}}" parentId = "0">Send Message</span></a></td>
			</tr>
	
		</tbody>
	</table>
{{/selectedTeacher}}