
<table cellpadding="0" cellspacing="0" border="0" class="profile_tbl_rtMid" style="margin-left:2%;width:47%">
	<tbody>
	{{#parents}}
		<tr>
			<td width="9%"><img src="assets/myProfile/images/phonenumbericon.png" alt="Smiley face" height="16" width="25"></td>
			<td>{{phone}}</td>
		</tr>
		<!--<tr>
			<td><img src="assets/myProfile/images/phonenumbericon.png" alt="Smiley face" height="16" width="25"></td>
			<td>{{phone}}</td>
		</tr>-->
		<tr>
			<td><img src="assets/myProfile/images/mailicon.png" alt="Smiley face" height="16" width="25"></td>
			<td>{{email}}</td>
		</tr>
	{{/parents}}
	</tbody>
</table>
