	


<div style="width:5px;height:100%;float: left; clear:both">
      <img src="assets/myClasses/images/left-shadow.png" width="10px" height="58%" align="right" >
</div>
<div class="newsAnnouncementsContent" style="display:block;height:61%; width: 97.5%; float: left;">
	<div class="tabsContent">
		<ul>
			<li class="tabContent_row myProfile active" style="display: block; opacity: 1;">
				{{#user}}
				<div style="height:30px;">
					<div class="editProfile" id="editProfileBtn" style="width:40px;"><img style="cursor:pointer;" src="assets/myProfile/images/edit_profile.png" alt="Smiley face" height="30" width="40"></div>
					<div class="editProfile" id="saveProfileBtn"  style="display:none; width:40px;"><img src="assets/myProfile/images/saveicon.png" alt="Smiley face" height="30" width="40"></div>
				</div>
				<table cellpadding="0" cellspacing="0" border="0" class="profile_tbl_lt" style="margin-left:1%;width:48%">
					<tbody>
						<tr>
							<td width="9%"><img src="assets/myProfile/images/profileicon.png" alt="Smiley face" height="16" width="25"></td>
							<td width="90%"><div  style="width:90%;"style="width:250px;  text-overflow:ellipsis; overflow:hidden; white-space:no-wrap;" id="spanFirstName" class="nonEditable">{{name}}</div>
								<input readOnly="readOnly" style="background:transparent; border:none; display:none; width:90%;" value="{{name}}" class="editable" id="nameTextBox"/>
							</td>
						</tr>
						<tr>
							<td width="9%"><img src="assets/myProfile/images/profileicon.png" alt="Smiley face" height="16" width="25"></td>
							<td width="90%">
								<div style="width:250px;  text-overflow:ellipsis; overflow:hidden; white-space:no-wrap;" class="nonEditable" id="spanLastName">{{lastName}} </div>
								<input readOnly="readOnly" style="background:transparent; border:none; display:none; width:90%; " value="{{lastName}}" id="lastNameTextBox" class="editable"/>
							</td>
						</tr>
						<tr >
							<td><img src="assets/myProfile/images/dateofbirthicon.png" alt="Smiley face" height="16" width="25"></td>
							<td width="90%">
								<div style="width:250px;  text-overflow:ellipsis; overflow:hidden; white-space:no-wrap;" class="nonEditable" id="spanDob">{{dateOfBirthUser}}</div>
								<div  class="editable" style=" display:none;"><input style="width:30%; background:transparent; border:none; " value="{{dateOfBirthUser}}" id="dateOfBirthTextBox" /></div>
							</td>
						</tr>
						<tr>
							<td><img src="assets/myProfile/images/mailicon.png" alt="Smiley face" height="16" width="25"></td>
							<td width="90%" id="emailId">
								{{email}}
							</td>
						</tr>
						<tr>
							<td><img src="assets/myProfile/images/phonenumbericon.png" alt="Smiley face" height="16" width="25"></td>
							
							<td width="90%">
								<div style="width:250px;  text-overflow:ellipsis; overflow:hidden; white-space:no-wrap;" class="nonEditable" id="spanTelephone">{{telephone}}</div>
								<input style="background:transparent; border:none; display:none; width:90%; !important; text-overflow: clip;" value="{{telephone}}" id="telephoneTextBox" class="editable"/>
							</td>
						</tr>
						{{^isTeacher}}
							<tr>
								<td><img src="assets/myProfile/images/dateicon.png" alt="Smiley face" height="16" width="25"></td>
								<td width="90%">
									<span class="nonEditable" id="spanGrade">{{grade}}</span>
								</td>
							</tr>
						{{/isTeacher}}
					</tbody>
				</table>
				{{/user}}
				{{#address}}
				
				<!--
				<table cellpadding="0" cellspacing="0" border="0" class="profile_tbl_lt" style="margin-left:2%; width:47%">
					<tbody>
						<tr>
							<td><img src="assets/myProfile/images/countryicon.png" alt="Smiley face" height="21" width="21"></td>
							<td>
								<span class="nonEditable" id="spanCountry">{{country}}</span>
								<select style="background:transparent; border:none; display:none;" id="countryTextBox" class="editable">
									<option value="0">-- No Country --</option>
									{{#countries}}
										<option value="{{uniqueId}}">{{name}}</option>
									{{/countries}}
								</select>
							</td>
						</tr>
						<tr>
							<td><img src="assets/myProfile/images/subrublocationicon.png" alt="Smiley face" height="16" width="25"></td>
							<td style="">
								<span class="nonEditable" id="spanState">{{state}}</span>
								<select  size="1" style=" background:transparent; border:none; display:none; width:160px;"  id="stateTextBox" class="editable">
									<option value="0">-- No States --</option>
									{{#states}}
										<option value="{{uniqueId}}">{{name}}</option>
									{{/states}}
								</select>
							</td>
						</tr>
						<tr>
							<td width="9%"><img src="assets/myProfile/images/stateicon.png" alt="Smiley face" height="26" width="40"></td>
							<td>
								<div  style="width:250px;  text-overflow:ellipsis; overflow:hidden; white-space:no-wrap;"  class="nonEditable" id="spanStreet">{{street}}</div>
								<input style="width:90%; background:transparent; border:none; display:none;" value="{{street}}" id="streetTextBox" class="editable"/>
							</td>
						</tr>
						<tr>
							<td><img src="assets/myProfile/images/addressicon.png" alt="Smiley face" height="16" width="25"></td>
							<td>
								<div style="width:250px;  text-overflow:ellipsis; overflow:hidden; white-space:no-wrap;" class="nonEditable" id="spanSuburb">{{suburb}}</div>
								<input style="background:transparent; border:none; display:none; width:90%;" value="{{suburb}}" id="suburbTextBox" class="editable"/>
							</td>
						</tr>
						
						<tr>
							<td><img src="assets/myProfile/images/postcodeicon.png" alt="Smiley face" height="16" width="25"></td>
							<td>
								<div  style="width:250px;  text-overflow:ellipsis; overflow:hidden; white-space:no-wrap;" class="nonEditable" id="spanPostCode">{{postcode}}</div>
								<input style="background:transparent; width:90%; border:none; display:none;" value="{{postcode}}" id="postcodeTextBox" class="editable"/>
							</td>
						</tr>

						
					</tbody>
				</table>
				-->
				{{/address}}
				
			</li>
			
			<li class="tabContent_row myParents" style="display: none;">
				<div class="parentsAndGuardian"></div>
			</li>

			<li class="tabContent_row myTeachers" style="display: none;">
				<div class="teacherProfile"></div>
			</li>
		</ul>

	</div>
		</div>
		
 	<div style="width:5px;height:100%;float: left;background-color:#">
         <img src="assets/myClasses/images/right-shadow.png" width="10px" height="55%" align="left" >
    </div>	
	

	
	
	