<header><div><h1>Notifications</h1><a href="#" class="closeWidget"></a></div></header>

<div class="notifications itemContainer">
{{#notifications}}
	{{#showNotifications}}
	<div class="diaryItem notification {{colour}} {{type}}" diaryItemId="{{id}}">
		<div>
			<div class="colorStripe"><span></span></div><div class="icon"></div><div class="link"></div>
			<span class="title">{{title}}</span>
			<span class="message">{{message}}</span>
		</div>
	</div>
	{{/showNotifications}}
{{/notifications}}
</div>
