<div id="light3" class="white_content" style="width:36%;height:auto;margin-top:10%; margin-left:30%">

	<div class="pophead">
		<table style="margin-left:0px;" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="16"><a class="btn_add btns" id="cancelPopupBtn"  >Cancel</a></td>
				<td class="midheadtxt">Reminder</td>
				<td  width="16"><a class="btn_add btns" id="sendReminderBtn">Send</a></td>
			</tr>
		</table>
	</div>
	<div class="borderTable">

		<table class="modalTable"  cellpadding="0" cellspacing="0">
			<tr>
				<td>Type : </td>
				<td>{{typeTask}}</td>
			</tr>
			<tr>
				<td>Subject : </td>
				<td>{{subject}}</td>
			</tr>
			<tr>
				<td>Assigned : </td>
				<td>{{assignedDayTask}}</td>
			</tr>
			<tr>
				<td>Due : </td>
				<td>{{dueDayTask}}</td>
			</tr>

			<tr>
				<td colspan="2"><textarea class="textarea" contenteditable="true" name="editor2"  id="reminderMsg"></textarea></td>
			</tr>

		</table>

	</div>

</div>

