   <div class="MSDList_List_classStudent" id="divStudentList" style="margin:2% 0% 0% 20%;width:60%;min-height:550px;max-height:550px;0verflow:scroll;z-index:1002;position:absolute;display:block;">
	
	<table class="MSDList_ListTable" cellspacing="0" cellpadding="0">
		
		<tbody class="MSDList_ListTableBody">
				<tr class="">
					<td class="MSDList_ListCheckBoxCell" colspan="2" style="border-bottom:solid 1px #8a8787;height:50px;padding-left:12px;">
						<label><b style="font-size:14px;">Select students to send message</b></label>
					</td>
					
					<td width="50" style="border-bottom:solid 1px #8a8787;height:50px;margin-right:15px"><a class="btn_add btns" id="cancelPopupBtn" style="margin-right:10px">Cancel</a></td>
					<td  width="50" style="border-bottom:solid 1px #8a8787;height:50px;margin-right:15px"><a class="btn_add btns" id="doneBtnStudentSelection" style="margin-right:10px">Done</a></td>
					
				</tr>
			{{#students}}
				<tr class="MSDList_ListItemRow">
					<td class="MSDList_ListCheckBoxCell">
						<input id="{{UniqueId}}" type="checkbox" value="{{UniqueId}}" label="{{name}} {{lastName}}" class="MSDList_ListCheckBox">
					</td>
					<td class="MSDList_ListLabelCell">{{name}} {{lastName}}</td>
				</tr>
			{{/students}}
		</tbody>
	</table>
<div>
