<h1>Student Profile</h1>

<div class="scroller">
    <table class="tableFieldLayout">
        <tr><th>First Name</th><td>{{name}}</td></tr>
        <tr><th>Last Name</th><td>{{lastName}}</td></tr>
       <!-- <tr><th>Age</th><td>{{age}}</td></tr>
        <tr><th>Address</th><td>{{#address}}{{street}}<br>{{suburb}} {{state}} {{postcode}}{{/address}}</td></tr>
        <tr><th>Telephone</th><td>{{telephone}}</td></tr>-->
        <tr><th>Email</th><td>{{email}}</td></tr>
        <tr><th>Password</th><td>{{encrptpassword}}</td></tr>
        <!--<tr><th>Year</th><td>{{grade}}</td></tr>
        <tr><th>Teacher(s)</th><td>{{teacher}}</td></tr>
        <tr><th>House</th><td>{{house}}</td></tr>
        <tr><th>House Captain</th><td>{{houseCaptain}}</td></tr>
        <tr><th>House Colors</th><td>{{houseColours}}</td></tr>-->
    </table>
   
</div>

<div class="editButtonContainer">
    <a href="#" class="editStudentProfileLaunch"><img src="assets/frontpage/edit.png"></a>
</div>