<div class="subject" style= "{{colour}}; cursor: pointer;">
    <div class="periodName">
        <span class="nowrap" style = "margin-top: 12px; color:#3a3b3b">{{name}}</span>
        <span class="nowrap" style = "color:#3a3b3b;font-weight:normal;" >{{subject}}</span>
        <span class="nowrap" style = "color:#3a3b3b;font-weight:normal;">{{room}}</span>
    </div>
</div>
