<div class="title" style="width:250px;"><span>Timetables</span></div>
<div class="items" style="width:250px;height:86px; overflow-y:auto;overflow-x:hidden;">
	{{^hasTimetables}}
		<div class="instruction">You currently have no timetables.</div>
	{{/hasTimetables}}

	{{#timetables}}
		<div style="width:234px;" class="item timetableItem {{#current}}itemCurrent{{/current}}" timetableId="{{id}}">
			{{#selected}}<div class="selectedIndicator"></div>{{/selected}}
			<div class="timetableName">{{name}}</div>
			<div class="timetableDescription">{{description}}</div>
		</div>
	{{/timetables}}

</div>
