{{#hasTimetable}}
<div class="timetableWrapper" style="width: 1200px;">

	{{#cycledays}}
		<div class="cycleday">
			<div class="title">{{name}}</div>
            {{#needsTopPadding}}
            {{/needsTopPadding}}
			{{#periods}}
			   <div style="cursor: pointer;" class="period {{cssClass}}" isBreak={{isBreak}}  data-cycleday="{{dayIndex}}" data-period="{{periodIndex}}" id="D{{dayIndex}}P{{periodIndex}}" classId="{{classId}}">
					{{> subjectViewTimetablePeriod}}
				</div>
			{{/periods}}
            {{#needsBottomPadding}}
            {{/needsBottomPadding}}
        </div>
	{{/cycledays}}
</div>
{{/hasTimetable}}
{{^hasTimetable}}
	<div class="timetableUnavailable">
		No timetables available.
	</div>
{{/hasTimetable}}
