<div id="tabs_container">
<div class="tabs_container" >
	<div class="tabMenu_btn" id="divMyProfile">
    	<ul class="myProfileNavigation">
        	<li class="myProfile active" data-link="myProfile"><div class="tabs_txt">My Profile</div></li>
        	{{#isStudent}}
				{{#allowParents}}<li class="myParents" data-link="myParents" style=""><div class="tabs_txt">My Parents/Guardians</div></li>{{/allowParents}}
            	<li class="myTeachers" data-link="myTeachers"><div class="tabs_txt">My Teachers</div></li>   
            {{/isStudent}}        
        </ul>
        <div class="clear"></div>
    </div>
    <div class="tabsContent">
    </div>
 </div>          
</div>


