<div id="tabs_container">
		<div class="tabs_container">
        	<div class="tabMenu_btn" style="display:block;">
            	<ul style="margin:0 0 0 8px">
                	<li class="glance active">
                		<div class="tabs_txt">Glance</div>
                	</li>
					<li class="announcements" style="margin:0 0 0 10px">
						<div class="tabs_txt">News &amp; Announcements
                              <span class="notification_num">0</span>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="tabsContent" id="tabsContent" style="clear:both;">
        	
        </div>
</div>

