<div class="heightContainer">

	<div class="tokeninstructioncontainer">
		{{^registered}}
		<h3>Welcome to your Digital Diary</h3>
		<p>Digital Diary has not yet been registered for use on this computer.</p>
		<p>You can obtain your registration token from your school.</p>
		{{/registered}} 
		{{#registered}}
		<h3>&nbsp;</h3>		
		<p>This Digital Diary has already been registered.</p>
		<p>To update your registration, please enter your new token below.</p>
		{{/registered}}
	</div>
	
	<div class="tokeninputcontainer">
			<label>Please enter your registration token</label>
			<input type="text" class="tokeninput" value="" maxlength="7">
	</div>
		<div class="tokenmessagecontainer">
	</div>
	
	<div class="tokenbusy">
		<img src="assets/token/images/busy.gif">
	</div>
	
	
	<div class="tokenactioncontainer">
		{{^registered}}
		<input class="tokenaction textbutton" type="submit" value="Register">		
		{{/registered}}
		{{#registered}}
		<input class="tokenaction textbutton" type="submit" value="Update">		
		{{/registered}}		
		<input class="close textbutton" type="button" value="Close">
	</div>
	
</div>
