.subjectView .timetable {
	display:block;
	position: absolute;
	left: 32px;
	/*right: 206px;*/
	top: 32px;
	bottom: 32px;
	border: 1px solid #dddddd;
	border-top-left-radius: 8px;	
	width: 100%;
}

.timetableWrapper {
	display: block;
	position: absolute;
    margin-right: 0px;
    width: 100%;
	
	height: 567px;
}

.subjectView .subjectPanel {
	display: block;
	position: absolute;
	right: 32px;
	width: 174px;
	top: 32px;
	bottom: 32px;
	/*border: 1px solid #dddddd;
	border-left: none;
	border-top-right-radius: 8px;*/
}

.subjectView .period {
	height: 58px;	/** plus top and bottom border = 60px **/
	position: absolute;
}

.subjectView .timetable .periods {
	width: 135px;	
}

.subjectView .timetable .periods .period {
	text-align: right;
	width: 133px;	/** plus left and right borders = 135px **/
}


.subjectView div.periods .period:nth-of-type(2),
.subjectView div.cycleday .period:nth-of-type(2) {
	top: 27px;
}

.subjectView div.periods .period:nth-of-type(3),
.subjectView div.cycleday .period:nth-of-type(3) {
	top: 87px;
}

.subjectView div.periods .period:nth-of-type(4),
.subjectView div.cycleday .period:nth-of-type(4) {
	top: 147px;
}

.subjectView div.periods .period:nth-of-type(5),
.subjectView div.cycleday .period:nth-of-type(5) {
	top:207px;
}

.subjectView div.periods .period:nth-of-type(6),
.subjectView div.cycleday .period:nth-of-type(6) {
	top: 267px;
}

.subjectView div.periods .period:nth-of-type(7),
.subjectView div.cycleday .period:nth-of-type(7) {
	top: 327px;
}

.subjectView div.periods .period:nth-of-type(8),
.subjectView div.cycleday .period:nth-of-type(8) {
	top: 387px;
}

.subjectView div.periods .period:nth-of-type(9),
.subjectView div.cycleday .period:nth-of-type(9) {
	top: 447px;
}	

.subjectView div.periods .period:nth-of-type(10),
.subjectView div.cycleday .period:nth-of-type(10) {
	top: 507px;
}	

.subjectView div.periods .period:nth-of-type(11),
.subjectView div.cycleday .period:nth-of-type(11) {
	top: 567px;
}	

.subjectView div.periods .period:nth-of-type(12),
.subjectView div.cycleday .period:nth-of-type(12) {
	top: 627px;
}	

.subjectView div.periods .period:nth-of-type(13),
.subjectView div.cycleday .period:nth-of-type(13) {
	top: 687px;
}	

.subjectView div.periods .period:nth-of-type(14),
.subjectView div.cycleday .period:nth-of-type(14) {
	top: 747px;
}	

.subjectView div.periods .period:nth-of-type(15),
.subjectView div.cycleday .period:nth-of-type(15) {
	top: 807px;
}	





.subjectView div .period {
	background-color: #ffffff;
	border-top: 1px white solid;
	border-left: 1px white solid;
	border-right: 1px #D6D6D6 solid;
	border-bottom: 1px #D6D6D6 solid;
}

.subjectView div .period.odd {
	background-color: #EDEDED;
}

.subjectView div .period.even {
	background-color: #F7F7F7;
}

.subjectView .timetable .cycleday {
	position: absolute;
	display: block;
	width: 100px;
	height: 567px;
	top: 0px;
}

.subjectView .timetable .periods .title {
	border-left: none;
	background-color: inherit;
}

.subjectView .timetable div .title {
	background-color: #ffffff;
	border-left: 1px white solid;
	border-right: 1px #D6D6D6 solid;
	border-bottom: 1px #C3C3C3 solid;
	height: 21px;	/** plus padding-top + bottom border = 27px */
	text-align: center;
	color: #4A4A4A;
	font-family: "Diary Font";
	font-weight: 600;
	text-transform:uppercase;
	padding-top: 5px;
}

.subjectView .timetable .cycleday .period {
	width: 98px;	/** plus left and right borders = 100px **/
}

.subjectView .timetable .cycleday:nth-of-type(2) {
	left: 135px;
}

.subjectView .timetable .cycleday:nth-of-type(3) {
	left: 235px;
}

.subjectView .timetable .cycleday:nth-of-type(4) {
	left: 335px;
}

.subjectView .timetable .cycleday:nth-of-type(5) {
	left: 435px;
}

.subjectView .timetable .cycleday:nth-of-type(6) {
	left: 535px;
}

.subjectView .timetable .cycleday:nth-of-type(7) {
	left: 635px;
}

.subjectView .timetable .cycleday:nth-of-type(8) {
	left: 735px;
}

.subjectView .timetable .cycleday:nth-of-type(9) {
	left: 835px;
}

.subjectView .timetable .cycleday:nth-of-type(10) {
	left: 935px;
}

.subjectView .timetable .cycleday:nth-of-type(11) {
	left: 1035px;
}

.period input {
	position: absolute;
	left: 3px;
	right: 3px;
	text-align: center;
	border: none;
	background: inherit;
	color: #4A4A4A;
	font-family: "Diary Font";
	font-weight: 600;
}

.period input:focus {
	border: 1px solid black;
}

.period input:nth-child(1) {
	top: 3px;
}

.period input:nth-child(2) {
	top: 30px;
}

.period .subject {
	display: block;
	position: absolute;
	left: 2px;
	right: 0px;
	top: 2px;
	bottom: 0px;
}

.period .subject input {
	background: none;
	color: #000000;
}

.period .subject.maroon input,
.period .subject.red input,
.period .subject.pink input,
.period .subject.purple input,
.period .subject.darkblue input,
.period .subject.skyblue input,
.period .subject.cyan input,
.period .subject.aqua input,
.period .subject.darkgreen input,
.period .subject.grassgreen input,
.period .subject.darkbrown input,
.period .subject.lightbrown input,
.period .subject.deeporange input,
.period .subject.orange input,
.period .subject.grey input,
.period .subject.darkgrey input,
.period .subject.black input,
.period .subject.maroon input:focus,
.period .subject.red input:focus,
.period .subject.pink input:focus,
.period .subject.purple input:focus,
.period .subject.darkblue input:focus,
.period .subject.skyblue input:focus,
.period .subject.cyan input:focus,
.period .subject.aqua input:focus,
.period .subject.darkgreen input:focus,
.period .subject.grassgreen input:focus,
.period .subject.darkbrown input:focus,
.period .subject.lightbrown input:focus,
.period .subject.deeporange input:focus,
.period .subject.orange input:focus,
.period .subject.grey input:focus,
.period .subject.darkgrey input:focus,
.period .subject.black input:focus {
	color: #ffffff;
}

.period .subject.white input,
.period .subject.white input:focus {
	color: #000000;
}

.period .subject.maroon {
	background: 
		url(plain/background_marone_top_left.png) left top no-repeat, 
		url(plain/background_marone_top_right.png) right top no-repeat, 
		url(plain/background_marone_bottom_left.png) left bottom no-repeat, 
		url(plain/background_marone_bottom_right.png) right bottom no-repeat, 
		url(plain/background_marone_top.png) left top repeat-x,
		url(plain/background_marone_bottom.png) left bottom repeat-x,
		url(plain/background_marone_left.png) left top repeat-y,
		url(plain/background_marone_right.png) right top repeat-y,
		url(plain/background_marone_center.png) left top repeat,
		#650033;
}

.period.odd .subject.maroon {
	background: 
		url(odd/background_marone_top_left.png) left top no-repeat, 
		url(odd/background_marone_top_right.png) right top no-repeat, 
		url(odd/background_marone_bottom_left.png) left bottom no-repeat, 
		url(odd/background_marone_bottom_right.png) right bottom no-repeat, 
		url(odd/background_marone_top.png) left top repeat-x,
		url(odd/background_marone_bottom.png) left bottom repeat-x,
		url(odd/background_marone_left.png) left top repeat-y,
		url(odd/background_marone_right.png) right top repeat-y,
		url(odd/background_marone_center.png) left top repeat,
		#650033;
}

.period.even .subject.maroon {
	background: 
		url(even/background_marone_top_left.png) left top no-repeat, 
		url(even/background_marone_top_right.png) right top no-repeat, 
		url(even/background_marone_bottom_left.png) left bottom no-repeat, 
		url(even/background_marone_bottom_right.png) right bottom no-repeat, 
		url(even/background_marone_top.png) left top repeat-x,
		url(even/background_marone_bottom.png) left bottom repeat-x,
		url(even/background_marone_left.png) left top repeat-y,
		url(even/background_marone_right.png) right top repeat-y,
		url(even/background_marone_center.png) left top repeat,
		#650033;
}

.period .subject.red {
	
	background: 
		url(plain/background_red_top_left.png) left top no-repeat, 
		url(plain/background_red_top_right.png) right top no-repeat, 
		url(plain/background_red_bottom_left.png) left bottom no-repeat, 
		url(plain/background_red_bottom_right.png) right bottom no-repeat, 
		url(plain/background_red_top.png) left top repeat-x,
		url(plain/background_red_bottom.png) left bottom repeat-x,
		url(plain/background_red_left.png) left top repeat-y,
		url(plain/background_red_right.png) right top repeat-y,
		url(plain/background_red_center.png) left top repeat,
		#cf0000;
}

.period.odd .subject.red {
	
	background: 
		url(odd/background_red_top_left.png) left top no-repeat, 
		url(odd/background_red_top_right.png) right top no-repeat, 
		url(odd/background_red_bottom_left.png) left bottom no-repeat, 
		url(odd/background_red_bottom_right.png) right bottom no-repeat, 
		url(odd/background_red_top.png) left top repeat-x,
		url(odd/background_red_bottom.png) left bottom repeat-x,
		url(odd/background_red_left.png) left top repeat-y,
		url(odd/background_red_right.png) right top repeat-y,
		url(odd/background_red_center.png) left top repeat,
		#cf0000;
}

.period.even .subject.red {
	background: 
		url(even/background_red_top_left.png) left top no-repeat, 
		url(even/background_red_top_right.png) right top no-repeat, 
		url(even/background_red_bottom_left.png) left bottom no-repeat, 
		url(even/background_red_bottom_right.png) right bottom no-repeat, 
		url(even/background_red_top.png) left top repeat-x,
		url(even/background_red_bottom.png) left bottom repeat-x,
		url(even/background_red_left.png) left top repeat-y,
		url(even/background_red_right.png) right top repeat-y,
		url(even/background_red_center.png) left top repeat,
		#cf0000;
	background: #d73333;
	background: -moz-linear-gradient(top, #d73333 0%, #d73333 8%, #bc0a0a 19%, #b80000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d73333), color-stop(8%,#d73333), color-stop(19%,#bc0a0a), color-stop(100%,#b80000));
	background: -webkit-linear-gradient(top, #d73333 0%,#d73333 8%,#bc0a0a 19%,#b80000 100%);
	background: -o-linear-gradient(top, #d73333 0%,#d73333 8%,#bc0a0a 19%,#b80000 100%);
	background: -ms-linear-gradient(top, #d73333 0%,#d73333 8%,#bc0a0a 19%,#b80000 100%);
	background: linear-gradient(to bottom, #d73333 0%,#d73333 8%,#bc0a0a 19%,#b80000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d73333', endColorstr='#b80000',GradientType=0 );
}

.period .subject.pink {
	background: 
		url(plain/background_pink_top_left.png) left top no-repeat, 
		url(plain/background_pink_top_right.png) right top no-repeat, 
		url(plain/background_pink_bottom_left.png) left bottom no-repeat, 
		url(plain/background_pink_bottom_right.png) right bottom no-repeat, 
		url(plain/background_pink_top.png) left top repeat-x,
		url(plain/background_pink_bottom.png) left bottom repeat-x,
		url(plain/background_pink_left.png) left top repeat-y,
		url(plain/background_pink_right.png) right top repeat-y,
		url(plain/background_pink_center.png) left top repeat,
		#ff33ff;
}

.period.odd .subject.pink {
	background: 
		url(odd/background_pink_top_left.png) left top no-repeat, 
		url(odd/background_pink_top_right.png) right top no-repeat, 
		url(odd/background_pink_bottom_left.png) left bottom no-repeat, 
		url(odd/background_pink_bottom_right.png) right bottom no-repeat, 
		url(odd/background_pink_top.png) left top repeat-x,
		url(odd/background_pink_bottom.png) left bottom repeat-x,
		url(odd/background_pink_left.png) left top repeat-y,
		url(odd/background_pink_right.png) right top repeat-y,
		url(odd/background_pink_center.png) left top repeat,
		#ff33ff;
}

.period.even .subject.pink {
	background: 
		url(even/background_pink_top_left.png) left top no-repeat, 
		url(even/background_pink_top_right.png) right top no-repeat, 
		url(even/background_pink_bottom_left.png) left bottom no-repeat, 
		url(even/background_pink_bottom_right.png) right bottom no-repeat, 
		url(even/background_pink_top.png) left top repeat-x,
		url(even/background_pink_bottom.png) left bottom repeat-x,
		url(even/background_pink_left.png) left top repeat-y,
		url(even/background_pink_right.png) right top repeat-y,
		url(even/background_pink_center.png) left top repeat,
		#650033;
}

.period .subject.purple {
	background: 
		url(plain/background_purple_top_left.png) left top no-repeat, 
		url(plain/background_purple_top_right.png) right top no-repeat, 
		url(plain/background_purple_bottom_left.png) left bottom no-repeat, 
		url(plain/background_purple_bottom_right.png) right bottom no-repeat, 
		url(plain/background_purple_top.png) left top repeat-x,
		url(plain/background_purple_bottom.png) left bottom repeat-x,
		url(plain/background_purple_left.png) left top repeat-y,
		url(plain/background_purple_right.png) right top repeat-y,
		url(plain/background_purple_center.png) left top repeat,
		#6734cc;
}

.period.odd .subject.purple {
	background: 
		url(odd/background_purple_top_left.png) left top no-repeat, 
		url(odd/background_purple_top_right.png) right top no-repeat, 
		url(odd/background_purple_bottom_left.png) left bottom no-repeat, 
		url(odd/background_purple_bottom_right.png) right bottom no-repeat, 
		url(odd/background_purple_top.png) left top repeat-x,
		url(odd/background_purple_bottom.png) left bottom repeat-x,
		url(odd/background_purple_left.png) left top repeat-y,
		url(odd/background_purple_right.png) right top repeat-y,
		url(odd/background_purple_center.png) left top repeat,
		#6734cc;
}

.period.even .subject.purple {
	background: 
		url(even/background_purple_top_left.png) left top no-repeat, 
		url(even/background_purple_top_right.png) right top no-repeat, 
		url(even/background_purple_bottom_left.png) left bottom no-repeat, 
		url(even/background_purple_bottom_right.png) right bottom no-repeat, 
		url(even/background_purple_top.png) left top repeat-x,
		url(even/background_purple_bottom.png) left bottom repeat-x,
		url(even/background_purple_left.png) left top repeat-y,
		url(even/background_purple_right.png) right top repeat-y,
		url(even/background_purple_center.png) left top repeat,
		#6734cc;
}

.period .subject.darkblue {
	background: 
		url(plain/background_darkblue_top_left.png) left top no-repeat, 
		url(plain/background_darkblue_top_right.png) right top no-repeat, 
		url(plain/background_darkblue_bottom_left.png) left bottom no-repeat, 
		url(plain/background_darkblue_bottom_right.png) right bottom no-repeat, 
		url(plain/background_darkblue_top.png) left top repeat-x,
		url(plain/background_darkblue_bottom.png) left bottom repeat-x,
		url(plain/background_darkblue_left.png) left top repeat-y,
		url(plain/background_darkblue_right.png) right top repeat-y,
		url(plain/background_darkblue_center.png) left top repeat,
		#000066;
}

.period.odd .subject.darkblue {
	background: 
		url(odd/background_darkblue_top_left.png) left top no-repeat, 
		url(odd/background_darkblue_top_right.png) right top no-repeat, 
		url(odd/background_darkblue_bottom_left.png) left bottom no-repeat, 
		url(odd/background_darkblue_bottom_right.png) right bottom no-repeat, 
		url(odd/background_darkblue_top.png) left top repeat-x,
		url(odd/background_darkblue_bottom.png) left bottom repeat-x,
		url(odd/background_darkblue_left.png) left top repeat-y,
		url(odd/background_darkblue_right.png) right top repeat-y,
		url(odd/background_darkblue_center.png) left top repeat,
		#000066;
}

.period.even .subject.darkblue {
	background: 
		url(even/background_darkblue_top_left.png) left top no-repeat, 
		url(even/background_darkblue_top_right.png) right top no-repeat, 
		url(even/background_darkblue_bottom_left.png) left bottom no-repeat, 
		url(even/background_darkblue_bottom_right.png) right bottom no-repeat, 
		url(even/background_darkblue_top.png) left top repeat-x,
		url(even/background_darkblue_bottom.png) left bottom repeat-x,
		url(even/background_darkblue_left.png) left top repeat-y,
		url(even/background_darkblue_right.png) right top repeat-y,
		url(even/background_darkblue_center.png) left top repeat,
		#000066;
}

.period .subject.skyblue {
	background: 
		url(plain/background_skyblue_top_left.png) left top no-repeat, 
		url(plain/background_skyblue_top_right.png) right top no-repeat, 
		url(plain/background_skyblue_bottom_left.png) left bottom no-repeat, 
		url(plain/background_skyblue_bottom_right.png) right bottom no-repeat, 
		url(plain/background_skyblue_top.png) left top repeat-x,
		url(plain/background_skyblue_bottom.png) left bottom repeat-x,
		url(plain/background_skyblue_left.png) left top repeat-y,
		url(plain/background_skyblue_right.png) right top repeat-y,
		url(plain/background_skyblue_center.png) left top repeat,
		#3367ff;
}

.period.odd .subject.skyblue {
	background: 
		url(odd/background_skyblue_top_left.png) left top no-repeat, 
		url(odd/background_skyblue_top_right.png) right top no-repeat, 
		url(odd/background_skyblue_bottom_left.png) left bottom no-repeat, 
		url(odd/background_skyblue_bottom_right.png) right bottom no-repeat, 
		url(odd/background_skyblue_top.png) left top repeat-x,
		url(odd/background_skyblue_bottom.png) left bottom repeat-x,
		url(odd/background_skyblue_left.png) left top repeat-y,
		url(odd/background_skyblue_right.png) right top repeat-y,
		url(odd/background_skyblue_center.png) left top repeat,
		#3367ff;
}

.period.even .subject.skyblue {
	background: 
		url(even/background_skyblue_top_left.png) left top no-repeat, 
		url(even/background_skyblue_top_right.png) right top no-repeat, 
		url(even/background_skyblue_bottom_left.png) left bottom no-repeat, 
		url(even/background_skyblue_bottom_right.png) right bottom no-repeat, 
		url(even/background_skyblue_top.png) left top repeat-x,
		url(even/background_skyblue_bottom.png) left bottom repeat-x,
		url(even/background_skyblue_left.png) left top repeat-y,
		url(even/background_skyblue_right.png) right top repeat-y,
		url(even/background_skyblue_center.png) left top repeat,
		#3367ff;
}

.period .subject.cyan {
	background: 
		url(plain/background_cyan_top_left.png) left top no-repeat, 
		url(plain/background_cyan_top_right.png) right top no-repeat, 
		url(plain/background_cyan_bottom_left.png) left bottom no-repeat, 
		url(plain/background_cyan_bottom_right.png) right bottom no-repeat, 
		url(plain/background_cyan_top.png) left top repeat-x,
		url(plain/background_cyan_bottom.png) left bottom repeat-x,
		url(plain/background_cyan_left.png) left top repeat-y,
		url(plain/background_cyan_right.png) right top repeat-y,
		url(plain/background_cyan_center.png) left top repeat,
		#00aeef;
}

.period.odd .subject.cyan {
	background: 
		url(odd/background_cyan_top_left.png) left top no-repeat, 
		url(odd/background_cyan_top_right.png) right top no-repeat, 
		url(odd/background_cyan_bottom_left.png) left bottom no-repeat, 
		url(odd/background_cyan_bottom_right.png) right bottom no-repeat, 
		url(odd/background_cyan_top.png) left top repeat-x,
		url(odd/background_cyan_bottom.png) left bottom repeat-x,
		url(odd/background_cyan_left.png) left top repeat-y,
		url(odd/background_cyan_right.png) right top repeat-y,
		url(odd/background_cyan_center.png) left top repeat,
		#00aeef;
}

.period.even .subject.cyan {
	background: 
		url(even/background_cyan_top_left.png) left top no-repeat, 
		url(even/background_cyan_top_right.png) right top no-repeat, 
		url(even/background_cyan_bottom_left.png) left bottom no-repeat, 
		url(even/background_cyan_bottom_right.png) right bottom no-repeat, 
		url(even/background_cyan_top.png) left top repeat-x,
		url(even/background_cyan_bottom.png) left bottom repeat-x,
		url(even/background_cyan_left.png) left top repeat-y,
		url(even/background_cyan_right.png) right top repeat-y,
		url(even/background_cyan_center.png) left top repeat,
		#00aeef;
}

.period .subject.aqua {
	background: 
		url(plain/background_aqua_top_left.png) left top no-repeat, 
		url(plain/background_aqua_top_right.png) right top no-repeat, 
		url(plain/background_aqua_bottom_left.png) left bottom no-repeat, 
		url(plain/background_aqua_bottom_right.png) right bottom no-repeat, 
		url(plain/background_aqua_top.png) left top repeat-x,
		url(plain/background_aqua_bottom.png) left bottom repeat-x,
		url(plain/background_aqua_left.png) left top repeat-y,
		url(plain/background_aqua_right.png) right top repeat-y,
		url(plain/background_aqua_center.png) left top repeat,
		#02a4a4;
}

.period.odd .subject.aqua {
	background: 
		url(odd/background_aqua_top_left.png) left top no-repeat, 
		url(odd/background_aqua_top_right.png) right top no-repeat, 
		url(odd/background_aqua_bottom_left.png) left bottom no-repeat, 
		url(odd/background_aqua_bottom_right.png) right bottom no-repeat, 
		url(odd/background_aqua_top.png) left top repeat-x,
		url(odd/background_aqua_bottom.png) left bottom repeat-x,
		url(odd/background_aqua_left.png) left top repeat-y,
		url(odd/background_aqua_right.png) right top repeat-y,
		url(odd/background_aqua_center.png) left top repeat,
		#02a4a4;
}

.period.even .subject.aqua {
	background: 
		url(even/background_aqua_top_left.png) left top no-repeat, 
		url(even/background_aqua_top_right.png) right top no-repeat, 
		url(even/background_aqua_bottom_left.png) left bottom no-repeat, 
		url(even/background_aqua_bottom_right.png) right bottom no-repeat, 
		url(even/background_aqua_top.png) left top repeat-x,
		url(even/background_aqua_bottom.png) left bottom repeat-x,
		url(even/background_aqua_left.png) left top repeat-y,
		url(even/background_aqua_right.png) right top repeat-y,
		url(even/background_aqua_center.png) left top repeat,
		#02a4a4;
}

.period .subject.darkgreen {
	background: 
		url(plain/background_darkgreen_top_left.png) left top no-repeat, 
		url(plain/background_darkgreen_top_right.png) right top no-repeat, 
		url(plain/background_darkgreen_bottom_left.png) left bottom no-repeat, 
		url(plain/background_darkgreen_bottom_right.png) right bottom no-repeat, 
		url(plain/background_darkgreen_top.png) left top repeat-x,
		url(plain/background_darkgreen_bottom.png) left bottom repeat-x,
		url(plain/background_darkgreen_left.png) left top repeat-y,
		url(plain/background_darkgreen_right.png) right top repeat-y,
		url(plain/background_darkgreen_center.png) left top repeat,
		#006500;
}

.period.odd .subject.darkgreen {
	background: 
		url(odd/background_darkgreen_top_left.png) left top no-repeat, 
		url(odd/background_darkgreen_top_right.png) right top no-repeat, 
		url(odd/background_darkgreen_bottom_left.png) left bottom no-repeat, 
		url(odd/background_darkgreen_bottom_right.png) right bottom no-repeat, 
		url(odd/background_darkgreen_top.png) left top repeat-x,
		url(odd/background_darkgreen_bottom.png) left bottom repeat-x,
		url(odd/background_darkgreen_left.png) left top repeat-y,
		url(odd/background_darkgreen_right.png) right top repeat-y,
		url(odd/background_darkgreen_center.png) left top repeat,
		#006500;
}

.period.even .subject.darkgreen {
	background: 
		url(even/background_darkgreen_top_left.png) left top no-repeat, 
		url(even/background_darkgreen_top_right.png) right top no-repeat, 
		url(even/background_darkgreen_bottom_left.png) left bottom no-repeat, 
		url(even/background_darkgreen_bottom_right.png) right bottom no-repeat, 
		url(even/background_darkgreen_top.png) left top repeat-x,
		url(even/background_darkgreen_bottom.png) left bottom repeat-x,
		url(even/background_darkgreen_left.png) left top repeat-y,
		url(even/background_darkgreen_right.png) right top repeat-y,
		url(even/background_darkgreen_center.png) left top repeat,
		#006500;
}

.period .subject.grassgreen {
	background: 
		url(plain/background_grassgreen_top_left.png) left top no-repeat, 
		url(plain/background_grassgreen_top_right.png) right top no-repeat, 
		url(plain/background_grassgreen_bottom_left.png) left bottom no-repeat, 
		url(plain/background_grassgreen_bottom_right.png) right bottom no-repeat, 
		url(plain/background_grassgreen_top.png) left top repeat-x,
		url(plain/background_grassgreen_bottom.png) left bottom repeat-x,
		url(plain/background_grassgreen_left.png) left top repeat-y,
		url(plain/background_grassgreen_right.png) right top repeat-y,
		url(plain/background_grassgreen_center.png) left top repeat,
		#5ab902;
}

.period.odd .subject.grassgreen {
	background: 
		url(odd/background_grassgreen_top_left.png) left top no-repeat, 
		url(odd/background_grassgreen_top_right.png) right top no-repeat, 
		url(odd/background_grassgreen_bottom_left.png) left bottom no-repeat, 
		url(odd/background_grassgreen_bottom_right.png) right bottom no-repeat, 
		url(odd/background_grassgreen_top.png) left top repeat-x,
		url(odd/background_grassgreen_bottom.png) left bottom repeat-x,
		url(odd/background_grassgreen_left.png) left top repeat-y,
		url(odd/background_grassgreen_right.png) right top repeat-y,
		url(odd/background_grassgreen_center.png) left top repeat,
		#5ab902;
}

.period.even .subject.grassgreen {
	background: 
		url(even/background_grassgreen_top_left.png) left top no-repeat, 
		url(even/background_grassgreen_top_right.png) right top no-repeat, 
		url(even/background_grassgreen_bottom_left.png) left bottom no-repeat, 
		url(even/background_grassgreen_bottom_right.png) right bottom no-repeat, 
		url(even/background_grassgreen_top.png) left top repeat-x,
		url(even/background_grassgreen_bottom.png) left bottom repeat-x,
		url(even/background_grassgreen_left.png) left top repeat-y,
		url(even/background_grassgreen_right.png) right top repeat-y,
		url(even/background_grassgreen_center.png) left top repeat,
		#5ab902;
}

.period .subject.darkbrown {
	background: 
		url(plain/background_darkbrown_top_left.png) left top no-repeat, 
		url(plain/background_darkbrown_top_right.png) right top no-repeat, 
		url(plain/background_darkbrown_bottom_left.png) left bottom no-repeat, 
		url(plain/background_darkbrown_bottom_right.png) right bottom no-repeat, 
		url(plain/background_darkbrown_top.png) left top repeat-x,
		url(plain/background_darkbrown_bottom.png) left bottom repeat-x,
		url(plain/background_darkbrown_left.png) left top repeat-y,
		url(plain/background_darkbrown_right.png) right top repeat-y,
		url(plain/background_darkbrown_center.png) left top repeat,
		#562b01;
}

.period.odd .subject.darkbrown {
	background: 
		url(odd/background_darkbrown_top_left.png) left top no-repeat, 
		url(odd/background_darkbrown_top_right.png) right top no-repeat, 
		url(odd/background_darkbrown_bottom_left.png) left bottom no-repeat, 
		url(odd/background_darkbrown_bottom_right.png) right bottom no-repeat, 
		url(odd/background_darkbrown_top.png) left top repeat-x,
		url(odd/background_darkbrown_bottom.png) left bottom repeat-x,
		url(odd/background_darkbrown_left.png) left top repeat-y,
		url(odd/background_darkbrown_right.png) right top repeat-y,
		url(odd/background_darkbrown_center.png) left top repeat,
		#562b01;
}

.period.even .subject.darkbrown {
	background: 
		url(even/background_darkbrown_top_left.png) left top no-repeat, 
		url(even/background_darkbrown_top_right.png) right top no-repeat, 
		url(even/background_darkbrown_bottom_left.png) left bottom no-repeat, 
		url(even/background_darkbrown_bottom_right.png) right bottom no-repeat, 
		url(even/background_darkbrown_top.png) left top repeat-x,
		url(even/background_darkbrown_bottom.png) left bottom repeat-x,
		url(even/background_darkbrown_left.png) left top repeat-y,
		url(even/background_darkbrown_right.png) right top repeat-y,
		url(even/background_darkbrown_center.png) left top repeat,
		#562b01;
}

.period .subject.lightbrown {
	background: 
		url(plain/background_lightbrown_top_left.png) left top no-repeat, 
		url(plain/background_lightbrown_top_right.png) right top no-repeat, 
		url(plain/background_lightbrown_bottom_left.png) left bottom no-repeat, 
		url(plain/background_lightbrown_bottom_right.png) right bottom no-repeat, 
		url(plain/background_lightbrown_top.png) left top repeat-x,
		url(plain/background_lightbrown_bottom.png) left bottom repeat-x,
		url(plain/background_lightbrown_left.png) left top repeat-y,
		url(plain/background_lightbrown_right.png) right top repeat-y,
		url(plain/background_lightbrown_center.png) left top repeat,
		#ac8152;
}

.period.odd .subject.lightbrown {
	background: 
		url(odd/background_lightbrown_top_left.png) left top no-repeat, 
		url(odd/background_lightbrown_top_right.png) right top no-repeat, 
		url(odd/background_lightbrown_bottom_left.png) left bottom no-repeat, 
		url(odd/background_lightbrown_bottom_right.png) right bottom no-repeat, 
		url(odd/background_lightbrown_top.png) left top repeat-x,
		url(odd/background_lightbrown_bottom.png) left bottom repeat-x,
		url(odd/background_lightbrown_left.png) left top repeat-y,
		url(odd/background_lightbrown_right.png) right top repeat-y,
		url(odd/background_lightbrown_center.png) left top repeat,
		#ac8152;
}

.period.even .subject.lightbrown {
	background: 
		url(even/background_lightbrown_top_left.png) left top no-repeat, 
		url(even/background_lightbrown_top_right.png) right top no-repeat, 
		url(even/background_lightbrown_bottom_left.png) left bottom no-repeat, 
		url(even/background_lightbrown_bottom_right.png) right bottom no-repeat, 
		url(even/background_lightbrown_top.png) left top repeat-x,
		url(even/background_lightbrown_bottom.png) left bottom repeat-x,
		url(even/background_lightbrown_left.png) left top repeat-y,
		url(even/background_lightbrown_right.png) right top repeat-y,
		url(even/background_lightbrown_center.png) left top repeat,
		#ac8152;
}

.period .subject.deeporange {
	background: 
		url(plain/background_deeporange_top_left.png) left top no-repeat, 
		url(plain/background_deeporange_top_right.png) right top no-repeat, 
		url(plain/background_deeporange_bottom_left.png) left bottom no-repeat, 
		url(plain/background_deeporange_bottom_right.png) right bottom no-repeat, 
		url(plain/background_deeporange_top.png) left top repeat-x,
		url(plain/background_deeporange_bottom.png) left bottom repeat-x,
		url(plain/background_deeporange_left.png) left top repeat-y,
		url(plain/background_deeporange_right.png) right top repeat-y,
		url(plain/background_deeporange_center.png) left top repeat,
		#ff6600;
}

.period.odd .subject.deeporange {
	background: 
		url(odd/background_deeporange_top_left.png) left top no-repeat, 
		url(odd/background_deeporange_top_right.png) right top no-repeat, 
		url(odd/background_deeporange_bottom_left.png) left bottom no-repeat, 
		url(odd/background_deeporange_bottom_right.png) right bottom no-repeat, 
		url(odd/background_deeporange_top.png) left top repeat-x,
		url(odd/background_deeporange_bottom.png) left bottom repeat-x,
		url(odd/background_deeporange_left.png) left top repeat-y,
		url(odd/background_deeporange_right.png) right top repeat-y,
		url(odd/background_deeporange_center.png) left top repeat,
		#ff6600;
}

.period.even .subject.deeporange {
	background: 
		url(even/background_deeporange_top_left.png) left top no-repeat, 
		url(even/background_deeporange_top_right.png) right top no-repeat, 
		url(even/background_deeporange_bottom_left.png) left bottom no-repeat, 
		url(even/background_deeporange_bottom_right.png) right bottom no-repeat, 
		url(even/background_deeporange_top.png) left top repeat-x,
		url(even/background_deeporange_bottom.png) left bottom repeat-x,
		url(even/background_deeporange_left.png) left top repeat-y,
		url(even/background_deeporange_right.png) right top repeat-y,
		url(even/background_deeporange_center.png) left top repeat,
		#ff6600;
}

.period .subject.orange {
	background: 
		url(plain/background_orange_top_left.png) left top no-repeat, 
		url(plain/background_orange_top_right.png) right top no-repeat, 
		url(plain/background_orange_bottom_left.png) left bottom no-repeat, 
		url(plain/background_orange_bottom_right.png) right bottom no-repeat, 
		url(plain/background_orange_top.png) left top repeat-x,
		url(plain/background_orange_bottom.png) left bottom repeat-x,
		url(plain/background_orange_left.png) left top repeat-y,
		url(plain/background_orange_right.png) right top repeat-y,
		url(plain/background_orange_center.png) left top repeat,
		#ff9900;
}

.period.odd .subject.orange {
	background: 
		url(odd/background_orange_top_left.png) left top no-repeat, 
		url(odd/background_orange_top_right.png) right top no-repeat, 
		url(odd/background_orange_bottom_left.png) left bottom no-repeat, 
		url(odd/background_orange_bottom_right.png) right bottom no-repeat, 
		url(odd/background_orange_top.png) left top repeat-x,
		url(odd/background_orange_bottom.png) left bottom repeat-x,
		url(odd/background_orange_left.png) left top repeat-y,
		url(odd/background_orange_right.png) right top repeat-y,
		url(odd/background_orange_center.png) left top repeat,
		#ff9900;
}

.period.even .subject.orange {
	background: 
		url(even/background_orange_top_left.png) left top no-repeat, 
		url(even/background_orange_top_right.png) right top no-repeat, 
		url(even/background_orange_bottom_left.png) left bottom no-repeat, 
		url(even/background_orange_bottom_right.png) right bottom no-repeat, 
		url(even/background_orange_top.png) left top repeat-x,
		url(even/background_orange_bottom.png) left bottom repeat-x,
		url(even/background_orange_left.png) left top repeat-y,
		url(even/background_orange_right.png) right top repeat-y,
		url(even/background_orange_center.png) left top repeat,
		#ff9900;
}

.period .subject.grey {
	background: 
		url(plain/background_grey_top_left.png) left top no-repeat, 
		url(plain/background_grey_top_right.png) right top no-repeat, 
		url(plain/background_grey_bottom_left.png) left bottom no-repeat, 
		url(plain/background_grey_bottom_right.png) right bottom no-repeat, 
		url(plain/background_grey_top.png) left top repeat-x,
		url(plain/background_grey_bottom.png) left bottom repeat-x,
		url(plain/background_grey_left.png) left top repeat-y,
		url(plain/background_grey_right.png) right top repeat-y,
		url(plain/background_grey_center.png) left top repeat,
		#8e8c8c;
}

.period.odd .subject.grey {
	background: 
		url(odd/background_grey_top_left.png) left top no-repeat, 
		url(odd/background_grey_top_right.png) right top no-repeat, 
		url(odd/background_grey_bottom_left.png) left bottom no-repeat, 
		url(odd/background_grey_bottom_right.png) right bottom no-repeat, 
		url(odd/background_grey_top.png) left top repeat-x,
		url(odd/background_grey_bottom.png) left bottom repeat-x,
		url(odd/background_grey_left.png) left top repeat-y,
		url(odd/background_grey_right.png) right top repeat-y,
		url(odd/background_grey_center.png) left top repeat,
		#8e8c8c;
}

.period.even .subject.grey {
	background: 
		url(even/background_grey_top_left.png) left top no-repeat, 
		url(even/background_grey_top_right.png) right top no-repeat, 
		url(even/background_grey_bottom_left.png) left bottom no-repeat, 
		url(even/background_grey_bottom_right.png) right bottom no-repeat, 
		url(even/background_grey_top.png) left top repeat-x,
		url(even/background_grey_bottom.png) left bottom repeat-x,
		url(even/background_grey_left.png) left top repeat-y,
		url(even/background_grey_right.png) right top repeat-y,
		url(even/background_grey_center.png) left top repeat,
		#8e8c8c;
}

.period .subject.darkgrey {
	background: 
		url(plain/background_darkgrey_top_left.png) left top no-repeat, 
		url(plain/background_darkgrey_top_right.png) right top no-repeat, 
		url(plain/background_darkgrey_bottom_left.png) left bottom no-repeat, 
		url(plain/background_darkgrey_bottom_right.png) right bottom no-repeat, 
		url(plain/background_darkgrey_top.png) left top repeat-x,
		url(plain/background_darkgrey_bottom.png) left bottom repeat-x,
		url(plain/background_darkgrey_left.png) left top repeat-y,
		url(plain/background_darkgrey_right.png) right top repeat-y,
		url(plain/background_darkgrey_center.png) left top repeat,
		#4c4949;
}

.period.odd .subject.darkgrey {
	background: 
		url(odd/background_darkgrey_top_left.png) left top no-repeat, 
		url(odd/background_darkgrey_top_right.png) right top no-repeat, 
		url(odd/background_darkgrey_bottom_left.png) left bottom no-repeat, 
		url(odd/background_darkgrey_bottom_right.png) right bottom no-repeat, 
		url(odd/background_darkgrey_top.png) left top repeat-x,
		url(odd/background_darkgrey_bottom.png) left bottom repeat-x,
		url(odd/background_darkgrey_left.png) left top repeat-y,
		url(odd/background_darkgrey_right.png) right top repeat-y,
		url(odd/background_darkgrey_center.png) left top repeat,
		#4c4949;
}

.period.even .subject.darkgrey {
	background: 
		url(even/background_darkgrey_top_left.png) left top no-repeat, 
		url(even/background_darkgrey_top_right.png) right top no-repeat, 
		url(even/background_darkgrey_bottom_left.png) left bottom no-repeat, 
		url(even/background_darkgrey_bottom_right.png) right bottom no-repeat, 
		url(even/background_darkgrey_top.png) left top repeat-x,
		url(even/background_darkgrey_bottom.png) left bottom repeat-x,
		url(even/background_darkgrey_left.png) left top repeat-y,
		url(even/background_darkgrey_right.png) right top repeat-y,
		url(even/background_darkgrey_center.png) left top repeat,
		#4c4949;
}

.period .subject.white {
	background: 
		url(plain/background_white_top_left.png) left top no-repeat, 
		url(plain/background_white_top_right.png) right top no-repeat, 
		url(plain/background_white_bottom_left.png) left bottom no-repeat, 
		url(plain/background_white_bottom_right.png) right bottom no-repeat, 
		url(plain/background_white_top.png) left top repeat-x,
		url(plain/background_white_bottom.png) left bottom repeat-x,
		url(plain/background_white_left.png) left top repeat-y,
		url(plain/background_white_right.png) right top repeat-y,
		url(plain/background_white_center.png) left top repeat,
		#ffffff;
}

.period.odd .subject.white {
	background: 
		url(odd/background_white_top_left.png) left top no-repeat, 
		url(odd/background_white_top_right.png) right top no-repeat, 
		url(odd/background_white_bottom_left.png) left bottom no-repeat, 
		url(odd/background_white_bottom_right.png) right bottom no-repeat, 
		url(odd/background_white_top.png) left top repeat-x,
		url(odd/background_white_bottom.png) left bottom repeat-x,
		url(odd/background_white_left.png) left top repeat-y,
		url(odd/background_white_right.png) right top repeat-y,
		url(odd/background_white_center.png) left top repeat,
		#ffffff;
}

.period.even .subject.white {
	background: 
		url(even/background_white_top_left.png) left top no-repeat, 
		url(even/background_white_top_right.png) right top no-repeat, 
		url(even/background_white_bottom_left.png) left bottom no-repeat, 
		url(even/background_white_bottom_right.png) right bottom no-repeat, 
		url(even/background_white_top.png) left top repeat-x,
		url(even/background_white_bottom.png) left bottom repeat-x,
		url(even/background_white_left.png) left top repeat-y,
		url(even/background_white_right.png) right top repeat-y,
		url(even/background_white_center.png) left top repeat,
		#ffffff;
}

.period .subject.black {
	background: 
		url(plain/background_black_top_left.png) left top no-repeat, 
		url(plain/background_black_top_right.png) right top no-repeat, 
		url(plain/background_black_bottom_left.png) left bottom no-repeat, 
		url(plain/background_black_bottom_right.png) right bottom no-repeat, 
		url(plain/background_black_top.png) left top repeat-x,
		url(plain/background_black_bottom.png) left bottom repeat-x,
		url(plain/background_black_left.png) left top repeat-y,
		url(plain/background_black_right.png) right top repeat-y,
		url(plain/background_black_center.png) left top repeat,
		#000000;
}

.period.odd .subject.black {
	background: 
		url(odd/background_black_top_left.png) left top no-repeat, 
		url(odd/background_black_top_right.png) right top no-repeat, 
		url(odd/background_black_bottom_left.png) left bottom no-repeat, 
		url(odd/background_black_bottom_right.png) right bottom no-repeat, 
		url(odd/background_black_top.png) left top repeat-x,
		url(odd/background_black_bottom.png) left bottom repeat-x,
		url(odd/background_black_left.png) left top repeat-y,
		url(odd/background_black_right.png) right top repeat-y,
		url(odd/background_black_center.png) left top repeat,
		#000000;
}

.period.even .subject.black {
	background: 
		url(even/background_black_top_left.png) left top no-repeat, 
		url(even/background_black_top_right.png) right top no-repeat, 
		url(even/background_black_bottom_left.png) left bottom no-repeat, 
		url(even/background_black_bottom_right.png) right bottom no-repeat, 
		url(even/background_black_top.png) left top repeat-x,
		url(even/background_black_bottom.png) left bottom repeat-x,
		url(even/background_black_left.png) left top repeat-y,
		url(even/background_black_right.png) right top repeat-y,
		url(even/background_black_center.png) left top repeat,
		#000000;
}

.period .periodName, .period .periodTimes {
	font-family: "Diary Font";
	font-size: 11px;
	font-weight: 600;
	color: #888888;
    text-shadow: white 1px 1px 1px;
	position: relative;	
	top: 8px;
	right: 8px;
}

.period .periodName {
	text-transform: uppercase;
}

.period.odd .periodName, .period.even .periodName {
	text-transform: none;
}

.subjectView .subjectPanel .title {
	height: 26px;
	margin-right: 2px;
	/*border-left: 1px white solid;
	border-bottom: 1px #C3C3C3 solid; */
	border-left: none;
	border-bottom: none;
	border-top: 1px #dddddd solid; 
	border-right: 1px #dddddd solid; 
	border-top-right-radius: 8px;
}

.subjectView .subjectPanel .title span {
	display: block;
	font-family: "Diary Font";
	font-size: 15px;
	color: #4a4a4a;
	height: 22px;
	padding-top: 4px;
	padding-left: 12px;
}

.subjectView .subjectPanel .subjects {
	display: block;
	position: absolute;
	width: 157px;
	top: 27px;
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	
	background: 
		url(subjects_panel_top_left.png) left top no-repeat, 
		url(subjects_panel_top_right.png) right top no-repeat, 
		url(subjects_panel_bottom_left.png) left bottom no-repeat, 
		url(subjects_panel_bottom_right.png) right bottom no-repeat, 
		url(subjects_panel_top.png) left top repeat-x,
		url(subjects_panel_bottom.png) left bottom repeat-x,
		url(subjects_panel_left.png) left top repeat-y,
		url(subjects_panel_right.png) right top repeat-y,
		url(subjects_panel_center.png) left top repeat,
		#fbfbfb;	
}

.subjectView .subjectPanel .subjects .subject {
	position: relative;
	width: 154px;
	height: 32px;
	display: block;
}

.subjectView .subjectPanel .subjects .subject .subjectcolour {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 4px;
	left: 4px;
	display: block;
	cursor: pointer;
}

.subjectView .subjectPanel .subjects .subject input {
	background-color: transparent;
}

/* Account for the border on the white colour swatch */
.subjectView .subjectPanel .subjects .subject .subjectcolour.white {
	width: 14px;	
	height: 14px;
}

.subjectcolour.maroon {
	background-color: #650033;
}

.subjectcolour.red {
	background-color: #cf0000
}

.subjectcolour.pink {
	background-color: #ff33ff;
}

.subjectcolour.purple {
	background-color: #6734cc;
}

.subjectcolour.darkblue {
	background-color: #000066;
}

.subjectcolour.skyblue {
	background-color: #3367ff;
}

.subjectcolour.cyan {
	background-color: #00aeef;
}

.subjectcolour.aqua {
	background-color: #02a4a4;
}

.subjectcolour.darkgreen {
	background-color: #006500;
}

.subjectcolour.grassgreen {
	background-color: #5ab902;
}

.subjectcolour.darkbrown {
	background-color: #562b01;
}

.subjectcolour.lightbrown {
	background-color: #ac8152;
}

.subjectcolour.deeporange {
	background-color: #ff6600;
}

.subjectcolour.orange {
	background-color: #ff9900;
}

.subjectcolour.grey {
	background-color: #8e8c8c;
}

.subjectcolour.darkgrey {
	background-color: #4c4949;
}

.subjectcolour.white {
	background-color: #ffffff;
	border: 1px solid 000000;
}

.subjectcolour.black {
	background-color: #000000;
}

.subjectView .subjectPanel .subjects .subject input {
	position: absolute;
	left: 20px;
	right: 4px;
	top: 2px;
	font-family: "Diary Font";
	font-weight: 600;
	color: #4a4a4a;
	border: none;
}

.subjectView .subjectPanel .subjects .subject input:focus {
	border: 1px solid black;
}


#subjectColourPicker .popupContent {
	width: 72px;
	height: 144px;
}

#subjectColourPicker .popupContent .subjectcolour {
	width: 16px;
	height: 16px;
	position: absolute;
	display: block;
	cursor: pointer;
	top: 6px;
}

/* Account for the border on the white colour swatch */
#subjectColourPicker .popupContent .subjectcolour.white {
	width: 14px;
	height: 14px;
}

#subjectColourPicker .popupContent .subjectcolour:nth-child(3n+1) {
	left: 6px;
}

#subjectColourPicker .popupContent .subjectcolour:nth-child(3n+2) {
	left: 30px;
}

#subjectColourPicker .popupContent .subjectcolour:nth-child(3n+3) {
	left: 54px;
}

#subjectColourPicker .popupContent .subjectcolour:nth-child(4),
#subjectColourPicker .popupContent .subjectcolour:nth-child(5),
#subjectColourPicker .popupContent .subjectcolour:nth-child(6) {
	top: 30px;
}

#subjectColourPicker .popupContent .subjectcolour:nth-child(7),
#subjectColourPicker .popupContent .subjectcolour:nth-child(8),
#subjectColourPicker .popupContent .subjectcolour:nth-child(9) {
	top: 54px;
}
	
#subjectColourPicker .popupContent .subjectcolour:nth-child(10),
#subjectColourPicker .popupContent .subjectcolour:nth-child(11),
#subjectColourPicker .popupContent .subjectcolour:nth-child(12) {
	top: 78px;
}

#subjectColourPicker .popupContent .subjectcolour:nth-child(13),
#subjectColourPicker .popupContent .subjectcolour:nth-child(14),
#subjectColourPicker .popupContent .subjectcolour:nth-child(15) {
	top: 102px;
}
	
#subjectColourPicker .popupContent .subjectcolour:nth-child(16),
#subjectColourPicker .popupContent .subjectcolour:nth-child(17),
#subjectColourPicker .popupContent .subjectcolour:nth-child(18) {
	top: 126px;
}


/* 
 * Overriding CSS for autocomplete plugin 
 */
 
ul.ui-autocomplete li.ui-menu-item a.ui-corner-all {
	border-radius: 0;
} 
 
ul.ui-autocomplete li.ui-menu-item a.ui-corner-all.ui-state-hover {
	background: #ededed;
	font-weight: bold;
	border: none; 
} 

