.subjectView .title {
  background-color: #b2b1b1;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), to(#d3d2d2));
    background-image: -webkit-linear-gradient(top, #ebebeb, #d3d2d2);
    background-image: -o-linear-gradient(top, #ebebeb, #d3d2d2);

  /*border-left: 1px white solid;*/
  border-right: 1px #D6D6D6 solid;
  border-bottom: 1px #c3c3c3 solid;
  height: 26px;
    line-height: 26px;
  /** plus padding-top + bottom border = 27px */

  text-align: center;
  color: #4a4a4a;
  font-family: "Diary Font";
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 3px;
    font-size: 12px;
}
.subjectView .timetable {
  display: block;
  position: absolute;
  left: 0px;
  right: 206px;
  top: 0px;
  bottom: 0px; 
  overflow: auto;
  border: 1px solid #dddddd;
  border-top-left-radius: 8px;
}
.addClassTable {
	background-color: #e8e7e7;
	border-radius: 4px;
	margin: 5px 5px 5px 5px;
	width: 97%;
	border: solid 1px #d6d6d6;
	font-family: arial;
	font-size: 13px !important;
	color: #3d3c3c !important;
	line-height: 38px;
	padding: 0px;
}

.addClassTable td {
	border-bottom: solid 1px #d6d6d6;
	padding-left: 5px;
}

.subjectView .timetable .timetableUnavailable {
  text-align: center;
  margin-top: 200px;
  font-size: 18px;
  font-style: italic;
  color: #CCCCCC;
}
.subjectView .timetable .timetableWrapper {
  display: block;
  position: absolute;
  height: 567px;
  width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.subjectView .timetable .timetableWrapper:nth-child(1) .title {
  /*border-top-left-radius: 8px;*/
}
.subjectView .timetable .period,
.subjectView .timetable .padding {
  position: relative;
  height: 83px;
  width: 118px;
  border-top: 1px white solid;
  border-left: 1px white solid;
  border-right: 1px #dddddd solid;
  border-bottom: 1px #c3c3c3 solid;
  background-color: #ffffff;
}
.subjectView .timetable .period.odd {
  background-color: #ededed;
}
.subjectView .timetable .period.even {
  background-color: #ededed;
}
.subjectView .timetable .periods {
  float: left;
  width: 85px;
}
.subjectView .timetable .periods .title {
  border-left: none;
  background-color: inherit;
  width: 84px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #c3c3c3;
    border-radius: 8px;
}
.subjectView .timetable .periods .period {
  text-align: right;
  width: 64px;
  border-bottom: 1px white solid;
  border-right: 1px solid transparent;
}
.subjectView .timetable .periods .period .time {
  position: absolute;
  top: -2px;
  right: -20px;
  width: 19px;
  border-right: 1px solid #dddddd;
}
.subjectView .timetable .periods .period .time .increment {
  width: 50%;
  border-top: 1px solid #dddddd;
  height: 9px;
  float: right;
  clear: right;
}
.subjectView .timetable .periods .period .time .increment label {
  font-family: "Diary Font";
  font-size: 11px;
  font-weight: 600;
  color: #888888;
  text-shadow: white 1px 1px 1px;
  position: relative;
  top: -7px;
  text-align: right;
  display: inline-block;
  width: 40px;
}
.subjectView .timetable .periods .period .time .increment.time-15 {
  width: 100%;
  border-top: 1px solid #dddddd;
}
.subjectView .timetable .periods .period .time .increment.time-15 label {
  top: -6px;
  right: 45px;
  font-size: 9px;
  color: #dddddd;
}
.subjectView .timetable .periods .period .time .increment.time-15.hour {
  width: 50%;
  border-top: 1px solid transparent;
}
.subjectView .timetable .periods .period .time .increment.time-15.hour label {
  right: 33px;
  font-size: 11px;
  color: #888888;
}
.subjectView .timetable .periods .period .time .increment.top {
  border-top: 1px solid #c3c3c3;
}
.subjectView .timetable .periods .period .periodName,
.subjectView .timetable .periods .period .periodTimes {
  font-family: "Diary Font";
  font-size: 11px;
  font-weight: 600;
  color: #888888;
  text-shadow: white 1px 1px 1px;
  position: relative;
  top: 8px;
  right: 8px;
}
.subjectView .timetable .periods .period .periodName {
  text-transform: uppercase;
}
.subjectView .timetable .periods .period.odd .periodName,
.subjectView .timetable .periods .period.even .periodName {
  text-transform: none;
}
.subjectView .timetable .cycleday {
  display: block;
  float: left;
  top: 0px;
  height: 567px;
  width: 120px;
  
}
.subjectView .timetable .cycleday .period {
  width: 118px;
}
.subjectView .timetable .cycleday .period .subject.maroon {
  background: url("plain/background_marone_bottom_left.png") left bottom no-repeat, url("plain/background_marone_bottom_right.png") right bottom no-repeat, url("plain/background_marone_bottom.png") left bottom repeat-x, url("plain/background_marone_top_left.png") left top no-repeat, url("plain/background_marone_top_right.png") right top no-repeat, url("plain/background_marone_top.png") left top repeat-x, url("plain/background_marone_left.png") left top repeat-y, url("plain/background_marone_right.png") right top repeat-y, url("plain/background_marone_center.png") left top repeat, #650033;
}
.subjectView .timetable .cycleday .period .subject.red {
  background: url("plain/background_red_bottom_left.png") left bottom no-repeat, url("plain/background_red_bottom_right.png") right bottom no-repeat, url("plain/background_red_bottom.png") left bottom repeat-x, url("plain/background_red_top_left.png") left top no-repeat, url("plain/background_red_top_right.png") right top no-repeat, url("plain/background_red_top.png") left top repeat-x, url("plain/background_red_left.png") left top repeat-y, url("plain/background_red_right.png") right top repeat-y, url("plain/background_red_center.png") left top repeat, #cd0000;
}
.subjectView .timetable .cycleday .period .subject.pink {
/*  background: url("plain/background_pink_bottom_left.png") left bottom no-repeat, url("plain/background_pink_bottom_right.png") right bottom no-repeat, url("plain/background_pink_bottom.png") left bottom repeat-x, url("plain/background_pink_top_left.png") left top no-repeat, url("plain/background_pink_top_right.png") right top no-repeat, url("plain/background_pink_top.png") left top repeat-x, url("plain/background_pink_left.png") left top repeat-y, url("plain/background_pink_right.png") right top repeat-y, url("plain/background_pink_center.png") left top repeat, #ff33ff;*/
}
.subjectView .timetable .cycleday .period .subject.purple {
  background: url("plain/background_purple_bottom_left.png") left bottom no-repeat, url("plain/background_purple_bottom_right.png") right bottom no-repeat, url("plain/background_purple_bottom.png") left bottom repeat-x, url("plain/background_purple_top_left.png") left top no-repeat, url("plain/background_purple_top_right.png") right top no-repeat, url("plain/background_purple_top.png") left top repeat-x, url("plain/background_purple_left.png") left top repeat-y, url("plain/background_purple_right.png") right top repeat-y, url("plain/background_purple_center.png") left top repeat, #6734cc;
}
.subjectView .timetable .cycleday .period .subject.darkblue {
  background: url("plain/background_darkblue_bottom_left.png") left bottom no-repeat, url("plain/background_darkblue_bottom_right.png") right bottom no-repeat, url("plain/background_darkblue_bottom.png") left bottom repeat-x, url("plain/background_darkblue_top_left.png") left top no-repeat, url("plain/background_darkblue_top_right.png") right top no-repeat, url("plain/background_darkblue_top.png") left top repeat-x, url("plain/background_darkblue_left.png") left top repeat-y, url("plain/background_darkblue_right.png") right top repeat-y, url("plain/background_darkblue_center.png") left top repeat, #000066;
}
.subjectView .timetable .cycleday .period .subject.skyblue {
  background: url("plain/background_skyblue_bottom_left.png") left bottom no-repeat, url("plain/background_skyblue_bottom_right.png") right bottom no-repeat, url("plain/background_skyblue_bottom.png") left bottom repeat-x, url("plain/background_skyblue_top_left.png") left top no-repeat, url("plain/background_skyblue_top_right.png") right top no-repeat, url("plain/background_skyblue_top.png") left top repeat-x, url("plain/background_skyblue_left.png") left top repeat-y, url("plain/background_skyblue_right.png") right top repeat-y, url("plain/background_skyblue_center.png") left top repeat, #3367ff;
}
.subjectView .timetable .cycleday .period .subject.cyan {
  background: url("plain/background_cyan_bottom_left.png") left bottom no-repeat, url("plain/background_cyan_bottom_right.png") right bottom no-repeat, url("plain/background_cyan_bottom.png") left bottom repeat-x, url("plain/background_cyan_top_left.png") left top no-repeat, url("plain/background_cyan_top_right.png") right top no-repeat, url("plain/background_cyan_top.png") left top repeat-x, url("plain/background_cyan_left.png") left top repeat-y, url("plain/background_cyan_right.png") right top repeat-y, url("plain/background_cyan_center.png") left top repeat, #00aeef;
}
.subjectView .timetable .cycleday .period .subject.aqua {
  background: url("plain/background_aqua_bottom_left.png") left bottom no-repeat, url("plain/background_aqua_bottom_right.png") right bottom no-repeat, url("plain/background_aqua_bottom.png") left bottom repeat-x, url("plain/background_aqua_top_left.png") left top no-repeat, url("plain/background_aqua_top_right.png") right top no-repeat, url("plain/background_aqua_top.png") left top repeat-x, url("plain/background_aqua_left.png") left top repeat-y, url("plain/background_aqua_right.png") right top repeat-y, url("plain/background_aqua_center.png") left top repeat, #02a4a4;
}
.subjectView .timetable .cycleday .period .subject.darkgreen {
  background: url("plain/background_darkgreen_bottom_left.png") left bottom no-repeat, url("plain/background_darkgreen_bottom_right.png") right bottom no-repeat, url("plain/background_darkgreen_bottom.png") left bottom repeat-x, url("plain/background_darkgreen_top_left.png") left top no-repeat, url("plain/background_darkgreen_top_right.png") right top no-repeat, url("plain/background_darkgreen_top.png") left top repeat-x, url("plain/background_darkgreen_left.png") left top repeat-y, url("plain/background_darkgreen_right.png") right top repeat-y, url("plain/background_darkgreen_center.png") left top repeat, #006500;
}
.subjectView .timetable .cycleday .period .subject.grassgreen {
  background: url("plain/background_grassgreen_bottom_left.png") left bottom no-repeat, url("plain/background_grassgreen_bottom_right.png") right bottom no-repeat, url("plain/background_grassgreen_bottom.png") left bottom repeat-x, url("plain/background_grassgreen_top_left.png") left top no-repeat, url("plain/background_grassgreen_top_right.png") right top no-repeat, url("plain/background_grassgreen_top.png") left top repeat-x, url("plain/background_grassgreen_left.png") left top repeat-y, url("plain/background_grassgreen_right.png") right top repeat-y, url("plain/background_grassgreen_center.png") left top repeat, #5eb902;
}
.subjectView .timetable .cycleday .period .subject.darkbrown {
  background: url("plain/background_darkbrown_bottom_left.png") left bottom no-repeat, url("plain/background_darkbrown_bottom_right.png") right bottom no-repeat, url("plain/background_darkbrown_bottom.png") left bottom repeat-x, url("plain/background_darkbrown_top_left.png") left top no-repeat, url("plain/background_darkbrown_top_right.png") right top no-repeat, url("plain/background_darkbrown_top.png") left top repeat-x, url("plain/background_darkbrown_left.png") left top repeat-y, url("plain/background_darkbrown_right.png") right top repeat-y, url("plain/background_darkbrown_center.png") left top repeat, #562b01;
}
.subjectView .timetable .cycleday .period .subject.lightbrown {
  background: url("plain/background_lightbrown_bottom_left.png") left bottom no-repeat, url("plain/background_lightbrown_bottom_right.png") right bottom no-repeat, url("plain/background_lightbrown_bottom.png") left bottom repeat-x, url("plain/background_lightbrown_top_left.png") left top no-repeat, url("plain/background_lightbrown_top_right.png") right top no-repeat, url("plain/background_lightbrown_top.png") left top repeat-x, url("plain/background_lightbrown_left.png") left top repeat-y, url("plain/background_lightbrown_right.png") right top repeat-y, url("plain/background_lightbrown_center.png") left top repeat, #ac8152;
}
.subjectView .timetable .cycleday .period .subject.deeporange {
  background: url("plain/background_deeporange_bottom_left.png") left bottom no-repeat, url("plain/background_deeporange_bottom_right.png") right bottom no-repeat, url("plain/background_deeporange_bottom.png") left bottom repeat-x, url("plain/background_deeporange_top_left.png") left top no-repeat, url("plain/background_deeporange_top_right.png") right top no-repeat, url("plain/background_deeporange_top.png") left top repeat-x, url("plain/background_deeporange_left.png") left top repeat-y, url("plain/background_deeporange_right.png") right top repeat-y, url("plain/background_deeporange_center.png") left top repeat, #ff6600;
}
.subjectView .timetable .cycleday .period .subject.orange {
  background: url("plain/background_orange_bottom_left.png") left bottom no-repeat, url("plain/background_orange_bottom_right.png") right bottom no-repeat, url("plain/background_orange_bottom.png") left bottom repeat-x, url("plain/background_orange_top_left.png") left top no-repeat, url("plain/background_orange_top_right.png") right top no-repeat, url("plain/background_orange_top.png") left top repeat-x, url("plain/background_orange_left.png") left top repeat-y, url("plain/background_orange_right.png") right top repeat-y, url("plain/background_orange_center.png") left top repeat, #ff9900;
}
.subjectView .timetable .cycleday .period .subject.grey {
  background: url("plain/background_grey_bottom_left.png") left bottom no-repeat, url("plain/background_grey_bottom_right.png") right bottom no-repeat, url("plain/background_grey_bottom.png") left bottom repeat-x, url("plain/background_grey_top_left.png") left top no-repeat, url("plain/background_grey_top_right.png") right top no-repeat, url("plain/background_grey_top.png") left top repeat-x, url("plain/background_grey_left.png") left top repeat-y, url("plain/background_grey_right.png") right top repeat-y, url("plain/background_grey_center.png") left top repeat, #8e8c8c;
}
.subjectView .timetable .cycleday .period .subject.darkgrey {
  background: url("plain/background_darkgrey_bottom_left.png") left bottom no-repeat, url("plain/background_darkgrey_bottom_right.png") right bottom no-repeat, url("plain/background_darkgrey_bottom.png") left bottom repeat-x, url("plain/background_darkgrey_top_left.png") left top no-repeat, url("plain/background_darkgrey_top_right.png") right top no-repeat, url("plain/background_darkgrey_top.png") left top repeat-x, url("plain/background_darkgrey_left.png") left top repeat-y, url("plain/background_darkgrey_right.png") right top repeat-y, url("plain/background_darkgrey_center.png") left top repeat, #4c4949;
}
.subjectView .timetable .cycleday .period .subject.white {
  background: url("plain/background_white_bottom_left.png") left bottom no-repeat, url("plain/background_white_bottom_right.png") right bottom no-repeat, url("plain/background_white_bottom.png") left bottom repeat-x, url("plain/background_white_top_left.png") left top no-repeat, url("plain/background_white_top_right.png") right top no-repeat, url("plain/background_white_top.png") left top repeat-x, url("plain/background_white_left.png") left top repeat-y, url("plain/background_white_right.png") right top repeat-y, url("plain/background_white_center.png") left top repeat, #ffffff;
}
.subjectView .timetable .cycleday .period .subject.black {
  background: url("plain/background_black_bottom_left.png") left bottom no-repeat, url("plain/background_black_bottom_right.png") right bottom no-repeat, url("plain/background_black_bottom.png") left bottom repeat-x, url("plain/background_black_top_left.png") left top no-repeat, url("plain/background_black_top_right.png") right top no-repeat, url("plain/background_black_top.png") left top repeat-x, url("plain/background_black_left.png") left top repeat-y, url("plain/background_black_right.png") right top repeat-y, url("plain/background_black_center.png") left top repeat, #000000;
}
.subjectView .timetable .cycleday .period.even .subject.maroon {
  background: url("even/background_marone_bottom_left.png") left bottom no-repeat, url("even/background_marone_bottom_right.png") right bottom no-repeat, url("even/background_marone_bottom.png") left bottom repeat-x, url("even/background_marone_top_left.png") left top no-repeat, url("even/background_marone_top_right.png") right top no-repeat, url("even/background_marone_top.png") left top repeat-x, url("even/background_marone_left.png") left top repeat-y, url("even/background_marone_right.png") right top repeat-y, url("even/background_marone_center.png") left top repeat, #650033;
}
.subjectView .timetable .cycleday .period.even .subject.red {
  background: url("even/background_red_bottom_left.png") left bottom no-repeat, url("even/background_red_bottom_right.png") right bottom no-repeat, url("even/background_red_bottom.png") left bottom repeat-x, url("even/background_red_top_left.png") left top no-repeat, url("even/background_red_top_right.png") right top no-repeat, url("even/background_red_top.png") left top repeat-x, url("even/background_red_left.png") left top repeat-y, url("even/background_red_right.png") right top repeat-y, url("even/background_red_center.png") left top repeat, #cd0000;
}
.subjectView .timetable .cycleday .period.even .subject.pink {
/*  background: url("even/background_pink_bottom_left.png") left bottom no-repeat, url("even/background_pink_bottom_right.png") right bottom no-repeat, url("even/background_pink_bottom.png") left bottom repeat-x, url("even/background_pink_top_left.png") left top no-repeat, url("even/background_pink_top_right.png") right top no-repeat, url("even/background_pink_top.png") left top repeat-x, url("even/background_pink_left.png") left top repeat-y, url("even/background_pink_right.png") right top repeat-y, url("even/background_pink_center.png") left top repeat, #ff33ff;*/
}
.subjectView .timetable .cycleday .period.even .subject.purple {
  background: url("even/background_purple_bottom_left.png") left bottom no-repeat, url("even/background_purple_bottom_right.png") right bottom no-repeat, url("even/background_purple_bottom.png") left bottom repeat-x, url("even/background_purple_top_left.png") left top no-repeat, url("even/background_purple_top_right.png") right top no-repeat, url("even/background_purple_top.png") left top repeat-x, url("even/background_purple_left.png") left top repeat-y, url("even/background_purple_right.png") right top repeat-y, url("even/background_purple_center.png") left top repeat, #6734cc;
}
.subjectView .timetable .cycleday .period.even .subject.darkblue {
  background: url("even/background_darkblue_bottom_left.png") left bottom no-repeat, url("even/background_darkblue_bottom_right.png") right bottom no-repeat, url("even/background_darkblue_bottom.png") left bottom repeat-x, url("even/background_darkblue_top_left.png") left top no-repeat, url("even/background_darkblue_top_right.png") right top no-repeat, url("even/background_darkblue_top.png") left top repeat-x, url("even/background_darkblue_left.png") left top repeat-y, url("even/background_darkblue_right.png") right top repeat-y, url("even/background_darkblue_center.png") left top repeat, #000066;
}
.subjectView .timetable .cycleday .period.even .subject.skyblue {
  background: url("even/background_skyblue_bottom_left.png") left bottom no-repeat, url("even/background_skyblue_bottom_right.png") right bottom no-repeat, url("even/background_skyblue_bottom.png") left bottom repeat-x, url("even/background_skyblue_top_left.png") left top no-repeat, url("even/background_skyblue_top_right.png") right top no-repeat, url("even/background_skyblue_top.png") left top repeat-x, url("even/background_skyblue_left.png") left top repeat-y, url("even/background_skyblue_right.png") right top repeat-y, url("even/background_skyblue_center.png") left top repeat, #3367ff;
}
.subjectView .timetable .cycleday .period.even .subject.cyan {
  background: url("even/background_cyan_bottom_left.png") left bottom no-repeat, url("even/background_cyan_bottom_right.png") right bottom no-repeat, url("even/background_cyan_bottom.png") left bottom repeat-x, url("even/background_cyan_top_left.png") left top no-repeat, url("even/background_cyan_top_right.png") right top no-repeat, url("even/background_cyan_top.png") left top repeat-x, url("even/background_cyan_left.png") left top repeat-y, url("even/background_cyan_right.png") right top repeat-y, url("even/background_cyan_center.png") left top repeat, #00aeef;
}
.subjectView .timetable .cycleday .period.even .subject.aqua {
  background: url("even/background_aqua_bottom_left.png") left bottom no-repeat, url("even/background_aqua_bottom_right.png") right bottom no-repeat, url("even/background_aqua_bottom.png") left bottom repeat-x, url("even/background_aqua_top_left.png") left top no-repeat, url("even/background_aqua_top_right.png") right top no-repeat, url("even/background_aqua_top.png") left top repeat-x, url("even/background_aqua_left.png") left top repeat-y, url("even/background_aqua_right.png") right top repeat-y, url("even/background_aqua_center.png") left top repeat, #02a4a4;
}
.subjectView .timetable .cycleday .period.even .subject.darkgreen {
  background: url("even/background_darkgreen_bottom_left.png") left bottom no-repeat, url("even/background_darkgreen_bottom_right.png") right bottom no-repeat, url("even/background_darkgreen_bottom.png") left bottom repeat-x, url("even/background_darkgreen_top_left.png") left top no-repeat, url("even/background_darkgreen_top_right.png") right top no-repeat, url("even/background_darkgreen_top.png") left top repeat-x, url("even/background_darkgreen_left.png") left top repeat-y, url("even/background_darkgreen_right.png") right top repeat-y, url("even/background_darkgreen_center.png") left top repeat, #006500;
}
.subjectView .timetable .cycleday .period.even .subject.grassgreen {
  background: url("even/background_grassgreen_bottom_left.png") left bottom no-repeat, url("even/background_grassgreen_bottom_right.png") right bottom no-repeat, url("even/background_grassgreen_bottom.png") left bottom repeat-x, url("even/background_grassgreen_top_left.png") left top no-repeat, url("even/background_grassgreen_top_right.png") right top no-repeat, url("even/background_grassgreen_top.png") left top repeat-x, url("even/background_grassgreen_left.png") left top repeat-y, url("even/background_grassgreen_right.png") right top repeat-y, url("even/background_grassgreen_center.png") left top repeat, #5eb902;
}
.subjectView .timetable .cycleday .period.even .subject.darkbrown {
  background: url("even/background_darkbrown_bottom_left.png") left bottom no-repeat, url("even/background_darkbrown_bottom_right.png") right bottom no-repeat, url("even/background_darkbrown_bottom.png") left bottom repeat-x, url("even/background_darkbrown_top_left.png") left top no-repeat, url("even/background_darkbrown_top_right.png") right top no-repeat, url("even/background_darkbrown_top.png") left top repeat-x, url("even/background_darkbrown_left.png") left top repeat-y, url("even/background_darkbrown_right.png") right top repeat-y, url("even/background_darkbrown_center.png") left top repeat, #562b01;
}
.subjectView .timetable .cycleday .period.even .subject.lightbrown {
  background: url("even/background_lightbrown_bottom_left.png") left bottom no-repeat, url("even/background_lightbrown_bottom_right.png") right bottom no-repeat, url("even/background_lightbrown_bottom.png") left bottom repeat-x, url("even/background_lightbrown_top_left.png") left top no-repeat, url("even/background_lightbrown_top_right.png") right top no-repeat, url("even/background_lightbrown_top.png") left top repeat-x, url("even/background_lightbrown_left.png") left top repeat-y, url("even/background_lightbrown_right.png") right top repeat-y, url("even/background_lightbrown_center.png") left top repeat, #ac8152;
}
.subjectView .timetable .cycleday .period.even .subject.deeporange {
  background: url("even/background_deeporange_bottom_left.png") left bottom no-repeat, url("even/background_deeporange_bottom_right.png") right bottom no-repeat, url("even/background_deeporange_bottom.png") left bottom repeat-x, url("even/background_deeporange_top_left.png") left top no-repeat, url("even/background_deeporange_top_right.png") right top no-repeat, url("even/background_deeporange_top.png") left top repeat-x, url("even/background_deeporange_left.png") left top repeat-y, url("even/background_deeporange_right.png") right top repeat-y, url("even/background_deeporange_center.png") left top repeat, #ff6600;
}
.subjectView .timetable .cycleday .period.even .subject.orange {
  background: url("even/background_orange_bottom_left.png") left bottom no-repeat, url("even/background_orange_bottom_right.png") right bottom no-repeat, url("even/background_orange_bottom.png") left bottom repeat-x, url("even/background_orange_top_left.png") left top no-repeat, url("even/background_orange_top_right.png") right top no-repeat, url("even/background_orange_top.png") left top repeat-x, url("even/background_orange_left.png") left top repeat-y, url("even/background_orange_right.png") right top repeat-y, url("even/background_orange_center.png") left top repeat, #ff9900;
}
.subjectView .timetable .cycleday .period.even .subject.grey {
  background: url("even/background_grey_bottom_left.png") left bottom no-repeat, url("even/background_grey_bottom_right.png") right bottom no-repeat, url("even/background_grey_bottom.png") left bottom repeat-x, url("even/background_grey_top_left.png") left top no-repeat, url("even/background_grey_top_right.png") right top no-repeat, url("even/background_grey_top.png") left top repeat-x, url("even/background_grey_left.png") left top repeat-y, url("even/background_grey_right.png") right top repeat-y, url("even/background_grey_center.png") left top repeat, #8e8c8c;
}
.subjectView .timetable .cycleday .period.even .subject.darkgrey {
  background: url("even/background_darkgrey_bottom_left.png") left bottom no-repeat, url("even/background_darkgrey_bottom_right.png") right bottom no-repeat, url("even/background_darkgrey_bottom.png") left bottom repeat-x, url("even/background_darkgrey_top_left.png") left top no-repeat, url("even/background_darkgrey_top_right.png") right top no-repeat, url("even/background_darkgrey_top.png") left top repeat-x, url("even/background_darkgrey_left.png") left top repeat-y, url("even/background_darkgrey_right.png") right top repeat-y, url("even/background_darkgrey_center.png") left top repeat, #4c4949;
}
.subjectView .timetable .cycleday .period.even .subject.white {
  background: url("even/background_white_bottom_left.png") left bottom no-repeat, url("even/background_white_bottom_right.png") right bottom no-repeat, url("even/background_white_bottom.png") left bottom repeat-x, url("even/background_white_top_left.png") left top no-repeat, url("even/background_white_top_right.png") right top no-repeat, url("even/background_white_top.png") left top repeat-x, url("even/background_white_left.png") left top repeat-y, url("even/background_white_right.png") right top repeat-y, url("even/background_white_center.png") left top repeat, #ffffff;
}
.subjectView .timetable .cycleday .period.even .subject.black {
  background: url("even/background_black_bottom_left.png") left bottom no-repeat, url("even/background_black_bottom_right.png") right bottom no-repeat, url("even/background_black_bottom.png") left bottom repeat-x, url("even/background_black_top_left.png") left top no-repeat, url("even/background_black_top_right.png") right top no-repeat, url("even/background_black_top.png") left top repeat-x, url("even/background_black_left.png") left top repeat-y, url("even/background_black_right.png") right top repeat-y, url("even/background_black_center.png") left top repeat, #000000;
}
.subjectView .timetable .cycleday .period.odd .subject.maroon {
  background: url("odd/background_marone_bottom_left.png") left bottom no-repeat, url("odd/background_marone_bottom_right.png") right bottom no-repeat, url("odd/background_marone_bottom.png") left bottom repeat-x, url("odd/background_marone_top_left.png") left top no-repeat, url("odd/background_marone_top_right.png") right top no-repeat, url("odd/background_marone_top.png") left top repeat-x, url("odd/background_marone_left.png") left top repeat-y, url("odd/background_marone_right.png") right top repeat-y, url("odd/background_marone_center.png") left top repeat, #650033;
}
.subjectView .timetable .cycleday .period.odd .subject.red {
  background: url("odd/background_red_bottom_left.png") left bottom no-repeat, url("odd/background_red_bottom_right.png") right bottom no-repeat, url("odd/background_red_bottom.png") left bottom repeat-x, url("odd/background_red_top_left.png") left top no-repeat, url("odd/background_red_top_right.png") right top no-repeat, url("odd/background_red_top.png") left top repeat-x, url("odd/background_red_left.png") left top repeat-y, url("odd/background_red_right.png") right top repeat-y, url("odd/background_red_center.png") left top repeat, #cd0000;
}
.subjectView .timetable .cycleday .period.odd .subject.pink {
  background: url("odd/background_pink_bottom_left.png") left bottom no-repeat, url("odd/background_pink_bottom_right.png") right bottom no-repeat, url("odd/background_pink_bottom.png") left bottom repeat-x, url("odd/background_pink_top_left.png") left top no-repeat, url("odd/background_pink_top_right.png") right top no-repeat, url("odd/background_pink_top.png") left top repeat-x, url("odd/background_pink_left.png") left top repeat-y, url("odd/background_pink_right.png") right top repeat-y, url("odd/background_pink_center.png") left top repeat, #ff33ff;
}
.subjectView .timetable .cycleday .period.odd .subject.purple {
  background: url("odd/background_purple_bottom_left.png") left bottom no-repeat, url("odd/background_purple_bottom_right.png") right bottom no-repeat, url("odd/background_purple_bottom.png") left bottom repeat-x, url("odd/background_purple_top_left.png") left top no-repeat, url("odd/background_purple_top_right.png") right top no-repeat, url("odd/background_purple_top.png") left top repeat-x, url("odd/background_purple_left.png") left top repeat-y, url("odd/background_purple_right.png") right top repeat-y, url("odd/background_purple_center.png") left top repeat, #6734cc;
}
.subjectView .timetable .cycleday .period.odd .subject.darkblue {
  background: url("odd/background_darkblue_bottom_left.png") left bottom no-repeat, url("odd/background_darkblue_bottom_right.png") right bottom no-repeat, url("odd/background_darkblue_bottom.png") left bottom repeat-x, url("odd/background_darkblue_top_left.png") left top no-repeat, url("odd/background_darkblue_top_right.png") right top no-repeat, url("odd/background_darkblue_top.png") left top repeat-x, url("odd/background_darkblue_left.png") left top repeat-y, url("odd/background_darkblue_right.png") right top repeat-y, url("odd/background_darkblue_center.png") left top repeat, #000066;
}
.subjectView .timetable .cycleday .period.odd .subject.skyblue {
  background: url("odd/background_skyblue_bottom_left.png") left bottom no-repeat, url("odd/background_skyblue_bottom_right.png") right bottom no-repeat, url("odd/background_skyblue_bottom.png") left bottom repeat-x, url("odd/background_skyblue_top_left.png") left top no-repeat, url("odd/background_skyblue_top_right.png") right top no-repeat, url("odd/background_skyblue_top.png") left top repeat-x, url("odd/background_skyblue_left.png") left top repeat-y, url("odd/background_skyblue_right.png") right top repeat-y, url("odd/background_skyblue_center.png") left top repeat, #3367ff;
}
.subjectView .timetable .cycleday .period.odd .subject.cyan {
  background: url("odd/background_cyan_bottom_left.png") left bottom no-repeat, url("odd/background_cyan_bottom_right.png") right bottom no-repeat, url("odd/background_cyan_bottom.png") left bottom repeat-x, url("odd/background_cyan_top_left.png") left top no-repeat, url("odd/background_cyan_top_right.png") right top no-repeat, url("odd/background_cyan_top.png") left top repeat-x, url("odd/background_cyan_left.png") left top repeat-y, url("odd/background_cyan_right.png") right top repeat-y, url("odd/background_cyan_center.png") left top repeat, #00aeef;
}
.subjectView .timetable .cycleday .period.odd .subject.aqua {
  background: url("odd/background_aqua_bottom_left.png") left bottom no-repeat, url("odd/background_aqua_bottom_right.png") right bottom no-repeat, url("odd/background_aqua_bottom.png") left bottom repeat-x, url("odd/background_aqua_top_left.png") left top no-repeat, url("odd/background_aqua_top_right.png") right top no-repeat, url("odd/background_aqua_top.png") left top repeat-x, url("odd/background_aqua_left.png") left top repeat-y, url("odd/background_aqua_right.png") right top repeat-y, url("odd/background_aqua_center.png") left top repeat, #02a4a4;
}
.subjectView .timetable .cycleday .period.odd .subject.darkgreen {
  background: url("odd/background_darkgreen_bottom_left.png") left bottom no-repeat, url("odd/background_darkgreen_bottom_right.png") right bottom no-repeat, url("odd/background_darkgreen_bottom.png") left bottom repeat-x, url("odd/background_darkgreen_top_left.png") left top no-repeat, url("odd/background_darkgreen_top_right.png") right top no-repeat, url("odd/background_darkgreen_top.png") left top repeat-x, url("odd/background_darkgreen_left.png") left top repeat-y, url("odd/background_darkgreen_right.png") right top repeat-y, url("odd/background_darkgreen_center.png") left top repeat, #006500;
}
.subjectView .timetable .cycleday .period.odd .subject.grassgreen {
  background: url("odd/background_grassgreen_bottom_left.png") left bottom no-repeat, url("odd/background_grassgreen_bottom_right.png") right bottom no-repeat, url("odd/background_grassgreen_bottom.png") left bottom repeat-x, url("odd/background_grassgreen_top_left.png") left top no-repeat, url("odd/background_grassgreen_top_right.png") right top no-repeat, url("odd/background_grassgreen_top.png") left top repeat-x, url("odd/background_grassgreen_left.png") left top repeat-y, url("odd/background_grassgreen_right.png") right top repeat-y, url("odd/background_grassgreen_center.png") left top repeat, #5eb902;
}
.subjectView .timetable .cycleday .period.odd .subject.darkbrown {
  background: url("odd/background_darkbrown_bottom_left.png") left bottom no-repeat, url("odd/background_darkbrown_bottom_right.png") right bottom no-repeat, url("odd/background_darkbrown_bottom.png") left bottom repeat-x, url("odd/background_darkbrown_top_left.png") left top no-repeat, url("odd/background_darkbrown_top_right.png") right top no-repeat, url("odd/background_darkbrown_top.png") left top repeat-x, url("odd/background_darkbrown_left.png") left top repeat-y, url("odd/background_darkbrown_right.png") right top repeat-y, url("odd/background_darkbrown_center.png") left top repeat, #562b01;
}
.subjectView .timetable .cycleday .period.odd .subject.lightbrown {
  background: url("odd/background_lightbrown_bottom_left.png") left bottom no-repeat, url("odd/background_lightbrown_bottom_right.png") right bottom no-repeat, url("odd/background_lightbrown_bottom.png") left bottom repeat-x, url("odd/background_lightbrown_top_left.png") left top no-repeat, url("odd/background_lightbrown_top_right.png") right top no-repeat, url("odd/background_lightbrown_top.png") left top repeat-x, url("odd/background_lightbrown_left.png") left top repeat-y, url("odd/background_lightbrown_right.png") right top repeat-y, url("odd/background_lightbrown_center.png") left top repeat, #ac8152;
}
.subjectView .timetable .cycleday .period.odd .subject.deeporange {
  background: url("odd/background_deeporange_bottom_left.png") left bottom no-repeat, url("odd/background_deeporange_bottom_right.png") right bottom no-repeat, url("odd/background_deeporange_bottom.png") left bottom repeat-x, url("odd/background_deeporange_top_left.png") left top no-repeat, url("odd/background_deeporange_top_right.png") right top no-repeat, url("odd/background_deeporange_top.png") left top repeat-x, url("odd/background_deeporange_left.png") left top repeat-y, url("odd/background_deeporange_right.png") right top repeat-y, url("odd/background_deeporange_center.png") left top repeat, #ff6600;
}
.subjectView .timetable .cycleday .period.odd .subject.orange {
  background: url("odd/background_orange_bottom_left.png") left bottom no-repeat, url("odd/background_orange_bottom_right.png") right bottom no-repeat, url("odd/background_orange_bottom.png") left bottom repeat-x, url("odd/background_orange_top_left.png") left top no-repeat, url("odd/background_orange_top_right.png") right top no-repeat, url("odd/background_orange_top.png") left top repeat-x, url("odd/background_orange_left.png") left top repeat-y, url("odd/background_orange_right.png") right top repeat-y, url("odd/background_orange_center.png") left top repeat, #ff9900;
}
.subjectView .timetable .cycleday .period.odd .subject.grey {
  background: url("odd/background_grey_bottom_left.png") left bottom no-repeat, url("odd/background_grey_bottom_right.png") right bottom no-repeat, url("odd/background_grey_bottom.png") left bottom repeat-x, url("odd/background_grey_top_left.png") left top no-repeat, url("odd/background_grey_top_right.png") right top no-repeat, url("odd/background_grey_top.png") left top repeat-x, url("odd/background_grey_left.png") left top repeat-y, url("odd/background_grey_right.png") right top repeat-y, url("odd/background_grey_center.png") left top repeat, #8e8c8c;
}
.subjectView .timetable .cycleday .period.odd .subject.darkgrey {
  background: url("odd/background_darkgrey_bottom_left.png") left bottom no-repeat, url("odd/background_darkgrey_bottom_right.png") right bottom no-repeat, url("odd/background_darkgrey_bottom.png") left bottom repeat-x, url("odd/background_darkgrey_top_left.png") left top no-repeat, url("odd/background_darkgrey_top_right.png") right top no-repeat, url("odd/background_darkgrey_top.png") left top repeat-x, url("odd/background_darkgrey_left.png") left top repeat-y, url("odd/background_darkgrey_right.png") right top repeat-y, url("odd/background_darkgrey_center.png") left top repeat, #4c4949;
}
.subjectView .timetable .cycleday .period.odd .subject.white {
  background: url("odd/background_white_bottom_left.png") left bottom no-repeat, url("odd/background_white_bottom_right.png") right bottom no-repeat, url("odd/background_white_bottom.png") left bottom repeat-x, url("odd/background_white_top_left.png") left top no-repeat, url("odd/background_white_top_right.png") right top no-repeat, url("odd/background_white_top.png") left top repeat-x, url("odd/background_white_left.png") left top repeat-y, url("odd/background_white_right.png") right top repeat-y, url("odd/background_white_center.png") left top repeat, #ffffff;
}
.subjectView .timetable .cycleday .period.odd .subject.black {
  background: url("odd/background_black_bottom_left.png") left bottom no-repeat, url("odd/background_black_bottom_right.png") right bottom no-repeat, url("odd/background_black_bottom.png") left bottom repeat-x, url("odd/background_black_top_left.png") left top no-repeat, url("odd/background_black_top_right.png") right top no-repeat, url("odd/background_black_top.png") left top repeat-x, url("odd/background_black_left.png") left top repeat-y, url("odd/background_black_right.png") right top repeat-y, url("odd/background_black_center.png") left top repeat, #000000;
}
.subjectView .timetable .cycleday .period.tiny .periodName {
  top: -2px !important;
}
.subjectView .timetable .cycleday .period .periodName {
  display: block;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 10px;
  right: 10px;
  font-family: "Diary Font";
  font-size: 11px;
  font-weight: 600;
  color: #888888;
  /*text-shadow: white 1px 1px 1px;*/
  text-align: center;
  line-height: 15px;
  overflow: hidden;
}
.subjectView .timetable .cycleday .period .periodName span {
  width: 100%;
  display: inline-block;
}
.subjectView .timetable .cycleday .period .periodName span.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  color: #212121;
}
.subjectView .timetable .cycleday .period .label {
  display: none;
}
.subjectView .timetable .cycleday .period .subject {
  display: block;
  left: 2px;
  right: 0px;
  top: 3px;
  bottom: 0px;
}
.subjectView .timetable .cycleday .period .subject input {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  text-align: center;
  border: none;
  background: none;
  color: #000000;
  font-family: "Diary Font";
  font-weight: 600;
}
.subjectView .timetable .cycleday .period .subject input:focus {
  border: 1px solid black;
}
.subjectView .timetable .cycleday .period .subject input[name=subject] {
  top: 20px;
}
.subjectView .timetable .cycleday .period .subject input[name=room] {
  top: 40px;
}
.subjectView .timetable .cycleday .period .subject.maroon input,
.subjectView .timetable .cycleday .period .subject.maroon input:focus,
.subjectView .timetable .cycleday .period .subject.maroon div.periodName,
.subjectView .timetable .cycleday .period .subject.red input,
.subjectView .timetable .cycleday .period .subject.red input:focus,
.subjectView .timetable .cycleday .period .subject.red div.periodName,
.subjectView .timetable .cycleday .period .subject.pink input,
.subjectView .timetable .cycleday .period .subject.pink input:focus,
.subjectView .timetable .cycleday .period .subject.pink div.periodName,
.subjectView .timetable .cycleday .period .subject.purple input,
.subjectView .timetable .cycleday .period .subject.purple input:focus,
.subjectView .timetable .cycleday .period .subject.purple div.periodName,
.subjectView .timetable .cycleday .period .subject.darkblue input,
.subjectView .timetable .cycleday .period .subject.darkblue input:focus,
.subjectView .timetable .cycleday .period .subject.darkblue div.periodName,
.subjectView .timetable .cycleday .period .subject.skyblue input,
.subjectView .timetable .cycleday .period .subject.skyblue input:focus,
.subjectView .timetable .cycleday .period .subject.skyblue div.periodName,
.subjectView .timetable .cycleday .period .subject.cyan input,
.subjectView .timetable .cycleday .period .subject.cyan input:focus,
.subjectView .timetable .cycleday .period .subject.cyan div.periodName,
.subjectView .timetable .cycleday .period .subject.aqua input,
.subjectView .timetable .cycleday .period .subject.aqua input:focus,
.subjectView .timetable .cycleday .period .subject.aqua div.periodName,
.subjectView .timetable .cycleday .period .subject.darkgreen input,
.subjectView .timetable .cycleday .period .subject.darkgreen input:focus,
.subjectView .timetable .cycleday .period .subject.darkgreen div.periodName,
.subjectView .timetable .cycleday .period .subject.grassgreen input,
.subjectView .timetable .cycleday .period .subject.grassgreen input:focus,
.subjectView .timetable .cycleday .period .subject.grassgreen div.periodName,
.subjectView .timetable .cycleday .period .subject.darkbrown input,
.subjectView .timetable .cycleday .period .subject.darkbrown input:focus,
.subjectView .timetable .cycleday .period .subject.darkbrown div.periodName,
.subjectView .timetable .cycleday .period .subject.lightbrown input,
.subjectView .timetable .cycleday .period .subject.lightbrown input:focus,
.subjectView .timetable .cycleday .period .subject.lightbrown div.periodName,
.subjectView .timetable .cycleday .period .subject.deeporange input,
.subjectView .timetable .cycleday .period .subject.deeporange input:focus,
.subjectView .timetable .cycleday .period .subject.deeporange div.periodName,
.subjectView .timetable .cycleday .period .subject.orange input,
.subjectView .timetable .cycleday .period .subject.orange input:focus,
.subjectView .timetable .cycleday .period .subject.orange div.periodName,
.subjectView .timetable .cycleday .period .subject.grey input,
.subjectView .timetable .cycleday .period .subject.grey input:focus,
.subjectView .timetable .cycleday .period .subject.grey div.periodName,
.subjectView .timetable .cycleday .period .subject.darkgrey input,
.subjectView .timetable .cycleday .period .subject.darkgrey input:focus,
.subjectView .timetable .cycleday .period .subject.darkgrey div.periodName,
.subjectView .timetable .cycleday .period .subject.black input,
.subjectView .timetable .cycleday .period .subject.black input:focus,
.subjectView .timetable .cycleday .period .subject.black div.periodName {
  color: #ffffff;
  text-shadow: none;
}
.subjectView .timetable .cycleday .period .subject.white input,
.subjectView .timetable .cycleday .period .subject.white input:focus {
  color: #000000;
}
.subjectcolour {
  width: 16px;
  height: 16px;
  cursor: pointer;
  /*display: block;*/
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.subjectcolour.maroon {
  background-color: #650033;
}
.subjectcolour.red {
  background-color: #cd0000;
}
.subjectcolour.pink {
  background-color: #ff33ff;
}
.subjectcolour.purple {
  background-color: #6734cc;
}
.subjectcolour.darkblue {
  background-color: #000066;
}
.subjectcolour.skyblue {
  background-color: #3367ff;
}
.subjectcolour.cyan {
  background-color: #00aeef;
}
.subjectcolour.aqua {
  background-color: #02a4a4;
}
.subjectcolour.darkgreen {
  background-color: #006500;
}
.subjectcolour.grassgreen {
  background-color: #5eb902;
}
.subjectcolour.darkbrown {
  background-color: #562b01;
}
.subjectcolour.lightbrown {
  background-color: #ac8152;
}
.subjectcolour.deeporange {
  background-color: #ff6600;
}
.subjectcolour.orange {
  background-color: #ff9900;
}
.subjectcolour.grey {
  background-color: #8e8c8c;
}
.subjectcolour.darkgrey {
  background-color: #4c4949;
}
.subjectcolour.black {
  background-color: #000000;
}
.subjectcolour.white {
  background-color: #ffffff;
  border: 1px solid #000000;
  /* Account for the border on the white colour swatch */

  width: 14px;
  height: 14px;
}
.panels {
  display: block;
  width: 250px;
  top: 32px;
  bottom: 32px;
}
.panels .panel {
  display: block;
  position: relative;
  margin-bottom: 13px;
}
.panels .panel .instruction {
  display: block;
  font-family: "Diary Font";
  font-size: 11px;
  color: #888888;
  font-weight: bold;
  padding: 8px;
}
.panels .panel .title {
  /* height: 26px;
  margin-right: 2px;
  border-left: none;
  border-bottom: none;
  border-top: 1px #dddddd solid;
  border-right: 1px #dddddd solid;
  border-top-right-radius: 8px;
  display: block;
  font-family: "Diary Font";
  font-size: 18px;
  color: #4a4a4a;
  text-transform: none;
  height: 22px;
  padding-top: 4px;
  padding-left: 12px;
  text-align: left;
  font-weight: normal; */
	
	padding: 8px;
	border-radius: 5px 5px 0 0;
	background: #e1e1e6;
	text-align: center;
	font-family: "Diary Font";
	font-size: 14px;
	color: #4a4a4a;
	font-weight: bold;
}
.panels .panel .items {
  display: block;
  position: relative;
  width: 173px;
  top: 0;
  background: url(subjects_panel_top_left.png) left top no-repeat, url(subjects_panel_top_right.png) right top no-repeat, url(subjects_panel_bottom_left.png) left bottom no-repeat, url(subjects_panel_bottom_right.png) right bottom no-repeat, url(subjects_panel_top.png) left top repeat-x, url(subjects_panel_bottom.png) left bottom repeat-x, url(subjects_panel_left.png) left top repeat-y, url(subjects_panel_right.png) right top repeat-y, url(subjects_panel_center.png) left top repeat, #fbfbfb;
}
.panels .panel .items .item {
  position: relative;
  height: 25px;
  display: block;
  color: #888888;
  padding-left: 8px;
  padding-right: 8px;
  /* CSS arrow */

}
.panels .panel .items .item:first-child {
  padding-top: 8px;
}
.panels .panel .items .item:last-child {
  padding-bottom: 8px;
}
.panels .panel .items .item .subjectItemWrapper {
  position: relative;
}

.truncateSubjectName{
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow:hidden;
}

.panels .panel .items .item .subjectcolour {
  position: absolute;
  top: 4px;
  left: 4px;
}
.panels .panel .items .item input {
  background-color: transparent;
  position: absolute;
  left: 20px;
  right: 4px;
  top: 2px;
  font-family: "Diary Font";
  font-weight: 600;
  color: #888888;
  border: none;
}
.SubjectBgColor
{

    width: 100px;
    height: 40px;
    margin: 5px;
    background-color: #b2b1b1;border-top: 4px solid #000066;
}
.panels .panel .items .item input:focus {
  border: 1px solid black;
}
.panels .panel .items .item .timetableName,
.panels .panel .items .item .timetableDescription {
  padding-left: 4px;
}
.panels .panel .items .item .timetableName {
	font-size: 12px;
	color: #4a4a4a;
	font-weight: bold;
	
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
}
.panels .panel .items .item .timetableDescription {
  font-size: 10px;
}
.panels .panel .items .item .selectedIndicator {
  position: absolute;
  left: -12px;
  top: 12px;
  width: 11px;
  height: 15px;
}

.panels .panel .items .itemCurrent {
  background-color: #fae6e6;
}
.panels .panel .items .timetableItem {
  border-bottom: solid #d4d4d4 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: hand;
}
#classFormSubjectColourPicker .popupContent,
#subjectColourPicker .popupContent {
  width: 72px;
  height: 138px;
}
#classFormSubjectColourPicker .popupContent .subjectcolour,
#subjectColourPicker .popupContent .subjectcolour {
  float: left;
  margin-left: 6px;
  margin-top: 6px;
  position: relative;
}
/*
 * Overriding CSS for autocomplete plugin
 */
ul.ui-autocomplete li.ui-menu-item a.ui-corner-all {
  border-radius: 0;
}
ul.ui-autocomplete li.ui-menu-item a.ui-corner-all.ui-state-hover {
  background: #ededed;
  font-weight: bold;
  border: none;
}
#classFormEditPopup td.colour .subjectColourSwatch {
  display: inline-block;
  margin-top: 2px;
}
#classFormEditPopup td.colour .colourName {
  display: inline-block;
  margin-left: 4px;
  margin-top: 6px;
  vertical-align: top;
}
