.contentNavigation {
	position: absolute;
	display: block;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color:#ffffff;
}

.panelContent td
{
	vertical-align: top;
	padding-top: 2px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 15px;
	font-size: 12px;
}

/*
.article,
.article h1, 
.article h2, 
.article p, 
.article span,
.article table,
.article td,
.article th, 
.article strong, 
.article em {
	cursor: none;
}

.article h1
{
	font-family: "Diary Font"; 
	font-size: 20px;
	font-weight: 400;
	margin-top: 0;
	padding-top: 0;	
	color:090912;
}

.article h2 
{
	font-family: "Diary Font";
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	color:090912;
}

.article p, .article td 
{
	font-family: "Diary Font";
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
}

.article table 
{
	border-width: 0px;
	border-collapse: collapse;
    border: none;
}

.article th 
{
	font-family: "Diary Font";
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	padding: 2px 6px;
	background-color: #f9f9f9;
    vertical-align: top;
}

.article td 
{
	text-align: left;
	padding: 2px 16px;
    vertical-align: top;
}

.article table.border th,
.article table.border td
{
    border-width: thin;
    border-style: solid;
    border-color: #f9f9f9;
}

.article img {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
	draggable: false;
}

.article li {
    list-style-position:inside;
}


.article strong {
	font-weight: bold;
}

.article em {
	font-style: italic;
}

.article input[type="text"],
.article textarea
{
    font-family: "Comic Sans MS", cursive;
    color: blue;
    border: 1px dotted grey;
}

.article table th input[type="text"],
.article table td input[type="text"],
.article table td textarea
{
    width: 100%;
}*/


.contentNavPanel {
	position: fixed;
	right: 10px;
	top: 111px;
	bottom: 89px;
	width: 245px;
	-webkit-transition: width 400ms;
}

.contentNavPanel.panelMinimised {
	width: 0px;
	-webkit-transition: width 400ms;
}

.contentNavPanelBackground {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: 
		url(panel_topleft.png) left top no-repeat, 
		url(panel_topright.png) right top no-repeat, 
		url(panel_bottomleft_curved.png) left bottom no-repeat, 
		url(panel_bottomright.png) right bottom no-repeat, 
		url(panel_top.png) left top repeat-x,
		url(panel_bottom.png) left bottom repeat-x,
		url(panel_left.png) left top repeat-y,
		url(panel_right.png) right top repeat-y,
		#f9f9f9;
}

.contentNavPanel.panelMinimised .contentNavPanelBackground {
/*	display:none;*/
}

.contentNavPanel .contentNavListWrapper {
	display: block;
	position: absolute;
	left:0px;
	top:0px;
	bottom: 0px;
	overflow-y: auto;
	min-width: 245px;
}

.contentNavPanel ul.contentNavList li {
	font-family: "Diary Font";
	font-size: 14px;
	color: #494949;
	list-style-image: url(bullet.png);
	padding-bottom: 22px;
	cursor: pointer;
}

.contentNavPanel ul.contentNavList li:hover {
	font-weight: bold;
}

.contentNavPanel ul.contentNavList li.selected {
	/* font-weight: 600; */
	color: #024584;
}

.contentNavPanel ul.contentNavList li:hover.selected {
	cursor: auto;
}

.contentNavPanel .contentNavTab {
	display: block;
	position: absolute;
	width: 29px;
	left: -28px;
	height: 129px;
	top: 0px;
	/*background: 
		url(toptab_top.png) left top no-repeat,
		url(toptab_bottom.png) left bottom no-repeat,
		url(toptab_middle.png) left top repeat-y,
		#f9f9f9;
*/
	cursor: pointer;
}

.contentNavPanel.panelMinimised .contentNavTab {
	display: block;
	position: absolute;
	width: 29px;
	left: -28px;
	height: 129px;
	top: 0px;
	/*background: 
		url(tab_top_minimised.png) left top no-repeat,
		url(tab_bottom_minimised.png) left bottom no-repeat,
		url(tab_middle_minimised.png) left top repeat-y,
		#f9f9f9;
*/
	cursor: pointer;
}

.contentNavPanel .contentNavTab .informationTab {
	display:block;
	position: absolute;
	width: 29px;
	top:150px;
	height: 129px;
	background: url(information_title.png) center no-repeat;
	transition: width 2s;
}

.contentNavPanel.panelMinimised .contentNavTab .informationTab {
	top:150px;
	height: 128px;
}

.contentNavigation .contentNavigationPanel {
	display: block;
	position: absolute;
	left: 0px;
	right: 284px;
	top: 0px;
	bottom: 0px;
	-webkit-transition: right 400ms;
	padding: 32px;
	color:090912;
	
	
}

.contentNavigation .contentNavPanel + .contentNavigationPanel {
	right: 284px;
	-webkit-transition: right 400ms;
}

.contentNavigation .contentNavPanel.panelMinimised + .contentNavigationPanel {
	right: 40px;
	-webkit-transition: right 400ms;
}

.contentNavigation .contentNavigationPanel .contentBreadcrumbs {
	position: absolute;
	display: block;
}

.contentNavigation .contentNavigationPanel .contentBreadcrumbs ul {
	padding-left: 0px;
}


.contentNavigation .contentNavigationPanel .contentBreadcrumbs ul li {
	display: inline-block;
	padding-left: 21px;
	font-family: "Diary Font";
	font-size: 11px;
	font-weight: 400;
	color: #969494;
	background: url(breadcrumb.png) center left no-repeat;
	text-transform: uppercase;
}

.contentNavigation .contentNavigationPanel .contentBreadcrumbs ul li:first-of-type {
	padding-left: 0px;
	background: none;
}

.contentNavigation .contentNavigationPanel .contentNavigationPrevious {
	display: block;
	position: absolute;
	bottom: 15px;	/* include the padding of .contentNavigationPanel */
	left: 32px; 
	height:21px;
	z-index:999999;
}

.contentNavigation .contentNavigationPanel .contentNavigationPrevious a {

	background: url(backbtn.png) center left no-repeat;
	cursor: pointer;
	width:21px;
	height:21px;
	padding:8px 0px 8px 30px;
	z-index:999999;
}

.contentNavigation .contentNavigationPanel .contentNavigationNext {
	display: block;
	position: absolute;
	bottom: 20px;	/* include the padding of .contentNavigationPanel */
	right: 19px; 
	z-index:999999;
}

.contentNavigation .contentNavigationPanel .contentNavigationNext a {
	padding-right: 11px;
	background: url(nextbtn.png) center right no-repeat;
	cursor: pointer;
	padding:8px 30px 8px 8px;
	width:21px;
	height:21px;
	z-index:999999;
}

.contentNavigation .contentNavigationPanel a {
	font-family: "Diary Font";
	color: #024584;
	font-size: 12px;
	text-decoration: none;
	font-weight: 300;
	
}

.contentNavigation .contentNavigationPanel a strong {
	font-weight: bold;
}

.contentNavigation .contentNavigationPanel a:hover {
	color: #024584;
	text-decoration: none;
}

.contentNavigation .contentNavigationPanel .contentNavigationBody {
	position: absolute;
	display: block;
	left: 32px;		/* include the padding of .contentNavigationPanel */
	right: 5px;
	top: 10px;		/* include the padding of .contentNavigationPanel */
	bottom: 42px;	/* include the padding of .contentNavigationPanel */
	overflow-x: scroll;
	overflow-y: scroll;
	padding-right: 10px;
	font-family: "Diary Font";
	
	
}


/* Test css code */
#green {
	list-style: none inside url("RecycleSymbol_li.png");
	margin-bottom: 12px;
}
.article ol {
	list-style-position: inside;
	margin-left: -40px;
}

#bully {
	list-style: none inside url("stopSign_li.png");
	margin-bottom: 12px;
}

body {
	margin: 0;
	padding: 0;
}

body, td, th {
	font-family: Arial;
	font-size: 11px;	
}
.border {
	border-right-width: medium;
	border-right-style: outset;
	border-right-color: #999;
}
/* 
Article 
*/
.article h1
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-top: 0;
	padding-top: 0;
}
.article h2 
{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}
.article h3 {
	margin-bottom: 0px;
}
.article  h4 {
	margin-top: 2px;
	margin-bottom: 2px;
}
.article p ol ul {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	line-height: 20px;
}
.article 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
}
.article table 
{
	border-collapse: collapse;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.article th 
{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding: 2px 6px;
	vertical-align: top;
}
.article td 
{
	vertical-align: top;
	padding-top: 2px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 15px;
	font-size: 12px;
}
.article img {
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-top: 10px;
	
}
.article ol {
	list-style-position: inside;
	margin-left: -40px;
	font-size: 14px;
	line-height: 20px;
	font-weight:bold;
}
.article li {
	margin-bottom: 20px;
}
.article ul {
	margin-top: 2px;
	margin-bottom: 0px;
}


.article table.border th, 
.article table.border td 
{
	border-width: thin;
	border-style: solid;
	border-color: #f9f9f9;
}

.article table img {
	margin-right: 25px;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-top: 5px;
	display: block;
	max-width: 80%;
	height: auto;
}

/* 
Empower Panel 
*/
.panel {
	width: 220px;
}

.panel h1
{
	font-family: Arial; 
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	padding-bottom: 15px;
}

.panel h2 
{
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	line-height: 11px;
	margin: 0;
	padding-top: 15px;
}

.panel
{
	font-family: Arial;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	margin: 0;
}

.panel table 
{
	border-width: 0px;
	border-collapse: collapse;
	border: none;
}

.panel th 
{
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	padding: 2px;
	background-color: #f9f9f9;
}

.panel td 
{
	text-align: left;
	padding: 2px;
	border: none;
	vertical-align: top;
}

.panel table.border th, 
.panel table.border td 
{
	border-width: thin;
	border-style: solid;
	border-color: #f9f9f9;
}

.panel img {
	float: left;
	width: 220px;
}

.panel li {
	list-style-position: inside;
	margin-left: -10px;
}

.article input[type="text"],
.panel input[type="text"],
.article textarea,
.panel textarea
{
	font-family: "Comic Sans MS", cursive;
	color: blue;
	border: 1px dotted grey;
}

.article table th input[type="text"],
.article table td input[type="text"],
.article table td textarea,
.panel table th input[type="text"],
.panel table td input[type="text"],
.panel table td textarea
{
	width: 100%;
}

.article.oneFour_col{
	margin:0;
	padding:0;
	float:left;
	width:25%;
	background:#C00;
}
.whText {
	color: #FFF;
}



