@period-drop-target-color: #E7FCE6;

.dayView {
	padding: 0 59px 0 58px;

	.calendarNavigation {
		position: absolute;
		right: 40px;
	}

	.selectedDayLabel {
		float: left;
		height: 56px;

		h2, h3 {
			margin: 0;
			padding: 0;
			font-weight: normal;
			font-size: 20px;
		}

		h3 {
			color: #8c8c8c;
			font-size: 11px;

			em {
				font-style: normal;
				font-size: 14px;
				color: #CCCCCC;
			}
		}
	}

	.calendarContainer {
		clear: both;
		border: 1px solid #d9d9d9;
		position: absolute;
		top: 90px;
		left: 58px;
		right: 59px;
		bottom: 36px;

		.addContainer {
			float: right;
			width: 45px;

			.addDiaryItemButton {
				position: absolute;
				top: 50%;
				margin-top: -8px;
			}
		}


		.allDayContainer {
			border-bottom: 1px solid #e8e8e8;
			background: url(img/vertical-stripes.png);
			min-height: 30px;
			position: relative;
			padding: 8px;
			max-height: 50%;
			overflow-y: scroll;
			overflow-x: hidden;

			.itemContainer,
			.eventContainer {
				margin: 0px 45px 0 125px;
				padding: 2px 0;
			}

			.eventContainer {
				margin-left: 130px;
			}

			&.dropTarget {
				background-color: @period-drop-target-color;
			}

			.addContainer {
				width: 30px;
			}
		}

		.periodContainer {
			margin: 0;
			padding: 0;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				overflow-y: scroll;
				overflow-x: hide;
				position: absolute;
				top: 47px;
				bottom: 0;
				right: 0;
				left: 0;

				&::-webkit-scrollbar {
					border-left: 1px solid #d9d9d9;
					background-color: #fbfbfb;
				}

				li {
					position: relative;
					min-height: 45px;
					background: #ffffff;
					border-top: 1px solid #ffffff;
					border-bottom: 1px solid #f1f1f1;
					padding: 6px 0;

					&:first-of-type, &:last-of-type{
						background: url(img/diagonal-stripes.png);
					}
					&.light {
						background: #fcfcfc;
						border-bottom-color: #eeeeee;
					}
					&.dark {
						background: #f2f2f2;
						border-bottom-color: #e5e5e5;
					}
					&.noSubject {
						.subjectLabel {
							display: none;
						}

						.itemContainer {
							margin-left: 133px;
						}

						.eventContainer {
							margin-left: 138px;
						}
					}
					&.dropTarget {
						background-color: @period-drop-target-color;
						background-image: none;
					}

					div {
						display: inline-block;
					}

					.periodLabel {
						position: absolute;
						font-size: 11px;
						color: #858484;
						font-weight: bold;
						text-align: right;
						padding: 12px 13px 3px 3px;
						top: 0px;
						bottom: 0;
						width: 110px;
						border-right: 1px solid #d9d9d9;
					}

					.subjectLabel {
						position: absolute;
						font-size: 11px;
						color: #858484;
						font-weight: bold;
						padding: 12px 3px 3px 13px;
						top: 0px;
						bottom: 0;
						left: 127px;
						width: 82px;
						border-left: 1px solid white;

						strong {
							color: #000000;
						}
					}

					.itemContainer,
					.eventContainer {
						margin: 0px 45px 0 235px;
						padding: 3px 0;
						display: block;
					}

					.eventContainer {
						margin-left: 240px;
					}

					.addContainer {
						width: 38px;
					}
				}
			}
		}
	}
}