@animation-time: 400ms;
@sidebar-width: 250px;
/* Properties from frame.css */
@frame-top: 77px;
@frame-right: 10px;
@frame-bottom: 52px;

.sidebar {
	position: fixed;
	right: @frame-right;
	top: 35px + @frame-top;
	bottom: 37px + @frame-bottom;
	width: @sidebar-width;
	-webkit-transition: width @animation-time;

	&.minimised {
		width: 0px;

		// when minimised, the tasks tab needs to be at the top even
		// though it isn't selected
		.tab.tasks {
			top: 0;
		}

		.contents {
			-webkit-box-shadow: none;
			border: none;
		}
	}

	.tab {
		display: block;
		position: absolute;
		width: 38px;
		left: -38px;
		top: 160px;
		height: 146px;
		background: #ffffff url(img/tab_button.png) no-repeat bottom left;
		cursor: pointer;
		-webkit-transition: top @animation-time;

		-webkit-box-shadow: #bbbbbb 0 0 6px;
		-webkit-border-radius: 7px 0 0 7px;
		border: 1px solid #cccccc;
		border-right: none;

		&:hover {
			-webkit-box-shadow: #999999 0 0 6px;
		}

		// move the selected tab to the top
		&.selected {
			top: 0;
			background-image: url(img/tab_button_selected.png);
			background-position: top left;
			z-index: 4;
			span {
				top: 63px;
			}
		}

		span {
			display: block;
			position: absolute;
			width: 11px;
			height: 44px;
			top: 40px;
			right: 13px;
		}

		&.tasks span {
			background: url(img/tasks.png) no-repeat;
		}

		&.notes span {
			background: url(img/notes.png) no-repeat;
		}
	}

	.contents {
		-webkit-box-shadow: #bbbbbb 0 0 6px;
		-webkit-border-radius: 0 0 0 7px;
		border: 1px solid #cccccc;
		border-right: none;

		position: absolute;
		width: 100%;
		height: 100%;

		.insetShadow {
			z-index: 10;
			position: absolute;
			width: 100%;
			height: 100%;
			-webkit-box-shadow: #dddddd 0 0 10px inset;
			-webkit-border-radius: 0 0 0 7px;
			background-color: #fafafa;
            > div {
              display: none;
              &.selected {
                display: block;
              }
            }
		}

		.topTab {
			text-align: center;
			color: #000000;
			line-height: 36px;
			font-size: 16px;
			position: absolute;
			width: @sidebar-width/2 - 1; // -1 for border
			height: 36px;
			border-bottom: 2px groove #ffffff;
			cursor: pointer;

			&:hover {
				background-color: #ffffff;
			}

			&.assigned {
				margin-left: @sidebar-width/2 - 1; // -1 for border
				border-left: 2px groove #ffffff;
			}

			&.selected {
				border-bottom: none;
				&:hover {
					background-color: transparent;
				}

				+ .tabContent {
					display: block;
				}
			}
		}

		.tabContent {
			position: absolute;
			top: 37px;
			bottom: 1px;
			left: 8px;
			right: 0px;
			overflow-y: scroll;
			padding: 10px 2px;
			display: none;
		}

		.tasks {
			.header {
				display: block;
				position: relative;
				width: 100%;
				height: 18px;
				overflow: hidden;
				font-family: "Diary Font";
				font-weight: 600;
				font-size: 12px;
				-webkit-border-radius: 3px;
				margin-bottom: 11px;
				text-shadow: #ffffff -1px 1px;
				border: 1px solid #D1CFCF;
				color: #999999;
				background-color: #EEEBEB;
				text-transform: capitalize;

				&.hasTasks{
					cursor: pointer;

					.expandButton{
						display: block;
						width: 10px;
						height: 10px;
						top: 4px;
						left: 7px;
						background: url(img/collapsed.png) left top no-repeat;
					}
				}

				div, span {
					position: absolute;
					display: block;
					padding-top: 2px;
				}

				span {
					left: 21px;
				}

				.expandButton {
					display: none;
				}

				&.expanded>.expandButton {
					background-image: url(img/expanded.png);
				}

				.count {
					border: 1px solid #D1CFCF;
					background-color: #F6F5F5;
					top: -1px;
					right: -1px;
					width: 19px;
					height: 16px;
					overflow: hidden;
					text-align:center;
					vertical-align:middle;
					-webkit-border-radius: 3px;
					text-shadow: none;
				}

				&.overdue {
					background-color: #f9e3cc;
					border-color: #eed3b7;
					color: #cf7041;
					.count {
						background-color: #FDF7F0;
						border-color: #eed3b7;
					}
					+ .taskList .title {
						color: #cf7041;
					}
				}

				&.today {
					background-color: #D6EEDC;
					border-color: #c2e0ca;
					color: #339966;
					.count {
						background-color: #F3FAF5;
						border-color: #c2e0ca;
					}
					+ .taskList .title {
						color: #339966;
					}
				}

				// default color scheme is .future
				&.tomorrow {
					color: #666666;
					+ .taskList .title {
						color: #666666;
					}
				}

				&.expanded + .taskList{
					height:auto;
					min-height: 30px;
					max-height: 2000px;
					-webkit-transition: all @animation-time;
				}
			}

			.taskList {
				height: 0;
				overflow: hidden;
				-webkit-transition: all @animation-time;

				.taskListItem {
					position: relative;
					width: 100%;
					height: 35px;
					font-family: "Diary Font";
					font-weight: 600;
					font-size: 13px;
					color: #b2b1b1;
					padding-bottom: 6px;

					div {
						position: absolute;
					}

					.dot {
						width: 16px;
						height: 16px;
						background: url(img/task_dot.png) center no-repeat;

                      	&.completed {
                            width: 20px;
                            height: 14px;
                            background: url(img/task_tick2.png) center no-repeat;
                         }
					}

					.dueTime {
						left: 19px;
					}

					.title {
						left: 19px;
						top: 13px;
						right: 25px;
						height: 20px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						color: #999999;
						span {
							text-transform: capitalize;
						}
					}
				}
			}
		}

		.notes {
			position: absolute;
			top: 1px;
			bottom: 1px;
			left: 8px;
			right: 0px;
			overflow-y: scroll;
			padding: 10px 2px;
			overflow-x: hidden;

			.note {
				position: relative;
				padding-bottom: 11px;
				font-family: "Diary Font";
				font-weight: 600;
				font-size: 12px;

				.dot {
					position: absolute;
					width: 16px;
					height: 16px;
					background: url(img/task_dot.png) center no-repeat;
				}

				.creationDate {
					position: relative;
					left: 19px;
					color: #999999;
				}

				.title {
					position: relative;
					margin: 0 25px 0 19px;
					color: #4a4a4a;
				}
			}

			.noteDetail {
				position: relative;
				padding: 6px 10px;
				padding-bottom: 40px;
				font-family: "Diary Font";
				font-weight: 600;
				font-size: 12px;

				.noteBack {
					text-transform: uppercase;
					color: #b2b1b1;
					background: url(img/notes_back.png) top left no-repeat;
					padding-left: 20px;
					font-weight: bold;
					font-height: 13px;
				}

				.noteHeader {
					padding-top: 20px;
					padding-bottom: 20px;
					border-bottom: 1px solid #999999;

					.noteCreationDate {
						color: #b2b1b1;
					}

					.noteTitle {
						color: #8D8D8D;
					}
				}

				.noteEntry {
					padding-top: 13px;
					padding-bottom: 13px;
					font-weight: 400;
					font-size: 11px;
					overflow-y: scroll;

					.noteEntryDate {
						color: #999999;
					}

					.noteEntryText {
						color: #4a4a4a;
					}
				}

				.fieldContainer {

					textarea {
						width: @sidebar-width - 47px;
						height: 54px;
						font-family: "Diary Font";
						font-size: 11px;

						-webkit-box-shadow: #dddddd 0 0 10px inset;
						-webkit-border-radius: 10px;
						background-color: #ffffff;
						border: 1px solid #dddddd;
						resize: none;
						padding: 3px 10px;
						&::-webkit-scrollbar {
							-webkit-border-radius: 10px 0 10px;
						}
					}
				}

			}
		}

		.notes .link,
		.tasks .link {
			position: absolute;
			width: 17px;
			height: 17px;
			background: url(img/note_link.png) top left no-repeat;
			right: 3px;
			top: 12px;
			cursor: pointer;
		}
	}
}

