@CHARSET "ISO-8859-1";

.MSDList {
	background-image: -webkit-linear-gradient(top, white 0%, #F2F2F2 100%);
	border: 1px solid #ccc;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #333;
	cursor: pointer;
	font-family: Arial, sans-serif;
	padding: 0px;
	text-shadow: white 0px 1px 0px;
	white-space: nowrap;
	position:relative;
	margin:0px;
	width:200px;
	display:inline-block;
}

.MSDList:hover {
	border: 1px solid #aaa;
	background-image: -webkit-linear-gradient(top, #F2F2F2 0%, white 100%);
}

.MSDList,.MSDList_ListTable {
	font-family: tahoma;
	font-size: 12px;
}

.MSDList_InputSection {
	float: left;
/*	background:white;
	background: url(text-bg.gif) repeat-x;*/
}

.MSDList_ButtonSection {
	float: left;
	margin:0px 6px 20px 0px;
/*	background-color:green !important;*/
	background-image: url("down.png") no-repeat no-scroll center center rgba(0, 0, 0, 0);
	/*background:white;
	background:transparent;*/
}

.MSDList_Label {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	cursor: pointer;
	
	background-color:#e0e0e0;
}


.MSDList_DropDownButton {
/*	background: url(text-bg.gif) repeat-x;*/
/*	background-color:red !important;*/
/*	background-image: url("down.png") no-repeat no-scroll center center rgba(0, 0, 0, 0);*/
/*	background: url(down.png) 0px 2px no-repeat;*/
	border: medium none;
	background-color:#e0e0e0;
	cursor: pointer;
	font-size: 14px;

	z-index:-1;
	
}

.MSDList_DropDownButton:hover {
	
}

.MSDList_List {
	position: absolute;
	z-index:11;
	border: 1px solid #bbb;
	border-top: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 250px;
	background: white;
	webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	
}
.MSDList_List_classStudent {
	position: absolute;
	z-index:11;
	border: 1px solid #bbb;
	border-top: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 250px;
	background: white;
	webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: -moz-use-text-color #BBBBBB #BBBBBB;
	border-image: none;
	border-right: 1px solid #BBBBBB;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	left: 0 !important;
	top: 26px !important;
	
}

.MSDList_ListTable {
	width: 100%;
}

.MSDList_ListTableHeader {
	
}

.MSDList_ListTableBody {
	
}

.MSDList_ListTableHeaderRow {
	background: #eee;
	display:none;
}

.MSDList_ListTableHeaderRowCheckBoxCell {
	
}

.MSDList_ListTableHeaderRowLabelCell {
	
}

.MSDList_ListCheckBoxCell {
	width: 16px;
}

.MSDList_ListTableHeaderFilterRow {
	
}

.MSDList_ListTableHeaderFilterCell {
	height: 25px;
}

.MSDList_ListFilterBox,.MSDList_ListFilterBox_Empty {
	border: none;
	font-family: verdana;
	font-size: 11px;
	padding: 3px;
}

.MSDList_ListFilterBox {
	color: #333;
}

.MSDList_ListFilterBox_Empty {
	color: #aaa;
}

.MSDList_ListLabelCell {
	padding-top: 10px;
	padding-left: 15px;
	cursor: pointer;
}

.MSDList_ListCheckBox {
	width: 15px;
	height: 15px;
	margin-top: 0px;
}

.MSDList_ListItemRow {
	
}

.MSDList_ListItemRow:hover {
	/*background: #bbb;*/
}

.MSDList_ListTableBody tr td {
	
}

.MSDList_List {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: -moz-use-text-color #BBBBBB #BBBBBB;
	border-image: none;
	border-right: 1px solid #BBBBBB;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	left: 0 !important;
	top: 26px !important;
} 
