.splash .container .content {
	overflow:hidden !important;
}

.splash .title {
	position: fixed;
	top: 27px;
	right:23px;
	color: #ffffff;
	font-size:14pt;
	text-shadow: black -1px -1px 3px;
}

.schoolBanner {
	display: block;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 0px;
	text-align:center;
}

.schoolBanner img {
    max-width: 450px;
    max-height: 200px;
}
