@charset "utf-8";
/* CSS Document */

body{
	background: url(images/Loginbg.jpg) repeat-x center top;
	
}

.mainLogin{width: 445px;height: auto;margin: 0 auto;}

.forgotPassword{position:relative;cursor:pointer; top:-2px; left:260px;font-size:12px;font-weight:bold;}

#wrapper{
	position:relative;
	height:100%;
}
#container{
	position:relative;
	/*width:650px;*/
	margin-left:11px;
	
	/*padding-top:184px;*/
	padding-bottom:100px;
}

#container .rlWrap .title{
	position:relative;
	background: #73767b; /* Old browsers */
	background: -moz-linear-gradient(top, #73767b 0%, #47494d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73767b), color-stop(100%,#47494d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #73767b 0%,#47494d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #73767b 0%,#47494d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #73767b 0%,#47494d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #73767b 0%,#47494d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73767b', endColorstr='#47494d',GradientType=0 ); /* IE6-8 */
	padding:16px;
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	border-bottom:1px solid #fbfff8;
	color:#fff;
}
#container .rlWrap .title h2{
	font-size:16px;
	text-transform:uppercase;
	padding-bottom:4px;
	position:relative;
}
#container .rlWrap .rlw_bottom{
	/*background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(252,252,252,0.3) 100%); *//* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(252,252,252,0.3))); *//* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(252,252,252,0.3) 100%); *//* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(252,252,252,0.3) 100%); *//* Opera 11.10+ */
	/*background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(252,252,252,0.3) 100%); *//* IE10+ */
	/*background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(252,252,252,0.3) 100%); *//* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#99fcfcfc',GradientType=0 ); *//* IE6-8 */
	/*border-radius:0 0 10px 10px;*/
	/*-moz-border-radius:0 0 10px 10px;*/
	/*-webkit-border-radius:0 0 10px 10px;*/
	/*border-top:1px solid #fbfff8;*/
	/*padding:8px;*/
	margin-top: 8px;
}
#container .rlWrap .rlw_bottom input.signup{
	border:1px solid #367bc8;
	background: #2e9cea; /* Old browsers */
	background: -moz-linear-gradient(top, #2e9cea 0%, #2c76aa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e9cea), color-stop(100%,#2c76aa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2e9cea 0%,#2c76aa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2e9cea 0%,#2c76aa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2e9cea 0%,#2c76aa 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2e9cea 0%,#2c76aa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9cea', endColorstr='#2c76aa',GradientType=0 ); /* IE6-8 */
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	padding:8px 14px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0 1px 0 0 #e5f6ff inset;
	-moz-box-shadow:0 1px 0 0 #e5f6ff inset;
	-webkit-box-shadow:0 1px 0 0 #e5f6ff inset;
}

.loginMiddle{background: url("images/loginmiddle.png") no-repeat}
#container .rlWrap .formElement{
	position:relative;
	padding:16px;
	/*border-top:1px solid #d8d4d4;*/
	/*border-bottom:1px solid #d8d4d4;*/
}
#container .rlWrap .formElement .row{
	position:relative;
	margin-bottom:14px;
}
#container .rlWrap .formElement .row .leftcol{
	float:left;
	width:250px;
	color:#2f2f2f;
	font-size:12px;
	font-weight:bold;
	padding:10px 0;
}
#container .rlWrap .formElement .row.mendatory{
	color:#2f2f2f;
	font-size:12px;
	font-weight:bold;
	padding-top:20px;
}
#container .rlWrap .formElement .row span.red{ color:#F00;}
#container .rlWrap .formElement .row .rightcol{
	float:left;
	width:340px;
	position:relative;
}
#container .rlWrap .formElement .row .rightcol input[type='text'],#container .rlWrap .formElement .row .rightcol input[type='password']{
	background:#fff;
	border:1px solid #d8d4d4;
	padding:10px;
	width:340px;
}
#container .rlWrap .formElement .row .rightcol .addmore{
	position:absolute;
	left:260px;
	top:0px;
	display:block;
	width:38px;
	height:32px;
	font-size:10px;
	text-align:center;
	font-weight:bold;
	border:1px solid #367bc8;
	background: #2e9cea; /* Old browsers */
	background: -moz-linear-gradient(top, #2e9cea 0%, #2c76aa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e9cea), color-stop(100%,#2c76aa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2e9cea 0%,#2c76aa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2e9cea 0%,#2c76aa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2e9cea 0%,#2c76aa 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2e9cea 0%,#2c76aa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9cea', endColorstr='#2c76aa',GradientType=0 ); /* IE6-8 */
	color:#fff;
	cursor:pointer;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0 1px 0 0 #e5f6ff inset;
	-moz-box-shadow:0 1px 0 0 #e5f6ff inset;
	-webkit-box-shadow:0 1px 0 0 #e5f6ff inset;
}







/* -------------
* Selects
* ------------- */
.jqTransformSelectWrapper {
	position:relative;
	height:30px;
	display: block;
	background:#fff;
	-moz-box-shadow:0 0px 3px 0px #ededed inset;
	-webkit-box-shadow:0 0px 3px 0px #ededed inset;
	box-shadow:0 0px 3px 0px #ededed inset;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #e2e2e2;
	width:246px;
	z-index:auto!important;
}

.datedeatils span { float:left; margin-right:5px;}


.datedeatils .jqTransformSelectWrapper div span {width:214px!important;}

.jqTransformSelectWrapper div span {
	
	font-size: 12px;
	float: none;
	position: absolute;
	white-space: nowrap;
	height: 30px;
	line-height:30px;
	padding:0 16px;
	overflow: hidden;
	cursor:pointer;
	width:214px!important;
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block!important;
	position: absolute;
	right: 0px;
	width: 30px;
	height: 30px;
	background:url(images/dropdownArrow.png) no-repeat center center;
	border-left:1px solid #ccc;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	top: 30px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:1000!important;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size: 12px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#3582c4;
	color: #fff;
}

/* -------------
* Hidden - used to hide the original form elements
* ------------- */
.jqTransformHidden {display: none;}

.submit-text .form .jqTransformSelectWrapper{
	width:230px!important;
}
.submit-text .form .jqTransformSelectWrapper span{
	width:200px!important;
}
.submit-text .form .jqTransformSelectWrapper ul{
	width:200px!important;
}
.submit-form ul li{
	width:auto!important;
}



/*************************Style Sheet for login page created on 07-05-2013**********************/
#container.loginWrap{
	width:402px;
}
#container.loginWrap .rlWrap .title{
	padding:25px 16px;
	font-size:16px;
}
#container.loginWrap .rlWrap .rlw_bottom{
	/*padding:14px 20px;*/
	position:relative;
}
#container.loginWrap .rlWrap .rlw_bottom input.signup{
	float:right;
}
#container.loginWrap .rlWrap .rlw_bottom input.login{
	float:left;
	border:1px solid #1c9c36;
	background: #1fb63e; /* Old browsers */
	background: -moz-linear-gradient(top, #1fb63e 0%, #1c9c36 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1fb63e), color-stop(100%,#1c9c36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1fb63e 0%,#1c9c36 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1fb63e 0%,#1c9c36 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1fb63e 0%,#1c9c36 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1fb63e 0%,#1c9c36 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fb63e', endColorstr='#1c9c36',GradientType=0 ); /* IE6-8 */
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	padding:10px 14px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0 1px 0 0 #e5f6ff inset;
	-moz-box-shadow:0 1px 0 0 #e5f6ff inset;
	-webkit-box-shadow:0 1px 0 0 #e5f6ff inset;
	width: 100%;
}
#container.loginWrap .rlWrap .rlw_bottom .ortag{
	margin:0 auto;
	font-size:12px;
	text-transform:uppercase;
	width:40px;
	text-align:center;
	display:block;
	position:absolute;
	top:20px;
	left:50%;
	margin-left:-20px;
}
#container.loginWrap .rlWrap .loginFiled{
	position:relative;
	margin-bottom:5px;
	background:#fff;
	padding-left:40px;
	border: solid 1px #dad7d7;
	height:43px;
}
#container.loginWrap .rlWrap .loginFiled span.icon{
	position:absolute;
	display:block;
	text-indent:-9999px;
}
#container.loginWrap .rlWrap .loginFiled span.icon.email{
	width:26px;
	height:24px;
	background:url(images/loginUser.png) no-repeat 0 0;
	left:12px;
	top:10px;
}
#container.loginWrap .rlWrap .loginFiled span.icon.password{
	width:23px;
	height:23px;
	background:url(images/loginPassword.png) no-repeat 0px 0px;
	left:12px;
	top:10px;
}
#container.loginWrap .rlWrap .loginFiled span.icon.schoolDomain{
	width:23px;
	height:23px;
	background:url(images/domain_name.png) no-repeat 0px 0px;
	left:14px;
	top:12px;
}
#container.loginWrap .rlWrap .loginFiled input[type='text'],#container.loginWrap .rlWrap .loginFiled input[type='password']{
	border:0px;
	padding:12px;
	width:318px;
	background:none;
	border-left:1px solid #ccc;
	margin-left:10px;
	font-size: 12px;
}

#container.loginWrap .rlWrap .loginAction{
	position:relative;
}
#container.loginWrap .rlWrap .loginAction .forgorDetail{
	position:absolute;
	right:0px;
	top:5px;
	text-decoration:underline;
	font-size:13px;
	font-weight:bold;
	color:#303030;
	
}
.footer{
	position:absolute;
	bottom:-16px;
	left:0px;
	width:100%;
	padding:12px 0;
	text-align:center;
	background:rgba(236,206,1,0.9);
	background: -moz-linear-gradient(top, rgba(236,206,1,0.9) 0%, rgba(236,206,1,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,206,1,0.9)), color-stop(100%,rgba(236,206,1,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(236,206,1,0.9) 0%,rgba(236,206,1,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(236,206,1,0.9) 0%,rgba(236,206,1,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(236,206,1,0.9) 0%,rgba(236,206,1,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(236,206,1,0.9) 0%,rgba(236,206,1,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ecce01', endColorstr='#e6ecce01',GradientType=0 ); /* IE6-8 */
}

#container .rlWrap .formElement.s_signupForm .row .rightcol .jqTransformSelectWrapper{ width:358px;}
#container .rlWrap .formElement.s_signupForm .row .rightcol .jqTransformSelectWrapper div span{
	width:295px!important;
}

#container .rlWrap .formElement.s_signupForm .row .rightcol  .calenderIcon{
	position:absolute;
	width:37px;
	height:38px;
	background:url(images/calender_icon1.png) no-repeat;
	display:block;
	right:-20px;
	top:0px;
	text-indent:-9999px;
}
.ssuTitle{
	position:absolute;
	right:10px;
	top:10px;
	font-size:16px;
	color:#f5cd2b;
	font-weight:bold;
	padding:16px;
	padding-right:0px;
	background:url(images/ssuLine.png) repeat-y left top;
}

#container .rlWrap .formElement.s_signupForm .sftds .jqTransformSelectWrapper{
	width:315px!important;
}

#container .rlWrap .formElement.s_signupForm .sftds .jqTransformSelectWrapper div span{
	width:253px!important;
}

input[type="checkbox"] + label:before {
	background-position: 0 -25px;
}
label:before {
	/*background-image: url("../images/formelements.png");*/
	content: "";
	display: inline-block;
	height: 20px;
	left: -2px;
	position: relative;
	top: 0.25em;
	width: 25px;
}
input[type="radio"], input[type="checkbox"] {
	left: -999em;
	position: absolute;
}

form#contact label.error {
	width: 250px;
	height: 33px;
	line-height: 30px;
	display: block;
	color: #ffffff;
	font-size: 12px;
	font-family: Arial;
	margin: -42px 48px 0 380px;
	position: absolute;
	text-align: left;
	background-color: #b45050;
	border-radius: 4px;
	background: url("images/tooltipBg.png") no-repeat;
	padding-left: 15px;
}

.containerWidgets .close {	
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	width: 21px;
	height: 21px;
	background-image: url("images/close.png") no-repeat;
	cursor: pointer;
}


