@top: 143px;

@increment-height: 29px;
@increment-width: 15px;

@period-description-width: 115px;

@odd-period-border-left-color: #eaeaea;
@odd-period-border-bottom-color: #d6d6d6;
@odd-period-background-color: #ededed;

@even-period-border-left-color: #f4f4f4;
@even-period-border-bottom-color: #dfdfdf;
@even-period-background-color: #f7f7f7;

@break-period-border-color: #e8e8e8;
@break-period-background-color: white;

@border-color: #ddd;
@border-color-time-marker: #cc0000;

@text-color-darkgrey: #888888;
@text-color-darkergrey: #4a4a4a;
@text-color-time-label: #c1c1c1;
@text-color-day-events: #024584;
@text-color-locked-events: #8F9CBB;

.background-image(@color, @background, @dropTargetColor) {
    background-image: url("../week/@{background}/button_@{color}_left.png"), url("../week/@{background}/button_@{color}_right.png"), url("../week/@{background}/button_@{color}_middle.png");

    &.dropTarget {
        background-image: url("../week/@{background}/button_@{dropTargetColor}_left.png"), url("../week/@{background}/button_@{dropTargetColor}_right.png"), url("../week/@{background}/button_@{dropTargetColor}_middle.png");
    }
}

.period-colour-coding(@color, @background-color) {
	div.periodColour {
		width: 15px;
		height: 100%;
		background-color: @color;
	}
}


.dayView {

	.calendarDateSelected {
	    position: absolute;
	    left: 490px;
	    top: 32px;
	    height: 0px;
	    visibility: hidden;
	}
	

    /* header area */
    .calendarDay {
        color: @text-color-darkgrey;
        position: absolute;
        font-family: "Diary Font";
        font-weight: 300;
        font-size: 126px;
        text-align: right;
        width: 178px;
    }

    .buttonContainer {
        position: absolute;
        left: 198px;
        top: 35px;

        .calendarNav div.navToday.disabled {
            color: @text-color-darkgrey;
            cursor: default;
        }

        .calendarDateSelect {
            position: absolute;
            left: 177px;
            top: 0px;
            padding: 0px 16px;
            padding-right: 32px;            
            display: inline-block;
            div {
            	padding-top: 8px;
            	white-space: nowrap;
            }
            div.dropDownDisclosure {
            	position: absolute;
            	right: 16px;
            	top: 8px;
            }
        }
        		
        .calendarDateString {
            font-family: "Diary Font";
            font-weight: 300;
            font-size: 20px;
            margin-top: 18px;
            margin-bottom: 2px;
        }

        .calendarCycleString {
            font-family: "Diary Font";
            font-weight: 600;
            font-size: 12px;
            color: @text-color-darkgrey;
        }
    }

    /* day view calendar area */
    .dayViewCalendarTopBorder {
        display: block;
        position: absolute;
        background-color:#ddd;
        height: 1px;
        left: 80px;
        right: 47px;
        top: @top;
        /* z-index: 500; */
    }

    .dayViewCalendarBottomBorder {
        display: block;
        position: absolute;
        background: url(border_ddd.png) top left repeat-x;
        padding-top: 1px;
        height: 1px;
        left: 80px;
        right: 47px;
        bottom: 32px;
        z-index: 500; 
    }
    
    .dayViewCalendar {
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        //padding-top: 6px;
        position: absolute;
        left: 32px;
        right: 47px;
        top: @top ;
        bottom: 33px;
        border-right: 1px solid @border-color;
      
        .dayViewCalendarBodyWrapper {
            position: relative;
            margin-left: 48px;
            border: 1px solid @border-color;
            border-top: none;
            width: inherit;            

            .increment {
                height: @increment-height;
                width: @increment-width / 2;
                border-top: 1px solid @border-color;

                &.hour-0,
                &.hour-30 {
                    width: 100%;
                }

                &.hour-15,
                &.hour-45 {
                    width: @increment-width;
                }
            }

            label.hour {
                position:absolute;
                left: -48px;
                margin-top: -7px;
                text-align: right;
                width: 44px;
                font-family: "Diary Font";
                font-weight: bold;
                font-size: 12px;
                color: @text-color-time-label;
                
                &:first-of-type {
                    margin-top: 0px;
                }
            }
        }


        .dayViewCells {
            position: absolute;
            top: 0px;
            left: 48px + @increment-width;
            right: 0px;

            &>div { // day view cell
                margin-right: 5px;
                position: absolute;
                border: 1px solid transparent;
				left: 0;
				right: 0;
				white-space: nowrap;
				overflow: hidden;

                &.background {
                    background: transparent url(../../assets/day/divider_odd.png) (@period-description-width + 15px) top repeat-y;
                }

                &.odd {
                    &.background {
                        background-color: @odd-period-background-color;
                        border-bottom: 1px solid @odd-period-border-bottom-color;
                        border-top: 1px solid @odd-period-border-bottom-color;
                        border-left: 1px solid @odd-period-border-left-color;
                    }

                    .dayDiaryItemWidget {
                        
                        &.maroon {
                            .background-image('marone', 'odd', 'white');
                        }
                        
                        &.red {
                            .background-image('red', 'odd', 'white');
                        }
                        
                        &.pink {
                            .background-image('pink', 'odd', 'white');
                        }
                        
                        &.purple {
                            .background-image('purple', 'odd', 'white');
                        }
                        
                        &.darkblue {
                            .background-image('darkblue', 'odd', 'white');
                        }
                        
                        &.skyblue {
                            .background-image('skyblue', 'odd', 'white');
                        }
                        
                        &.cyan {
                            .background-image('cyan', 'odd', 'white');
                        }
                        
                        &.aqua {
                            .background-image('aqua', 'odd', 'white');
                        }
                        
                        &.darkgreen {
                            .background-image('darkgreen', 'odd', 'white');
                        }
                        
                        &.grassgreen {
                            .background-image('grassgreen', 'odd', 'white');
                        }
                        
                        &.darkbrown {
                            .background-image('darkbrown', 'odd', 'white');
                        }
                        
                        &.lightbrown {
                            .background-image('lightbrown', 'odd', 'white');
                        }
                        
                        &.deeporange {
                            .background-image('deeporange', 'odd', 'white');
                        }
                        
                        &.orange {
                            .background-image('orange', 'odd', 'white');
                        }
                
                        &.grey {
                            .background-image('grey', 'odd', 'black');
                        }
                        
                        &.darkgrey {
                            .background-image('darkgrey', 'odd', 'white');
                        }
                        
                        &.white {
                            .background-image('white', 'odd', 'black');
                        }
                        
                        &.black {
                            .background-image('black', 'odd', 'white');
                        }

                    }
/*
                    .periodDescription > div {
                        background: rgba(237, 237, 237, 0.6);
                    }
*/
                }
                &.even {
                    &.background {
                        background-color: @even-period-background-color;
                        border-bottom: 1px solid @even-period-border-bottom-color;
                        border-top: 1px solid @even-period-border-bottom-color;
                        border-left: 1px solid @even-period-border-left-color;
                    }

                    .dayDiaryItemWidget {
                        
                        &.maroon {
                            .background-image('marone', 'even', 'white');
                        }
                        
                        &.red {
                            .background-image('red', 'even', 'white');
                        }
                        
                        &.pink {
                            .background-image('pink', 'even', 'white');
                        }
                        
                        &.purple {
                            .background-image('purple', 'even', 'white');
                        }
                        
                        &.darkblue {
                            .background-image('darkblue', 'even', 'white');
                        }
                        
                        &.skyblue {
                            .background-image('skyblue', 'even', 'white');
                        }
                        
                        &.cyan {
                            .background-image('cyan', 'even', 'white');
                        }
                        
                        &.aqua {
                            .background-image('aqua', 'even', 'white');
                        }
                        
                        &.darkgreen {
                            .background-image('darkgreen', 'even', 'white');
                        }
                        
                        &.grassgreen {
                            .background-image('grassgreen', 'even', 'white');
                        }
                        
                        &.darkbrown {
                            .background-image('darkbrown', 'even', 'white');
                        }
                        
                        &.lightbrown {
                            .background-image('lightbrown', 'even', 'white');
                        }
                        
                        &.deeporange {
                            .background-image('deeporange', 'even', 'white');
                        }
                        
                        &.orange {
                            .background-image('orange', 'even', 'white');
                        }
                
                        &.grey {
                            .background-image('grey', 'even', 'black');
                        }
                        
                        &.darkgrey {
                            .background-image('darkgrey', 'even', 'white');
                        }
                        
                        &.white {
                            .background-image('white', 'even', 'black');
                        }
                        
                        &.black {
                            .background-image('black', 'even', 'white');
                        }

                    }

                }
                &.break {
                    &.background {
                        background-color: @break-period-background-color;
                        border: 1px solid @break-period-border-color;
                        border-right: none;
                    }

                    .periodTitle {
                        text-transform: uppercase;
                    }
/*
                    .periodDescription > div {
                        background: rgba(255, 255, 255, 0.6); // semi-transparent white
                    }
*/
                }
                
                /* dropTarget must come after any other !important .dayViewCells */
                &.dropTarget {
                    background-color: #ebfceb !important;
                }

				table.dayPeriodLayout {
					height: inherit;
					width: 100%;
					border-collapse: collapse;
				}
				
				
			    &.maroon {      .period-colour-coding(#650033, white); }
			    &.red {         .period-colour-coding(#cf0000, white); }
			    &.pink {        .period-colour-coding(#ff33ff, white); }
			    &.purple {      .period-colour-coding(#6734cc, white); }
			    &.darkblue {    .period-colour-coding(#000066, white); }
			    &.skyblue {     .period-colour-coding(#3367ff, white); }
			    &.cyan {        .period-colour-coding(#00aeef, white); }
			    &.aqua {        .period-colour-coding(#02a4a4, white); }
			    &.darkgreen {   .period-colour-coding(#006500, white); }
			    &.grassgreen {  .period-colour-coding(#5ab902, white); }
			    &.darkbrown {   .period-colour-coding(#562b01, white); }
			    &.lightbrown {  .period-colour-coding(#ac8152, white); }
			    &.deeporange {  .period-colour-coding(#ff6600, white); }
			    &.orange {      .period-colour-coding(#ff9900, white); }
			    &.grey {        .period-colour-coding(#8e8c8c, white); }
			    &.darkgrey {    .period-colour-coding(#4c4949, white); }
			    &.white {       .period-colour-coding(#ffffff, black); }
			    &.black {       .period-colour-coding(#000000, white); }

                .periodDescription {
                	vertical-align: top;
                    text-align: left;
                    width: @period-description-width;
                    min-width: @period-description-width;

                    .periodTitle, .periodSubject, .periodTimes, .periodRoom {
                        font-family: "Diary Font";
                        font-weight: 600;
                        text-align: left;
                        text-shadow: white 1px 1px 1px;
                        margin-right: 5px;
                        display: inline-block;
                        padding: 0 5px;
                        background: none;
                        font-size: 12px;
                        color: @text-color-darkergrey;                        
                    }
					
					.periodTitle {
                        margin-top:8px;
                    }					

                    .periodSubject {
                        font-size: 12px;
                        color: @text-color-darkergrey;
                        text-transform: uppercase;
                        margin-top:8px;
                    }                   
                    
                    .periodTimes {
                    	font-size: 11px;
                    } 
                }
                
                .periodColour {
                	width: 15px;
                }

                .periodItems {
                    padding-left: 15px;
                    vertical-align: middle;
                }

				.periodAdd {
					vertical-align: middle;
					width: 32px;
					text-align: middle;
					
					.dayPeriodAdd {
						display: inline-block;
						width: 16px;
						height: 16px;
						background: url(../week/add.png) no-repeat;
						cursor: pointer;
					}					
				}

            }
        }

        .timeMarker {
            position: absolute;
            height: 15px;
            background: transparent;
            left: 48px;
            right: 0px;
            top: 0px;
            border-top: 2px solid @border-color-time-marker;

            .time {
                width: 28px;
                height: 15px;
                background: url("../../assets/day/time_marker.png");
                color: white;
                font-family: "Diary Font";
                font-weight: bold;
                font-size: 11px;
                line-height: 15px;
                vertical-align: baseline;
                position: absolute;
                left: -5px;
                top: -9px;
                padding-right: 7px;
                text-align: right;
            }

        }

    }

    /* non period day view items */
    .dayViewNonPeriodItems {
        clear: both;
        border: 1px solid @border-color;
        margin-left: 42px;
        min-height: 32px;
        position: absolute;
        top: @top ;
        right: 47px;
        left: 38px;
        background: white;
        /* z-index: 99; */
        padding: 5px 15px;
        white-space: nowrap;
        overflow: hidden;
        min-height: 31px;
		float: left;

        &.dropTarget {
            background-color: #ebfceb !important;
        }

		.dayViewNonPeriodItemList {
			margin-right: 20px;
		}
	}


	.dayAdd {
		float: right;
		width: 20px;

		.dayDayAdd {
			width: 16px;
			height: 16px;
			background: url(../week/add.png) no-repeat;
			cursor: pointer;
			position: absolute;
			top: 50%;
			margin-top: -8px;
		}
	}

	.dayDayOfNote,
    .dayEvent {
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;

        font-size: 13px;
        font-weight: 600;
        color: @text-color-day-events;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        height: 17px;
        
        &.locked, &.dayDayOfNote {
        	color: @text-color-locked-events;
        }
        
        &.locked {
        	padding-left: 14px; 
        	background: url(lock.png) 0px 2px no-repeat;
        }
    }
    
     .dayEvents ul {
        list-style-type: none;
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;

        font-size: 13px;
        font-weight: 600;
        color: @text-color-day-events;

        li  {
            padding: 0px;
            margin: 0;
            white-space: nowrap;
            overflow:hidden;
            text-overflow: ellipsis;
            height: 17px;
            display: inline-block;

            &.locked {
           		color: @text-color-locked-events;  
           		padding-left: 14px; 
        		background: url(lock.png) 0px 2px no-repeat;          	
            }
        }
        
        li:after {
        	content: ",";
        }
        li:last-child:after {
        	content: "";
        }
    }

    .dayDiaryItemWidget {
        display:inline-block;
        height:31px;
        padding-left:30px;
        padding-right:28px;

        background-position: left top, right top, left top;
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-clip: padding-box, padding-box, content-box;

        font-weight: 600;
        font-family: "Diary Font";
        color: white;
        font-size: 13px;
        text-shadow: @text-color-darkgrey -1px -1px 1px;

        vertical-align:bottom;
        position: relative;
        cursor: pointer;

        .dayDiaryItemTitle {
            position: relative;
            top: 5px;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: inherit;
        }

        .dayDiaryItemLink {
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            right: 6px;
            top: 3px;
            background: url(../glance/drilldown_arrow.png) no-repeat;
        }

        .dayDiaryItemType {
            display: block;
            position: absolute;
            left: -3px;
            top: -3px;
            width: 33px;
            height: 34px;

            &.homework {
                background: url(../notification/homework.png) no-repeat;
            }

            &.assignment {
                background: url(../notification/assignment.png) no-repeat;
            }

            &.messageFromTeacher {
                background: url(../notification/messageFromTeacher.png) no-repeat;
                &.responseRequired {
	                background: url(../notification/messageFromTeacher_responseRequired.png) no-repeat;
                }
            }

            &.messageFromParent {
                background: url(../notification/messageFromParent.png) no-repeat;
                &.responseRequired {
	                background: url(../notification/messageFromParent_responseRequired.png) no-repeat;
                }
            }

            &.research {
                background: url(../notification/research.png) no-repeat;
            }

            &.note {
                background: url(../notification/note.png) no-repeat;
            }
        }

        &.dropTarget {
            color: #000000 !important;
            text-shadow: #888888 -1px -1px 1px !important;
        }

        &.black.dropTarget {
            color: #ffffff;
            text-shadow: #888888 -1px -1px 1px;
        }

        &.darygrey.dropTarget {
            color: #ffffff;
            text-shadow: #888888 -1px -1px 1px;
        }
        
        &.white {
            color: #000000;
            text-shadow: #ddd -1px -1px 1px;
        }
        
        &.maroon {
            .background-image('marone', 'plain', 'white');
        }
        
        &.red {
            .background-image('red', 'plain', 'white');
        }
        
        &.pink {
            .background-image('pink', 'plain', 'white');
        }
        
        &.purple {
            .background-image('purple', 'plain', 'white');
        }
        
        &.darkblue {
            .background-image('darkblue', 'plain', 'white');
        }
        
        &.skyblue {
            .background-image('skyblue', 'plain', 'white');
        }
        
        &.cyan {
            .background-image('cyan', 'plain', 'white');
        }
        
        &.aqua {
            .background-image('aqua', 'plain', 'white');
        }
        
        &.darkgreen {
            .background-image('darkgreen', 'plain', 'white');
        }
        
        &.grassgreen {
            .background-image('grassgreen', 'plain', 'white');
        }
        
        &.darkbrown {
            .background-image('darkbrown', 'plain', 'white');
        }
        
        &.lightbrown {
            .background-image('lightbrown', 'plain', 'white');
        }
        
        &.deeporange {
            .background-image('deeporange', 'plain', 'white');
        }
        
        &.orange {
            .background-image('orange', 'plain', 'white');
        }

        &.grey {
            .background-image('grey', 'plain', 'black');
        }
        
        &.darkgrey {
            .background-image('darkgrey', 'plain', 'white');
        }
        
        &.white {
            .background-image('white', 'plain', 'black');
        }
        
        &.black {
            .background-image('black', 'plain', 'white');
        }

    }


}

/* pop ups */
#dayPopupDayList .popupContent ul.dayList {
    margin: 0;
    padding: 0;

    &>li {
        list-style-type: none;
        height: 23px;
        cursor:pointer;
        font-family: "Diary Font";
        font-size: 14px;
        font-weight: normal;
        color: #333333;
        padding-left:14px;
        padding-right:14px;
        padding-top: 4px;

        &:hover {
            background-color: #ededed;
            background-radius: 4px;
            font-weight: bold;
        }

        &.current {
            background-color: #fbebeb;
            background-radius: 4px;
            font-weight: normal;

            &:hover {
                background-color: #fbebeb;
                background-radius: 4px;
                font-weight: normal;
            }
        }

    }
}