.dayView {
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.dayView .dayViewContainer {
  display: block;
  position: absolute;
  left: 0px;
  right: 284px;
  top: 0px;
  bottom: 0px;
  -webkit-transition: right 400ms;
  overflow-y: scroll;
}
.dayView .dayPanels {
  position: fixed;
  right: 10px;
  top: 111px;
  bottom: 89px;
  width: 245px;
  -webkit-transition: width 400ms;
}
.dayView .dayPanels + .dayViewContainer {
  right: 284px;
  -webkit-transition: right 400ms;
}
.dayView .dayPanels.panelMinimised + .dayViewContainer {
  right: 40px;
  -webkit-transition: right 400ms;
}
.dayView .dayPanels.panelMinimised {
  width: 0px;
  -webkit-transition: width 400ms;
}
.dayView .dayPanelsBackground {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(../../assets/contentnav/panel_topleft.png) left top no-repeat, url(../../assets/contentnav/panel_topright.png) right top no-repeat, url(../../assets/contentnav/panel_bottomleft_curved.png) left bottom no-repeat, url(../../assets/contentnav/panel_bottomright.png) right bottom no-repeat, url(../../assets/contentnav/panel_top.png) left top repeat-x, url(../../assets/contentnav/panel_bottom.png) left bottom repeat-x, url(../../assets/contentnav/panel_left.png) left top repeat-y, url(../../assets/contentnav/panel_right.png) right top repeat-y, #f9f9f9;
  overflow-y: scroll;
}
.dayView .dayPanels .dayTasksPanelTab.tabSelected {
  display: block;
  position: absolute;
  width: 39px;
  left: -38px;
  height: 165px;
  top: 185px;
  background: url(../../assets/contentnav/toptab_top.png) left top no-repeat, url(../../assets/contentnav/toptab_bottom.png) left bottom no-repeat, url(../../assets/contentnav/toptab_middle.png) left top repeat-y, #f9f9f9;
  cursor: pointer;
}
.dayView .dayPanels.panelMinimised .dayTasksPanelTab,
.dayView .dayPanels .dayTasksPanelTab {
  display: block;
  position: absolute;
  width: 39px;
  left: -38px;
  height: 165px;
  top: 185px;
  background: url(../../assets/contentnav/tab_top_minimised.png) left top no-repeat, url(../../assets/contentnav/tab_bottom_minimised.png) left bottom no-repeat, url(../../assets/contentnav/tab_middle_minimised.png) left top repeat-y, #f9f9f9;
  cursor: pointer;
}
.dayView .dayPanels .dayTasksPanelTab .tasksTab,
.dayView .dayPanels .dayTasksPanelTab.tabSelected .tasksTab {
  display: block;
  position: absolute;
  width: 39px;
  top: 38px;
  height: 127px;
  background: url(../../assets/day/tasks.png) center no-repeat;
}
.dayView .dayPanels.panelMinimised .dayTasksPanelTab .tasksTab,
.dayView .dayPanels .dayTasksPanelTab .tasksTab {
  top: 0px;
  height: 128px;
}
.dayView .dayPanels .dayNotesPanelTab.tabSelected {
  display: block;
  position: absolute;
  width: 39px;
  left: -38px;
  height: 165px;
  top: 185px;
  background: url(../../assets/contentnav/toptab_top.png) left top no-repeat, url(../../assets/contentnav/toptab_bottom.png) left bottom no-repeat, url(../../assets/contentnav/toptab_middle.png) left top repeat-y, #f9f9f9;
  cursor: pointer;
}
.dayView .dayPanels.panelMinimised .dayNotesPanelTab,
.dayView .dayPanels .dayNotesPanelTab {
  display: block;
  position: absolute;
  width: 39px;
  left: -38px;
  height: 165px;
  top: 185px;
  background: url(../../assets/contentnav/tab_top_minimised.png) left top no-repeat, url(../../assets/contentnav/tab_bottom_minimised.png) left bottom no-repeat, url(../../assets/contentnav/tab_middle_minimised.png) left top repeat-y, #f9f9f9;
  cursor: pointer;
}
.dayView .dayPanels .dayNotesPanelTab .notesTab,
.dayView .dayPanels .dayNotesPanelTab.tabSelected .notesTab {
  display: block;
  position: absolute;
  width: 39px;
  top: 38px;
  height: 127px;
  background: url(../../assets/day/notes.png) center no-repeat;
}
.dayView .dayPanels.panelMinimised .dayNotesPanelTab .notesTab,
.dayView .dayPanels .dayNotesPanelTab .notesTab {
  top: 0px;
  height: 128px;
}
.dayView .dayPanels.panelMinimised .dayTasksPanelTab {
  top: 0px;
}
.dayView .dayPanels .dayTasksPanelTab {
  top: 185px;
  -webkit-transition: top 400ms;
}
.dayView .dayPanels .dayTasksPanelTab.tabSelected {
  top: 0px;
  -webkit-transition: top 400ms;
}
.dayView .dayPanels.panelMinimised .dayNotesPanelTab {
  top: 185px;
}
.dayView .dayPanels .dayNotesPanelTab {
  top: 185px;
  -webkit-transition: top 400ms;
}
.dayView .dayPanels .dayNotesPanelTab.tabSelected {
  top: 0px;
  -webkit-transition: top 400ms;
}
.dayView .dayPanelsBackground .dayTasksPanel,
.dayView .dayPanelsBackground .dayNotesPanel {
  display: none;
}
.dayView .dayPanelsBackground .dayTasksPanel .tasksPanelContent,
.dayView .dayPanelsBackground .dayNotesPanel {
  padding: 8px;
}
.dayView .dayPanelsBackground .dayTasksPanel .tasksPanelContent {
  position: absolute;
  top: 37px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
}
.dayView .dayPanelsBackground .dayTasksPanel .tasksPanelDue,
.dayView .dayPanelsBackground .dayTasksPanel .tasksPanelAssigned {
  display: block;
  position: absolute;
  top: 1px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  cursor: hand;
}
.dayView .dayPanelsBackground .dayTasksPanel .tasksPanelDue {
  left: 1px;
  right: 50%;
}
.dayView .dayPanelsBackground .dayTasksPanel .tasksPanelDue,
.dayView .dayPanelsBackground .dayTasksPanel .tasksPanelAssigned {
  background: url(../../assets/day/taskstype_right.png) right top no-repeat, url(../../assets/day/taskstype_middle.png) left top repeat-x, #f4f4f4;
}
.dayView .dayPanelsBackground .dayTasksPanel .tasksPanelDue.selected,
.dayView .dayPanelsBackground .dayTasksPanel .tasksPanelAssigned.selected {
  background: url(../../assets/day/taskstype_selected_right.png) right top no-repeat, url(../../assets/day/taskstype_selected_middle.png) left top repeat-x, #fefefe;
}
.dayView .dayPanelsBackground .dayTasksPanel .tasksPanelAssigned {
  left: 50%;
  right: 0px;
}
.dayView .dayPanelsBackground .dayTasksPanel .tasksPanelDue p,
.dayView .dayPanelsBackground .dayTasksPanel .tasksPanelAssigned p {
  font-family: "Diary Font";
  font-size: 12pt;
  color: #4a4a4a;
  line-height: 37px;
  margin: 0;
  padding: 0;
}
.dayView .dayPanelsBackground .dayTasksPanel.tabSelected {
  display: block;
}
.dayView .dayPanelsBackground .dayNotesPanel.tabSelected {
  display: block;
}
.dayView .taskListHeader {
  display: block;
  position: relative;
  width: 100%;
  height: 18px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 12px;
  padding-top: 1px;
  background-color: red;
  cursor: pointer;
  margin-bottom: 11px;
}
.dayView .taskListTitle {
  display: block;
  position: absolute;
  left: 19px;
}
.dayView .taskListHeader.overdue {
  background: url(../../assets/day/tasks_overdue_bar_left.png) left top no-repeat, url(../../assets/day/tasks_overdue_bar_right.png) right top no-repeat, url(../../assets/day/tasks_overdue_bar_middle.png) left top repeat-x, #f9f9f9;
  color: #cf7041;
}
.dayView .taskListHeader.today {
  background: url(../../assets/day/tasks_today_bar_left.png) left top no-repeat, url(../../assets/day/tasks_today_bar_right.png) right top no-repeat, url(../../assets/day/tasks_today_bar_middle.png) left top repeat-x, #f9f9f9;
  color: #339966;
}
.dayView .taskListHeader.tomorrow {
  background: url(../../assets/day/tasks_future_bar_left.png) left top no-repeat, url(../../assets/day/tasks_future_bar_right.png) right top no-repeat, url(../../assets/day/tasks_future_bar_middle.png) left top repeat-x, #f9f9f9;
  color: #666666;
}
.dayView .taskListHeader.future {
  background: url(../../assets/day/tasks_future_bar_left.png) left top no-repeat, url(../../assets/day/tasks_future_bar_right.png) right top no-repeat, url(../../assets/day/tasks_future_bar_middle.png) left top repeat-x, #f9f9f9;
  color: #999999;
}
.dayView .taskListHeader .taskListExpand {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: 4px;
  left: 7px;
  background: url(../../assets/day/collapsed.png) left top no-repeat;
}
.dayView .taskListHeader.expanded .taskListExpand {
  background: url(../../assets/day/expanded.png) left top no-repeat;
}
.dayView .taskListHeader .taskListCount {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 19px;
  height: 18px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  vertical-align: middle;
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 12px;
  padding-top: 1px;
}
.dayView .taskListHeader.overdue .taskListCount {
  background: url(../../assets/day/tasks_overdue_count.png) left top no-repeat;
  color: #cf7041;
}
.dayView .taskListHeader.today .taskListCount {
  background: url(../../assets/day/tasks_today_count.png) left top no-repeat;
  color: #339966;
}
.dayView .taskListHeader.tomorrow .taskListCount {
  background: url(../../assets/day/tasks_future_count.png) left top no-repeat;
  color: #666666;
}
.dayView .taskListHeader.future .taskListCount {
  background: url(../../assets/day/tasks_future_count.png) left top no-repeat;
  color: #999999;
}
.dayView .taskListBody {
  display: block;
}
.dayView .taskListHeader + .taskListBody {
  display: auto;
  height: 0px;
  overflow-y: hidden;
  -webkit-transition: all 400ms;
}
.dayView .taskListHeader.expanded + .taskListBody {
  display: auto;
  -webkit-transition: all 400ms;
  height: auto;
  max-height: 786px;
  min-height: 20px;
  overflow-y: none;
}
.dayView .taskListItem {
  display: block;
  position: relative;
  width: 100%;
  height: 35px;
}
.dayView .taskListItem .taskListDot {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../../assets/day/task_dot.png) center no-repeat;
}
.dayView .taskListItem .taskListMark {
  background: url(../../assets/day/task_dot.png) center no-repeat;
  width: 16px;
  height: 16px;
  display: block;
}
.dayView .taskListItem .taskListMark input[type=checkbox] {
  -webkit-appearance: none;
  background: url(../../assets/day/task_mark.png) center no-repeat;
  width: 16px;
  height: 16px;
  outline: none;
}
.dayView .taskListItem .taskListDue {
  display: block;
  position: absolute;
  left: 19px;
  top: 0px;
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 13px;
}
.dayView .taskListItem .taskListName {
  display: block;
  position: absolute;
  left: 19px;
  top: 13px;
  width: 80%;
  height: 20px;
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dayView .taskListItem .taskListName span {
  text-transform: capitalize;
}
.dayView .taskListItem.completed .taskListDot {
  display: block;
  width: 20px;
  height: 14px;
  background: url(../../assets/day/task_tick2.png) center no-repeat;
}
.dayView .taskListBody .taskListItem .taskListDue {
  color: #b2b1b1;
}
.dayView .taskListBody.overdue .taskListItem .taskListName {
  color: #cf7041;
}
.dayView .taskListBody.today .taskListItem .taskListName {
  color: #339966;
}
.dayView .taskListBody.tomorrow .taskListItem .taskListName {
  color: #666666;
}
.dayView .taskListBody.future .taskListItem .taskListName {
  color: #999999;
}
.dayView .taskListBody .taskListItem .taskListLink {
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  background: url(../../assets/day/note_link.png) top left no-repeat;
  right: 8px;
  bottom: 8px;
  cursor: pointer;
}
.dayView .dayNotesPanel {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dayView .dayNotesPanel .note {
  display: block;
  position: relative;
  padding-bottom: 6px;
}
.dayView .dayNotesPanel .note .noteDot {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../../assets/day/task_dot.png) center no-repeat;
}
.dayView .dayNotesPanel .note .noteCreationDate {
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 12px;
  position: relative;
  left: 19px;
  color: #999999;
}
.dayView .dayNotesPanel .note .noteTitle {
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 12px;
  position: relative;
  left: 19px;
  color: #4a4a4a;
}
.dayView .dayNotesPanel .note .noteLink {
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  background: url(../../assets/day/note_link.png) top left no-repeat;
  right: 0px;
  bottom: 8px;
  cursor: pointer;
}
.dayView .dayNotesPanel .noteDetail {
  display: block;
  position: relative;
  padding: 6px 10px;
  padding-bottom: 40px;
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 12px;
}
.dayView .dayNotesPanel .noteDetail .noteBack {
  text-transform: uppercase;
  color: #b2b1b1;
  background: url(notes_back.png) top left no-repeat;
  padding-left: 20px;
  font-weight: bold;
  font-height: 13px;
}
.dayView .dayNotesPanel .noteDetail .noteHeader {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #999999;
}
.dayView .dayNotesPanel .noteDetail .noteHeader .noteCreationDate {
  color: #b2b1b1;
}
.dayView .dayNotesPanel .noteDetail .noteHeader .noteTitle {
  color: #8D8D8D;
}
.dayView .dayNotesPanel .noteDetail .noteEntry {
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 11px;
  overflow-y: scroll;
}
.dayView .dayNotesPanel .noteDetail .noteEntry .noteEntryText {
  color: #4a4a4a;
}
.dayView .dayNotesPanel .noteDetail .fieldContainer textarea {
  background: url(../../assets/form/control_topleft.png) left top no-repeat, url(../../assets/form/control_topright.png) right top no-repeat, url(../../assets/form/control_bottomleft.png) left bottom no-repeat, url(../../assets/form/control_bottomright.png) right bottom no-repeat, url(../../assets/form/control_top.png) left top repeat-x, url(../../assets/form/control_bottom.png) left bottom repeat-x, url(../../assets/form/control_left.png) left top repeat-y, url(../../assets/form/control_right.png) right top repeat-y, #ffffff;
  border: none;
  height: 54px;
  font-family: "Diary Font";
  font-size: 11px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.dayView .dayNotesPanel .noteDetail .fieldContainer select {
  -webkit-appearance: button;
  padding-left: 10px;
  padding-right: 30px;
  margin-bottom: 3px;
  height: 28px;
  background-position: left top, right top, left top;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-clip: padding-box, padding-box, content-box;
  background-image: url(../form/textbutton_left.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);
  border: none;
}
