.glanceView {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 32px;
}

.glanceCalendar {
	display: block;
	position: absolute;
	top:65px;
	left:0px;
	right: 0px;
	bottom: 0px;
}

.glanceColumnsWrapper {
	display: block;
	position: absolute;
	top:28px;
	left:0px;
	right: 0px;
	bottom: 0px;
	border-color: #DBDBDB;
	border-style: solid;
	border-width: 1px;
	overflow-y: auto;
	overflow-x: hidden;
}

.glanceColumns {
	position: absolute;
	display: block;
	left: 0px;
	right: 0px;
	background-color: #aa00aa;
/*	-webkit-column-count: 4;
	-webkit-column-fill: auto;
	-webkit-column-rule-color: #DBDBDB;
	-webkit-column-rule-style: solid;
	-webkit-column-rule-width: 1px;
	-webkit-column-gap: 1px;*/
}

.glanceColumnsHeaderWrapper {
	position: absolute;
	display: block;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 27px;

	border-color: #DBDBDB;
	border-width: 1px;
	border-style: solid;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}


.glanceColumnsHeader {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	right: 8px;
	height: 27px;
}

.monthtitlecellwrapper {
	display: inline-block;
	position: absolute;
	/*width: 25%;*/
	height: 27px;

	&:nth-child(1) .monthtitlecell {
		border-left: none;
	}
}

.monthtitlecell {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	border-left-color: #DBDBDB;
	border-left-width: 1px;
	border-left-style: solid;
	
/*
	width: 25%;
	height: 27px;
	-webkit-column-break-after: always;
	-webkit-column-break-inside: avoid;*/
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	/*border: 1px red solid;
	*/
}

.glanceColumnsHeader .monthtitlecellwrapper,
.glanceColumns .monthWrapper {
	&:nth-child(1) {
		left: 0%;
		right:75%;
	}

	&:nth-child(2) {
		left: 25%;
		right: 50%
	}

	&:nth-child(3) {
		left: 50%;
		right: 25%;
	}

	&:nth-child(4) {
		left: 75%;
		right: 0%;
	}
}

.monthtitle {
	display: inline-block;
	margin-top: 5px;
	font-size: 14px;
	color: #494949;
	cursor: pointer;
}

.monthtitlecell a.monthlink {
	display: inline-block;
	margin-left: 4px;
	width:14px;
	height:14px;
	background: url(month_arrow.png) no-repeat;
}

.monthWrapper {
	display:block;
	position:absolute;
	top:0px;
/*	width:25%;*/
	background-color:#aa00aa;

	.month {
		display: block;
		position: absolute;
		top:0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	/*
	background-color: green;
	border-left-color: #DBDBDB;
	border-left-style: solid;
	border-left-width: 1px;
	padding-left: 1px;
	*/
	}
}
/*
.monthWrapper:nth-child(1) .month {
	border-left: none;
	padding-left: 0px;
}
*/

.subject-background-image(@color, @dropTargetColor) {
	background-image: url("widget_@{color}.png");

	&.dropTarget {
		background-image: url("widget_@{dropTargetColor}.png");
	}
}

.daycell {
	background-color: white;
	display: block;
	height: 36px;
	width: 100%;
	position: absolute;
/*	position: relative;*/
	border-top-color: #DBDBDB;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-color: #DBDBDB;
	border-left-style: solid;
	border-left-width: 1px;

	&.weekend {
		background-color: #f7f7f7;
	}

	&.holiday {
		background: url(holiday.png) repeat;
		background-color: #f5f5f5;
	}

	&.today {
		background-color: #FCEBEB !important;

		.date {
			color: #cc0000;
		}

		.cycle {
			color: #ec9494;
		}
	}

/* dropTarget must come after any other !important .daycell */
	&.dropTarget {
		background-color: #ebfceb !important;
	}

	.date {
		font-weight: 600;
		font-size: 12px;
		color: #4a4a4a;
		display: block;
		position: absolute;
		left: 2px;
		top: 2px;
	}

	.cycle {
		font-weight: 600;
		font-size: 12px;
		color: #cccccc;
		display: block;
		position: absolute;
		left: 2px;
		top: 18px;
	}

	.subject {
		display: block;
		position: absolute;
		width: 46px;
		height: 30px;
		left: 26px;
		top: 4px;
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: top left;

		&.maroon {      .subject-background-image('marone', 'white'); }
		&.red {         .subject-background-image('red', 'white'); }
		&.pink {        .subject-background-image('pink', 'white'); }
		&.purple {      .subject-background-image('purple', 'white'); }
		&.darkblue {    .subject-background-image('darkblue', 'white'); }
		&.skyblue {     .subject-background-image('skyblue', 'white'); }
		&.cyan {        .subject-background-image('cyan', 'white'); }
		&.aqua {        .subject-background-image('aqua', 'white'); }
		&.darkgreen {   .subject-background-image('darkgreen', 'white'); }
		&.grassgreen {  .subject-background-image('grassgreen', 'white'); }
		&.darkbrown {   .subject-background-image('darkbrown', 'white'); }
		&.lightbrown {  .subject-background-image('lightbrown', 'white'); }
		&.deeporange {  .subject-background-image('deeporange', 'white'); }
		&.orange {      .subject-background-image('orange', 'white'); }
		&.grey {        .subject-background-image('grey', 'black'); }
		&.darkgrey {    .subject-background-image('darkgrey', 'white'); }
		&.white {       .subject-background-image('white', 'black'); }
		&.black {       .subject-background-image('black', 'white'); }

		.diaryitem {
			display: block;
			position: absolute;
			left: -3px;
			top: -3px;
			width: 33px;
			height: 34px;
		}

		.infolink {
			display: block;
			width: 18px;
			height: 18px;
			position: absolute;
			left: 24px;
			top: 2px;
			background: url(drilldown_arrow.png) no-repeat;
		}
	}

	.diaryitem {
		&.homework {
			background: url(../../assets/notification/homework.png) no-repeat;
		}

		&.assignment {
			background: url(../../assets/notification/assignment.png) no-repeat;
		}

		&.messageFromTeacher {
			background: url(../../assets/notification/messageFromTeacher.png) no-repeat;
		}

		&.messageFromParent {
			background: url(../../assets/notification/messageFromParent.png) no-repeat;
		}

		&.research {
			background: url(../../assets/notification/research.png) no-repeat;
		}

		&.note {
			background: url(../../assets/notification/note.png) no-repeat;
		}

		&.due {
			background: url(../notification/due.png) no-repeat;
		}
	}

	.summary,
	.summarymultiple {
		display: block;
		position: absolute;
		width: 51px;
		height: 32px;
		left: 24px;
		top: 3px;
		cursor: pointer;

		.infolink {
			display: block;
			width: 18px;
			height: 18px;
			position: absolute;
			left: 26px;
			top: 6px;
			background: url(drilldown_arrow.png) no-repeat;
			cursor: pointer
		}
	}

	.summary {
		background-image: url(white_glance_widget.png);

		.diaryitem {
			display: block;
			position: absolute;
			left: -2px;
			top: -2px;
			width: 33px;
			height: 34px;
		}
	}

	.summarymultiple {
		background-image: url(white_glance_widget_highlighted.png);

		a {
			display: block;
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
		}

		.summarycount {
			display: block;
			position: absolute;
			left: 2px;
			top: 1px;
			width:25px;
			height:25px;
			background: url(event_count_circle.png) no-repeat;
			text-decoration: none;
			color: white;
			text-align: center;
			padding-left: 0px;
			padding-top: 6px;
			font-size: 13px;
			font-weight: 600;
			cursor: pointer;
		}
	}

	// Style applied to diary items and summary widgets
	.subject, .summary, .summarymultiple {
		margin-right: -5px;
	}

	ul {
		display: block;
		position: absolute;
		top: 0px;
		left: 27px;
		right: 4px;
		height: 36px;
		overflow: hidden;
		list-style-type: none;
		padding-left: 0px;
		margin-top: 0px;
		margin-bottom: 0px;

		font-size: 13px;
		font-weight: 600;
		color: #024584;

		li {
			padding: 0;
			margin: 0;
			white-space: nowrap;
			overflow:hidden;
			text-overflow: ellipsis;
			height: 18px;

			&.locked {
				padding-left: 14px;
				background: url("../day/lock.png") 0px 2px no-repeat;
			}

			&.dayOfNote,
			&.locked {
				color: #8F9CBB;
			}
		}
	}


/* If the ul is preceeded by a subject or summary div, then adjust it's left pos to cater for that */
	.subject + ul,
	.summary + ul,
	.summarymultiple + ul {
		left: 80px;
	}
}

.month .daycell {
	&:nth-child(1) {
		top: 0px;
	}

	&:nth-child(2) {
		top: 36px;
	}

	&:nth-child(3) {
		top: 72px;
	}

	&:nth-child(4) {
		top: 108px;
	}

	&:nth-child(5) {
		top: 144px;
	}

	&:nth-child(6) {
		top: 180px;
	}

	&:nth-child(7) {
		top: 216px;
	}

	&:nth-child(8) {
		top: 252px;
	}

	&:nth-child(9) {
		top: 288px;
	}

	&:nth-child(10) {
		top: 324px;
	}

	&:nth-child(11) {
		top: 360px;
	}

	&:nth-child(12) {
		top: 396px;
	}

	&:nth-child(13) {
		top: 432px;
	}

	&:nth-child(14) {
		top: 468px;
	}

	&:nth-child(15) {
		top: 504px;
	}

	&:nth-child(16) {
		top: 540px;
	}

	&:nth-child(17) {
		top: 576px;
	}

	&:nth-child(18) {
		top: 612px;
	}

	&:nth-child(19) {
		top: 648px;
	}

	&:nth-child(20) {
		top: 684px;
	}

	&:nth-child(21) {
		top: 720px;
	}

	&:nth-child(22) {
		top: 756px;
	}

	&:nth-child(23) {
		top: 792px;
	}

	&:nth-child(24) {
		top: 828px;
	}

	&:nth-child(25) {
		top: 864px;
	}

	&:nth-child(26) {
		top: 900px;
	}

	&:nth-child(27) {
		top: 936px;
	}

	&:nth-child(28) {
		top: 972px;
	}

	&:nth-child(29) {
		top: 1008px;
	}

	&:nth-child(30) {
		top: 1044px;
	}

	&:nth-child(31) {
		top: 1080px;
	}
}

.glanceCalendar .glanceColumns .monthWrapper {

	.month {
		.daycellpad {
			background-color: #fafafa;

			&:first-of-type {
				border-top: 1px #DBDBDB solid !important;
			}
		}

		.daycell:first-of-type {
			border-top: none;
		}
	}

	&:first-of-type .month .daycell {
		border-left: none;
	}
}

/* */


ul.buttonbar {
	height: 36px;
	padding: 0;
	margin: 0;

	> li {
		display: inline-block;
		list-style-type: none;
		height: 36px;
		cursor:pointer;
		background: url(button_left.png) left top no-repeat, url(button_right.png) right top no-repeat, url(button_middle.png) left top repeat-x;
		padding-left: 8px;
		padding-right: 8px;

		&:first-of-type {
			background: url(button_left_first.png) left top no-repeat, url(button_right.png) right top no-repeat, url(button_middle.png) left top repeat-x;
		}

		&:last-of-type {
			background: url(button_left.png) left top no-repeat, url(button_right_last.png) right top no-repeat, url(button_middle.png) left top repeat-x;
		}

		&:only-of-type {
			background: url(button_left_first.png) left top no-repeat, url(button_right_last.png) right top no-repeat, url(button_middle.png) left top repeat-x;
		}
	}
}

.buttonbackground {
	height:36px;
	background: url(button_left_first.png) left top no-repeat, url(button_right_last.png) right top no-repeat, url(button_middle.png) left top repeat-x;
	font-family: "Diary Font";
	font-size: 14px;
}

/* Common Calendar Navigation styles */

.calendarNav {

	div.navLeft,
	div.navRight {
		width: 28px;
		height: 36px;
	}

	div.navLeft {
		background: url(nav_left_button.png) no-repeat;
	}

	div.navRight {
		background: url(nav_right_button.png) no-repeat;
	}

	div.navToday {
		float: left;
		font-family: "Diary Font";
		font-size: 14px;
		font-weight: 300;
		height: 36px;
		width: 54px;
		text-align: center;
		padding-top: 8px;

		&.disabled {
			color: #888888;
			cursor: default;
		}
	}
}

.calendarDetails {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 192px;
	height:36px;
	font-family: "Diary Font";
	font-weight: 300;
	font-size: 20px;
	/*padding-top: 5px;*/
}

.calendarDate {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	font-family: "Diary Font";
	font-weight: 600;
	font-size: 12px;
	color: #969494;
	padding-top: 13px;
	text-transform: uppercase;
}

.calendarDateSelect {
	cursor: pointer;
}

.calendarDate b {
	font-weight: 600;
	color: #cf1010;
}

.dropDownDisclosure {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(dropdown_disclosure_right.png);
	background-repeat: no-repeat;
}

#glancePopupMonthList .popupContent ul.monthList {
	margin: 0;
	padding: 0;

	> li {
		list-style-type: none;
		height: 23px;
		cursor:pointer;
		font-family: "Diary Font";
		font-size: 14px;
		font-weight: normal;
		color: #333333;
		padding-left:14px;
		padding-right:14px;
		padding-top: 4px;

		&:hover {
			background-color: #ededed;
			background-radius: 4px;
			font-weight: bold;
		}

		&.current, &:hover.current {
			background-color: #fbebeb;
			background-radius: 4px;
			font-weight: normal;
		}
	}
}
