.glanceView {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 32px;
}
.glanceCalendar {
  display: block;
  position: absolute;
  top: 65px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.glanceColumnsWrapper {
  display: block;
  position: absolute;
  top: 28px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-color: #DBDBDB;
  border-style: solid;
  border-width: 1px;
  overflow-y: auto;
  overflow-x: hidden;
}
.glanceColumns {
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  background-color: #aa00aa;
  /*	-webkit-column-count: 4;
	-webkit-column-fill: auto;
	-webkit-column-rule-color: #DBDBDB;
	-webkit-column-rule-style: solid;
	-webkit-column-rule-width: 1px;
	-webkit-column-gap: 1px;*/

}
.glanceColumnsHeaderWrapper {
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 27px;
  border-color: #DBDBDB;
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  
}
.glanceColumnsHeader {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  right: 8px;
  height: 27px;
  
  background: #e9e9ea; /* Old browsers */
  background: -moz-linear-gradient(top, #e9e9ea 0%, #dbdbe0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9ea), color-stop(100%,#dbdbe0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e9e9ea 0%,#dbdbe0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e9e9ea 0%,#dbdbe0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e9e9ea 0%,#dbdbe0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e9e9ea 0%,#dbdbe0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9ea', endColorstr='#dbdbe0',GradientType=0 ); /* IE6-9 */
}
.monthtitlecellwrapper {
  display: inline-block;
  position: absolute;
  /*width: 25%;*/

  height: 27px;
}
.monthtitlecellwrapper:nth-child(1) .monthtitlecell {
  border-left: none;
}
.monthtitlecell {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-left-color: #DBDBDB;
  border-left-width: 1px;
  border-left-style: solid;
  /*
	width: 25%;
	height: 27px;
	-webkit-column-break-after: always;
	-webkit-column-break-inside: avoid;*/

  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  /*border: 1px red solid;
	*/

}
.glanceColumnsHeader .monthtitlecellwrapper:nth-child(1),
.glanceColumns .monthWrapper:nth-child(1) {
  left: 0%;
  right: 75%;
}
.glanceColumnsHeader .monthtitlecellwrapper:nth-child(2),
.glanceColumns .monthWrapper:nth-child(2) {
  left: 25%;
  right: 50%;
}
.glanceColumnsHeader .monthtitlecellwrapper:nth-child(3),
.glanceColumns .monthWrapper:nth-child(3) {
  left: 50%;
  right: 25%;
}
.glanceColumnsHeader .monthtitlecellwrapper:nth-child(4),
.glanceColumns .monthWrapper:nth-child(4) {
  left: 75%;
  right: 0%;
}
.monthtitle {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  color: #494949;
  cursor: pointer;
}
.monthtitlecell a.monthlink {
  display: inline-block;
  margin-left: 4px;
  width: 14px;
  height: 14px;
  background: url(month_arrow.png) no-repeat;
}
.monthWrapper {
  display: block;
  position: absolute;
  top: 0px;
  /*	width:25%;*/

  background-color: #aa00aa;
}
.monthWrapper .month {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  /*
	background-color: green;
	border-left-color: #DBDBDB;
	border-left-style: solid;
	border-left-width: 1px;
	padding-left: 1px;
	*/

}
/*
.monthWrapper:nth-child(1) .month {
	border-left: none;
	padding-left: 0px;
}
*/
.daycell {
  background-color: #ffffff;
  display: block;
  height: 54px;
  width: 100%;
  position: absolute;
  /*	position: relative;*/

  border-top-color: #DBDBDB;
  border-top-style: solid;
  border-top-width: 1px;
  border-left-color: #DBDBDB;
  border-left-style: solid;
  border-left-width: 1px;
  cursor:pointer;
  /* dropTarget must come after any other !important .daycell */

  /* If the ul is preceeded by a subject or summary div, then adjust it's left pos to cater for that */

}
.daycell.weekend {
  background-color: #f7f7f7;
}
.daycell.holiday {
  background: url(holiday.png) repeat;
  background-color: #f5f5f5;
}
.daycell.today {
  background-color: #FCEBEB !important;
}
.daycell.today .date {
  color: #cc0000;
}
.daycell.today .cycle {
  color: #ec9494;
}
.daycell.dropTarget {
  background-color: #ebfceb !important;
}
.daycell .date {
  font-weight: 600;
  font-size: 12px;
  color: #4a4a4a;
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
}
.daycell .cycle {
  font-weight: 600;
  font-size: 12px;
  color: #cccccc;
  display: block;
  position: absolute;
  left: 2px;
  top: 36px;
}
.daycell .subject {
  display: block;
  position: absolute;
  width: 46px;
  height: 30px;
  left: 26px;
  top: 4px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: top left;
}
.daycell .subject.maroon {
  background-image: url("widget_marone.png");
}
.daycell .subject.maroon.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.red {
  background-image: url("widget_red.png");
}
.daycell .subject.red.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.pink {
  background-image: url("widget_pink.png");
}
.daycell .subject.pink.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.purple {
  background-image: url("widget_purple.png");
}
.daycell .subject.purple.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.darkblue {
  background-image: url("widget_darkblue.png");
}
.daycell .subject.darkblue.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.skyblue {
  background-image: url("widget_skyblue.png");
}
.daycell .subject.skyblue.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.cyan {
  background-image: url("widget_cyan.png");
}
.daycell .subject.cyan.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.aqua {
  background-image: url("widget_aqua.png");
}
.daycell .subject.aqua.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.darkgreen {
  background-image: url("widget_darkgreen.png");
}
.daycell .subject.darkgreen.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.grassgreen {
  background-image: url("widget_grassgreen.png");
}
.daycell .subject.grassgreen.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.darkbrown {
  background-image: url("widget_darkbrown.png");
}
.daycell .subject.darkbrown.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.lightbrown {
  background-image: url("widget_lightbrown.png");
}
.daycell .subject.lightbrown.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.deeporange {
  background-image: url("widget_deeporange.png");
}
.daycell .subject.deeporange.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.orange {
  background-image: url("widget_orange.png");
}
.daycell .subject.orange.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.grey {
  background-image: url("widget_grey.png");
}
.daycell .subject.grey.dropTarget {
  background-image: url("widget_black.png");
}
.daycell .subject.darkgrey {
  background-image: url("widget_darkgrey.png");
}
.daycell .subject.darkgrey.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject.white {
  background-image: url("widget_white.png");
}
.daycell .subject.white.dropTarget {
  background-image: url("widget_black.png");
}
.daycell .subject.black {
  background-image: url("widget_black.png");
}
.daycell .subject.black.dropTarget {
  background-image: url("widget_white.png");
}
.daycell .subject .diaryitem {
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  width: 33px;
  height: 34px;
}
.daycell .subject .infolink {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 24px;
  top: 2px;
  background: url(drilldown_arrow.png) no-repeat;
}
.daycell .diaryitem.homework {
  background: url(../../assets/notification/homework.png) no-repeat;
}
.daycell .diaryitem.assignment {
  background: url(../../assets/notification/assignment.png) no-repeat;
}
.daycell .diaryitem.messageFromTeacher {
  background: url(../../assets/notification/messageFromTeacher.png) no-repeat;
}
.daycell .diaryitem.messageFromParent {
  background: url(../../assets/notification/messageFromParent.png) no-repeat;
}
.daycell .diaryitem.research {
  background: url(../../assets/notification/research.png) no-repeat;
}
.daycell .diaryitem.note {
  background: url(../../assets/notification/note.png) no-repeat;
}
.daycell .diaryitem.due {
  background: url(../notification/due.png) no-repeat;
}
.daycell .summary,
.daycell .summarymultiple {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 32px;
  left: 24px;
  top: 3px;
  cursor: pointer;
}
.daycell .summary .infolink,
.daycell .summarymultiple .infolink {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 26px;
  top: 6px;
  background: url(drilldown_arrow.png) no-repeat;
  cursor: pointer;
}
.daycell .summary {
  background-image: url(white_glance_widget.png);
}
.daycell .summary .diaryitem {
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  width: 33px;
  height: 34px;
}
.daycell .summarymultiple {
  background-image: url(white_glance_widget_highlighted.png);
}
.daycell .summarymultipleNote {
	background-image: url(widget_grey.png);
	background-repeat: no-repeat;
}
.daycell .summarymultiple a {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.daycell .summarymultiple .summarycount {
  display: block;
  position: absolute;
  left: 2px;
  top: 1px;
  width: 25px;
  height: 25px;
  background: url(event_count_circle.png) no-repeat;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-left: 0px;
  padding-top: 6px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.daycell .subject,
.daycell .summary,
.daycell .summarymultiple {
  margin-right: -5px;
}
.daycell ul {
  display: block;
  position: absolute;
  top: 0px;
  left: 27px;
  right: 4px;
  height: 54px;
  overflow: hidden;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 600;
  color: #024584;
}
.daycell ul li {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 18px;
}
.daycell ul li.locked {
  padding-left: 14px;
  background: url("../day/lock.png") 0px 2px no-repeat;
}
.daycell ul li.dayOfNote,
.daycell ul li.locked {
  color: #8F9CBB;
}
.daycell .subject + ul,
.daycell .summary + ul,
.daycell .summarymultiple + ul {
  left: 80px;
}
.month .daycell:nth-child(1) {
  top: 0px;
}
.month .daycell:nth-child(2) {
  top: 54px;
}
.month .daycell:nth-child(3) {
  top: 108px;
}
.month .daycell:nth-child(4) {
  top: 162px;
}
.month .daycell:nth-child(5) {
  top: 216px;
}
.month .daycell:nth-child(6) {
  top: 270px;
}
.month .daycell:nth-child(7) {
  top: 324px;
}
.month .daycell:nth-child(8) {
  top: 378px;
}
.month .daycell:nth-child(9) {
  top: 432px;
}
.month .daycell:nth-child(10) {
  top: 486px;
}
.month .daycell:nth-child(11) {
  top: 540px;
}
.month .daycell:nth-child(12) {
  top: 594px;
}
.month .daycell:nth-child(13) {
  top: 648px;
}
.month .daycell:nth-child(14) {
  top: 702px;
}
.month .daycell:nth-child(15) {
  top: 756px;
}
.month .daycell:nth-child(16) {
  top: 810px;
}
.month .daycell:nth-child(17) {
  top: 864px;
}
.month .daycell:nth-child(18) {
  top: 918px;
}
.month .daycell:nth-child(19) {
  top: 972px;
}
.month .daycell:nth-child(20) {
  top: 1026px;
}
.month .daycell:nth-child(21) {
  top: 1080px;
}
.month .daycell:nth-child(22) {
  top: 1134px;
}
.month .daycell:nth-child(23) {
  top: 1188px;
}
.month .daycell:nth-child(24) {
  top: 1242px;
}
.month .daycell:nth-child(25) {
  top: 1296px;
}
.month .daycell:nth-child(26) {
  top: 1350px;
}
.month .daycell:nth-child(27) {
  top: 1404px;
}
.month .daycell:nth-child(28) {
  top: 1458px;
}
.month .daycell:nth-child(29) {
  top: 1512px;
}
.month .daycell:nth-child(30) {
  top: 1566px;
}
.month .daycell:nth-child(31) {
  top: 1620px;
}
.glanceCalendar .glanceColumns .monthWrapper .month .daycellpad {
  background-color: #fafafa;
}
.glanceCalendar .glanceColumns .monthWrapper .month .daycellpad:first-of-type {
  border-top: 1px #DBDBDB solid !important;
}
.glanceCalendar .glanceColumns .monthWrapper .month .daycell:first-of-type {
  border-top: none;
}
.glanceCalendar .glanceColumns .monthWrapper:first-of-type .month .daycell {
  border-left: none;
}
/* */
ul.buttonbar {
  height: 36px;
  padding: 0;
  margin: 0;
}
ul.buttonbar > li {
  display: inline-block;
  list-style-type: none;
  height: 36px;
  cursor: pointer;
  background: url(button_left.png) left top no-repeat, url(button_right.png) right top no-repeat, url(button_middle.png) left top repeat-x;
  padding-left: 8px;
  padding-right: 8px;
}
ul.buttonbar > li:first-of-type {
  background: url(button_left_first.png) left top no-repeat, url(button_right.png) right top no-repeat, url(button_middle.png) left top repeat-x;
}
ul.buttonbar > li:last-of-type {
  background: url(button_left.png) left top no-repeat, url(button_right_last.png) right top no-repeat, url(button_middle.png) left top repeat-x;
}
ul.buttonbar > li:only-of-type {
  background: url(button_left_first.png) left top no-repeat, url(button_right_last.png) right top no-repeat, url(button_middle.png) left top repeat-x;
}
.buttonbackground {
  height: 36px;
  background: url(button_left_first.png) left top no-repeat, url(button_right_last.png) right top no-repeat, url(button_middle.png) left top repeat-x;
  font-family: "Diary Font";
  font-size: 14px;
}
/* Common Calendar Navigation styles */
.calendarNav div.navLeft,
.calendarNav div.navRight {
  width: 28px;
  height: 36px;
}
.calendarNav div.navLeft {
  background: url(nav_left_button.png) no-repeat;
}
.calendarNav div.navRight {
  background: url(nav_right_button.png) no-repeat;
}
.calendarNav div.navToday {
  float: left;
  font-family: "Diary Font";
  font-size: 14px;
  font-weight: 300;
  height: 36px;
  width: 54px;
  text-align: center;
  padding-top: 8px;
}
.calendarNav div.navToday.disabled {
  color: #888888;
  cursor: default;
}
.calendarDetails {
  display: block;
  position: absolute;
  top: 18px;
  right: 0px;
  /*left: 192px;*/
  /*height: 36px;*/
  font-family: "Diary Font";
  font-weight: 300;
  font-size: 20px;
  /*padding-top: 5px;*/

}
.calendarDate {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 12px;
  color: #969494;
  padding-top: 13px;
  text-transform: capitalize;
}
.calendarDateSelect {
  cursor: pointer;
}
.calendarDate b {
  font-weight: 600;
  color: #cf1010;
}
.dropDownDisclosure {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(dropdown_disclosure_right.png);
  background-repeat: no-repeat;
}
#glancePopupMonthList .popupContent ul.monthList {
  margin: 0;
  padding: 0;
}
#glancePopupMonthList .popupContent ul.monthList > li {
  list-style-type: none;
  height: 23px;
  cursor: pointer;
  font-family: "Diary Font";
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 4px;
}
#glancePopupMonthList .popupContent ul.monthList > li:hover {
  background-color: #ededed;
  background-radius: 4px;
  font-weight: bold;
}
#glancePopupMonthList .popupContent ul.monthList > li.current,
#glancePopupMonthList .popupContent ul.monthList > li:hover.current {
  background-color: #fbebeb;
  background-radius: 4px;
  font-weight: normal;
}

.glanceEvents li.event{
	padding-left: 14px;
	color: #1c4183;
background: url("../calendar/img/square-icon.png") 0px 2px no-repeat;
}