.ui-widget-overlay {
  /*background: #ffffff url(../jqueryui/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;*/

    background-color: #000000;
    opacity: 80;
    filter: alpha(opacity=80);
}
.ui-dialog {
  -webkit-box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.55);
}
.ui-dialog .ui-dialog-titlebar {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #0055a5;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  color: white;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick {
  background-image: url("../jqueryui/images/ui-icons_ffffff_256x240.png");
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover {
  background: none;
  border: none;
  padding: 1px;
}
.ui-dialog .ui-dialog-content.formContainer {
  margin: 0px 20px 20px;
  padding: 8px 0px 32px 0px;
  overflow: hidden;
  font-family: "Diary Font";
  font-size: 11px;
  font-weight: 400;
}
.ui-dialog .ui-dialog-content.formContainer .textlink {
  cursor: pointer;
  position: relative;
  top: 5px;
  padding-right: 5px;
}
.ui-dialog .ui-dialog-content.formContainer select,
.ui-dialog .ui-dialog-content.formContainer input,
.ui-dialog .ui-dialog-content.formContainer textarea {
  padding: 0 10px;
  font-family: "Diary Font";
  font-size: 11px;
  font-weight: 400;
}
.ui-dialog .ui-dialog-content.formContainer textarea {
  padding: 5px 10px !important;
}
.ui-dialog .ui-dialog-content.formContainer input[disabled=disabled] {
  color: black;
}
.ui-dialog .ui-dialog-content.formContainer input[type=file] {
  background: none;
  padding-left: 0;
}
.ui-dialog .ui-dialog-content.formContainer input.ui-timepicker-input {
  width: 65px;
  background: transparent;
  vertical-align: middle;
  height: 18px;
  border-bottom: solid 1px #EEEEEE;
}
.ui-dialog .ui-dialog-content.formContainer input.ui-timepicker-input:focus {
  background: url(../../assets/form/control_topleft.png) left top no-repeat, url(../../assets/form/control_topright.png) right top no-repeat, url(../../assets/form/control_bottomleft.png) left bottom no-repeat, url(../../assets/form/control_bottomright.png) right bottom no-repeat, url(../../assets/form/control_top.png) left top repeat-x, url(../../assets/form/control_bottom.png) left bottom repeat-x, url(../../assets/form/control_left.png) left top repeat-y, url(../../assets/form/control_right.png) right top repeat-y, #ffffff;
}
.ui-dialog .ui-dialog-content.formContainer select[disabled=disabled] {
  color: black;
}
.ui-dialog .ui-dialog-content.formContainer select {
  -webkit-appearance: button;
  padding-left: 15px;
  padding-right: 30px;
  height: 28px;
  background-position: left top, right top, left top;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-clip: padding-box, padding-box, content-box;
  background-image: url(../form/textbutton_left.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);
}
.ui-dialog .ui-dialog-content.formContainer select.homework {
  padding-left: 28px;
  background-image: url(../notification/homework.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);
  background-position: 4px 5px, right top, left top;
  background-repeat: no-repeat, no-repeat, repeat-x;
}
.ui-dialog .ui-dialog-content.formContainer select.assignment {
  padding-left: 28px;
  background-image: url(../notification/assignment.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);
  background-position: 4px 5px, right top, left top;
  background-repeat: no-repeat, no-repeat, repeat-x;
  
}
.ui-dialog .ui-dialog-content.formContainer select.messageFromTeacher {
  padding-left: 28px;
  background-image: url(selectbutton_messageFromTeacher.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);
}
.ui-dialog .ui-dialog-content.formContainer select.messageFromParent {
  padding-left: 28px;
  background-image: url(selectbutton_messageFromParent.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);
}
.ui-dialog .ui-dialog-content.formContainer select.event {
  padding-left: 28px;
  background-image: url(selectbutton_event.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);
}
.ui-dialog .ui-dialog-content.formContainer select.note {
  padding-left: 28px;
  background-image: url(../notification/note.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);
  background-position: 4px 5px, right top, left top;
  background-repeat: no-repeat, no-repeat, repeat-x;
}
.ui-dialog .ui-dialog-content.formContainer th {
  width: 80px;
}
.ui-dialog .ui-dialog-content.formContainer th.alignTop {
  vertical-align: top;
  padding-top: 6px;
}
.ui-dialog .ui-dialog-content.formContainer td.time select {
  width: 63px;
  padding-left: 10px;
}
.ui-dialog .ui-dialog-content.formContainer td.time span {
  display: inline-block;
  font-size: 1em;
  font-family: "Diary Font";
  margin-top: -7px;
}
.ui-dialog .ui-dialog-content.formContainer tr.dateRow span,
.ui-dialog .ui-dialog-content.formContainer tr.dateRow input,
.ui-dialog .ui-dialog-content.formContainer tr.dateRow label {
  display: inline-block;
  vertical-align: middle;
}
.ui-dialog .ui-dialog-content.formContainer tr.dateRow input.allDay {
  width: auto;
  height: auto;
}
.ui-dialog .ui-dialog-content.formContainer tr.dateRow span.allDayContainer {
  float: right;
}
.ui-dialog .ui-dialog-content.formContainer tr.responseRequiredRow {
  text-align: right;
}
.ui-dialog .ui-dialog-content.formContainer tr.responseRequiredRow .responseRequiredTitle {
  color: #999;
  padding-right: 12px;
  font-weight: bold;
}
.ui-dialog .ui-dialog-content.formContainer tr.responseRequiredRow .responseRequiredTitle:after {
  content: ":";
}
.ui-dialog .ui-dialog-content.formContainer tr.responseRequiredRow input[type=checkbox] {
  display: inline;
  vertical-align: middle;
  width: auto;
  height: auto;
}
.ui-dialog .ui-dialog-content.formContainer tr.attachmentsRow th,
.ui-dialog .ui-dialog-content.formContainer tr.attachmentsRow td {
  padding-bottom: 0;
}
.attachmentList ul.attachments {
  list-style: none;
  padding: 0;
  /*max-height: 110px;*/
  overflow-y: auto;
}
.attachmentList ul.attachments li.attachment {
  /*margin-bottom: 5px;*/
  position: relative;
  height: 18px;
  cursor: default;
}
.attachmentList ul.attachments li.attachment .attachmentIcon {
  display: inline-block;
  height: 18px;
  width: 18px;
}
.attachmentList ul.attachments li.attachment .attachmentName {
  position: absolute;
  left: 18px;
  margin-left:6px;
  cursor: pointer;
  right: 18px;
  bottom: 2px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
}
.attachments li.attachment .attachmentRemove {
  cursor: pointer;
  position: absolute;
  right: 0;
  display: inline-block;
  height: 18px;
  width: 18px;
  background-image: url(icon_delete.png);
}
.editButtonContainer .textButton.delete {
  padding-left: 28px;
  background-image: url(textbutton_left_trash.png), url(../form/textbutton_right.png), url(../form/textbutton_middle.png);
}
.diaryItemSummary .attachmentName {
  width: 90px !important;
}
