/*
Start Common CSS to be moved
*/

.studentProfileEditLayout #DOBHolder {
	padding-left: 5px;
}

.studentProfileEditLayout img, .studentProfileEditLayout span {
	vertical-align: middle;
}

.textbutton {
	display: inline-block;
	height: 28px;
	background: url(../form/textbutton_left.png) left top no-repeat, url(../form/textbutton_right.png) right top no-repeat, url(../form/textbutton_middle.png) left top repeat-x;
	font-family: "Diary Font";
	font-size: 14px;
	font-weight: 600;
	color: #999999; /* #a9a9a9; */
	margin-top: 8px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	cursor: pointer;
}

.textbutton > span {
	position: relative;
	top: 6px;
}

.textlink {
	cursor: pointer;
	position: relative;
	top:5px;
	padding-right:5px;
}

.editButtonContainer .textlink.editStudentProfileCancel a{
	font-family: "Diary Font";
	font-size: 11px;
	font-weight: 400;
	color: black;
}

/*
End CSS Common CSS to be moved
*/

.frontPage {
	margin: 0;
	padding: 0;
	font-family: "Diary Font";
}

.schoolBanner {
	display: block;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align:center;
}

.schoolBanner img {
    max-height: 200px;
    max-width: 450px;
}

.editButtonContainer {
/*	position: absolute;
	right: 10px;
	bottom: 4px;
	vertical-align: middle;*/
	vertical-align: middle;
}

.scroller.studentProfileEditContainer {
	bottom: 48px;
}

.formContainer input, 
.formContainer textarea, 
.formContainer select {
	background: 
		url(../../assets/form/control_topleft.png) left top no-repeat, 
		url(../../assets/form/control_topright.png) right top no-repeat, 
		url(../../assets/form/control_bottomleft.png) left bottom no-repeat, 
		url(../../assets/form/control_bottomright.png) right bottom no-repeat, 
		url(../../assets/form/control_top.png) left top repeat-x,
		url(../../assets/form/control_bottom.png) left bottom repeat-x,
		url(../../assets/form/control_left.png) left top repeat-y,
		url(../../assets/form/control_right.png) right top repeat-y,
		#ffffff;
	border: none;
	height: 27px;
	font-family: "Diary Font";
	font-size: 11px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
 }

.formContainer textarea {
	height: 54px;
}

.studentProfileEditContainer {
	padding-right: 5px;
}

.studentProfileEditLayout {
	table-layout:fixed;
	width: 100%; padding-top:6px;
}

#studentProfileEditPostcode {
	width: 64px;
}
 
#studentProfileEditAge,
#studentProfileEditYear {
	width: 40px;
}