<div style="width:1056px;height:485px; clear:both;font-family: Arial;background-image:url('app:/content/AboutDaisy/aboutDaisy.jpg'); background-position:left;">
	<span style="top:375px;position:absolute;left:75px;"><a id="externalYoutube" style="font-size:16px; color:#e47009; cursor: pointer;">https://www.youtube.com/watch?v=qdwdI497E3w</a></span>
	<span style="top:435px;position:absolute;left:75px;"><a id="externalPDF" style="font-size:16px; color:#e47009; cursor: pointer;">https://e-planner.com.au/AboutDaisy/Daisy-Student-Manual-2015.pdf</a></span>
</div>
