@charset "utf-8";
/* CSS Document */
/*
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:''; content:none;
}
a {
	margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none; outline:none;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	cursor:help;
}*/
/* tables still need cellspacing="0" in the markup */
/*
table {
	border-collapse:collapse; border-spacing:0;
}
hr {
	display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;
}
input, select,textarea {
	vertical-align:middle;
	outline:none;
	font-family:Arial, Helvetica, sans-serif;
}
.clear {
	clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;
}
.clearfix:after {
	clear: both; content: ' '; 
	display: block; 
	font-size: 0; 
	line-height: 0; 
	visibility: hidden; 
	width: 0; 
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.clear{
	clear:both;
}
.clr {clear:both;}*/
/* END RESET CSS */
body {
	margin:0; 
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(images/main_bg.jpg) repeat;
}
#vtab > div {
	background-color: #ececec !important;
	margin-left: 150px;
	border: 1px solid #5080b6;
	min-height: 834px;
	padding: 12px;
	position: relative;
	z-index: 9;
	border-radius: 0 10px 10px 10px;
	box-shadow: 0 0px 1px 1px #6d96c3;
}

.aboutContainer{
	
	/*-webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, .5),  0 3px 0 -2px #f6f6f6,  0 3px 2px -2px hsla(0, 0%, 0%, .4),  0 7px 0 -4px #f6f6f6,  0 7px 2px -4px hsla(0, 0%, 0%, .4),  0 0px 0 -0px #f6f6f6,  0 0px 0px -0px hsla(0, 0%, 0%, .4),  0 0px 0 -0px #f6f6f6,  0 0px 0px 0px hsla(0, 0%, 0%, .4),  0 0px 0 0px #f6f6f6,  0 0px 0px 0px hsla(0, 0%, 0%, .4),  0 0px 0 0px #f6f6f6,  0 0px 0px -0px hsla(0, 0%, 0%, .4);*/
	/*-moz-box-shadow: 0 0 10px hsla(0, 0%, 0%, .5),  0 3px 0 -2px #f6f6f6,  0 3px 2px -2px hsla(0, 0%, 0%, .4),  0 7px 0 -4px #f6f6f6,  0 7px 2px -4px hsla(0, 0%, 0%, .4),  0 0px 0 -0px #f6f6f6,  0 0px 0px -0px hsla(0, 0%, 0%, .4),  0 0px 0 -0px #f6f6f6,  0 0px 0px -0px hsla(0, 0%, 0%, .4),  0 0px 0 0px #f6f6f6,  0 0px 0px 0px hsla(0, 0%, 0%, .4),  0 0px 0 0px #f6f6f6,  0 0px 0px 0px hsla(0, 0%, 0%, .4);*/
	/*box-shadow: 0 0 10px hsla(0, 0%, 0%, .5),  0 3px 0 -2px #f6f6f6,  0 3px 2px -2px hsla(0, 0%, 0%, .4),  0 7px 0 -4px #f6f6f6,  0 7px 2px -4px hsla(0, 0%, 0%, .4),  0 0px 0 -0px #f6f6f6,  0 0px 0px -0px hsla(0, 0%, 0%, .4),  0 0px 0 -0px #f6f6f6,  0 0px 0px -0px hsla(0, 0%, 0%, .4),  0 0px 0 0px #f6f6f6,  0 0px 0px 0px hsla(0, 0%, 0%, .4),  0 0px 0 0px #f6f6f6,  0 0px 0px 0px hsla(0, 0%, 0%, .4);*/
	/*/*/
	
	background:url("images/bottomShadow.png") repeat-x bottom #ECECEC;
	background-size: 6px 10px;
	/* code for Rounded box*/
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	/* End code for Rounded box*/
	/*-moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);*/
	/*-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);*/
	/*box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);*/
    height: 100%;
    border:solid 1px #817f7f;
}

.myinbox_content{
	float:left;
	width:100%;

}
.my
{	
	color: #5B5B5B;
	font-size: 18px;
	margin-left:6px;
	
	border:0px solid red !important;
	
}
.my table
{	
	color: #5B5B5B;
	font-size: 18px;
	margin-left:6px;
	margin-top: 1%;
	border:0px solid red !important;
	width:100%;
	
}
.my table tr td
{
	width:50%;
	text-align:left;
}
.classes_tbl_lt{
	background:#ededed;
	border: 1px solid #D9D9D9;
	border-collapse: separate;
	border-radius: 5px;
	box-shadow: none;
	float: left;
	margin-left: 3px;
	overflow: hidden;
	padding: 0;
	width: 98%;

}

.classes_tbl_lt tr td{
    border-bottom:1px solid #D9D9D9;
    border-top:1px solid #ffffff;
    box-shadow: 1px red;
    padding:0px 10px;
    vertical-align: middle;
    text-align:left;
}
.classes_tbl_lt h2{

    font-size: 12px;
    color:#464646;
}

.classes_tbl_lt  tr {
	/*color:#464646;*/
}
.classes_tbl_lt  tr td:first-child{
	border-bottom:1px solid #D9D9D9;
	box-shadow: 1px red;
	padding:10px 10px;
	vertical-align: middle;
	text-align:left;
	width:92%;
}

.classes_tbl_lt  tr:first-child{
	
}
.classes_tbl_lt  tr td:last-child{
	border-bottom:1px solid #D9D9D9;
	box-shadow: 1px red;
	padding:10px 10px;
	vertical-align: middle;
	text-align:left;width:8%;
}
.classes_tbl_lt  tr.selected{
     background: url("images/blue.png") repeat;
     color: #ffffff;
 }

.classes_tbl_lt  tr.selected h2{
	color: #ffffff;
}

.classes_tbl_lt  tr td.selected{

    color: #ffffff;
}

.classes_tbl_lt  tr td img{
	border-radius:5px;
}

/*.classes_tbl_lt  tr.selected td img{*/
	/*background: url("images/blue.png") repeat;*/
	/*color:#fff !important;*/
/*}*/

/* right table my classes*/
.classes_tbl_rt{
	background:#ededed;
	border: 1px solid #D9D9D9;
	border-collapse: separate;
	border-radius: 5px;
	box-shadow: none;
	float: left;
	/*margin-left: 15px;*/

	padding: 0;
	width: 98%;
    font-family: arial; font-size: 12px;
}




.classes_tbl_rt h2{

   font-size: 12px;
    color:#464646;
}
.done
{
    margin-right:1%;
}

.classes_tbl_rt  tr {
	color:#464646;
}
/*.classes_tbl_rt  tr td:first-child{*/
	/*border-bottom:1px solid #D9D9D9;*/
	/*box-shadow: 1px red;*/
	/*padding: 6px 10px;*/
	/*vertical-align: middle;*/
	/*text-align:left;*/
	/*width:10%;*/
/*}*/
.classes_tbl_rt  tr td{
	border-bottom:1px solid #D9D9D9;
    border-top:1px solid #ffffff;
	box-shadow: 1px red;
	padding:6px 10px;
	vertical-align: middle;
	text-align:left;
}
/*.classes_tbl_rt  tr td:last-child{*/
	/*border-bottom:1px solid #D9D9D9;*/
	/*box-shadow: 1px red;*/
	/**/
	/*vertical-align: middle;*/
	/*text-align:left;width:20%;*/
/*}*/
.classes_tbl_rt  tr.selected{
	background: url("images/blue.png") repeat-x;
	color:#fff !important;
}
.classes_tbl_rt tr.selected h2{
	color:#fff;
}
.classes_tbl_rt  tr td img{
	border-radius:5px;
}

.bottom_tbl_classes{
	background:#ededed;
	border: 1px solid #D9D9D9;
	border-collapse: separate;
	border-radius: 4px;
	box-shadow: none;
	float: left;
	margin-top: 1%;
	overflow: hidden;
	padding: 0;
	width: 99%;
	margin-bottom: 15px;
	margin-left: 1%;
}
.bottom_tbl_classes  tr {
	color:#464646;
	height:50px;
}
.bottom_tbl_classes  tr td:first-child{
	border-bottom:1px solid #D9D9D9;
	box-shadow: 1px red;
	padding:5px 5px;
	vertical-align: middle;
	text-align:left;
	width:10%;
	
}
.bottom_tbl_classes  tr td{
	border-bottom:1px solid #D9D9D9;
    border-top:1px solid #ffffff;
	box-shadow: 1px red;
	padding:5px 5px;
	vertical-align: middle;
	text-align:left;
	height:50px;
}
.bottom_tbl_classes  tr td:last-child{
	border-bottom:1px solid #D9D9D9;
	box-shadow: 1px red;
	
	vertical-align: middle;
	text-align:left;width:10%;
}
.bottom_tbl_classes  tr.selected{
	background: url("images/blue.png") repeat;
	color:#fff !important;
}

.bottom_tbl_classes  tr td img{
	border-radius:5px;
}

.btn_cancel {
	background: url("images/due_bg.png") no-repeat scroll 0 0 transparent;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF !important;
	float: right;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 17px !important;
	overflow: hidden;
	padding: 4px 20px;
	right: 20px;
	text-align: center;
	top: 5px;
}
.bottomhead
{clear:both;width:98%;
	margin-top:2%;
	float: left;
}

.bottomhead  tr td:first-child{
	color: #5B5B5B;
	font-size: 18px;
	font-weight: bold;
	padding:0 0px 0 10px;
	vertical-align: middle;
	text-align:left;
	width:82%;
}
.bottomhead  tr td{
	width:10%;
}
.white_content {
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
    display: none;
    height: auto;
    left: 55%;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 45%;
    width: 25%;
    z-index: 1002;
}

.black_overlay {
	background-color: #000000;
    display: none;
    left: 0;
    min-height: 966px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}
.white_content .pophead {
    background: url("images/bg.png") repeat-x scroll center top rgba(0, 0, 0, 0);
    height: 44px;
    border-bottom: solid 1px #0b3569;
}
.white_content .pophead .btns {
    margin: 10px 10px 0;
}
.btn_add {
    background: url("images/due_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF !important;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px !important;
    overflow: hidden;
    padding: 4px 6px;
    right: 20px;
    text-align: center;
    top: 5px;
}
a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 100%;
    margin: 0;
    outline: medium none;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
.midheadtxt {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-family: arial;
}
.modalTable{
    background-color: #e8e7e7;
    border-radius: 4px;
    margin: 5px 5px 5px 5px;
    width: 97%;
    border: solid 1px #d6d6d6;
    font-family: arial; font-size: 13px;color: #3d3c3c;line-height: 38px;padding: 0px;
    /*height: 99%;*/

}
.modalTable td{
    border-bottom: solid 1px #d6d6d6; padding-left: 5px;
}

.modalTable input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    float: left;
    margin: 3px 0 3px 0px;
    padding: 5px;
    width:90%;
}
.color{
    padding: 5px; background-color: #51A32D;
    width: 10px;
    height:10px;}
.borderTable{ border: solid 4px #0055A5;
    /*height: 77%;*/
}


.textarea {
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 4px 7px -5px #000000 inset;
    -webkit-box-shadow: 3px 4px 7px -5px #000000 inset;
    height: 150px;
    margin: 10px 0px 10px 0px;
  width:98%
}
.taskAssignedhomework{
	background: url("images/homesmall.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin:10px 0px 0px 10px;
}
.taskAssignedassignment{
	background: url("images/book.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin:20px 0px 0px 10px;
}

.theSelect{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;height:30px;width:100%;
    -moz-appearance:none;
    -webkit-appearance:none;appearance:none}
.selectWrap
{
    border-radius:5px;
    overflow:hidden;
    -webkit-box-shadow:-2px -3px 4px 0 #cfcece inset;
    width:120px;
    position:relative;
    z-index:1;
    border: solid 1px #c5c5c5;
    font-family: arial;font-size: 12px;
    font-weight: normal;
    height: 26px;
    color: #B5B5B5;
    background-color: #ffffff;
}

.selectWrap:before
{
    content:attr(data-content);
    position:absolute;
    top:5px;
    left:5px;
}

.selectWrap:after
{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;

    /*border-radius:0 5px 5px 0;*/
    font-size: 16px;
    color: #787777;
    content:"\25BC";
    padding:4px;
    height:100%;
    width:27px;
    position:absolute;right:0;
    top:0;
    z-index:-1;
    background: none repeat scroll 0 0 #E6E5E5;
    border-left: 1px solid #B5B5B5;
    box-shadow: 0 -5px 3px -2px #cfcece inset;
    -webkit-box-shadow: 0 -5px 3px -2px #cfcece inset;
}


.addMerit{
	cursor:pointer;
    color: blue;
	font-size: 12px;
    font-weight: bold;
}

.bjqs-caption{
	font-size: 12px;
    font-weight: bold;
	color: black;
}

