/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body	{
	font-family: 'Open Sans', sans-serif;
	color: #022140;
	width: 720px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	background-color: #ffffff;
}

div	{
	padding: 0;
	margin: 0;
}

p	{
	line-height: 25px;
	padding-top: 0;
	padding-bottom: 5px;
	margin: 0;
}*/

/*p.letters	{
	line-height: 25px;
	padding-top: 0;
	padding-bottom: 5px;
	margin: 0;
	width: 36px;
	display: inline-block;
}

p.item	{
	display: inline-block; 
	width: 680px; 
	vertical-align: top;
}*/

	

/*h1	{
	font-size: 24pt;
	font-weight: normal;
	border-bottom: 1px solid;
	padding-bottom: 3px; 
}

h2	{
	font-size: 16pt;
	font-weight: bold;
	line-height: 40px;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 3px;
}

h3	{
	font-size: 12pt;
	font-weight: bold;
	line-height: 25px;
	padding-top: 15px;
	padding-bottom: 5px;
	margin: 0;
}

h4	{
	font-size: 12pt;
	font-weight: bold;
	line-height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}*/

/*h3 span	{
	font-size: 24pt;
	text-shadow:2px 2px #888888;
}*/

h3	{
/*	font-size: 12pt;
	font-weight: bold;
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 5px;
	margin: 0;*/
}

p	{
	line-height: 25px;
	padding-top: 0;
	padding-bottom: 5px;
	margin: 0;
	font-weight: normal;
	font-size: 12px;
}
subhead-space {
	padding-top: 15px;
	padding-bottom: 5px;
	margin: 0;
}

.hanging	{
	padding-left: 20px;
    text-indent: -20px;
}

.display-label	{
	font-weight: bold;
	display: inline-block;
	width: 100px;
	padding: 0;
	margin: 0;
}

.display-wide	{
	font-weight: bold;
	display: inline-block;
	width: 150px;
	padding: 0;
	margin: 0;
}

.display-wider	{
	font-weight: bold;
	display: inline-block;
	width: 240px;
	padding: 0;
	margin: 0;
}
               
.display-field	{
	display: inline-block;
	vertical-align: top;
	max-width: 620px;
	padding: 0;
	margin: 0;
}             

.narrow-field	{
	display: inline-block;
	vertical-align: top;
	max-width: 400px;
	padding: 0;
	margin: 0;
}

.display-tab	{
	margin-left: 104px;
	vertical-align: top;
	padding: 0;
}       

.indented	{
	padding-left: 30px;
	display: inline-block;
	vertical-align: top;
	max-width: 620px;
}

.small-indent	{
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;
	max-width: 620px;
}

.narrow-space	{
	display: inline-block;
	vertical-align: top;
	width: 240px;
	padding: 0;
	margin: 0;
}

.narrower-space	{
	display: inline-block;
	vertical-align: top;
	width: 170px;
}

/*ul, ol	{
	margin: 0;
	padding-top: 5px;
	padding-bottom: 10px;
}

ul li	{
	font-weight: normal;
	line-height: 25px;
	padding-bottom: 5px;
}*/

ol li	{
	font-weight: bold;
	padding-bottom: 5px;
}

/*li span {
    font-weight:normal;
}		*/

ol ol li	{
	font-weight: normal;
	list-style-type: disc;
}

ol em	{
	font-weight: normal;
}

ol ul li	{
	font-weight: normal;
	list-style-type:disc;
}
	      
ul ul li	{
	font-weight: normal;
	list-style-type:disc;
}
/*
li	{
	line-height: 25px;
}

em	{
	line-height: inherit;
}*/

.bluebox	{
	background-color: #CCECFF;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.centered	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
}

.centered-labels	{
	display: inline-block;
	vertical-align: top;
	min-width: 140px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.dashed	{
	border-top: 1px;
	border-style: dashed;
}

.space	{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*.note	{
	font-style: italic;
	margin-top:10px;
}*/

.centre {
	text-align: center;
	display: inline;	
}

img.diagram {
	display: inline;
	width: 200px;
	padding: 10px 20px 10px 0px
}

#box1	{
	font-weight: bold;
	background-color: #80d0ff;
	padding: 10px;
	margin-bottom: -2px;
	border: solid 2px;
	width: 30%;
	text-align: center;
	line-height: 25px;
	margin-left: auto;
	margin-right: auto;
}

#box2	{
	background-color: #99d9ff;
	font-weight: bold;
	padding: 10px;
	border: solid 2px;
	margin-bottom: -2px;
	width: 40%;
	text-align: center;
	line-height: 25px;
	margin-left: auto;
	margin-right: auto;
}

#box3	{
	background-color: #b3e3ff;
	font-weight: bold;
	padding: 10px;
	margin-bottom: -2px;
	border: solid 2px;
	width: 60%;
	text-align: center;
	line-height: 25px;
	margin-left: auto;
	margin-right: auto;
}

#box4	{
	background-color: #CCECFF;
	font-weight: bold;
	padding: 10px;
	margin-bottom: -2px;
	border: solid 2px;
	width: 80%;
	text-align: center;
	line-height: 25px;
	margin-left: auto;
	margin-right: auto;
}

#box5	{
	background-color: #e6f6ff;
	font-weight: bold;
	padding: 10px;
	border: solid 2px;
	width: 100%;
	text-align: center;
	line-height: 25px;
	margin-left: auto;
	margin-right: auto;
}

/*td, th	{
	border: 1px #022140 solid;
	padding: 5px;
}

th	{
	font-weight: bold;
	background-color:  #CCECFF;
}

td	{
	vertical-align: text-top;
}

table	{
	border-collapse: collapse;
	margin-top: 5px;
	margin-bottom: 10px;
	line-height: 25px
}*/

td.bold	{
	font-weight: bold
}

td.symbol	{
	font-weight: bold;
	font-size: 16pt;
	text-align: center;
	vertical-align: middle
}