.token .container .content {
	overflow:hidden !important;
}

.token .title {
	position: fixed;
	top: 27px;
	right:23px;
	color: #ffffff;
	font-size:14pt;
	text-shadow: black -1px -1px 3px;
}

.frame.token>header {
	width: 100%;
	height:77px;
	background: url(token/images/diary_logo.png) no-repeat;
	cursor: pointer;
}

.frame.token .content .tokeninstructioncontainer {
/* 	position: absolute; */
	display: block;
	font-family: "Diary Font";
	font-size: 24px;
	left:0px;
	right:0px;
/* 	top: 0px;
 */	text-align: left;
	padding: 10px 25px;
	color: #494949;
}

.frame.token .content .tokeninstructioncontainer h3 {
	text-align: center;
}

.frame.token .content .tokeninstructioncontainer p { 
	font-size: 14px;
}

.frame.token .content .tokeninputcontainer {
/* 	position: absolute;
 */	display: block;
	font-family: "Diary Font";
	left:0px;
	right:0px;
/* 	top: 140px;
 */	text-align: center;
 	color: #494949;
}

.frame.token .content .tokeninputcontainer label {
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding-bottom: 10px;
}

.frame.token .content .tokeninputcontainer .tokeninput {
	text-align: center;
}

.frame.token .content .tokenmessagecontainer {
/* 	position: absolute;
 */	font-family: "Diary Font";
	font-size: 14px;
	left:0px;
	right:0px;
/* 	top: 202px;
 */	text-align: center;
	height: 54px;
	padding-top: 10px;
}

.frame.token .content .tokenmessagecontainer.tokenerror {
	color: #c03946;
}
/*
.frame.token .content .tokenactioncontainer p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
*/
.frame.token .content .tokenbusy {
	position: absolute;
	display: none;
	font-family: "Diary Font";
	font-size: 24px;
	left:0px;
	right:0px;
	top: 230px;
	text-align: center;
}

.frame.token .content.busy .tokenbusy {
	display: block;
}

.frame.token .content .tokenactioncontainer {
	position: absolute;
	display: block;
	font-family: "Diary Font";
	font-size: 24px;
	left:0px;
	right:0px;
	top: 280px;
	text-align: center;
}

.containerWidgets {
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 25px;
	height: 21px;
}

.containerWidgets .close {	
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	width: 21px;
	height: 21px;
	background-image: url(chrome/close.png);
	cursor: pointer;
}

.containerWidgets .close:hover {
	background-image: url(chrome/close_down.png);
}

.tokeninputcontainer input {
	background: 
		url(form/control_topleft.png) left top no-repeat, 
		url(form/control_topright.png) right top no-repeat, 
		url(form/control_bottomleft.png) left bottom no-repeat, 
		url(form/control_bottomright.png) right bottom no-repeat, 
		url(form/control_top.png) left top repeat-x,
		url(form/control_bottom.png) left bottom repeat-x,
		url(form/control_left.png) left top repeat-y,
		url(form/control_right.png) right top repeat-y,
		#ffffff;
	border: none;
	height: 27px;
	font-family: "Diary Font";
	font-size: 11px;
	padding-left: 10px;
	padding-right: 10px;
 }
 
.textbutton {
	display: inline-block;
	height: 28px;
	background: url(form/textbutton_left.png) left top no-repeat, url(form/textbutton_right.png) right top no-repeat, url(form/textbutton_middle.png) left top repeat-x;
	font-family: "Diary Font";
	font-size: 14px;
	font-weight: 600;
	color: #494949; /* #a9a9a9; */
	margin-top: 8px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	cursor: pointer;
	border: none;
}

.textbutton[disabled=disabled] {
	color: #a9a9a9;
}

.title {
	position: fixed;
	top: 27px;
	left:300px;
	color: #ffffff;
	font-size:14pt;
	text-shadow: black -1px -1px 3px;
}


