.homeView {
	margin-top:0px;
}

section#container {
	
	/*min-height:500px;*/
	width:100%;
	margin:0 auto;
	background:url("images/leftpanelbg.png") repeat-y top left #FFF;
}

section#container .leftpanel {
	float:left;
	width:250px;
	/*margin-top:-76px;*/
}
section#container .rightpanel {
	float:left;
}
section#page {
	position:relative;
	padding:0px;
	height:95%;
}
section#page h2.title {
	font-size:18px;
	color:#1484be;
	text-transform:uppercase;
	padding:6px 0;
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
	position:relative;
}
section#page h3.title {
	font-size:18px;
	color:#1484be;
	text-transform:uppercase;
	padding:6px 0;
	margin-bottom:6px;
}
/* css for top content div*/
.top_content {
	/* border: 6px solid #FFFFFF;
	box-shadow: 0 1px 3px 1px #999999;
	height: 182px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	text-align: center; */
	 
	background: url(images/splash.png) no-repeat;
	border: 0px solid #FFFFFF;
	border-radius: 7px 7px 0px 0px;
	height: 250px;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 12px;
	margin-left:0.5%;
	margin-right:1%;
}

.tabs_container {
	position: relative;
	margin: -41px 0px 0;
}

.tabs_contentner .tabsContent ul {
	margin-top: -4px;
	padding: 0px;
	list-style: none;
}

/*name strip student*/

.nameStrip_student{
	/*width:100%;*/
	background: url("images/img001.png") repeat scroll 0% 0% transparent;
	float: left;
	margin-top: 5px;
	width: 40.5%;
	border-radius: 7px 7px 0px 7px;
	margin-left:1%;
	height:90px;

}
.nameStrip_student h2{
	color: #FFFFFF;
	font-size: 14px;
	margin: 0;
	min-height: 55px;
	padding: 12px 20px 9px 100px;
	text-align: left;
	font-family: "Diary Font";
	
	
}
.nameStrip_student .icon_photo{
	position:absolute;
	left:23px;
	margin-top:5px;
	margin-left:7px;
	width:80px;
	height:80px;
	overflow:hidden;
}
.nameStrip_student .icon_photo img{
	width:80px;
	height:80px;
	border-radius:8px;
	cursor:pointer;
}


/*name strip overdue item*/


.nameStrip_hide{
	background: url("images/t_bg.png") repeat scroll 0 0 #F6F6F6;
	border-radius: 7px 0px 0px 0px;
	border: 1px solid #D9D9D9;
	clear: both;
	color: #FFFFFF;
	float: left;
	font-size: 14px;
	margin-left: 0.9%;
	margin-top: 0px;
	min-height: 90px;
	position: absolute;
	text-align: left;
	top: 110px;
    width: 40.1%;
	z-index: 1;
	border-right: 0px;
	/*padding: 5px 20px 9px 10px;*/
}
.nameStrip_hide table tr td:first-child{
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 5px;
	width: 75%;
}
.nameStrip_hide table tr td:last-child {
	
	padding:2px 5px;
	
}
/* 
.nameStrip_hide table div{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 5px 5px 5px 5px;
	float: left;
	margin: 0 0 0 20px;
	padding: 5px;
	text-align: left;
} */ 
.nameStrip_hide table .singleDueRow{
	background: url("images/bg_tbl.png") repeat scroll 0 0 transparent;
	border: 1px solid #D9D9D9;
	border-radius: 5px 5px 5px 5px;
	float: left;
	margin: 0 0 0 20px;
	padding: 0px 5px 0px 0;
	text-align: left;
	width: 200px;
}

.nameStrip_hide table tr td div img{
	margin:6px;
	border-radius:2px;
	float:left;
	width:19px;
	height:19px;
}
.nameStrip_hide table span{
	float:left;
	color:#9999a2;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	
}
.nameStrip_hide table span.days_count{
	color: #4A4A4A;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-top: 7px;
	
}

.nameStrip_hide table h6{
	color:#4A4A4A;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	top:-10px;
	position: absolute;
	font-weight:smooth;
	font-size:11px;
}

.btn_hide{
	/* background: -webkit-gradient(to bottom, #3f82c6 0%, #7ba5df 100%) repeat scroll 0 0 transparent; */ 
	
	background: url("images/viewallbtnSelected.png") no-repeat;
	
	overflow:hidden;
	color: #FFFFFF !important;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px !important;
	padding: 10px 0px 5px 2px ;
	position: absolute;
	right: 0px;
	top: 28px;
	height: 52px;
	width: 77px;
	text-align: center;
	cursor:pointer;
}




/*css for overdue item and hide button*/


.calender_profile{
	background: url("images/t_bg.png") repeat scroll 0 0 #F6F6F6;
	float: left;
	margin-top: 3px;
	width: 56%;
	margin-left: 1%;
	border: 1px solid #D9D9D9;
	border-radius: 10px 10px 0px 0px;	
	box-shadow: none;
	height: 185px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 2%;





}
.calender_profile table{

	width: 94%;
	border: 1px solid #D9D9D9;
	border-collapse: separate;
	border-radius: 10px 0px 0px 10px;
	margin: 7px 0 0 7px;
	border-collapse: separate;
	border-right:none;
	
}

.calender_profile table tr{
	border-bottom: 1px solid #FFF !important;
	clear: both;
	float: left;
	width: 100%;
}

.bb {
	border-bottom:1px solid green !important;
	
}
.calender_profile table tr:first-child td:first-child{
	border-radius: 10px 0 0 0 !important;
	
}
.calender_profile table tr:first-child td:last-child{
	border-radius: 0px 0px 0 0px !important;
	
}
.calender_profile table tr:last-child td:first-child{
	border-radius: 0px 0 0 10px !important;
	
}
.calender_profile table tr:last-child td:last-child{
	border-radius: 0px 0 0px 0px !important;
	
}
.calender_profile table tr:last-child{
	border-bottom:0px  !important;
}
.calender_profile table tr td:first-child{
	background:#e7e7e7 !important;
	border-bottom: 0px solid #D9D9D9;
	
	border-right: 1px solid #D9D9D9;
	color: #9999A2;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 5px;
	vertical-align: middle;
	width: 2%;
}
.calender_profile table tr td:nth-child(2) {
	width: 10%;
	padding:2px 5px;
	border-bottom:1px solid #D9D9D9;
	border-right:0px solid #D9D9D9;
}
.calender_profile table tr td:last-child {
	background:#f6f5f5;
	border-bottom: 0 solid #D9D9D9;
	border-radius: 0 0px 0 0;
	padding: 2px 5px;
	vertical-align: middle;
}
.calender_profile table .overdueRow{
	
	border-bottom: 1px solid #C4C4C4;
	border-left: 0px solid #D9D9D9;
	border-radius: 5px 5px 5px 5px;
	border-right: 1px solid #D9D9D9;
	float: left;
	height: 50px;
	margin: 2px 0 0 10px;
	text-align: left;
	width: 250px; 
	background:url(images/bg_tbl.png) repeat ;
}
.subjectName{
	margin: 10px 8px 0 5px;
	width:30px !important;
	height:30px; 
	float:left; 
	border-radius: 5px 5px 5px 5px;
}

.subjectName .homework{
	background: url(../notification/homework.png) no-repeat;
	height:19px;
	width:20px;
	margin:5px 0px 0px 5px;

}

.subjectName .assignment{
	background: url(../notification/assignment.png) no-repeat ;
	height:19px;
	width:20px;
	margin:5px 0px 0px 3px;
}

.subjectName .note{
	background: url(../notification/note.png) no-repeat ;
	height:19px;
	width:20px;
	margin:5px 0px 0px 3px;
}

.subjectName .News{
	background: url(../notification/news.png) no-repeat;
	height:16px;
	width:14px;
	margin:5px 0px 0px 12px;
}

.subjectName .Announcement{
	background: url(../notification/announcement.png) no-repeat;
	height:10px;
	width:14px;
	margin:5px 0px 0px 12px;
}

.subjectColor{
	margin-right: 0px; 
	width:40px !important; 
	height:40px; 
	float:left; 
	border-radius: 5px;
}

.subjectColor img {
	margin:10px;
	border-radius:2px;
	float:left;
	width:19px;
	height:19px;
}
.calender_profile table tr td div img{
	
	margin:6px;
	border-radius:2px;
	float:left;
	width:19px;
	height:19px;
}
.calender_profile table tr td div img.close_row{
	
	float: right;
	height: 21px;
	margin-right: 10px ;
	width: 21px;
	cursor:pointer;
}
.calender_profile table span{
	
	color:#9999a2;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	
}
.calender_profile table h6{
	color:#4A4A4A;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	top:-40px;
	position: relative;
}

.vLine{
	border-radius: 5px 5px 5px 5px;
	float: left;
	height: 50px;
	width: 6px;
}

.name_tag{
	margin-top:8px; 
	float:left; 
	height: 23px;
	width: 150px;
}

/*css for overdue items list*/


/*css for subtabs*/

.tabs_container .tabsContent{
	position:relative;

}

.newsAnnouncementsContent{
	padding-left:1%;
	/*background: url("images/t_bg.png") repeat #f6f6f6;*/
	box-shadow:0 2px 2px 0 #999;
	display:none;
	border:1px solid #999FA6 ;
	border-top:0px;
    background-image: url(images/bottomShadow.png), url(images/t_bg.png);
    background-position: bottom,  top;
    background-repeat: repeat-x, repeat;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;

}

.newsAnnouncementsContent ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

.glanceContent{
	
	border-radius:10px 10px 0 0;
	background:none repeat scroll 0% 0% rgb(244, 243, 243);


}

.glanceContent ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

.glanceContent ul li.tabContent_row{


    background-image: url(images/bottomShadow.png), url(images/t_bg.png);
    background-position: bottom,  top;
    background-repeat: repeat-x, repeat;

    display:none;
    /*min-height:520px;*/
    border:1px solid #999FA6 ;
    border-top:0px;

    /* code for Rounded box*/
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    /* End code for Rounded box*/
    /*margin-bottom:20px;*/
    /*-moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);*/
    /*-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);*/
}

.tabs_container{
	position:relative;
}
.tabs_container .tabMenu_btn{
	position:relative;
}
.tabs_container .tabMenu_btn ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.tabs_container .tabMenu_btn ul li{
	float:left;
	width:47.9%;
	text-align:center;
	border-radius:10px !important;
	margin-left: 14px;
	
}

.tabs_container .tabMenu_btn ul li .tabs_txt{
	background:url("images/bg.png") repeat-x;
	border-radius:5px 5px 0 0;
	position:relative;
	
	
	padding:15px;
	padding:12px;
	padding-left:5px;
	font-size:14px;
	font-weight:700;
	color:#fff;
	cursor:pointer;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-o-border-radius:5px 5px 0 0;
	box-shadow:0 -1px 2px -1px #999;
	border:1px solid #999fa6;
	border-bottom:0px;
	font-family: "Diary Font";
	
}
.tabs_container .tabMenu_btn ul li.active .tabs_txt
{
	background:url("images/t_bg.png") repeat-x;
	border-radius:5px 5px 0 0;
	color: #000!important;
}

.tabs_container .tabMenu_btn ul li.announcements .tabs_txt{
	margin:0 10px 0 15px;
}

.tabs_container .tabMenu_btn ul li .tabs_txt .notification_num{
	position:absolute;
	top:5px;
	background:#f42829;
	color:#fff;
	border:1px solid #802125;
	border-radius:20px;
	padding:3px 8px;
}
.title_tabs {
	position: relative;
	/*padding: 8px;*/
	height:30px;
	line-height:30px;
	color: #484747;
	border-bottom: 1px solid #d3d3d3;
	background: #eaeaea;
	font-size: 12px !important;
	margin-top: 0px !important;
	padding-left:10px;
}

.phwtcg_date {
	position: absolute;
	right: 0px;
	top: 0px;
	height:30px;line-height:30px;
	font-size: 12px !important;
	padding-right:10px;
}

.phwtcg_ctxt_div {
	border-bottom: 1px solid #d3d3d3;
	padding: 10px;
	position: relative;
	min-height: 30px;
	color: #0a0707;
	font-family: "Diary Font";
	font-size:13px;
	padding-left:1px;
	padding-top:0px;
	line-height:30px;
}

.glanceItem{
	
	border-top: 1px solid #D9D9D9;
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	border-radius:0 0 0 0;
	background:none repeat scroll 0% 0% rgb(244, 243, 243);

	margin:0px;

}

.show_time_ld {
	position: absolute;
	left: 10px;
	top: 10px;
	color: #9999A2;
	font-size: 15px;
	font-weight: bold;
}

.tabsStrip {
	margin-left: 100px;
}

.announcementType {
	float: left;
	color: #000;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.CreatedTime {
	text-align: right;
	color: #999FA6;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
}

.announcementTitle {
	float: left;
	clear: both;
	color: #999FA6;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	margin-top: 5px;
}

.CreatedBy {
	color: #999FA6;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	margin-top: 5px;
	text-align: right;
}

.dueDetails{
	
	
	border-bottom:1px solid #d5d5d5 !important;
	border-right:1px solid #d5d5d5 !important;
}

.dueIcon{
	margin-left:10px;
	height:42px;
	width:42px;
	
}


.jspContainer {
	overflow: hidden;
	position: relative;
}

.mainShadowBottom
{

    /*-webkit-box-shadow: 0 0 4px hsla(0, 0%, 0%, .5),  0 3px 0 -2px #f6f6f6,  0 3px 2px -2px hsla(0, 0%, 0%, .4),  0 7px 0 -4px #f6f6f6,  0 7px 2px -4px hsla(0, 0%, 0%, .4),  0 0px 0 -0px #f6f6f6,  0 0px 0px -0px hsla(0, 0%, 0%, .4),  0 0px 0 -0px #f6f6f6,  0 0px 0px 0px hsla(0, 0%, 0%, .4),  0 0px 0 0px #f6f6f6,  0 0px 0px 0px hsla(0, 0%, 0%, .4),  0 0px 0 0px #f6f6f6,  0 0px 0px -0px hsla(0, 0%, 0%, .4),0 0px 0px -0px hsla(0, 0%, 0%, .4),0 0px 0px 0px hsla(0, 0%, 0%, .4),0 0px 0px 0px hsla(0, 0%, 0%, .4),0 0px 0px 0px hsla(0, 0%, 0%, .4);*/
    /*-moz-box-shadow: 0 0 4px hsla(0, 0%, 0%, .5),  0 3px 0 -2px #f6f6f6,  0 3px 2px -2px hsla(0, 0%, 0%, .4),  0 7px 0 -4px #f6f6f6,  0 7px 2px -4px hsla(0, 0%, 0%, .4),  0 0px 0 -0px #f6f6f6,  0 0px 0px -0px hsla(0, 0%, 0%, .4),  0 0px 0 -0px #f6f6f6,  0 0px 0px -0px hsla(0, 0%, 0%, .4),  0 0px 0 0px #f6f6f6,  0 0px 0px 0px hsla(0, 0%, 0%, .4),  0 0px 0 0px #f6f6f6,  0 0px 0px 0px hsla(0, 0%, 0%, .4),0 0px 0px 0px hsla(0, 0%, 0%, .4),0 0px 0px 0px hsla(0, 0%, 0%, .4),0 0px 0px 0px hsla(0, 0%, 0%, .4),0 0px 0px 0px hsla(0, 0%, 0%, .4);*/
    /*box-shadow: 0 0 4px hsla(0, 0%, 0%, .5),  0 3px 0 -2px #f6f6f6,  0 3px 2px -2px hsla(0, 0%, 0%, .4),  0 7px 0 -4px #f6f6f6,  0 7px 2px -4px hsla(0, 0%, 0%, .4),  0 0px 0 -0px #f6f6f6,  0 0px 0px -0px hsla(0, 0%, 0%, .4),  0 0px 0 -0px #f6f6f6,  0 0px 0px -0px hsla(0, 0%, 0%, .4),  0 0px 0 0px #f6f6f6,  0 0px 0px 0px hsla(0, 0%, 0%, .4),  0 0px 0 0px #f6f6f6,  0 0px 0px 0px hsla(0, 0%, 0%, .4),0 0px 0px 0px hsla(0, 0%, 0%, .4),0 0px 0px 0px hsla(0, 0%, 0%, .4),0 0px 0px 0px hsla(0, 0%, 0%, .4),0 0px 0px 0px hsla(0, 0%, 0%, .4);*/


    height:20px; clear: both;
    border-radius: 0px 0px 8px 8px;
    margin-left:1%;
    margin-top: 177px;
    width: 98%;
    background:url("images/bottomShadow.png") repeat-x bottom;
    background-size: 6px 10px;





}

.white_content {
	background-color: #e7e5e5;
	display: none;
	height: 100%;
	left: 7%;
	overflow: auto;
	padding: 0px;
	position: absolute;
	top: 5%;
	width: 87%;
	border-radius: 8px 8px 8px 8px;
}

.profile_tbl_lt {
	background: #ededed;
	border: 1px solid #D9D9D9;
	border-collapse: separate;
	border-radius: 4px;
	box-shadow: none;
	float: left;
	margin-left: 3px;
	overflow: hidden;
	padding: 0;
	width: 49%;
}

.profile_tbl_lt tr td {
	border-bottom: 1px solid #D9D9D9;
	box-shadow: 1px red;
	padding: 0px 10px;
	vertical-align: middle;
	text-align: left;
}

.profile_tbl_lt tr: last child td {
	border-bottom: 0px;
}

.poppads tr td {
	padding: 11px 10px !important;
	color: #6e6e6e;
	font-weight: bold;
	font-size: 11px;
}

.bottompopup {
	margin: -10px 20px 20px 20px;
	clear: both;
	float: left;
}

.descriptionTextarea {
	border: 1px solid #999;
	box-shadow: -1px 0px 1px 1px #999;
	border-radius: 5px;
	height: 93px;
	width: 100% !important;
	border: 1px solid #666;
	margin: 10px 0 0 0;
}

.textDiscription {
	float: left;
	margin: 5px 0px;
	color: #636161;
	font-size:11px;
	font-family:arial;
	font-weight:bold;
}
.popupHead{
	background: url(images/modalheaderBg.png) repeat-x top;
	height: 47px;
	-webkit-border-radius: 5px 5px 0px 0px;
}

.popupHead table {
	padding: 0 10px;
}

.midheadtxt {
	font-weight: bold;
	color: #FFF;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
}

.popupHead .btns {
	margin: 10px 10px 0 10px;
	cursor: pointer;
}

.btn_add {
    background: linear-gradient(to bottom, #6993f4 0%, #3056a9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6993f4), to(#3056a9));
    background-image: -webkit-linear-gradient(top, #6993f4, #3056a9);
    border: 1px solid #1d366f;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 0 #afc1e9 inset;
    -webkit-box-shadow:0 1px 0 0 #afc1e9 inset;
	color: #FFFFFF !important;
	float: right;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px !important;
	overflow: hidden;
	padding: 4px 10px;
	right: 20px;
	text-align: center;
	top: 0px;
}

.input_tag {
	border: 1px solid #999;
	box-shadow: -1px 0px 1px 1px #999;
	border-radius: 1px;
	color: #999999;
	font-weight: bold;
	padding: 1px 4px 1px 3px;
	text-align: center;
	width: 43px;
	font-size:11px;
	
}

.truncateTitle{
	white-space:nowrap; 
	text-overflow:ellipsis;
	height:15px;
	overflow:hidden; 
	font-weight:smooth;
	font-size:11px;
}

.bool-slider 
{
	border: 1px solid #CCC;
	color: #FFF;
	font-size: 18px;
	font-weight: 800;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	
	height: 15px;
	width: 40px;
	border-radius: 28px;
}

.bool-slider.true .inset
{
	background-color: #cc3a34;
	*background-color: #cc3a34;
	background-image: linear-gradient(top, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-image: none;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bool-slider.true .inset .control{float: left;}
.bool-slider.true .inset .control:after
{
	content: '';
	position: relative;
	right: -135%;
	top: 20%;
}

.bool-slider.false .inset
{
	background-color: #1092e9;
	*background-color: #1092e9;
	background-image: linear-gradient(top, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-image: none;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bool-slider.false .inset .control{float: right;}
.bool-slider.false .inset .control:before
{
	content: '';
	position: relative;
	left: -100%;
	top: 20%;
}

.bool-slider .inset
{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	
}

.bool-slider .inset .control
{
	background-color: #d4d4d4;
	border:solid 1px #a9a9a9;
	width: 40%;
	height: 120%;
	border-radius: 20px;
	background-color: #d4d4d4;
	*background-color: #d4d4d4;
	background-image: linear-gradient(top, #ffffff, #e6e6e6);

	background-repeat: repeat-x;
	margin:-2px 0 0 -2px;
}

.bool-slider .inset .control:hover
{
	cursor: pointer;
}

.bool-slider.disabled
{
	color: #CCC;
}

.bool-slider.disabled .inset
{
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
}

.bool-slider.disabled .control
{
	cursor: default;
}
.nulRecord{
	color:red;
	margin-left:10px;
	font-size: 12px;
	height:50px;
	line-height:50px;
	
}
.showGlanceActive{
	font-weight: bold;
}

#banner-fade ul{
	list-style-type: none;
}

#banner-fade ul li.bjqs-prev{
	position:relative;
	top:-90px;
	margin-left:-10px;
}

#banner-fade ul li.bjqs-next{
	position:relative;
	top:-105px;
	padding-left:200px;
}

.bjqs-caption{
	white-space:nowrap; 
	text-overflow:ellipsis;
	height:15px;
	overflow:hidden; 
	width:150px;
	text-align: center;
	margin-left:-10px;
}

.studentsRow .MSDList_ListTableBody .MSDList_ListCheckBox{
	margin-top: 10px !important;
}