.dayView {
  /* header area */

  /* day view calendar area */

  /* non period day view items */

}
.dayView .calendarDateSelected {
  position: absolute;
  left: 490px;
  top: 32px;
  height: 0px;
  visibility: hidden;
}
.dayView .calendarDay {
  color: #888888;
  position: absolute;
  font-family: "Diary Font";
  font-weight: 300;
  font-size: 126px;
  text-align: right;
  width: 178px;
}
.dayView .buttonContainer {
  position: absolute;
  left: 198px;
  top: 35px;
}
.dayView .buttonContainer .calendarNav div.navToday.disabled {
  color: #888888;
  cursor: default;
}
.dayView .buttonContainer .calendarDateSelect {
  position: absolute;
  left: 177px;
  top: 0px;
  padding: 0px 16px;
  padding-right: 32px;
  display: inline-block;
}
.dayView .buttonContainer .calendarDateSelect div {
  padding-top: 8px;
  white-space: nowrap;
}
.dayView .buttonContainer .calendarDateSelect div.dropDownDisclosure {
  position: absolute;
  right: 16px;
  top: 8px;
}
.dayView .buttonContainer .calendarDateString {
  font-family: "Diary Font";
  font-weight: 300;
  font-size: 20px;
  margin-top: 18px;
  margin-bottom: 2px;
}
.dayView .buttonContainer .calendarCycleString {
  font-family: "Diary Font";
  font-weight: 600;
  font-size: 12px;
  color: #888888;
}
.dayView .dayViewCalendarTopBorder {
  display: block;
  position: absolute;
  background-color: #ddd;
  height: 1px;
  left: 80px;
  right: 47px;
  top: 143px;
  /* z-index: 500; */

}
.dayView .dayViewCalendarBottomBorder {
  display: block;
  position: absolute;
  background: url(border_ddd.png) top left repeat-x;
  padding-top: 1px;
  height: 1px;
  left: 80px;
  right: 47px;
  bottom: 32px;
  z-index: 500;
}
.dayView .dayViewCalendar {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 32px;
  right: 47px;
  top: 143px;
  bottom: 33px;
  border-right: 1px solid #dddddd;
}
.dayView .dayViewCalendar .dayViewCalendarBodyWrapper {
  position: relative;
  margin-left: 48px;
  border: 1px solid #dddddd;
  border-top: none;
  width: inherit;
}
.dayView .dayViewCalendar .dayViewCalendarBodyWrapper .increment {
  height: 29px;
  width: 7.5px;
  border-top: 1px solid #dddddd;
}
.dayView .dayViewCalendar .dayViewCalendarBodyWrapper .increment.hour-0,
.dayView .dayViewCalendar .dayViewCalendarBodyWrapper .increment.hour-30 {
  width: 100%;
}
.dayView .dayViewCalendar .dayViewCalendarBodyWrapper .increment.hour-15,
.dayView .dayViewCalendar .dayViewCalendarBodyWrapper .increment.hour-45 {
  width: 15px;
}
.dayView .dayViewCalendar .dayViewCalendarBodyWrapper label.hour {
  position: absolute;
  left: -48px;
  margin-top: -7px;
  text-align: right;
  width: 44px;
  font-family: "Diary Font";
  font-weight: bold;
  font-size: 12px;
  color: #c1c1c1;
}
.dayView .dayViewCalendar .dayViewCalendarBodyWrapper label.hour:first-of-type {
  margin-top: 0px;
}
.dayView .dayViewCalendar .dayViewCells {
  position: absolute;
  top: 0px;
  left: 63px;
  right: 0px;
}
.dayView .dayViewCalendar .dayViewCells > div {
  margin-right: 5px;
  position: absolute;
  border: 1px solid transparent;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  /* dropTarget must come after any other !important .dayViewCells */

}
.dayView .dayViewCalendar .dayViewCells > div.background {
  background: transparent url(../../assets/day/divider_odd.png) 130px top repeat-y;
}
.dayView .dayViewCalendar .dayViewCells > div.odd {
  /*
                    .periodDescription > div {
                        background: rgba(237, 237, 237, 0.6);
                    }
*/

}
.dayView .dayViewCalendar .dayViewCells > div.odd.background {
  background-color: #ededed;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  border-left: 1px solid #eaeaea;
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.maroon {
  background-image: url("../week/odd/button_marone_left.png"), url("../week/odd/button_marone_right.png"), url("../week/odd/button_marone_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.maroon.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.red {
  background-image: url("../week/odd/button_red_left.png"), url("../week/odd/button_red_right.png"), url("../week/odd/button_red_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.red.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.pink {
  background-image: url("../week/odd/button_pink_left.png"), url("../week/odd/button_pink_right.png"), url("../week/odd/button_pink_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.pink.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.purple {
  background-image: url("../week/odd/button_purple_left.png"), url("../week/odd/button_purple_right.png"), url("../week/odd/button_purple_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.purple.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.darkblue {
  background-image: url("../week/odd/button_darkblue_left.png"), url("../week/odd/button_darkblue_right.png"), url("../week/odd/button_darkblue_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.darkblue.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.skyblue {
  background-image: url("../week/odd/button_skyblue_left.png"), url("../week/odd/button_skyblue_right.png"), url("../week/odd/button_skyblue_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.skyblue.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.cyan {
  background-image: url("../week/odd/button_cyan_left.png"), url("../week/odd/button_cyan_right.png"), url("../week/odd/button_cyan_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.cyan.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.aqua {
  background-image: url("../week/odd/button_aqua_left.png"), url("../week/odd/button_aqua_right.png"), url("../week/odd/button_aqua_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.aqua.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.darkgreen {
  background-image: url("../week/odd/button_darkgreen_left.png"), url("../week/odd/button_darkgreen_right.png"), url("../week/odd/button_darkgreen_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.darkgreen.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.grassgreen {
  background-image: url("../week/odd/button_grassgreen_left.png"), url("../week/odd/button_grassgreen_right.png"), url("../week/odd/button_grassgreen_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.grassgreen.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.darkbrown {
  background-image: url("../week/odd/button_darkbrown_left.png"), url("../week/odd/button_darkbrown_right.png"), url("../week/odd/button_darkbrown_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.darkbrown.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.lightbrown {
  background-image: url("../week/odd/button_lightbrown_left.png"), url("../week/odd/button_lightbrown_right.png"), url("../week/odd/button_lightbrown_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.lightbrown.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.deeporange {
  background-image: url("../week/odd/button_deeporange_left.png"), url("../week/odd/button_deeporange_right.png"), url("../week/odd/button_deeporange_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.deeporange.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.orange {
  background-image: url("../week/odd/button_orange_left.png"), url("../week/odd/button_orange_right.png"), url("../week/odd/button_orange_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.orange.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.grey {
  background-image: url("../week/odd/button_grey_left.png"), url("../week/odd/button_grey_right.png"), url("../week/odd/button_grey_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.grey.dropTarget {
  background-image: url("../week/odd/button_black_left.png"), url("../week/odd/button_black_right.png"), url("../week/odd/button_black_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.darkgrey {
  background-image: url("../week/odd/button_darkgrey_left.png"), url("../week/odd/button_darkgrey_right.png"), url("../week/odd/button_darkgrey_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.darkgrey.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.white {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.white.dropTarget {
  background-image: url("../week/odd/button_black_left.png"), url("../week/odd/button_black_right.png"), url("../week/odd/button_black_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.black {
  background-image: url("../week/odd/button_black_left.png"), url("../week/odd/button_black_right.png"), url("../week/odd/button_black_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.odd .dayDiaryItemWidget.black.dropTarget {
  background-image: url("../week/odd/button_white_left.png"), url("../week/odd/button_white_right.png"), url("../week/odd/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even.background {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  border-left: 1px solid #f4f4f4;
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.maroon {
  background-image: url("../week/even/button_marone_left.png"), url("../week/even/button_marone_right.png"), url("../week/even/button_marone_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.maroon.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.red {
  background-image: url("../week/even/button_red_left.png"), url("../week/even/button_red_right.png"), url("../week/even/button_red_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.red.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.pink {
  background-image: url("../week/even/button_pink_left.png"), url("../week/even/button_pink_right.png"), url("../week/even/button_pink_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.pink.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.purple {
  background-image: url("../week/even/button_purple_left.png"), url("../week/even/button_purple_right.png"), url("../week/even/button_purple_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.purple.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.darkblue {
  background-image: url("../week/even/button_darkblue_left.png"), url("../week/even/button_darkblue_right.png"), url("../week/even/button_darkblue_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.darkblue.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.skyblue {
  background-image: url("../week/even/button_skyblue_left.png"), url("../week/even/button_skyblue_right.png"), url("../week/even/button_skyblue_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.skyblue.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.cyan {
  background-image: url("../week/even/button_cyan_left.png"), url("../week/even/button_cyan_right.png"), url("../week/even/button_cyan_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.cyan.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.aqua {
  background-image: url("../week/even/button_aqua_left.png"), url("../week/even/button_aqua_right.png"), url("../week/even/button_aqua_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.aqua.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.darkgreen {
  background-image: url("../week/even/button_darkgreen_left.png"), url("../week/even/button_darkgreen_right.png"), url("../week/even/button_darkgreen_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.darkgreen.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.grassgreen {
  background-image: url("../week/even/button_grassgreen_left.png"), url("../week/even/button_grassgreen_right.png"), url("../week/even/button_grassgreen_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.grassgreen.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.darkbrown {
  background-image: url("../week/even/button_darkbrown_left.png"), url("../week/even/button_darkbrown_right.png"), url("../week/even/button_darkbrown_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.darkbrown.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.lightbrown {
  background-image: url("../week/even/button_lightbrown_left.png"), url("../week/even/button_lightbrown_right.png"), url("../week/even/button_lightbrown_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.lightbrown.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.deeporange {
  background-image: url("../week/even/button_deeporange_left.png"), url("../week/even/button_deeporange_right.png"), url("../week/even/button_deeporange_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.deeporange.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.orange {
  background-image: url("../week/even/button_orange_left.png"), url("../week/even/button_orange_right.png"), url("../week/even/button_orange_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.orange.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.grey {
  background-image: url("../week/even/button_grey_left.png"), url("../week/even/button_grey_right.png"), url("../week/even/button_grey_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.grey.dropTarget {
  background-image: url("../week/even/button_black_left.png"), url("../week/even/button_black_right.png"), url("../week/even/button_black_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.darkgrey {
  background-image: url("../week/even/button_darkgrey_left.png"), url("../week/even/button_darkgrey_right.png"), url("../week/even/button_darkgrey_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.darkgrey.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.white {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.white.dropTarget {
  background-image: url("../week/even/button_black_left.png"), url("../week/even/button_black_right.png"), url("../week/even/button_black_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.black {
  background-image: url("../week/even/button_black_left.png"), url("../week/even/button_black_right.png"), url("../week/even/button_black_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.even .dayDiaryItemWidget.black.dropTarget {
  background-image: url("../week/even/button_white_left.png"), url("../week/even/button_white_right.png"), url("../week/even/button_white_middle.png");
}
.dayView .dayViewCalendar .dayViewCells > div.break {
  /*
                    .periodDescription > div {
                        background: rgba(255, 255, 255, 0.6); // semi-transparent white
                    }
*/

}
.dayView .dayViewCalendar .dayViewCells > div.break.background {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-right: none;
}
.dayView .dayViewCalendar .dayViewCells > div.break .periodTitle {
  text-transform: uppercase;
}
.dayView .dayViewCalendar .dayViewCells > div.dropTarget {
  background-color: #ebfceb !important;
}
.dayView .dayViewCalendar .dayViewCells > div table.dayPeriodLayout {
  height: inherit;
  width: 100%;
  border-collapse: collapse;
}
.dayView .dayViewCalendar .dayViewCells > div.maroon div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #650033;
}
.dayView .dayViewCalendar .dayViewCells > div.red div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #cf0000;
}
.dayView .dayViewCalendar .dayViewCells > div.pink div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #ff33ff;
}
.dayView .dayViewCalendar .dayViewCells > div.purple div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #6734cc;
}
.dayView .dayViewCalendar .dayViewCells > div.darkblue div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #000066;
}
.dayView .dayViewCalendar .dayViewCells > div.skyblue div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #3367ff;
}
.dayView .dayViewCalendar .dayViewCells > div.cyan div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #00aeef;
}
.dayView .dayViewCalendar .dayViewCells > div.aqua div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #02a4a4;
}
.dayView .dayViewCalendar .dayViewCells > div.darkgreen div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #006500;
}
.dayView .dayViewCalendar .dayViewCells > div.grassgreen div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #5ab902;
}
.dayView .dayViewCalendar .dayViewCells > div.darkbrown div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #562b01;
}
.dayView .dayViewCalendar .dayViewCells > div.lightbrown div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #ac8152;
}
.dayView .dayViewCalendar .dayViewCells > div.deeporange div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #ff6600;
}
.dayView .dayViewCalendar .dayViewCells > div.orange div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #ff9900;
}
.dayView .dayViewCalendar .dayViewCells > div.grey div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #8e8c8c;
}
.dayView .dayViewCalendar .dayViewCells > div.darkgrey div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #4c4949;
}
.dayView .dayViewCalendar .dayViewCells > div.white div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #ffffff;
}
.dayView .dayViewCalendar .dayViewCells > div.black div.periodColour {
  width: 15px;
  height: 100%;
  background-color: #000000;
}
.dayView .dayViewCalendar .dayViewCells > div .periodDescription {
  vertical-align: top;
  text-align: left;
  width: 115px;
  min-width: 115px;
}
.dayView .dayViewCalendar .dayViewCells > div .periodDescription .periodTitle,
.dayView .dayViewCalendar .dayViewCells > div .periodDescription .periodSubject,
.dayView .dayViewCalendar .dayViewCells > div .periodDescription .periodTimes,
.dayView .dayViewCalendar .dayViewCells > div .periodDescription .periodRoom {
  font-family: "Diary Font";
  font-weight: 600;
  text-align: left;
  text-shadow: white 1px 1px 1px;
  margin-right: 5px;
  display: inline-block;
  padding: 0 5px;
  background: none;
  font-size: 12px;
  color: #4a4a4a;
}
.dayView .dayViewCalendar .dayViewCells > div .periodDescription .periodTitle {
  margin-top: 8px;
}
.dayView .dayViewCalendar .dayViewCells > div .periodDescription .periodSubject {
  font-size: 12px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-top: 8px;
}
.dayView .dayViewCalendar .dayViewCells > div .periodDescription .periodTimes {
  font-size: 11px;
}
.dayView .dayViewCalendar .dayViewCells > div .periodColour {
  width: 15px;
}
.dayView .dayViewCalendar .dayViewCells > div .periodItems {
  padding-left: 15px;
  vertical-align: middle;
}
.dayView .dayViewCalendar .dayViewCells > div .periodAdd {
  vertical-align: middle;
  width: 32px;
  text-align: middle;
}
.dayView .dayViewCalendar .dayViewCells > div .periodAdd .dayPeriodAdd {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../week/add.png) no-repeat;
  cursor: pointer;
}
.dayView .dayViewCalendar .timeMarker {
  position: absolute;
  height: 15px;
  background: transparent;
  left: 48px;
  right: 0px;
  top: 0px;
  border-top: 2px solid #cc0000;
}
.dayView .dayViewCalendar .timeMarker .time {
  width: 28px;
  height: 15px;
  background: url("../../assets/day/time_marker.png");
  color: white;
  font-family: "Diary Font";
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  vertical-align: baseline;
  position: absolute;
  left: -5px;
  top: -9px;
  padding-right: 7px;
  text-align: right;
}
.dayView .dayViewNonPeriodItems {
  clear: both;
  border: 1px solid #dddddd;
  margin-left: 42px;
  min-height: 32px;
  position: absolute;
  top: 143px;
  right: 47px;
  left: 38px;
  background: white;
  /* z-index: 99; */

  padding: 5px 15px;
  white-space: nowrap;
  overflow: hidden;
  min-height: 31px;
  float: left;
}
.dayView .dayViewNonPeriodItems.dropTarget {
  background-color: #ebfceb !important;
}
.dayView .dayViewNonPeriodItems .dayViewNonPeriodItemList {
  margin-right: 20px;
}
.dayView .dayAdd {
  float: right;
  width: 20px;
}
.dayView .dayAdd .dayDayAdd {
  width: 16px;
  height: 16px;
  background: url(../week/add.png) no-repeat;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
.dayView .dayDayOfNote,
.dayView .dayEvent {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 600;
  color: #024584;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 17px;
}
.dayView .dayDayOfNote.locked,
.dayView .dayEvent.locked,
.dayView .dayDayOfNote.dayDayOfNote,
.dayView .dayEvent.dayDayOfNote {
  color: #8f9cbb;
}
.dayView .dayDayOfNote.locked,
.dayView .dayEvent.locked {
  padding-left: 14px;
  background: url(lock.png) 0px 2px no-repeat;
}
.dayView .dayEvents ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 600;
  color: #024584;
}
.dayView .dayEvents ul li {
  padding: 0px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 17px;
  display: inline-block;
}
.dayView .dayEvents ul li.locked {
  color: #8f9cbb;
  padding-left: 14px;
  background: url(lock.png) 0px 2px no-repeat;
}
.dayView .dayEvents ul li:after {
  content: ",";
}
.dayView .dayEvents ul li:last-child:after {
  content: "";
}
.dayView .dayDiaryItemWidget {
  display: inline-block;
  height: 31px;
  padding-left: 30px;
  padding-right: 28px;
  background-position: left top, right top, left top;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-clip: padding-box, padding-box, content-box;
  font-weight: 600;
  font-family: "Diary Font";
  color: white;
  font-size: 13px;
  text-shadow: #888888 -1px -1px 1px;
  vertical-align: bottom;
  position: relative;
  cursor: pointer;
}
.dayView .dayDiaryItemWidget .dayDiaryItemTitle {
  position: relative;
  top: 5px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
}
.dayView .dayDiaryItemWidget .dayDiaryItemLink {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 6px;
  top: 3px;
  background: url(../glance/drilldown_arrow.png) no-repeat;
}
.dayView .dayDiaryItemWidget .dayDiaryItemType {
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  width: 33px;
  height: 34px;
}
.dayView .dayDiaryItemWidget .dayDiaryItemType.homework {
  background: url(../notification/homework.png) no-repeat;
}
.dayView .dayDiaryItemWidget .dayDiaryItemType.assignment {
  background: url(../notification/assignment.png) no-repeat;
}
.dayView .dayDiaryItemWidget .dayDiaryItemType.messageFromTeacher {
  background: url(../notification/messageFromTeacher.png) no-repeat;
}
.dayView .dayDiaryItemWidget .dayDiaryItemType.messageFromTeacher.responseRequired {
  background: url(../notification/messageFromTeacher_responseRequired.png) no-repeat;
}
.dayView .dayDiaryItemWidget .dayDiaryItemType.messageFromParent {
  background: url(../notification/messageFromParent.png) no-repeat;
}
.dayView .dayDiaryItemWidget .dayDiaryItemType.messageFromParent.responseRequired {
  background: url(../notification/messageFromParent_responseRequired.png) no-repeat;
}
.dayView .dayDiaryItemWidget .dayDiaryItemType.research {
  background: url(../notification/research.png) no-repeat;
}
.dayView .dayDiaryItemWidget .dayDiaryItemType.note {
  background: url(../notification/note.png) no-repeat;
}
.dayView .dayDiaryItemWidget.dropTarget {
  color: #000000 !important;
  text-shadow: #888888 -1px -1px 1px !important;
}
.dayView .dayDiaryItemWidget.black.dropTarget {
  color: #ffffff;
  text-shadow: #888888 -1px -1px 1px;
}
.dayView .dayDiaryItemWidget.darygrey.dropTarget {
  color: #ffffff;
  text-shadow: #888888 -1px -1px 1px;
}
.dayView .dayDiaryItemWidget.white {
  color: #000000;
  text-shadow: #dddddd -1px -1px 1px;
}
.dayView .dayDiaryItemWidget.maroon {
  background-image: url("../week/plain/button_marone_left.png"), url("../week/plain/button_marone_right.png"), url("../week/plain/button_marone_middle.png");
}
.dayView .dayDiaryItemWidget.maroon.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.red {
  background-image: url("../week/plain/button_red_left.png"), url("../week/plain/button_red_right.png"), url("../week/plain/button_red_middle.png");
}
.dayView .dayDiaryItemWidget.red.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.pink {
  background-image: url("../week/plain/button_pink_left.png"), url("../week/plain/button_pink_right.png"), url("../week/plain/button_pink_middle.png");
}
.dayView .dayDiaryItemWidget.pink.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.purple {
  background-image: url("../week/plain/button_purple_left.png"), url("../week/plain/button_purple_right.png"), url("../week/plain/button_purple_middle.png");
}
.dayView .dayDiaryItemWidget.purple.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.darkblue {
  background-image: url("../week/plain/button_darkblue_left.png"), url("../week/plain/button_darkblue_right.png"), url("../week/plain/button_darkblue_middle.png");
}
.dayView .dayDiaryItemWidget.darkblue.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.skyblue {
  background-image: url("../week/plain/button_skyblue_left.png"), url("../week/plain/button_skyblue_right.png"), url("../week/plain/button_skyblue_middle.png");
}
.dayView .dayDiaryItemWidget.skyblue.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.cyan {
  background-image: url("../week/plain/button_cyan_left.png"), url("../week/plain/button_cyan_right.png"), url("../week/plain/button_cyan_middle.png");
}
.dayView .dayDiaryItemWidget.cyan.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.aqua {
  background-image: url("../week/plain/button_aqua_left.png"), url("../week/plain/button_aqua_right.png"), url("../week/plain/button_aqua_middle.png");
}
.dayView .dayDiaryItemWidget.aqua.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.darkgreen {
  background-image: url("../week/plain/button_darkgreen_left.png"), url("../week/plain/button_darkgreen_right.png"), url("../week/plain/button_darkgreen_middle.png");
}
.dayView .dayDiaryItemWidget.darkgreen.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.grassgreen {
  background-image: url("../week/plain/button_grassgreen_left.png"), url("../week/plain/button_grassgreen_right.png"), url("../week/plain/button_grassgreen_middle.png");
}
.dayView .dayDiaryItemWidget.grassgreen.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.darkbrown {
  background-image: url("../week/plain/button_darkbrown_left.png"), url("../week/plain/button_darkbrown_right.png"), url("../week/plain/button_darkbrown_middle.png");
}
.dayView .dayDiaryItemWidget.darkbrown.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.lightbrown {
  background-image: url("../week/plain/button_lightbrown_left.png"), url("../week/plain/button_lightbrown_right.png"), url("../week/plain/button_lightbrown_middle.png");
}
.dayView .dayDiaryItemWidget.lightbrown.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.deeporange {
  background-image: url("../week/plain/button_deeporange_left.png"), url("../week/plain/button_deeporange_right.png"), url("../week/plain/button_deeporange_middle.png");
}
.dayView .dayDiaryItemWidget.deeporange.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.orange {
  background-image: url("../week/plain/button_orange_left.png"), url("../week/plain/button_orange_right.png"), url("../week/plain/button_orange_middle.png");
}
.dayView .dayDiaryItemWidget.orange.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.grey {
  background-image: url("../week/plain/button_grey_left.png"), url("../week/plain/button_grey_right.png"), url("../week/plain/button_grey_middle.png");
}
.dayView .dayDiaryItemWidget.grey.dropTarget {
  background-image: url("../week/plain/button_black_left.png"), url("../week/plain/button_black_right.png"), url("../week/plain/button_black_middle.png");
}
.dayView .dayDiaryItemWidget.darkgrey {
  background-image: url("../week/plain/button_darkgrey_left.png"), url("../week/plain/button_darkgrey_right.png"), url("../week/plain/button_darkgrey_middle.png");
}
.dayView .dayDiaryItemWidget.darkgrey.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.white {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
.dayView .dayDiaryItemWidget.white.dropTarget {
  background-image: url("../week/plain/button_black_left.png"), url("../week/plain/button_black_right.png"), url("../week/plain/button_black_middle.png");
}
.dayView .dayDiaryItemWidget.black {
  background-image: url("../week/plain/button_black_left.png"), url("../week/plain/button_black_right.png"), url("../week/plain/button_black_middle.png");
}
.dayView .dayDiaryItemWidget.black.dropTarget {
  background-image: url("../week/plain/button_white_left.png"), url("../week/plain/button_white_right.png"), url("../week/plain/button_white_middle.png");
}
/* pop ups */
#dayPopupDayList .popupContent ul.dayList {
  margin: 0;
  padding: 0;
}
#dayPopupDayList .popupContent ul.dayList > li {
  list-style-type: none;
  height: 23px;
  cursor: pointer;
  font-family: "Diary Font";
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 4px;
}
#dayPopupDayList .popupContent ul.dayList > li:hover {
  background-color: #ededed;
  background-radius: 4px;
  font-weight: bold;
}
#dayPopupDayList .popupContent ul.dayList > li.current {
  background-color: #fbebeb;
  background-radius: 4px;
  font-weight: normal;
}
#dayPopupDayList .popupContent ul.dayList > li.current:hover {
  background-color: #fbebeb;
  background-radius: 4px;
  font-weight: normal;
}

#percentSlider .ui-slider-range { background: #1B64B3; }
#percentSlider .ui-slider-handle { border-color: #1B64B3; }