<table cellpadding="0" cellspacing="0" border="0" style="overflow: scroll; max-height: 450px;">
		<tbody>
		{{#assignedTasks}}
					{{#isClassMeritActive}}<tr style="margin: -1px; margin-bottom: 0px;">
						<td>
							<div class="overdueRow" itemId="{{id}}" itemType="{{type}}">
								<span style="background-color:{{subjectColour}}; margin-left:1px;" class="vLine"></span>
								
								{{#isMerit}}
									{{#isTaskMeritActive}}{{#IconSmall}}<img isMerit="true" diaryItemId="{{id}}" class="studMeritIcon" style="margin-top:10px;cursor:pointer;" src="app-storage:/MeritIcons/{{IconSmall}}">{{/IconSmall}}{{/isTaskMeritActive}}
								{{/isMerit}}
								{{^isMerit}}
									<div class="subjectName" style="background-color:{{subjectColour}};">
										<div class="{{type}}"></div>
									</div>
								{{/isMerit}}
								
								<span class="name_tag" style="{{#isStudentMerit}}width: 100px;{{/isStudentMerit}}{{^isStudentMerit}}width: 130px;{{/isStudentMerit}}"><div class="truncateTitle">{{title}}</div>
									<br>
									<h6>{{assignedRelativeDay}}</h6>
								</span>
								{{#isStudentMerit}}{{^isMerit}}{{#isTaskMeritActive}}{{#IconSmall}}<img isMerit="true" diaryItemId="{{id}}" class="studMeritIcon" style="margin-left:0px;" src="app-storage:/MeritIcons/{{IconSmall}}">{{/IconSmall}}{{/isTaskMeritActive}}{{/isMerit}}{{/isStudentMerit}}
								{{^isStudentMerit}}<div></div>{{/isStudentMerit}}
								<img id='{{id}}' src="assets/home/images/close_btn.png" alt="Smiley face" class="close_row">
							</div>
						</td>
					</tr>{{/isClassMeritActive}}
		{{/assignedTasks}}	
		{{#noResult}}
			<tr style="margin: -1px; margin-bottom: 0px;">
				<td class="closeCallout" style="height:30px;padding:15px 10px 15px 20px;color:black;font-weight:normal;cursor:pointer;">{{noResult}}</td>
			</tr>
		{{/noResult}}
	</tbody>
</table>
