<div class="heightContainer">

    <div class="tokeninstructioncontainer">
        <h3 class="heading">{{title}}</h3>
    </div>

    <div class="tokenmessagecontainer">
    </div>

    <div class="tokenbusy">
        <img src="assets/token/images/busy.gif">
    </div>

    <div class="tokenactioncontainer">
        {{#showRetry}}<input class="retry textbutton" type="submit" value="Retry">{{/showRetry}}
        {{#showClose}}<input class="close textbutton" type="button" value="Close">{{/showClose}}
    </div>

</div>