
 <div style="width:100%;height:103.5%;" >




             <div style="width:10px;height:100%;float: left;background-color:#ececec">
                <img src="assets/myClasses/images/left-shadow.png" width="10px" height="100%" align="right" >
             </div>

<div class="contentNavigation aboutContainer" style="width: 98.3%; float: left;margin-left:0.9%;height:105%;background-color:#ffffff;">
	<div class="contentNavPanel {{#panelMinimised}}panelMinimised{{/panelMinimised}}">
	
		<div class="contentNavTab">
			<div class="informationTab"></div>
		</div>
		
		<div class="contentNavPanelBackground">
			
			<div class="contentNavListWrapper">
				<ul class="contentNavList">
					{{#tableOfContents}}    
						<li articleId="{{id}}">{{title}}</li>
						{{#hasSubItems}}
							<ul>
								{{#subItems}}<li articleId="{{id}}">{{title}}</li>{{/subItems}}
							</ul>
						{{/hasSubItems}}
					{{/tableOfContents}}
				</ul>
			</div>
		
		</div>
			
	</div>
	
	<div class="contentNavigationPanel">
	
	</div>
	
	<div style="width:100%;height:40px;bottom:6px;background-color:#e5e5e5;position:absolute;"></div>
	
</div>


<div style="width:10px;height:100%;float:right;background-color:#ececec">
                  <img src="assets/myClasses/images/right-shadow.png" width="10px" height="100%" align="left" >
               </div>



</div>


