<div style="margin-left:5px;" class="{{#type}}summary summarywidget{{/type}} {{#notesCount}}summarymultiple summarymultipleNote summarymultiplewidget{{/notesCount}}" diaryItemIds="{{noteIds}}"{{#moveable}} draggable="true"{{/moveable}}>
	{{#type}}<div class="diaryitem {{type}}"></div>{{/type}}
	{{#notesCount}}<div class="summarycount">{{notesCount}}</div>{{/notesCount}}
	<div class="infolink"></div>
</div>