<!-- {{#empowerContentEnabled}}{{> empowerPanel}}{{/empowerContentEnabled}} -->
<div class="cal_topBoxW">
	<div class="cal_tbw_left" style="z-index:9;position:relative">
		<div class="cal_tbw_top" style="z-index:9;position:relative">
            	<ul>
                	<li class="view_btn" style="margin-right:3.2%;margin-left:1%"><a href="#/">View</a></li>
                    <li class="col day" id="dayView" style="margin-left:-5px;"><a style="" class="navigationItem selected" data-link="day" href="#/">Day</a></li>
                    <li class="col week" id="weekView"><a class="navigationItem selected" data-link="week" href="#">Week</a></li>
                    <li class="col month" id="monthView"><a class="navigationItem selected" data-link="month" href="#">Month</a></li>
                    <li class="col glance" id="glanceView"><a class="navigationItem selected" data-link="glance" href="#">Glance</a></li>
                </ul>
        </div>
        <div class="clear"></div>
	</div>
	<div class="cal_tbw_right" style="z-index:9;position:relative;margin-left:1%;height:26px;">
		<div class="cal_filter_task" style="display:none;height:32px ">
        	<ul>
            	<li class="col filter" style="margin-left:15px;margin-top:1px"><span class="fil"></span> </li>                       
            </ul>
           
            <ul id="pdcb_filter">
              <li class="col active" id="task">
                <div class="pdcb pdcb_task" style="margin-top:4px; {{^isTaskActive}}display:none;{{/isTaskActive}}"><span class="icon active"></span> </div>
                <input class="tasks" id="cal_filter_tasks" value="" style="position:absolute;left:15px;top:5px;{{^isTaskActive}}display:none;{{/isTaskActive}}" type="checkbox">
              </li>
              <li class="col active" id="event">
                <div class="pdcb pdcb_event" style="margin-top:4px; {{^isEventActive}}display:none;{{/isEventActive}}"><span class="icon active"></span> </div>
                <input class="event" id="cal_filter_events" value="" style="position:absolute;left:13px;top:5px;{{^isEventActive}}display:none;{{/isEventActive}}" type="checkbox">
              </li>
              <li class="col active" id="note">
                <div class="pdcb pdcb_note" style="margin-top:4px; {{^isNoteActive}}display:none;{{/isNoteActive}}"><span class="icon active"></span> </div>
                <input class="note" id="cal_filter_notes" value="" style="position:absolute;left:15px;top:5px;{{^isNoteActive}}display:none;{{/isNoteActive}}" type="checkbox">
              </li>
            </ul>
            <div class="clear"></div>
        </div>
	</div>
	
</div>
<div class="diaryView" style="margin-top:-25px">

</div>