<tr class="weekViewDayWrapper">
	<td {{#dateKey}}dayKey="{{dateKey}}"{{/dateKey}} class="weekViewDay {{^date}}daycellpad {{/date}} {{#today}}today {{/today}} {{#weekend}}weekend {{/weekend}} {{#holiday}}holiday {{/holiday}} {{#othermonth}}othermonth {{/othermonth}}">
    	
        <table class="weekDayLayout" style="height:80px;" cellspacing=0 cellpadding=0>
        	<tr style="height:80px;">
            	<td class="weekDayCol1" style="height:80px;">
                	<span class="date" style="padding-bottom:6px">{{dayOfWeek}} {{date}}</span>
					{{#cycle}}
						<span class="cycle" style="text-transform:capitalize !important;">
							{{tempDay}}<br/>
							<!-- span style="color:#7d7c7c;line-height:30px; text-transform:capitalize !important;">{{cycleDayLabel}}{{^cycleDayLabel}}DAY {{cycleday}}{{/cycleDayLabel}}</span -->
						</span>
					{{/cycle}}
                </td>
                <td class="weekDayCol2" style="width:9%">
                	
                	<!-- {{#dayOfNotes}}
                		<div class="weekDayOfNote">{{title}}</div>
                	{{/dayOfNotes}} -->
                	
                	{{#hasEvents}}
                		<div class="weekEvents">
	                    <ul>
	                    	{{#events}}
		                    	<li style="cursor:pointer;{{#isMinorEvent}}font-weight: normal;{{/isMinorEvent}}" diaryItemId={{id}} class="event">{{event}}</li>
	                    	{{/events}}
	                    </ul>
	                    </div>
                	{{/hasEvents}}
                	
                </td>
                <td class="weekDayCol3" colspan="2">
	                <div class="itemContainer">
	                	{{#tasks}}
	                		{{> diaryItem}}
	                	{{/tasks}}
						
						{{#merits}}
	                		{{> diaryItem}}
	                	{{/merits}}
	                
	                	{{#notes}}
	                		{{> diaryItem}}
	                	{{/notes}}
	                </div>
                </td>
                <td class="weekDayCol5">
                	{{#enableAddButton}}
                	<div class="weekDayAdd"></div>
                	{{/enableAddButton}}
                </td>
            </tr>
        </table>

    </td>
</tr>