{{#isClassMeritActive}}
<article class="diaryItemSummary {{type}}" diaryItemId={{id}}>
	<heading class="summaryWidgetItem {{type}} {{#due}} due {{/due}} {{SubjectClass}}" style="background:{{subjectColour}}" diaryItemId={{id}} {{#moveable}} draggable="true" {{/moveable}}>
		
		<div style="width:100%;">
		{{#isAssignedNote}}<div style="width:40%;float:left;position:relative;">
			<span style="">Assigned To Student(s)</span>
		</div>{{/isAssignedNote}}
		
		<div style="width:60%;float:left;">
			{{#isMerit}}<img class="meritIcon" style="width:25px; height:25px; margin-top:0px;margin-left: -20px;margin-top:-5px;" src="app-storage:/MeritIcons/{{IconSmall}}">{{/isMerit}}
			{{^isMerit}}
				{{#type}}<div class="typeicon" style="{{#isAssignedNote}}float:left;position:relative;margin-top:-3px;{{/isAssignedNote}}"></div>{{/type}}
			{{/isMerit}}
			
			<span {{#note}}class="noteTitle"{{/note}}{{^note}}class="title"{{/note}} style="{{#isTaskMeritActive}}width:170px;{{/isTaskMeritActive}}float:left;{{#isAssignedNote}}max-width:48%;{{/isAssignedNote}}">{{#completed}} <strike> {{/completed}} {{#message}}Attention: {{/message}}{{title}} {{#completed}} </strike> {{/completed}}</span>
		</div>
		</div>
		
		{{#fromMonthGlance}}{{#isStudentMerit}}{{^isMerit}}{{#isTaskMeritActive}}{{#IconSmall}}<img isMerit="true" diaryItemId="{{id}}" class="studMeritIcon" style="top:-4px;float:left;height:25px;width:25px;position:relative;left:80%;cursor:pointer;" src="app-storage:/MeritIcons/{{IconSmall}}">{{/IconSmall}}{{/isTaskMeritActive}}{{/isMerit}}{{/isStudentMerit}}{{/fromMonthGlance}}
		{{^note}}{{^message}}<div class="infolink" diaryItemId={{id}}></div>{{/message}}{{/note}}
    </heading>
	<div class="scrollContainer" style="{{#isAssignedNote}}width:490px !important;{{/isAssignedNote}}{{^fromMonthGlance}}{{#IconBig}}{{#isTaskMeritActive}}width:490px !important;{{/isTaskMeritActive}}{{/IconBig}}{{/fromMonthGlance}}">
		{{#isAssignedNote}}
		<table style="float:left; position:relative; width:190px;">
			<tr>
				<td>
					<div style="max-height: 350px; margin-top: -15px;margin-bottom: -20px;padding-left:8px;overflow-y:scroll;border-right: 1px solid gray !important;min-height:100px;">
						{{#assignedNoteUsers}}
							<div style="padding-bottom:3px;">{{name}}</div>
						{{/assignedNoteUsers}}
					</div>					
				</td>
			</tr>
		</table>
		{{/isAssignedNote}}
		<div style="float:left;">
		<table style="margin-top:12px !important">
			{{#subject}}<tr><th style="{{^note}}font-size:12px;padding-top:3px;{{/note}}display:inline-block;{{#isAssignedNote}}text-align:left !important;padding-left:5px; {{/isAssignedNote}} width:110px;">Subject</th><td style="display:inline-block;">{{subject}}</td></tr>{{/subject}}
			{{#note}}{{#creatorUserName}}<tr><th style="display:inline-block; width:110px;">Assigned By</th><td style="display:inline-block;">{{creatorUserName}}</td></tr>{{/creatorUserName}}{{/note}}
			{{#webLinkDesc}}<tr><th style="font-size:12px;padding-top:3px;display:inline-block; width:110px;">WebLink</th><td style="color:blue;cursor:pointer;" class="webLinkDiaryItem" webLinkURL="{{webLinkDesc}}">{{webLinkDesc}}</td></tr>{{/webLinkDesc}}
			
			{{#hasTasks}}
				{{#assignedDate}}<tr><th style="font-size:12px;padding-top:3px;display:inline-block; width:110px;">Assigned Date</th><td style="">{{assignedDate}}</td></tr>{{/assignedDate}}
				{{#dueDate}}<tr><th style="font-size:12px;padding-top:3px;display:inline-block; width:110px;">Due Date</th><td style="">{{dueDate}}</td></tr>{{/dueDate}}
				<tr><th style="font-size:12px;padding-top:3px;display:inline-block; width:110px;">Percent Complete</th><td style="">{{progress}}%</td></tr>
			{{/hasTasks}}
			
			{{#hasMerits}}
				{{#assignedDate}}<tr><th style="font-size:12px;padding-top:3px;display:inline-block; width:110px;">Assigned Date</th><td style="">{{assignedDate}}</td></tr>{{/assignedDate}}
				{{#creatorUserName}}<tr><th style="font-size:12px;padding-top:3px;display:inline-block; width:110px;">Assigned By</th><td style="">{{creatorUserName}}</td></tr>{{/creatorUserName}}
				
			{{/hasMerits}}
			
			{{#time}}<tr><th >Time</th><td>{{time}}</td></tr>{{/time}}
			{{#messageFromText}}<tr><th>From</th><td>{{messageFromText}}</td></tr>{{/messageFromText}}
			{{#description}}
			{{^note}}
				{{^message}}<tr><th style="font-size:12px;padding-top:3px;display:inline-block; width:110px; ">{{#hasMerits}}Comment{{/hasMerits}}{{^hasMerits}}Description{{/hasMerits}}</th><td ><div >{{description}}</div></td></tr>{{/message}}
				{{#message}}<tr class="message"><td colspan="2" >{{description}}</td></tr>{{/message}}
			{{/note}}
			{{/description}}
			{{#note}}
			
			{{/note}}
			{{#noteEntries}}
				<tr><th style="padding-top:3px;{{#isAssignedNote}}padding-left:5px; text-align:left !important; {{/isAssignedNote}}display:inline-block;width:110px;">{{timestamp}}</th><td style="display:inline-block;" >{{text}}</td></tr>
			{{/noteEntries}} 
			{{#note}}
				<tr class="noteEntry" >
					<th colspan="2" style="padding-left:5px;">
						{{#locked}}
						  <span class="lockItem" style="width:32px;height:30px;margin-top:7px; float:right"><img src="assets/lock.png"></span>
						{{/locked}}
						{{^locked}}
							<textarea  class="noteEntry" noteId="{{id}}"></textarea>
							<div class="delete textbutton" style="color:#ffffff; border-radius:4px; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(165, 10, 10)), to(rgb(223, 31, 31))); border-top-color: rgb(153, 5, 5); border-right-color: rgb(153, 5, 5); border-bottom-color: rgb(153, 5, 5); border-left-color: rgb(153, 5, 5);"><span style="color:#ffffff;">Delete</span></div>
							<div class="save textbutton" style="background: #4793df; border-radius:4px;
	background: -moz-linear-gradient(top, #4793df 0%, #3798b2 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4793df), color-stop(100%,#0f57a7)); 
	background: -webkit-linear-gradient(top, #4793df 0%,#0f57a7 100%); 
	background: -o-linear-gradient(top, #4793df 0%,#0f57a7 100%); 
	background: -ms-linear-gradient(top, #4793df 0%,#0f57a7 100%); 
	background: linear-gradient(to bottom, #4793df 0%,#0f57a7 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4793df', endColorstr='#0f57a7',GradientType=0 ); "><span style="color:#ffffff;">Save</span></div>
						{{/locked}}
						
					</th>
				</tr>
			{{/note}}
			{{#hasAttachments}}
				<tr>
					<th class="alignTop">Attached</th>
					<td>
						<ul class="attachments">
							{{#attachments}}
								{{> diaryItemFormEditAttachment}}
							{{/attachments}}
						</ul>
					</td>
				</tr>
			{{/hasAttachments}}
		</table>
		</div>
		{{^fromMonthGlance}}{{#IconBig}}{{#isTaskMeritActive}}
		<div style="float:left;margin-top:15px !important;border-left: 1px solid #858484;">
			{{#isStudentMerit}}{{^isMerit}}{{#IconBig}}<img isMerit="true" diaryItemId="{{id}}" style="height:95px;width:95px;margin-left:20px;float:left;" src="app-storage:/MeritIcons/{{IconBig}}">{{/IconBig}}{{/isMerit}}{{/isStudentMerit}}
			<div style="float:left;margin-left:20px;">
				<div style="color: #4a4a4a;white-space:nowrap;text-overflow:ellipsis;overflow:hidden; width:120px;">{{meritTitle}}</div>
				</br>
				<span isMerit="true" diaryItemId="{{id}}" class="studMeritIcon" style="cursor:pointer;color: blue;font-size: 12px;font-weight: bold;">View Merit</span>
				</br></br>
				{{#creatorUserName}}<div style="color: #4a4a4a;white-space:nowrap;text-overflow:ellipsis;overflow:hidden; width:120px;">-{{creatorUserName}}</div>{{/creatorUserName}}
			</div>
		</div>
		{{/isTaskMeritActive}}{{/IconBig}}{{/fromMonthGlance}}
	</div>
</article>
{{/isClassMeritActive}}