<div class="glanceCalendar" style="margin-top:95px">
	<div class="glanceColumnsHeaderWrapper">
		<section class="glanceColumnsHeader">
			{{#months}}
			<div class="monthtitlecellwrapper"><div class="monthtitlecell" data-month="{{monthNumber}}"><span class="monthtitle">{{month}}</span><a href="#" class="monthlink"></a></div></div>
			{{/months}}
		</section>
	</div>

	<div class="glanceColumnsWrapper">
		<section class="glanceColumns">
			{{#months}}
				<div class="monthWrapper">
				<div class="month">{{#days}}{{> diaryDayCellGlance}}{{/days}}</div>
				</div>
			{{/months}}				  
		</section>
	</div>
</div>