<div style="background:{{subjectColour}}" class="subject  subjectwidget {{#due}} due {{/due}}" diaryItemIds="{{id}}" diaryItemId="{{id}}"{{#moveable}} draggable="true"{{/moveable}}>
	<div class="diaryitem {{type}} {{#due}} due {{/due}}"></div>
	<div class="infolink"></div>
</div>