<div class="cal_filter_task" style="height:32px ">
	<ul>
    	<li class="col filter" style="margin-left:15px;margin-top:1px"><span class="fil"></span> </li>                       
    </ul>
   
    <ul id="pdcb_filter">
      <li class="col active" id="task">
        <div class="pdcb pdcb_task" style="margin-top:4px; {{^isTaskActive}}display:none;{{/isTaskActive}}"><span class="icon active"></span> </div>
        <input class="tasks" id="cal_filter_tasks" value="" style="position:absolute;left:15px;top:5px;{{^isTaskActive}}display:none;{{/isTaskActive}}" type="checkbox">
      </li>
      <li class="col active" id="event">
        <div class="pdcb pdcb_event" style="margin-top:4px; {{^isEventActive}}display:none;{{/isEventActive}}"><span class="icon active"></span> </div>
        <input class="event" id="cal_filter_events" value="" style="position:absolute;left:13px;top:5px;{{^isEventActive}}display:none;{{/isEventActive}}" type="checkbox">
      </li>
      <li class="col active" id="note">
        <div class="pdcb pdcb_note" style="margin-top:4px; {{^isNoteActive}}display:none;{{/isNoteActive}}"><span class="icon active"></span> </div>
        <input class="note" id="cal_filter_notes" value="" style="position:absolute;left:15px;top:5px;{{^isNoteActive}}display:none;{{/isNoteActive}}" type="checkbox">
      </li>
    </ul>
    <div class="clear"></div>
</div>
	
