<section class="monthViewDay {{#sixweeks}}monthViewDaySixWeeks{{/sixweeks}}">
	<div {{#dateKey}}dayKey="{{dateKey}}"{{/dateKey}} class="daycell {{^date}}daycellpad {{/date}} {{#today}}today {{/today}} {{#weekend}}weekend {{/weekend}} {{#holiday}}holiday {{/holiday}} {{#othermonth}}othermonth {{/othermonth}}">
		{{#day}}<span class="date">{{day}}</span>{{/day}}
		<div class="monthViewDayLayout">
			<!-- {{#dayOfNotes}}<div class="monthDayOfNote">{{title}}</div>{{/dayOfNotes}} -->
			{{#hasEvents}}<ul class="monthEvents">{{#events}}<li style="cursor:pointer;{{#isMinorEvent}}font-weight: normal;{{/isMinorEvent}}" diaryItemId={{id}} class="event">{{event}}</li>{{/events}}</ul>{{/hasEvents}}
			<div class="widgets">
		
				{{#summary}}
					{{> diaryDaySummaryWidget}}
				{{/summary}}
				{{#notesSummary}}
					{{> diaryDayNoteSummaryWidget}}
				{{/notesSummary}}
			</div>
		</div>
		{{#cycle}}<span class="cycle" style="white-space:nowrap;text-overflow:ellipsis;height:15px;overflow:hidden;width:80%;">{{tempShortDay}}</span>{{/cycle}}
	</div>
</section>