<div id="divAddEditItem" style="display:none;">
{{> highlightDateStyle}}
<div class="editButtonContainer popupHead" style="-webkit-border-radius: 5px 5px 0px 0px;">
     <table style="margin-left:0px;" border="0" cellpadding="0" cellspacing="0" width="100%">
     	<tbody>
     		<tr>
		        <td width="16"><a class="cancel btn_add btns" style="margin-left:-3px">Cancel</a></td>
		        <td width="16"><a class="delete btn_add btns" >Delete</a>
		        <span class="lockItem" style="width:32px;height:20px;margin-top:7px; float:right"><img src="assets/lock.png"></span>
		        </td>
		        <td class="midheadtxt" style="padding:5px 18px 0px 0px ">Add Item</td>
		    	<td width="16"><a class="save btn_add btns" id="saveItemBtn" style="margin-right:-3px">Save</a></td>
      		</tr>
      	</tbody>
     </table>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="tableFieldLayout studentProfileEditLayout profile_tbl_lt poppads" style="float: left; margin:10px 0 0 10px; width:45%;margin-right:2%;-webkit-border-radius:5px;">
	<tr class="typeRow">
		<td style="width:25%;border-top:none;">Type</td>
		<td style="border-top:none;">
			<select class="type" style="width:60%;float:right">
				<option value="homework">Homework</option>
				<option value="assignment">Assignment</option>
				<option value="note">Note</option>
				<option value="event">Event</option>
			</select>
		</td>
	</tr>
	<tr class="messageFromTextRow"><td>From</td>
	<td ><input  class="messageFromText" type="text"/></td>
	</tr>
	<tr class="titleRow"><td>Title</td><td><input style="width:60%;float:right" class="title" type="text" placeholder="Please Enter Title"/></td></tr>
	<tr class="subjectRow"><td style="width:25%;">Class</td><td>
		<select class="subject" style="width:60%;float:right">
			<option value="0">-- No classes --</option>
			{{#classes}}
			<option value="{{classId}}">{{name}}</option>
			{{/classes}}
		</select>
	</td></tr>
	<tr class="priorityRow"><td>Priority</td><td>
		<select class="priority" id="priorityDiaryItem" style="width:60%;float:right">
			<option value="Low">Low</option>
			<option value="Medium">Medium</option>
			<option value="High">High</option>
		</select>
	</td></tr>
	
	<tr class="studentsRow"><td>Student</td><td>
		 <div style="width:65%;float:right" id="divTolist">
        		<!-- div style="color:#5b5a5a; padding-bottom:5px; padding-left:20px; margin-top:15px;  display:none;" id="receiverName"> </div-->
    	 </div>
    	 
    	 <!-- select class="studentSelect" id="studentSelect" style="width:60%;float:right">
			<OPTION value="0">-- No Students --</OPTION>
			{{#students}}
			<option value="{{studentId}}">{{name}}</option>
			{{/students}}
		</select -->
	</td></tr>
	
	<tr class="taskTitleRow">
		<td>Task</td>
		<td>
			<div class="taskTitle" style="float:right;"></div>
		</td>
	</tr>
	
	<tr class="meritsRow">
		<td class="mertiTitle">Merit/Concern</td>
		<td>
			<div id="banner-fade">
				
			</div>
		</td>
	</tr>
	
	<tr class="commentsRow">
		<td>Comment</td>
		<td>
			<textarea class="comments"></textarea>
		</td>
	</tr>
	
	<tr class="assignedDayRow">
		<td>Assigned Date</td>
		<td>
			<div class="assignedDay" style="float:right;"></div>
		</td>
	</tr>
	
	<tr class="assignedByRow">
		<td>Assigned By</td>
		<td>
			<div class="assignedBy" style="float:right;"></div>
		</td>
	</tr>
	
	<tr class="isNotifyRow" style="display:none;">
		<td>Notify Parent</td>
		<td>
			<input style="margin-right:20px; height:15px;" type="checkbox" class="isNotify">
		</td>
	</tr>
	
	<tr class="noteEntryRow"><td class="noteClass alignTop">Note</td><td><textarea style="border-none" class="noteEntry editorClass" name="editor2" id="editor2"></textarea></td></tr>
	<tr class="dateRow">
        <td>Due</td>
        <td>
            <input class="date" type="hidden"><span style="margin-left:4px" class="dateHolder" id="dueDate"></span>
            <input  readonly="true" id="dueStartTime" class="startTime" style="width:65px; margin-left:0px;">
			<span class="endTimeContainer"><span>to&nbsp;</span><input class="endTime" id="dueEndTime" style="width:65px; margin-left:-10px;"></span>
            <span class="allDayContainer">
				<label for="checkboxAllDay">On the Day</label><input id="checkboxAllDay" type="checkbox" class="allDay">
			</span>
        </td>
    </tr>
    <tr class="assignedDateRow">
        <td>Assigned</td>
        <td>
            <input class="assignedDate" type="hidden"><span style="margin-left:4px" class="assignedDateHolder"></span>
            <input readonly="true" class="assignedTime">
        </td>
    </tr>
	<tr class="webLink" style="">
        <td style="border-bottom:solid 1px #ffffff;-webkit-border-radius: 0px 6px 0px 6px;">Web Link</td>
        <td style="border-bottom:solid 1px #ffffff; -webkit-border-radius: 0px 6px 0px 6px;">
       
            <input type="text" value="web" style="width:60%;float:right" class="webLinkDesc" placeholder="www.google.com"/>
           
        </td>
    </tr>		
</table>

<table cellpadding="0" cellspacing="0" border="0" class="tableFieldLayout studentProfileEditLayout profile_tbl_lt poppads taskTable" 
	style="float: left; padding-top: 0px; margin:10px 0 0 10px; width:47%;-webkit-border-radius:5px;">
	<tr>
		<td style="border-top:none">Weighting</td>
		<td style="border-top:none">
			<span style="float:right; margin:0 0px;width:65px;">
                <input type="text" class="weight" placeholder="Weight"> 
			</span>
		</td>
	</tr>
	<tr>
		<td>Estimated Effort</td>
		<td>
			<select style="width:55px;float:right;padding:5px;margin-right:3px;" class="estimatedMinutes">
				{{#minutes}}
					<option value="{{minute}}">{{minute}}</option>
				{{/minutes}}
			</select>
			<select style="width:55px;float:right;margin-right:5px;padding:5px;" class="estimatedHours">
				{{#hours}}
					<option value="{{hour}}" >{{hour}}</option>
				{{/hours}}
			</select>
		</td>
	</tr>
	
	<tr class="completedRow"><td class="alignTop">Completed</td>
	<td style=""><span style="float:right;width:15px; hight:15px; margin-right:80px"><input style="margin-right:20px; height:15px;" type="checkbox" class="completed"></span></td>
	</tr>
	
	<tr class="responseRequiredRow"><td></td><td><span class="responseRequiredTitle">Response required</span><input type="checkbox" class="responseRequired"></td></tr>
	<!-- tr class="attachmentsRow">
		<th class="alignTop"> Attachments</th>
		<td>
			<input class="attachment" type="file" />
		</td>
	</tr>
	<tr class="attachmentList">
		<td></td>
		<td>
			<ul class="attachments">
				{{#attachments}}
					{{> diaryItemFormEditAttachment}}
				{{/attachments}}
			</ul>
		</td>
	</tr -->
	<tr>
		<td colspan="2">Percentage Complete</td>
	</tr>
	<tr style="height:47px;vertical-align:middle;">
		<td colspan="2" style="background:white;" id="progessTd">
			<div style="position : relative; height: 37px; width:360px;"><input id="progressVal" style="width:50px; position:absolute; left:40%;" class="input_tag"></div>
			<div id="percentSlider"></div>
		</td>
	</tr>
	
	
	<tr class="attachmentsRow" style="height:60px; margin:0px;padding:0px; !important">
	  <td class="alignTop" style="height:60px;margin:0;padding:0;border-bottom:solid 1px #ffffff;-webkit-border-radius: 0px 6px 0px 6px;"><!-- img src="assets/attachmenticon.png" width="23" height="22" / -->Attachments  <input class="attachment" type="file" style="margin-left:5%;"/></td>
	  <td class="attachmentList"style="height:60px;margin:0;padding:0;border-bottom:solid 1px #ffffff;-webkit-border-radius: 0px 6px 0px 20px;">
		  <ul class="attachments" style="overflow:scroll;margin-top:-10px;padding:0;height:70px;margin-bottom:-10px;">
		    {{#attachments}}
		     {{> diaryItemFormEditAttachment}}
		    {{/attachments}}
		  </ul>
	  </td>
	</tr>
	
</table>
<div style="margin-left:51%;width:80%;clear:both;vertical-align:middle;display:table;margin-top:15px; height:20px;">
	{{#isTeacher}}
		<table style="margin-top:10px;">
			<tr id="rowAssignToStudent">
				<td colspan="2" >
						<div id="assignedToMeDiv" style="float:left;"> <input type="radio" name="assign" id="assignedToMe" class="radio" value="me"  style="position:relative; left:0; width:15px; vertical-align:top; padding-top:5px;top:-5px;">To Myself</div>
						<div id="assignedToStudentDiv" style="float:left;"><input type="radio" name="assign" id="assignedToStudent" class="radio" value="student" style="position:relative;  left:0; width:15px; vertical-align:top; padding-top:5px;top:-5px; margin-left:15px;" />Assign to Students</div>
				</td>
			</tr>
		</table>
	{{/isTeacher}}
	{{^isTeacher}}
		<table style="margin-top:10px;">
			<tr>
			</tr>
	</table>
	{{/isTeacher}}
</div>

<table style="width:100%;" cellpadding="0" cellspacing="0" border="0" class="bottompopup">
	<tbody>
		<tr style="width:100%"><td style="width:100%"><span class="textDiscription">Description</span></td></tr>
		<tr class="descriptionRow"><td><textarea class="description ckeditor descriptionTextarea editorClass" style="" name="editor1" id="editor1"></textarea>
		
	</tbody>
</table>
</div>
<div id="divAssignStudent" style="display:none;"></div>
<input id="selectedClass" value="" type="hidden"/>
<input id="selectedStudent" value="" type="hidden"/>
<input id="tbMeritItemId" value="" type="hidden"/>
<input id="tbMeritStudentId" value="" type="hidden"/>

