<div class="dayView" style="z-index:-1;">
	<div class="selectedDayLabel" style="margin-top:50px;z-index:-1;margin-bottom:5px;">
		<table class="" cellpadding="0" cellspacing="0" border="0" style="-webkit-border-radius: 6px;height:102px;">
			<tbody>
				<tr style="border-bottom:solid 1px #ffffff">

					<td style="width:20%;padding-left:22px;border-bottom:solid 1px #ffffff;-webkit-border-bottom-left-radius: 6px;"><span style="font-size:85px; color:#567adb">{{dateLabel}}</span></td>

					<td style="border-right:solid 1px #d0cfcf;width:50%;border-bottom:solid 1px #ffffff;">
					<div class="hideCalendarNavigation" style="margin: 13px 0px 2px 0px;cursor:pointer;">
					<div style="padding-bottom:8px;">
						<span style="color:#567adb;font-size:30px;">{{dayLabel}}</span>
					</div>
					<div style="padding-bottom:4px;">
						<span style="color:#4b4b4b;font-size:20px;">{{dateString}}</h3> </span>
					</div>
					<div>
						<span style="color:#b9b9b9;font-size:13px;">{{tempDay}}</span>
					</div>
					<input class="dateSelector" value=""/>
					</div>
					</td>

					<td class="studCalendarAccess" style="background-color:#e8e7e7;width:25%; border-left:solid 1px #ffffff;border-bottom:solid 1px #ffffff;-webkit-border-bottom-right-radius: 6px;">
					<div class="jump">{{#isTeacher}}<img src="assets/dateiconnormal.png" style="cursor:pointer;" >{{/isTeacher}}
					{{^isTeacher}}<img src="assets/calImg.png" style="cursor:none;">{{/isTeacher}}</td>

				</tr>
			</tbody>
		</table>
	</div>

	<div class="selectedDayLabel" style="margin-top:50px;height:100px;margin-bottom:20px;width:48.5%;margin-left:1%">
		<table class="daySelection" cellpadding="0" cellspacing="0" border="0" style="display:none; margin-left:3%;-webkit-border-bottom-left-radius: 6px;height:190px;">
			<tbody>

				<tr style="height:35px;">

					<td style="background-color:#;text-align:center;color:#4b4b4b;font-size:18px"> Select Day </td>

				</tr>

				<tr style="">

					<td style="margin:0;padding:0;border-top:solid 1px #d0cfcf;border-bottom:solid 1px #ffffff;-webkit-border-bottom-right-radius: 6px;-webkit-border-bottom-left-radius: 6px;">
					<div class="calendarNavigation" style="margin-top:-45px;right:15%;">
						<!-- input class="dateSelector" value=""/>
						<div class="jump"><span>Go to day</span></div -->
					</div></td>

				</tr>
			</tbody>
		</table>

		<div class="eventsOnDay" style="margin-top:-50px;">
			{{> eventOnDay}}
		</div>
	</div>

	<div class="cal_content" style="margin-top:-12px;position:relative"  >

		<table class="caltd" cellpadding="0" cellspacing="0" border="0" >
			<tbody>
				<tr>
					<td style="background-color:#c5fcca"></td>
					<td class="" style="height:80px;max-height:800px;border-top:none"><h3 style="font-size:12px;font-weight:normal;color:#464545">All Day</h3></td>
					<td class="dattdbg" style="width:15%;border-none"></td>
					<td class="dattdbg" style="border-left:none;"> {{#day}}
					{{> diaryDayDiaryItems}}
					{{/day}} </td>

					<td class="dattdbg" style="vertical-align:middle;" > {{^hideAddButton}}
					<div class="addContainer" style="margin-top:-12px;">
						<span class="addDiaryItemButton" dayKey="{{dayKey}}" period="{{period}}" startTime="{{startTime}}" endTime="{{endTime}}" subjectId="{{subjectId}}"></span>
					</div> {{/hideAddButton}} <td>
				</tr>

				{{#day}}
				{{#periods}}
				<tr>
					<td style="background-color:{{#subjectColour}}{{subjectColour}}{{/subjectColour}}{{^subjectColour}}white{{/subjectColour}}"></td>

					<td valign="middle"><h3 style="font-size:12px;font-weight:normal;color:#464545">{{#periodTitle}}{{periodTitle}}{{/periodTitle}}</h3><h3 style="font-size:12px;font-weight:normal;color:#464545">{{timeLabel}}</h3></td>

					<td>
					<div class="subjectContainer">
						{{#subjectName}}<h3 style="font-size:12px;color:#212020"><strong>{{subjectName}}</strong></h3>{{/subjectName}}
						{{#room}}<h4>
						<br>
						{{room}}</h4>{{/room}}
					</div></td>

					<td> {{>diaryDayDiaryItems}} </td>
					<td> {{^hideAddButton}}
					<div class="addContainer" style="top:-15px;display:table">
						<span style="display:table-cell;vertical-align:middle" class="addDiaryItemButton" dayKey="{{dayKey}}" cycleDay="{{cycleDay}}" period="{{period}}" startTime="{{startTime}}" endTime="{{endTime}}" subjectId="{{subjectId}}"></span>
					</div> {{/hideAddButton}} <td>
				</tr>
				{{/periods}}
				{{/day}}
			</tbody>
		</table>
	</div>

	<div id="toppanel" style="width:90%;margin:0;padding:0;display:none;">
		<div class="tab" style="width:82%;margin:0;padding:0; height:20px;">
			<ul class="login" style="width:100%;margin:0;padding:0;">
				<li id="toggle" style="width:100%; margin:0 auto;">
					<a id="open" class="open" style="margin:1px 0 0px 55%;"></a>
					<a id="close" style="display: none;margin:1px 0 0 55%;" class="close"></a>
				</li>
			</ul>
		</div>

		<div id="panel" style="position:relative;margin:0;padding:0;overflow:scroll;height:45px;display:block;">
			<div class="panelContent" style="width:98%;float:left;overflow:scroll;padding-left:1%;font-size:12px;font-family: Arial;color:#022140;">
				Some content needs to be shown here!!!!
			</div>
		</div>

	</div>

	<div id="dayPopup" class="popup diaryItemPopup">
		<div class="popupContent"></div>
		<div class="callout"></div>
	</div>
	<div id="dayPopupDayList" class="popup">
		<div class="popupContent"></div>
		<div class="callout"></div>
	</div>

	<div id="dayDiaryItemFormEditPopup" title="Edit item" style="display:none;border:none;-webkit-border-radius:0px" class="formContainer"></div>
