<div style="" {{#dateKey}}dayKey="{{dateKey}}"{{/dateKey}} class="daycell {{^date}}daycellpad {{/date}} {{#today}}today {{/today}} {{#weekend}}weekend {{/weekend}} {{#holiday}}holiday {{/holiday}}">
	{{#day}}<span class="date">{{day}}</span>{{/day}}
	{{#cycle}}<span class="cycle" style="white-space:nowrap;text-overflow:ellipsis;height:15px;overflow:hidden;width:40%;">{{tempShortDay}}</span>{{/cycle}}
	{{#summary}}
		{{> diaryDaySummaryWidget}}
	{{/summary}}
	{{#notesSummary}}
		{{> diaryDayNoteSummaryWidget}}
	{{/notesSummary}}
	<ul style="float:left; left:125px; display: inline-block; width:150px;" class="glanceEvents"><!-- {{#dayOfNotes}}<li class="dayOfNote">{{title}}</li>{{/dayOfNotes}} -->{{#events}}<li style="cursor:pointer;{{#isMinorEvent}}font-weight: normal;{{/isMinorEvent}}" diaryItemId={{id}} class="event">{{event}}</li>{{/events}}</ul>
</div>