{{#isClassMeritActive}}<div style="margin-top:0px;position:relative" class="diaryItem {{subjectColour}} {{type}} {{#responseRequired}} responseRequired {{/responseRequired}} {{#due}} due {{/due}} {{#completed}} completed {{/completed}}" isMerit="false" diaryItemId="{{id}}" diaryItemIds="{{id}}" {{#moveable}}draggable="true"{{/moveable}}>
	<div style="height:28px;">
		<div class="subjectColor" style="background-color:{{subjectColour}}; height:28px">
			{{#isMerit}}<img class="meritIcon" style="width:30px; height:28px; margin-top:0px;margin-left: 5px;" src="app-storage:/MeritIcons/{{IconSmall}}">{{/isMerit}}
			{{^isMerit}}<div class="icon" style="height:28px;margin-top:-6px;"></div>{{/isMerit}}
		</div>
		<span style="padding-top:0px;margin-left: 45px;height:28px;width:80px;"><strike></strike>{{#title}}{{#message}}Attention: {{/message}}{{title}}{{/title}}{{^title}}&nbsp;{{/title}}</span>
		{{#isStudentMerit}}{{^isMerit}}{{#isTaskMeritActive}}{{#IconSmall}}<img isMerit="true" diaryItemId="{{id}}" class="studMeritIcon" style="cursor:none;float:right;height:28px;width:25px;margin-right:4px;" src="app-storage:/MeritIcons/{{IconSmall}}">{{/IconSmall}}{{/isTaskMeritActive}}{{/isMerit}}{{/isStudentMerit}}
		{{^isStudentMerit}}<div></div>{{/isStudentMerit}}
		
	</div>
</div>
{{/isClassMeritActive}}