<div class="frontPage heightContainer">

    <div class="schoolProfileOverview column1of2 formContainer" >
        <h1>School Profile</h1>
        <div class="scroller">
          
            {{#school}}
            <div class="schoolBanner">{{#schoolImage}}<img src="{{schoolImage}}">{{/schoolImage}}</div>
            
            <table class="tableFieldLayout">
                {{#name}}<tr><th>Name</th><td>{{name}}</td></tr>{{/name}}
                {{#diaryTitle}}<tr><th>Diary Title</th><td>{{diaryTitle}}</td></tr>{{/diaryTitle}}
                {{#schoolMotto}}<tr><th>School Motto</th><td><em>"{{schoolMotto}}"</em></td></tr>{{/schoolMotto}}
                {{#missionStatement}}<tr><th>Mission Statement</th><td>{{missionStatement}}</td></tr>{{/missionStatement}}
            </table>
            {{/school}}
            
        </div>
    </div>

    <div class="studentProfileOverview column2of2 formContainer">
        {{#student}}
			{{> studentProfileFormView}}
    	{{/student}}
	</div>
	<div class="studentProfileOverview1 column2of2 formContainer" style="top:auto;bottom:0;">
        {{#student}}
			{{> newProfileFormView}}
    	{{/student}}
	</div>
    
</div>