<div class="phwtcg_ctxt_div">
	<div style="width:10px; background-color:{{subjectColour}};height:40px;float:left;margin-top:0px"></div>
	<div class="itemContainer" style="top:-2px;position:relative;">
		<div style="margin-top:0px;position:relative;background-color:transparent;background-image:none;border-none; webkit-box-shadow:none;width:28%" class="diaryItem {{subjectColour}} {{type}} {{#responseRequired}} responseRequired {{/responseRequired}} {{#hasTasks}}due{{/hasTasks}} {{#completed}} completed {{/completed}}" diaryItemId="{{id}}" diaryItemIds="{{id}}" {{#moveable}}draggable="true"{{/moveable}}>
			<div style="height:28px;background-color:transparent;background-image:none;cursor:none;">
				
					<div class="icon" style="height:28px;margin-top:0px;"></div>
			
			<span style="max-width: 200px;color:#090909;{{#hasEvents}}{{^isMinorEvent}}font-weight: bold;{{/isMinorEvent}}color: #1c4284;{{/hasEvents}} padding-top:0px;margin-left: 45px;height:28px;"><strike style="top:15px;"></strike>{{#title}}{{#message}}Attention: {{/message}}{{title}}{{/title}}{{^title}}&nbsp;{{/title}}</span>
			</div>
		</div>
     </div>
	<div class="" style="float:left;width:14%;padding-top:7px;{{#hasEvents}}{{/hasEvents}}">{{#hasTasks}}{{#isDueToday}}{{#dueTime}}{{dueTime}}{{/dueTime}}{{^dueTime}}On the Day{{/dueTime}}{{/isDueToday}}{{^isDueToday}}{{dueRelativeDay}}{{/isDueToday}}{{/hasTasks}}{{#hasEvents}}{{#isDueToday}}{{#endTime}}{{endTime}}{{/endTime}}{{^endTime}}On the Day{{/endTime}}{{/isDueToday}}{{^isDueToday}}{{eventDueRelativeDay}}{{/isDueToday}}{{/hasEvents}}</div>
	<div class="" style="float:left;width:11%;padding-top:7px;">{{#hasTasks}}{{assignedDay}}{{/hasTasks}}{{#hasEvents}}{{startDay}}{{/hasEvents}}</div>
	{{#hasTasks}}
	<div class="markComplete" style="float:left;width:3%;margin-top:10px"><input {{#isCompleted}}checked{{/isCompleted}} type="checkbox" class="completed" id="markComplete{{id}}" diaryItemId="{{id}}"></div>
	<div class="" style="float:left;padding-top:7px;width:8%;color:#6b6a6a">Complete</div>
	<div style="height:35px; left:77.5%;float:left;position:absolute;top:0%"><input readOnly="true" id="percent{{id}}" class="input_tag" value="{{progress}}%"></div>
	<div style="left:1%; width:25%;float:left;margin-top:22px" class="percentSlider percentSlider{{id}}" percentSliderName="percentSlider{{id}}" percent="{{progress}}" diaryItemId="{{id}}"></div>
	{{/hasTasks}}
	{{#hasEvents}}
		<div id="editEventBtn" style="width:25px;float:right;margin-right:3%;"><img diaryItemId="{{id}}" diaryItemIds="{{id}}" style="cursor:pointer;margin-top:10px;" src="assets/myProfile/images/file_edit.png" alt="Smiley face" height="19" width="18"></div>
	{{/hasEvents}}
	{{^hasEvents}}
		<div id="editDiaryItemBtn" style="width:25px;float:right;margin-right:3%;"><img class="{{type}}" diaryItemId="{{id}}" diaryItemIds="{{id}}" style="cursor:pointer;margin-top:10px;" src="assets/myProfile/images/file_edit.png" alt="Smiley face" height="19" width="18"></div>
	{{/hasEvents}}
	{{#isStudentMerit}}{{^isMerit}}{{#isTaskMeritActive}}{{#IconSmall}}<img isMerit="true" diaryItemId="{{id}}" class="studMeritIcon" style="margin-top:5px;cursor:pointer;float:right;margin-right:-55px;" src="app-storage:/MeritIcons/{{IconSmall}}">{{/IconSmall}}{{/isTaskMeritActive}}{{/isMerit}}{{/isStudentMerit}}
</div>