{{#isClassMeritActive}}<div class="phwtcg_ctxt_div">
	<div style="width:10px; background-color:{{subjectColour}};height:40px;float:left;margin-top:0px"></div>
	<div class="itemContainer" style="top:-2px;position:relative;">
		<div style="margin-top:0px;position:relative;background-color:transparent;background-image:none;border-none; webkit-box-shadow:none;width:28%" class="diaryItem {{subjectColour}} {{type}} {{#responseRequired}} responseRequired {{/responseRequired}} {{#completed}} completed {{/completed}}" diaryItemId="{{id}}" diaryItemIds="{{id}}" {{#moveable}}draggable="true"{{/moveable}}>
			<div style="height:28px;background-color:transparent;background-image:none;cursor:none;">
				
					{{#isMerit}}<img class="meritIcon" style="width:30px; height:28px; margin-top:7px;margin-left: 3px;" src="app-storage:/MeritIcons/{{IconSmall}}">{{/isMerit}}
					{{^isMerit}}<div class="icon" style="{{#hasNotes}}margin-left:0px;{{/hasNotes}}height:28px;margin-top:0px;"></div>{{/isMerit}}
					
			
				<span style="{{#isMerit}}vertical-align:top;{{/isMerit}}max-width: 200px;{{#hasEvents}}{{^isMinorEvent}}font-weight: bold;{{/isMinorEvent}}color: #1c4284;{{/hasEvents}} padding-top:0px;{{#isMerit}}{{/isMerit}}margin-left: 5px;{{^isMerit}}margin-left: 45px;{{/isMerit}}height:28px;"><strike style="top:15px;"></strike>{{#title}}{{#message}}Attention: {{/message}}{{title}}{{/title}}{{^title}}&nbsp;{{/title}}</span>
			</div>
		</div>
     </div>
	<div class="" style="float:left;width:14%;padding-top:7px;{{#hasNotes}}{{/hasNotes}}{{#hasEvents}}{{/hasEvents}}">
	{{#hasTasks}}{{dueDay}}{{/hasTasks}}{{#hasMerits}}{{dueDay}}{{/hasMerits}}{{#hasEvents}}{{startDay}}{{/hasEvents}}{{#hasNotes}}{{atDay}}{{/hasNotes}}
	</div>
	<div class="" style="float:left;width:11%;padding-top:7px;">{{#hasTasks}}{{#isAssignedToday}}{{assignedTime}}{{/isAssignedToday}}{{^isAssignedToday}}{{assignedDay}}{{/isAssignedToday}}{{/hasTasks}}{{#hasEvents}}{{#isAssignedToday}}{{#time}}{{time}}{{/time}}{{^time}}On the Day{{/time}}{{/isAssignedToday}}{{^isAssignedToday}}{{startDay}}{{/isAssignedToday}}{{/hasEvents}}
	{{#hasMerits}}{{#isAssignedToday}}{{assignedTime}}{{/isAssignedToday}}{{^isAssignedToday}}{{assignedDay}}{{/isAssignedToday}}{{/hasMerits}}
	{{#hasNotes}}{{#isAssignedToday}}{{#atTime}}{{atTime}}{{/atTime}}{{^atTime}}On the Day{{/atTime}}{{/isAssignedToday}}{{^isAssignedToday}}{{atDay}}{{/isAssignedToday}}{{/hasNotes}}</div>
	
	{{^isMerit}}
	{{#hasTasks}}
	<div class="markComplete" style="float:left;width:3%;margin-top:10px"><input {{#isCompleted}}checked{{/isCompleted}} type="checkbox" class="completed" id="markComplete{{id}}" diaryItemId="{{id}}"></div>
	<div class="" style="float:left;padding-top:7px;width:8%;">Complete</div>
	<div style="height:35px; left:77.5%;float:left;position:absolute;top:0%"><input readOnly="true" id="percent{{id}}" class="input_tag" value="{{progress}}%"></div>
	<div style="left:1%; width:25%;float:left;margin-top:22px" class="percentSlider percentSlider{{id}}" percentSliderName="percentSlider{{id}}" percent="{{progress}}" diaryItemId="{{id}}"></div>
	{{/hasTasks}}
	{{/isMerit}}
	
	{{#hasEvents}}
		<div id="editEventBtn" style="width:25px;float:right;margin-right:3%;"><img diaryItemId="{{id}}" diaryItemIds="{{id}}" style="cursor:pointer;margin-top:10px;" src="assets/myProfile/images/file_edit.png" alt="Smiley face" height="19" width="18"></div>
	{{/hasEvents}}
	{{^hasEvents}}
		<div id="editDiaryItemBtn" style="width:25px;float:right;margin-right:3%;"><img class="{{type}}" diaryItemId="{{id}}" diaryItemIds="{{id}}" style="cursor:pointer;margin-top:10px;" src="assets/myProfile/images/file_edit.png" alt="Smiley face" height="19" width="18"></div>
	{{/hasEvents}}
	{{#isStudentMerit}}{{^isMerit}}{{#isTaskMeritActive}}{{#IconSmall}}<img isMerit="true" diaryItemId="{{id}}" class="studMeritIcon" style="margin-top:5px;cursor:pointer;float:right;margin-right:-55px;" src="app-storage:/MeritIcons/{{IconSmall}}">{{/IconSmall}}{{/isTaskMeritActive}}{{/isMerit}}{{/isStudentMerit}}
</div>
{{/isClassMeritActive}}