<div class="homeView">
	<div class="rightpanel">
      
       <section id="page" class="add_announcement">
      
			<div class="top_content" style="background: url(app-storage:/{{schoolImage}}) no-repeat !important;background-size:100% 100%">
				<div id="userProfileContainer"></div>
				<div id="overdueItem"></div>
				<div id="overdueItemList"></div>
				<!-- div class="mainShadowBottom"></div -->

			</div>
			<div id="subTabsHomeView"></div>
			<!-- div id="testIFrame" style="display:none;"><iframe id="dashboard1" width="100%" height="100%" src="http://54.252.237.186:8080/pentaho/content/pentaho-cdf-dd/Render?solution=PD_Report&path=&file=Students_WorkLoad_Distribution.wcdf&userid=joe&password=password&TeacherID=24211"></iframe></div -->
		</section>
	</div>
	
</div>
