<div id="toListContainer"  class="{{type}}" style="width: 100%; margin-left: 10px;margin-top:10px;height:40px;">
<div style="float:left;width:210px;">
	<select  id="toList" class="toList" placeholder="Select an option" style="padding:10px;height:30px; width:98%; display:inline-block;">
	   <option style="display:none;" value="0">Select an option</option>
 	   {{#toList}}<option  value="{{UserId}}" id="{{email}}" label="{{type}}">{{UserName}} <span style="color:rgb(170, 170, 170);">{{UserDetails}}</span></option>{{/toList}}
	</select>
</div>
	<div style="display:inline-block;  width:25%;  height:30px; margin-left:1%;margin-top:5px;float:left" id="selectAllDiv">
         <input id="selectAll" style="display: inline-block; margin:0px; padding:0px; width:15px;" type="checkBox" value=""></input>
         <label style=" display: inline-block; margin-left:10px;color:#4B4848">Select All</label>
    </div>
</div>

<div style="margin-left: 10px;color:#5b5a5a;display:block">
	<label id="labelSpecificStudent" style="display:none; cursor:pointer;">Select Specific Students</label>
	<label id="labelChangeSelection" style="display:none; cursor:pointer; float:left;">Change Selection | </label>
	<label id="labelDiscardChange" style="display:none; cursor:pointer; float:left;">Discard changes</label>
</div>
<input id="StudentNameList" type="hidden" value="">
<input id="StudentIdList" type="hidden" value="">
<div id="parentEmailList" style="display:none" >