<div class="inbox_content">
	<div class="ib_head">INBOX</div>
		<div class="left_ib">
		  <div style="width:98%;background:#e8e7e7;float:left;border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9;">
		      <div style="width:60% !important;border-right:1px solid #d9d9d9;float:left">
		          <div style="width:3px;color:#5b5a5a;padding:15px 5px 10 15px;float:left"><b>Show:</b></div>
		            <div style="width:160px;float:left"><ul style="list-style:none;color:#5b5a5a">
		                   <li><input value="" id="inbox_filter_announcement" style="" type="checkbox"/>Announcements</li>
		                   <li><input value="" id="inbox_filter_news" style="" type="checkbox" />News</li>
		                   <li><input value="" id="inbox_filter_message" style="" type="checkbox" />Messages</li>
		                 </ul></div>
		              
		      </div>
		      <div style="width:39.5% !important;float:left" class="sequence">
		         <div style="border-bottom:1px solid #d9d9d9;width:100%;padding-bottom:8px">
		           <div class="dt_icon" style="float:left;margin:12px 5px 0px 10px"></div> <div style="color:#5b5a5a;width:105px;padding-top:23px"> COMPOSE </div>
		         </div>
		         <div class="sort_dt" style="padding:8px 0px 0px 12px;width:105px;color:#5b5a5a">Sort by Date</div>
		      </div>
		  </div>
			<div class="inboxItemsList">{{> inboxItemsList}}</div>
		</div>
		
		<div class="right_ib" style="overflow-x:hidden; overflow-y:scroll; max-height:92%;">
			{{> inboxItem}}
		</div>
		
</div>       