

{{#mailThread}}
   <table class="modalTableInbox" cellpadding="0" cellspacing="0">
   		  
          <tr style="height:25px;">
              {{#isMessage}}
              	<td style="padding-left:15px;width:10%;">From : </td>
              	<td style="width:600px !important;"><b>{{userName}}</b></td>
              	<td style="text-align:right;padding-right:10px;width:20%">{{sentDate}}, {{sentTime}}</td>
              {{/isMessage}}
              {{^isMessage}}
              	<td style="width:17%;"><div class="{{type}}" style="float:left;margin-top:8px;margin-right:6px"></div><b style="float:left;font-size:12px">{{type}}</b></td>
              	<td style="text-align:right;padding-right:10px">{{sentDate}}</td>
              {{/isMessage}}
              
          </tr>
           <tr style="height:25px;">
           	{{#isMessage}}
                   <td style="padding-left:25px;width:10%;">To : </td>
                  <td style="width:550px;">{{actualReceiverName}}</td>
                   <td style="text-align:right;padding-right:10px;width:20%;">sent</td>
            {{/isMessage}}
           </tr>
           
         <tr>
         	  <td style="padding-left:2px;width:10%;">{{^isAnnouncement}}Subject : {{/isAnnouncement}}</td>
              <td colspan="2" style="width:90%;">
              		{{#isAnnouncement}}
              			<div></div>
					{{/isAnnouncement}}
					{{#isNews}}
						<span style="margin-left:-60%" class="truncateSubjectTitle">{{title}}</span> 
					{{/isNews}}
					{{#isMessage}}
						<div  class="truncateSubjectTitle">{{title}}</div> 
					{{/isMessage}}
              </td>

            </tr>


             <tr>

              <td colspan="3" style="padding-left:10px">
                <div class="messagebox" style="margin:10px; width:680px; overflow-x:scroll; padding-left:10px;font-family:arial;height:260px;">
                
               <div><b style="word-wrap: break-word; font-size:14px;"> {{{description}}}</b></div>
                
                {{#isAnnouncement}}
					<div style="float:left;padding-right:15px;"><b>Campus </b></div> 
					
					<div style="float:left;padding-right:10px;"><b> |</b></div>
					<div style="float:left">{{campusName}}</div><br>
					
					
					<div style="float:left;padding-right:20px;"><b>Author:</b></div> <div style="float:left">{{author}}</div>
				{{/isAnnouncement}}
                </div>
				{{#isNews}}
					<table>
						<tr>
							<td valign="top">
								{{#hasTags}}
									<div style="float:left;padding-right:20px;margin:10px 0px 0px 14px"><b style="font-size:12px">TAGS:</b></div> 
								{{/hasTags}}
							</td>
							<td valign="top">
								{{#tags}}
					<div style="background-color:black;color:white;padding:10px 12px 10px 12px;font-size:12px;text-align:center;
					float:left;height:5px;line-height:5px;margin-right:12px;-webkit-border-radius: 3px;margin-top:10px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:60px;">
					{{tag}}
					 </div> 
					 
					 {{/tags}}
							</td>
						</tr>
					</table>					
					{{#attachmentURL}}
					<div style="clear:both;margin-top:5px;">
						<div style="float:left;margin:0px 12px 0px 14px"><b style="font-size:12px">Attachments:</b></div> 
						<img attachmentURL="{{attachmentURL}}" class="attachment" src="../src/assets/inbox/images/inboxattachmenticon.png">
					</div>
					{{/attachmentURL}}
				{{/isNews}}
				
              </td>

              </tr>

              <tr style="height:50px;">
				{{#isMessage}}
                   <td colspan="3"  style="padding-left:45% !important;">
                   	{{#showReply}}<img subject="{{title}}" receiverId="{{receiverId}}" receiverName="{{receiverName}}" itemId="{{itemId}}" parentId="{{parentId}}" class="replyToMessage" src="../src/assets/inbox/images/back.png" style="cursor:pointer;">{{/showReply}}
                   	{{#showDelete}}<img style="cursor:pointer;" itemId="{{itemId}}" class="deleteMessage" src="../src/assets/inbox/images/delete.png">{{/showDelete}}
                   </td>
				{{/isMessage}}
              </tr>
      </table>
{{/mailThread}}

