<ul class="bjqs" style="list-style-type: none;padding-left:85px;">
	{{#merits}}
		<li UniqueID="{{UniqueID}}" Type="{{Type}}" desc="{{Description}}" style="{{^isCurrentMerit}}display: none;{{/isCurrentMerit}}"><img title="{{Description}}" src="{{iconName}}" ></li>
	{{/merits}}
</ul>