

{{#students.length}}
	<table cellpadding="0" cellspacing="0" border="0"  class="bg bottomhead" style="margin-right:2%;margin-bottom:12px;">
		<tr>
			<td style="width:92%">Students</td>
			<td style="width:4%">
	
			<a class="btn_add" id="cancelBtn" style="margin-right:5px; display:none;cursor:pointer;">Cancel</a>
	
			</td>
			<td class="done" style="width:4%">
			<a class="btn_add"  id="doneBtn" style="margin-right:5px; display:none;cursor:pointer;" >Done</a>
			{{#showRemindBtn}}<a class="btn_add"  id="remindBtn" style="margin-right:5px;cursor:pointer;" >Remind</a>{{/showRemindBtn}}
	
	         <div id="myClassesFade" class="black_overlay"></div>
	
	         <div id="fadeCallout3" class="black_overlay_callout"></div>
	
			</td>
		</tr>
	</table>
{{/students.length}}
   <div style="height:270px;overflow-y:scroll;float:left;width:100%;overflow-x:scroll;">
<table cellpadding="0" cellspacing="0" border="0"  class="bottom_tbl_classes"  >
	{{#students.length}}
	
	<tr>
		<td class="select" colspan="2"><h2 id="selectAllLabel" style="display:none;">Select All</h2></td>

         <td colspan="2" style=""></td>
		<td style="width:10%">
		<span>
		<input style="display:none;" type="checkbox" id="allStudent"/>
		<label   for="allStudent"  class="allStudent" ></label></td>
		</span>
	</tr>
{{/students.length}}
{{#students}}


	<tr>
		<td style="width:2%"><img style="width:60px; height:60px;" src="{{profileImageToDisplay}}"></td>

		<td style="width:40%"><div "width:70%" style="float:left;">{{name}} {{lastName}}</div>
			<div "width:30%" style="float:right;" class="progress">{{#progress}}{{progress}}%{{/progress}}</div>
		</td>
		
		<td style="width:44%; padding:0px; height:70px;">
		{{#reminder}}
			<div  class="reminderDiv" style="width:100%; height:100%; padding:30px; border-left:solid 5px #b4b3b3"><b>Last reminder : </b>{{reminder}}</div>
		{{/reminder}}
		</td>
		<td style="width:6%">
		{{#progress}}
		{{#enableMerit}}{{#meritActive}}<img passtype_id="{{passtype_id}}" itemId="{{itemId}}" studentId="{{studentId}}" classId="{{classId}}" comment="{{comment}}" class="addedMerit" style="width:30px; height:30px;cursor:pointer;" src="app-storage:/MeritIcons/{{IconSmall}}">{{/meritActive}}
		
		{{^meritActive}}<div class="addMerit" itemId="{{itemId}}" studentId="{{studentId}}" classId="{{classId}}">Add Merit</div>
		<input id="isMeritCreate" value="" type="hidden"/>
		<input id="meritItemId" value="" type="hidden"/>
		<input id="meritStudentId" value="" type="hidden"/>{{/meritActive}}{{/enableMerit}}
		{{/progress}}
		</td>
		
		<td>
		<input  style="display:none;" type="checkbox"  name="{{name}} {{lastName}}" class="studentCheckBox" id="{{studentId}}" />
		<label   class="studentChk" for="{{studentId}}"  id={{studentId}}></label></td>
		
	</tr>
	{{/students}}

</table>
</div>
<div id="popupDiv">
</div>


<td style="width:44%; padding:0px; height:70px;">
		
		
		</td>

