

<div style="height:220px;overflow-y:scroll;float:left;width:49%;overflow-x:hidden;margin-left:1%">
<li  style="display:block;"  id="myClassClassList" class="tabContent_row tabs_01 enscrollElement">

<table cellpadding="0" cellspacing="0" border="0"   class="classes_tbl_lt"  >
	{{#classes}}
		<tr class="classList" style="cursor:pointer;" id="{{uniqueId}}">
	
			<td  id=test>
			
				<input class="classId" type="hidden" value="{{uniqueId}}" />
				<h2>{{name}}</h2>
			</td>
			<td><img class="arrowClass" src="assets/myClasses/images/rightarrow.png"></td>
		</tr>
	{{/classes}}
</table>


</li>
</div>
<div class = "taskList"></div>
<div class = "studentListClass"></div>

