<div style="width:48%;overflow-y:scroll;overflow-x:hidden;height:50%;float:left;margin-top:4%">
<table cellpadding="0" cellspacing="0" border="0" class="profile_tbl_ltMid" style="margin-left:1%;width:100%;margin-top:0px">

	<tbody>
	{{#parents}}
		<tr userId="{{uniqueId}}" id="rowParent{{uniqueId}}" class="rowParent" style="cursor:pointer;">
			<td width="9%">
				<img src="{{parentImageToDisplay}}" alt="Smiley face" height="70" width="70">
				<input id="uniqueId" type="hidden" value="{{uniqueId}}" />
			</td>
			<td>{{name}}</td>
		</tr>
	{{/parents}}
		
	</tbody>

</table>
</div>
<div id="parentDetails"></div>


<table cellpadding="0" cellspacing="0" border="0" width="97%" class="bottom_tbl">
	<tbody>
		<tr>
			<td width="5%"><img src="assets/myProfile/images/invite.png" alt="Smiley face" height="23" width="36"></td>

			<td width="10%">Invite Parents</td>
			<td width="80%">
			<input id="parentEmailId" class="field" type="text" size="25">
			</td>
			<td width="5%" style=""><span class="send" style="padding:8px 0px 0px 20px;margin-left:-4px;margin-top:10px;cursor:pointer;" id="sendParentInvitation">Send</span></td>
		</tr>
		<tr>
			<td colspan="4"><span style="color:#484646">Invite your parents to get access to your Planner.</span></td>
		</tr>
	</tbody>
</table>