<h1>Existing user</h1>

<div class="scroller">
    <table class="tableFieldLayout">
        <tr><th>Email</th><td>{{email}}</td></tr>
        <tr><th>Password</th><td>{{encrptpassword}}</td></tr>
    </table>
</div>

<div class="editButtonContainer">
    <a href="#" class="editNewStudentProfileLaunch"><img src="assets/frontpage/edit.png"></a>
</div>