<h1>Existing user</h1>
 
<div class="scroller studentProfileEditContainer">
  
	{{#student}}
	<!--<h4 id="errormessege" rel="{{UniqueID}}" style="color:red;font-size:20px;">Please complete your profile to continue</h4>-->
	<table class="tableFieldLayout studentProfileEditLayout">
		<tr><th>Email <span style ="color :#FF0000">*</span></th><td><input id="studentProfileEditEmail1" type="text" name="name" value="{{email}}"></td></tr>
		<tr><th>Password <span style ="color :#FF0000">*</span></th><td><input id="studentProfileEditPassword1" type="password" name="name" value="{{password}}"></td></tr>
		
	</table>
	{{/student}}
   
</div>
<div class="editButtonContainer">
<span class="textlink" style="display:none;"><a style="margin-right:300px;">Please enter your Email Id</a></span></div>
<div class="editButtonContainer">
	<span class="textlink editNewStudentProfileCancel"><a>Cancel</a></span>
	<div class="textbutton editNewStudentProfileDone"><span>DONE</span></div>
</div>