<table cellpadding="0" cellspacing="0" border="0" style="overflow: scroll; max-height: 450px;">
		<tbody>
		{{#notifications}}
					{{#isClassMeritActive}}<tr style="margin: -1px; margin-bottom: 0px;">
						<td>
							<div class="overdueRow" itemId="{{id}}" itemType="{{type}}">
								{{^hasEvents}}
								<span style="background-color:{{subjectColour}}; margin-left:1px;" class="vLine"></span>
								
								{{#isMerit}}
								{{#isStudentMerit}}{{#isTaskMeritActive}}{{#IconSmall}}<img isMerit="true" diaryItemId="{{id}}" class="studMeritIcon" style="margin-top:10px;cursor:pointer;" src="app-storage:/MeritIcons/{{IconSmall}}">{{/IconSmall}}{{/isTaskMeritActive}}{{/isStudentMerit}}
								{{/isMerit}}
								{{^isMerit}}
								<div class="subjectName" style="background-color:{{subjectColour}};">
									<div class="{{type}}"></div>
								</div>
								
								{{/isMerit}}
								{{/hasEvents}}
								
								<span class="name_tag" style="{{#isStudentMerit}}width: 100px;{{/isStudentMerit}}{{^isStudentMerit}}width: 130px;{{/isStudentMerit}}{{#hasEvents}}margin:10px;{{/hasEvents}}"><div class="truncateTitle" style="{{#hasEvents}}color:#1c4284;width:160px !important;{{/hasEvents}}">{{title}}</div>
									<br>
									<h6>{{dueRelativeDay}}</h6>
								</span>
								{{#isStudentMerit}}{{^isMerit}}{{#isTaskMeritActive}}{{#IconSmall}}<img isMerit="true" diaryItemId="{{id}}" class="studMeritIcon" style="margin-left:0px;" src="app-storage:/MeritIcons/{{IconSmall}}">{{/IconSmall}}{{/isTaskMeritActive}}{{/isMerit}}{{/isStudentMerit}}
								{{^isStudentMerit}}<div></div>{{/isStudentMerit}}
								<img id='{{id}}' src="assets/home/images/close_btn.png" alt="Smiley face" class="close_row">
							</div>
						</td>
					</tr>{{/isClassMeritActive}}
		{{/notifications}}	
		{{#newsAndAnnouncments}}
			{{#newsAnnouncements}}
			{{#newsAnnouncementsForDay}}
				{{#newsAnnouncement}}
					<tr style="margin: -1px; margin-bottom: 0px;">
						<td>
							<div class="overdueRow" itemId="{{id}}" itemType="{{type}}">
								<div class="subjectName" style="background-color:{{subjectColour}};">
									<div class="{{type}}"></div>
								</div>
								<span class="name_tag" style="width: 130px;"><div class="truncateTitle">{{notificationTitle}}</div>
									<br>
									<h6>Today</h6>
								</span>
							</div>
						</td>
					</tr>
				{{/newsAnnouncement}}
			{{/newsAnnouncementsForDay}}
			{{/newsAnnouncements}}
		{{/newsAndAnnouncments}}
		{{#noResult}}
			<tr style="margin: -1px; margin-bottom: 0px;">
				<td style="height:30px;padding:15px 25px 15px 25px;color:black;font-weight:normal;">{{noResult}}</td>
			</tr>
		{{/noResult}}	
	</tbody>
</table>
