<table cellpadding="0" cellspacing="0" border="0" style="margin-left:4%">
		<tbody>
		{{#overDueTasks}}
                    {{#showAssigned}}
					<tr>
						<td style="text-align:center;border-bottom: 1px solid #D9D9D9;"><div style="text-align:center;width:55px">{{assignedDay}}</div></td>
						<td style="border-bottom: 1px solid #D9D9D9;border-right:none;padding-left:50px">
							<div class="overdueRow">
								<span style="background-color:{{subjectColour}};" class="vLine"></span>
								<div class="subjectName" style="background-color:{{subjectColour}};">
									<img style="background-color:{{subjectColour}};" width="19" height="19"  src="assets/home/images/classes.png" alt="Smiley face">
								</div>
								
								<span class="name_tag"> <div class="truncateTitle">{{title}}</div>
									<br>
									<h6>{{dueRelativeDay}}</h6>
								</span>
								<img style="margin-top:12px;" id='{{id}}' src="assets/home/images/close_btn.png" alt="Smiley face" class="close_row">
							</div>
						</td>
					</tr> 
					{{/showAssigned}}
		{{/overDueTasks}}	
	</tbody>
</table>
