<div class="nameStrip_hide">
		  <table cellpadding="0" cellspacing="0" border="0">
						<tbody>
						{{#overDueTasks}}
						<tr>
							<td style="padding:8px 0px 4px 25px;">
							Overdue Items
							</td>
							
							<td>
								
							</td>
							
					</tr>
					<tr>
						<td>
							<div class="singleDueRow">
	                            <span style="background-color:{{subjectColour}};" class="vLine"></span>
								<div class="subjectName" style="background-color:{{subjectColour}};">
									<img style="background-color:{{subjectColour}};" width="19" height="19"  src="assets/home/images/classes.png" alt="Smiley face">
								</div>
								<span class="name_tag" style="margin-left:10px;position:absolute;">
		                            <div class="truncateTitle">{{title}}</div>
		                            <br>
		                            <h6> {{dueRelativeDay}}</h6>
	                            </span>
							</div>
					
						</td>
						
						<td>
								<span class="btn_hide"> HIDE </br>ALL</span>
							</td>
						
						
						
					</tr>
					{{/overDueTasks}}
					</tbody>
			</table>
</div>				