<div id="popupSendMsg" class="white_content" style="width:45%;height:84%;auto;margin-top:0%; margin-left:22%">

	<div class="pophead">
		<table style="margin-left:0px;" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="16"><a style="cursor:pointer;" class="btn_add btns" id="cancelPopupSendMsgBtn"  >Cancel</a></td>
				<td class="midheadtxt">Send Message</td>
				<td  width="16"><a style="cursor:pointer;" class="btn_add btns" id="sendMsgBtn">Send</a></td>
			</tr>
		</table>
	</div>
	<div class="borderTable" style="height:89.5%; width:98.6%;">

		  <table class="modalTable"  style="height:95%" cellpadding="0" cellspacing="0">
			<tr>
				<td style="width:10%">To : </td>
				<td>	
					<input readOnly="true" style="background:transparent; border:none; width:90%;" value="{{to}}" id="recvrId"/>
				</td>
			</tr>
			<tr>
				<td>Cc : </td>
				<td>
					<input id="cc" style=" border:none; width:95%;" value="" />
				</td>
			</tr>
			<tr>
				<td>Bcc : </td>
				<td>
					<input id="bcc" style=" border:none; width:95%;" value="" />
				</td>
			</tr>
			<tr>
				<td>Subject : </td>
				<td>
					<input id="subject" style=" border:none; width:95%;" value="" />
				</td>
			</tr>

			<tr>
				<td colspan="2"><textarea class="textarea" id="msgText"  name="editor1" style=" height: 250px;"></textarea></td>
			</tr>

		</table>

	</div>

</div>

