<div class="reportView">
	<div class="rightpanel">
	<div style="width: 90px;color: #000;font-weight:bold;float:left;margin-top:5px;">Report Name : </div>
     	<select class="reportType" style="">
			{{#allReports}}
			<option value="{{UniqueID}}">{{ReportName}}</option>
			{{/allReports}}
		</select>
	</div>
	<div class="rightpanelDetails">
		 {{> reportDetails}}
	</div>
</div>
