<div class="noteList">
{{#notes}}
	<div class="note">
		<div class="dot"></div>
		<div class="creationDate">{{atDay}} {{#atTime}}@ {{atTime}} {{/atTime}}</div>
		<div class="title">{{title}}</div>
		<div class="link" noteid="{{id}}"></div>
	</div>
{{/notes}}
</div>