{{#note}}
<div class="noteDetail">
	<a href="#" class="noteBack">back</a>
	<div class="noteHeader">
		<div class="noteCreationDate">{{date}} {{time}}</div>
		<div class="noteTitle">{{title}}</div>
	</div>
	{{#noteEntries}}
	<div class="noteEntry">
		<div class="noteEntryDate">{{timestamp}}</div>
		<div class="noteEntryText">{{text}}</div>
	</div>
	{{/noteEntries}}
	<div id="newNoteEntry"> 
		<div class="fieldContainer">
			<textarea class="noteEntry" noteId="{{id}}"></textarea>
		</div>
		<div class="editButtonContainer">
		     <div class="delete textbutton"><span>DELETE</span></div>
			<div class="save textbutton"><span>SAVE</span></div>
		</div>
	</div>
</div>
{{/note}}
