<div id="toListContainer"  class="{{type}}" style="width: 100%; margin-left: 0px;margin-top:10px;height:40px;">
	<div style="float:left;width:210px;">
		<select multiple id="toList" class="toList" placeholder="Select an option" style="padding:10px;height:30px; width:98%; display:inline-block;">
		   <option style="" value="0"><input class="MSDList_ListCheckBox" type="checkbox">Select an option</option>
	 	   {{#toList}}<option style="height:20px;" value="{{UserId}}" label="{{type}}" email="{{email}}" {{#selected}}selected="selected"{{/selected}}>{{UserName}}</option>{{/toList}}
		</select>
	</div>
	<div style="display:inline-block;  width:45%;  height:30px; margin-left:1%;margin-top:5px;float:right" id="selectAllDiv">
         <input id="selectAll" style="float:left;display: inline-block; margin:0px; padding:0px; width:15px;" type="checkBox" value=""></input>
         <label style=" float:left; display: inline-block; margin-left:10px;color:#4B4848">Select All</label>
    </div>
</div>