{{#hasTimetable}}
<div class="timetableWrapper" style="width: 1200px;">

	{{#cycledays}}
		<div class="cycleday">
			<div class="title" {{#multiCampuses}}style="height:50px;word-break: break-all;margin:1px;font-size:11px;line-height:17px;"{{/multiCampuses}}>{{{cycleName}}}</div>
            {{#needsTopPadding}}
            {{/needsTopPadding}}
			{{#periods}}
			   <div style="cursor: pointer;" class="period {{cssClass}}" isBreak={{isBreak}}  data-cycleday="{{dayIndex}}" data-period="{{periodIndex}}" id="D{{dayIndex}}P{{periodIndex}}" classId="{{classId}}">
					{{> subjectViewTimetablePeriod}}
				</div>
			{{/periods}}
			{{#emptyGrids}}
            	<div style="cursor: none;" class="period odd" data-cycleday="" data-period="" id="" classId="">
				</div>
            {{/emptyGrids}}
            {{#needsBottomPadding}}
            {{/needsBottomPadding}}
        </div>
	{{/cycledays}}
</div>
{{/hasTimetable}}
{{^hasTimetable}}
	<div class="timetableUnavailable">
		No timetables available.
	</div>
{{/hasTimetable}}
