<div id="tS2" class="jThumbnailScroller horizontal-only jspScrollable" style="overflow: hidden; padding: 0px; width: 560px; margin-top:0px; height:85px;">
	<div id="containerWeekList" style="width:560px; height:85px; overflow-x:scroll;  overflow-y:hidden;" > 
		<div class="jTscroller" style="width:{{pickerWidth}}px; height:75px;">
			{{#weeks}}
				{{#isThisWeek}}
					<a href="#" class="ts2Ancher active" style="width:80px!important;" id="ts2Ancher{{{weekNumber}}}">
		                <div class="weekfromto" id="{{{weekNumber}}}" timestamp="{{weekTimestamp}}" style="font-size:12px;width:70px;margin-left:5px;">
		                    {{{weekText}}}
		                </div>
            		</a>
            	{{/isThisWeek}}
				{{^isThisWeek}}
					<a href="#" class="ts2Ancher" style="width:80px!important;" id="ts2Ancher{{{weekNumber}}}">
		                <div class="weekfromto" id="{{{weekNumber}}}" timestamp="{{weekTimestamp}}" style="font-size:12px;width:70px;margin-left:5px;">
		                    {{{weekText}}}
		                </div>
            		</a>
            	{{/isThisWeek}}
            	
            	
			{{/weeks}}
		

		</div>
	</div>

</div>
<style> #tS2 .jspPane{ top:0px!important; padding:0px!important;}.jThumbnailScroller .jTscroller{ padding:5px 0;}</style>