{{#school}}
<div style="background-color:{{theme}}; width: 100%; height: 100%; ">
{{/school}}
		{{#school}}
				
				<div style="width: 730px;height: 150px;font-family: arial;font-size: 22px;color:#ffffff;line-height: 50px; font-weight: bold;letter-spacing: 1px">
	
					<span style="float: right">{{diaryTitle}}</span>
	
				</div>
			{{/school}}

			<div style="width: 320px; height:200px; margin:  0 auto; background-color: #ffffff;-webkit-border-radius: 8px;  border-radius: 8px;-webkit-box-shadow: 1px 4px 6px 1px ;
			box-shadow: 1px 4px 6px 1px ; font-family: arial;font-size: 12px;background-image:url(assets/splash/images/bgLogin.png) ">
				{{#school}}
					<div style="background-color: #33363d;-webkit-border-radius: 8px 8px 0px 0px;  border-radius: 8px 8px 0px 0px;  font-family: arial;font-size: 14px;color:#ffffff; background-image: -moz-linear-gradient(top, #ebebeb, #c0c0c0);
					background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d4849), to(#4d4849));
					background-image: -webkit-linear-gradient(top, #4d4849, #787476);
					background-image: -o-linear-gradient(top, #4d4849, #787476);
					background-image: linear-gradient(to bottom, #4d4849, #787476);  ">
						<div style="display:inline-block; padding-left: 100px; word-wrap: normal;">{{name}}</div>
					</div>
				{{/school}}
				{{#student}}
				<div style="margin-top: 30px;">
					<span style="padding:20px 10px 10px 40px;color: #ffffff">My Profile :</span><span>{{name}}</span>
					<div style="padding-left: 110px;">
						{{email}}
					</div>
					<div style="margin: 10px"><img src="assets/splash/images/img005.png" width="70px" height="70px">
					</div>

				</div>
				{{/student}}

			</div>
</div>