/* CSS Document */

.containerChrome {

}

.containerDrag {
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	height: 71px;
	z-index: -2;
	background-color: red;
}

.containerResize {

	.topLeft {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 16px;
		height: 5px;
		cursor: hand; /* nwse-resize; */
	}

	.top {
		display: block;
		position: absolute;
		top: 0px;
		left: 16px;
		right: 16px;
		height: 6px;
		cursor: hand; /* n-resize */
	/*cursor: url(cursor_up.png);
		background-color: red;*/
	}

	.topRight {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 16px;
		height: 5px;
		cursor: hand; /* nesw-resize; */
	}

	.leftTop {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 5px;
		height: 16px;
		cursor: hand; /* nwse-resize; */
	}

	.left {
		display: block;
		position: absolute;
		top: 16px;
		left: 0px;
		width: 5px;
		bottom: 16px;
		cursor: hand; /* ew-resize; */
	}

	.leftBottom {
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 5px;
		height: 16px;
		cursor: hand; /* nesw-resize; */
	}

	.rightTop {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 5px;
		height: 16px;
		cursor: hand; /* nesw-resize; */
	}

	.right {
		display: block;
		position: absolute;
		top: 16px;
		right: 0px;
		width: 5px;
		bottom: 16px;
		cursor: hand; /* ew-resize; */
	}

	.rightBottom {
		display: block;
		position: absolute;
		bottom: 0px;
		right: 0px;
		width: 5px;
		height: 16px;
		cursor: hand; /* nwse-resize; */
	}

	.bottomLeft {
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 16px;
		height: 5px;
		cursor: hand; /* nesw-resize; */
	}

	.bottom {
		display: block;
		position: absolute;
		bottom: 0px;
		left: 16px;
		right: 16px;
		height: 5px;
		cursor: hand; /* n-resize; */
	}

	.bottomRight {
		display: block;
		position: absolute;
		bottom: 0px;
		right: 0px;
		width: 16px;
		height: 5px;
		cursor: hand; /* nwse-resize; */
	}

}

.containerWidgets {
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 74px;
	height: 21px;

	.close, .minimise, .maximise {
		display: block;
		position: absolute;
		top: 0px;
		width: 21px;
		height: 21px;
		background-repeat: no-repeat;
		background-position: 2px 2px;
		border-radius: 10px;
		-webkit-box-shadow:
			1.5px 1.5px 1px rgba(255, 255, 255, 0.4) inset,
				-1.5px -1.5px 1px rgba(0, 0, 0, 0.4) inset;
		cursor: hand;

		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	.close {
		left: 0px;
		background-image: url(close.png);

		&:hover {
			background-image: url(close_down.png);
		}
	}

	.minimise {
		left: 26px;
		background-image: url(minimise.png);
		cursor: hand;

		&:hover {
			background-image: url(minimise_down.png);
		}
	}

	.maximise {
		left: 52px;
		background-image: url(maximise.png);
		cursor: hand;

		&:hover {
			background-image: url(maximise_down.png);
		}
	}

	.previewMode,
	.proofMode {
		display: block;
		position: absolute;
		top: 30px;
		left: -136px;
		width: 210px;
		height: 32px;
	}

	.previewMode span,
	.proofMode span {
		line-height: 32px;
		font-size: 32px;
		font-weight: bold;
		color: white;
		cursor: none;
	}

	.refresh {
		display: block;
		position: absolute;
		top: 0px;
		right: 15px;
		width: 32px;
		height: 32px;
		background-image: url(refresh.png);
		cursor: hand;
	}

}