.todayLabel {
	text-align: right;
	padding: 12px 20px;
	font-size: 10px;

	.todayValue {
		font-weight: bold;
	}
}


// the previous/today/next and jump buttons at the top of the page
.calendarNavigation {

	div {
		height: 36px;
		display: inline-block;
		cursor:pointer;
		font-size: 14px;
		line-height: 14px;
		margin: 0;
		float: left;
		border: 1px solid #dddddd;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
		color: #000000;

		span {
			display: inline-block;
			margin: 0 5px;
		}

		&.disabled {
			&:hover{
				-webkit-box-shadow: none;
			}
			cursor: default;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fafafa));
			color: #888888;
		}

		&:hover {
			-webkit-box-shadow: #eeeeee 0 0 6px;
		}

		&.prev {
			-webkit-border-radius: 5px 0 0 5px;
			border-right: none;
			span {
				width: 28px;
				height: 36px;
				background: url(img/nav_left_button.png) no-repeat;
			}
		}

		&.today span {
			padding: 10px;
		}

		&.next {
			border-left: none;
			-webkit-border-radius: 0 5px 5px 0px;
			span {
				width: 28px;
				height: 36px;
				background: url(img/nav_right_button.png) no-repeat;
			}
		}

		&.jump {
			-webkit-border-radius: 5px 5px 5px 5px;
			margin: 0 30px;
			padding: 0 9px 0 4px;
			width: auto;

			span {
				padding: 10px 15px 10px 10px;
				width: auto;
				height: auto;
				background: url(img/dropdown_disclosure.png) no-repeat right 15px;
			}
		}
	}

	/* Date picker (positioned below a hidden HTML input) */
	input.dateSelector {
		position: absolute;
		height: 36px;
		visibility: hidden;
		margin-left: -54px;
	}
}

// a container to display days of note, locked events and events
.eventContainer {
	font-size: 13px;
	line-height: 18px;
	display: block;

	div {
		padding: 0 15px 0 12px;
		display: inline-block;
		background-position: 4px left;
		background-repeat: no-repeat;
		white-space: nowrap;
		overflow: hidden;

		&.dayOfNote {
			color: #748bb4;
			background-image: url(img/square-icon-faded.png);
		}
		&.lockedEvent {
			color: #1c4183;
			background-image: url(img/lock-icon.png);
		}
		&.event {
			color: #1c4183;
			background-image: url(img/square-icon.png);

			span {
				max-width: 270px;
			}
		}

		// the event/day of note title
		span {
			display: inline-block;
			max-width: 370px;
			font-weight: bold;
			height: 18px;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		// the time (if any)
		em {
			display: inline-block;
			color: #1c4183;
			font-style: normal;
		}
	}
}

// a container to display all other types of diary item
.itemContainer {
	display: block;

	.diaryItem {
		display: inline-block;
		position: relative;
		cursor: pointer;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d7d7), to(#989898));
		margin: 0 1px 3px 4px;
		padding: 1px;
		-webkit-box-shadow: #eeeeee -2px 2px 3px;
		-webkit-border-radius: 4px;

		// todo: centralise these colors
		&.maroon .colorStripe {      background-color: #650033; }
		&.red .colorStripe {         background-color: #cf0000; }
		&.pink .colorStripe {        background-color: #ff33ff; }
		&.purple .colorStripe {      background-color: #6734cc; }
		&.darkblue .colorStripe {    background-color: #000066; }
		&.skyblue .colorStripe {     background-color: #3367ff; }
		&.cyan .colorStripe {        background-color: #00aeef; }
		&.aqua .colorStripe {        background-color: #02a4a4; }
		&.darkgreen .colorStripe {   background-color: #006500; }
		&.grassgreen .colorStripe {  background-color: #5ab902; }
		&.darkbrown .colorStripe {   background-color: #562b01; }
		&.lightbrown .colorStripe {  background-color: #ac8152; }
		&.deeporange .colorStripe {  background-color: #ff6600; }
		&.orange .colorStripe {      background-color: #ff9900; }
		&.grey .colorStripe {        background-color: #8e8c8c; }
		&.darkgrey .colorStripe {    background-color: #4c4949; }
		&.white .colorStripe {       background-color: #ffffff; }
		&.black .colorStripe {       background-color: #000000; }

		// noColor means we move the icon and the span to the left and don't
		// display the color div
		&.noColor {
			.icon {
				left: 12px;
			}
			span {
				margin-left: 33px;
			}
			.colorStripe {
				display: none;
			}
		}

		// dropTarget just reverse the gradients
		&.dropTarget {
			background-image: -webkit-gradient(linear, left top, left bottom, from(#989898), to(#d9d7d7));
			>div {
				background-image: -webkit-gradient(linear, left 20%, left 100%, from(#e5e5e5), to(#ffffff));
			}
			.colorStripe span {
				background-image: -webkit-gradient(linear, left 30%, left bottom, from(rgba(0,0,0,0.1)), to(rgba(255,255,255,0.2)));
			}
		}

		&.assignment .icon				{ background-image: url(img/assignment.png); }
		&.homework .icon				{ background-image: url(img/homework.png); }
		&.note .icon					{ background-image: url(img/note.png); }
		&.messageFromParent .icon		{ background-image: url(img/messageFromParent.png); }
		&.messageFromTeacher .icon		{ background-image: url(img/messageFromTeacher.png); }

		// the response required icon is not only different, but a bit bigger, so we need to change the margin on the title (span)
		&.responseRequired {
			&.messageFromParent .icon	{ background-image: url(img/messageFromParent_responseRequired.png); width: 22px;}
			&.messageFromTeacher .icon	{ background-image: url(img/messageFromTeacher_responseRequired.png); width: 22px;}
			span {
				margin-left: 49px;
			}
			&.noColor span {
				margin-left: 39px;
			}
		}

		// we don't use text-decoration: line-through because we want a lighter drop-shaddow on the line-through
		strike {
			display: none;
		}
		&.completed strike {
			display: block;
			position: absolute;
			background: #000;
			width: 100%;
			height: 1px;
			top: 8px;
			-webkit-box-shadow: rgba(255,255,255,0.3) -1px 1px 1px;
		}

		// due means we switch the colorStripe to the right and change the icon
		&.due {

			// if we don't have a color, then revert to the defaults
			&.noColor {
				span {
					margin-right: 30px;
				}

				.link {
					right: 6px;
				}
			}

			// switch the colorStripe to the right
			.colorStripe {
				-webkit-border-radius: 0 3px 3px 0;
				right: 1px;
				left: auto;
			}

			// add "Due" to
			>div>span {
				&:before {
					content: "Due: ";
					color: #858484;
					text-shadow: #ffffff -2px 2px 1px;
				}
				margin-left: 30px;
				margin-right: 38px;
			}

			.icon {
				background-image: url(img/due.png);
				width: 16px;
				left: 8px;
			}

			.link {
				right: 14px;
			}
		}

		>div {
			background-image: -webkit-gradient(linear, left 20%, left 100%, from(#ffffff), to(#e5e5e5));
			-webkit-border-radius: 3px;
			position: static;
			width: auto;
			height: 25px;

			// the title for this diary item
			>span {
				display: inline-block;
				color: #494949;
				font-size: 13px;
				margin: 5px 31px 0 43px;
				position: relative;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-shadow: #ffffff -1px 1px 1px;
				max-width: 180px;
			}

			div {
				position: absolute;
				background-repeat: no-repeat;
			}

			.colorStripe {
				left: 1px;
				top: 1px;
				height: 25px;
				width: 9px;
				-webkit-border-radius: 3px 0 0 3px;
				background-color: #ffffff;
				-webkit-box-shadow: rgba(0,0,0,0.1) -2px 2px 3px;

				// add a transparent gradient over the color
				span {
					background-image: -webkit-gradient(linear, left 30%, left bottom, from(rgba(255,255,255,0.2)), to(rgba(0,0,0,0.1)));
					width: 100%;
					height: 100%;
					margin: 0;
				}
			}

			.icon {
				left: 20px;
				top: 5px;
				width: 16px;
				height: 16px;
			}

			.link {
				right: 6px;
				top: 5px;
				width: 17px;
				height: 16px;
				background-image: url(img/drilldown_arrow.png);
			}
		}

	}
}

.addDiaryItemButton {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(img/add.png) no-repeat;
	cursor: pointer;
}

/* Popup for diary items */

.diary-item-summary-background(@color, @textColor) {
	background-color: @color;
	color: @textColor;
}

.diary-item-summary(@color, @textColor, @borderColor) {
	.diary-item-summary-background(@color, @textColor);
	border: 1px solid @borderColor;
}

.diaryItemSummary {
	heading {
		display: block;
		position: absolute;
		left: 1px;
		right: 1px;
		height: 19px;
		border-radius: 4px;
		font-family: "Diary Font";
		font-weight: bold;
		font-size: 12px;
		color: white;
		padding-left: 4px;
		padding-top: 3px;
		-webkit-box-shadow:
				inset -1px -1px rgba(85, 85, 85, 0.5),
			inset 1px 1px rgba(170, 170, 170, 0.5);
		margin: -24px 0 0 0;

		&.maroon {      .diary-item-summary-background(#650033, white); }
		&.red {         .diary-item-summary-background(#cf0000, white); }
		&.pink {        .diary-item-summary-background(#ff33ff, white); }
		&.purple {      .diary-item-summary-background(#6734cc, white); }
		&.darkblue {    .diary-item-summary-background(#000066, white); }
		&.skyblue {     .diary-item-summary-background(#3367ff, white); }
		&.cyan {        .diary-item-summary-background(#00aeef, white); }
		&.aqua {        .diary-item-summary-background(#02a4a4, white); }
		&.darkgreen {   .diary-item-summary-background(#006500, white); }
		&.grassgreen {  .diary-item-summary-background(#5ab902, white); }
		&.darkbrown {   .diary-item-summary-background(#562b01, white); }
		&.lightbrown {  .diary-item-summary-background(#ac8152, white); }
		&.deeporange {  .diary-item-summary-background(#ff6600, white); }
		&.orange {      .diary-item-summary-background(#ff9900, white); }
		&.grey {        .diary-item-summary-background(#8e8c8c, white); }
		&.darkgrey {    .diary-item-summary-background(#4c4949, white); }
		&.white {       .diary-item-summary-background(#ffffff, black); }
		&.black {       .diary-item-summary-background(#000000, white); }

		&.noColor {
			background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
		}

		.title {
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			position: absolute;
			left: 23px;
			right: 20px;
		}

		div.typeicon {
			display: block;
			position: absolute;
			left: -5px;
			top: -5px;
			width: 33px;
			height: 34px;
		}

		&.homework div.typeicon {
			background-image: url(../notification/homework.png);
			background-repeat: no-repeat;
		}

		&.assignment div.typeicon {
			background-image: url(../notification/assignment.png);
			background-repeat: no-repeat;
		}

		&.messageFromTeacher div.typeicon {
			background-image: url(../notification/messageFromTeacher.png);
			background-repeat: no-repeat;
		}

		&.messageFromParent div.typeicon {
			background-image: url(../notification/messageFromParent.png);
			background-repeat: no-repeat;
		}

		&.research div.typeicon {
			background-image: url(../notification/research.png);
			background-repeat: no-repeat;
		}

		&.note div.typeicon {
			background-image: url(../notification/note.png);
			background-repeat: no-repeat;
		}

		&.due div.typeicon {
			background-image: url(../notification/due.png);
			background-repeat: no-repeat;
		}

		&.assignment,
		&.messageFromTeacher,
		&.messageFromParent,
		&.homework,
		&.research,
		&.note {
			padding-left: 22px !important;
		}

		div.infolink {
			display: block;
			position: absolute;
			right: 4px;
			top: 5px;
			width: 11px;
			height: 11px;
			background-image: url(img/drilldown_plain_pencil.png);
			background-repeat: no-repeat;
			cursor: pointer;
		}

		&.white div.infolink {
			background-image: url(img/drilldown_plain_pencil_black.png);
		}
	}

	&.dropTarget heading {
		&.maroon {      .diary-item-summary(white, black, #4c4949); }
		&.red {         .diary-item-summary(white, black, #4c4949); }
		&.pink {        .diary-item-summary(white, black, #4c4949); }
		&.purple {      .diary-item-summary(white, black, #4c4949); }
		&.darkblue {    .diary-item-summary(white, black, #4c4949); }
		&.skyblue {     .diary-item-summary(white, black, #4c4949); }
		&.cyan {        .diary-item-summary(white, black, #4c4949); }
		&.aqua {        .diary-item-summary(white, black, #4c4949); }
		&.darkgreen {   .diary-item-summary(white, black, #4c4949); }
		&.grassgreen {  .diary-item-summary(white, black, #4c4949); }
		&.darkbrown {   .diary-item-summary(white, black, #4c4949); }
		&.lightbrown {  .diary-item-summary(white, black, #4c4949); }
		&.deeporange {  .diary-item-summary(white, black, #4c4949); }
		&.orange {      .diary-item-summary(white, black, #4c4949); }
		&.grey {        .diary-item-summary(black, white, #8e8c8c); }
		&.darkgrey {    .diary-item-summary(white, black, #4c4949); }
		&.white {       .diary-item-summary(black, white, #8e8c8c); }
		&.grey {        .diary-item-summary(white, black, #4c4949); }

		div.infolink {
			background-image: url(./img/drilldown_plain_pencil_black.png);
		}
	}

	&.note, &.messageFromTeacher, &.messageFromParent {
	// Make the elements with potentially more content wider
		> .scrollContainer {
			width: 314px;
		}
		table {
			width: 300px;
			td {
				white-space: pre-wrap;
			}
		}
	}

	> .scrollContainer {
		margin: 23px 0 5px 0;
		padding: 0;
		display: block;
		max-height: 600px;
		width: 214px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	table {
		display: block;
		table-layout: fixed;
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		width: 200px;
		overflow: hidden;

	/* Styling of form field name cell */
		th {
			font-size: 11px;
			font-weight: 400;
			text-align: right;
			width: 60px;
			padding-right: 12px;
			vertical-align:text-top;
			color: #858484;

		/* CSS magic to append a : after the form field */
			&:after {
				content: ":";
			}
		}

	/* Styling of form value cell */
		td {
			font-size: 12px;
			font-weight: 400;
			vertical-align: text-top;
			color: #4a4a4a;
			word-break: hyphenate;
			overflow: hidden;

			div {
			/*width:116px;*/	/*  Give it an exact size for now */
				text-overflow:ellipsis;
				white-space:nowrap;
				overflow:hidden;
			}

			ul.attachments {
				list-style: none;
				padding: 0;
				margin: 0;

				li.attachment {
					cursor: default;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					padding: 0;
					margin: 0;
				}
			}
		}

		tr.message td {
			padding: 5px;
			white-space: pre-wrap;
		}

		tr.noteEntry {
			th:after {
				content: "";
			}
			td {
				text-align: right;
				div.textbutton {
					width: auto;
				}
			}
		}
	}

	textarea {

		-webkit-box-shadow: #dddddd 0 0 10px inset;
		-webkit-border-radius: 10px;
		background-color: #ffffff;
		border: 1px solid #dddddd;
		resize: none;
		padding: 3px 10px;
		&::-webkit-scrollbar {
			-webkit-border-radius: 10px 0 10px;
		}

		font-family: "Diary Font";
		font-size: 11px;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}

	select {
		-webkit-appearance: button;
		padding-left: 10px;
		padding-right: 30px;
		margin-bottom: 3px;
		height: 28px;
		background-position: left top, right top, left top;
		background-repeat: no-repeat, no-repeat, repeat-x;
		background-clip: padding-box, padding-box, content-box;
		background-image: url(../form/textbutton_left.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);
		border: none;
		width: 100%;
	}
}
