.todayLabel {
  text-align: right;
  padding: 12px 20px;
  font-size: 10px;
  margin-top: 20px;
}
.todayLabel .todayValue {
  font-weight: bold;
}
.calendarNavigation {
  /* Date picker (positioned below a hidden HTML input) */

}
.calendarNavigation div {
  height: 36px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  float: left;
  border: 1px solid #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
  color: #000000;
}
.calendarNavigation div span {
  display: inline-block;
  margin: 0 5px;
}
.calendarNavigation div.disabled {
  cursor: default;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fafafa));
  color: #888888;
}
.calendarNavigation div.disabled:hover {
  -webkit-box-shadow: none;
}
.calendarNavigation div:hover {
  -webkit-box-shadow: #eeeeee 0 0 6px;
}
.calendarNavigation div.prev {
  -webkit-border-radius: 5px 0 0 5px;
  border-right: none;
}
.calendarNavigation div.prev span {
  width: 28px;
  height: 36px;
  background: url(img/nav_left_button.png) no-repeat;
}
.calendarNavigation div.today span {
  padding: 10px;
}
.calendarNavigation div.next {
  border-left: none;
  -webkit-border-radius: 0 5px 5px 0px;
}
.calendarNavigation div.next span {
  width: 28px;
  height: 36px;
  background: url(img/nav_right_button.png) no-repeat;
}
.calendarNavigation div.jump {
  -webkit-border-radius: 5px 5px 5px 5px;
  margin: 0 30px;
  padding: 0 9px 0 4px;
  width: auto;
  background: url(calImg.png) no-repeat right 15px;
}
.hideCalendarNavigation div.jump span {
  padding: 10px 15px 10px 10px;
  width: auto;
  height: auto;
}
.hideCalendarNavigation input.dateSelector {
  position: absolute;
  height: 36px;
  visibility: hidden;
  margin-left: 44px;
  margin-top: -34px;
}
.eventContainer {
  font-size: 13px;
  line-height: 18px;
  display: block;

}
.eventContainer div {
  padding: 0 15px 0 30px;
  display: inline-block;
  background-position: 4px left;
  background-repeat: no-repeat;
  white-space: nowrap;
  overflow: hidden;
}
.eventContainer div.dayOfNote {
  color: #748bb4;
background-image: url(img/square-icon-faded.png);
}
.eventContainer div.lockedEvent {
  color: #1c4183;
  background-image: url(img/lock-icon.png);
}
.eventContainer div.event {
  color: #1c4183;
 background-image: url(img/square-icon.png);
}
.eventContainer div.event span {
  max-width: 270px;
}
.eventContainer div span {
  display: inline-block;
  max-width: 370px;
  font-weight: bold;
  height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.eventContainer div em {
  display: inline-block;
  color: #1c4183;
  font-style: normal;
}
.itemContainer {
  display: block;

}
.itemContainer .diaryItem {
  position: relative;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d7d7), to(#989898));
  
  margin: 9px 1px 3px 9px;
  padding: 1px;
  -webkit-box-shadow: #eeeeee -2px 2px 3px;
  -webkit-border-radius: 5px;
  width:200px;
  float:left;
}
.itemContainer .diaryItem.maroon .colorStripe {
  background-color: #650033;
}
.itemContainer .diaryItem.red .colorStripe {
  background-color: #cf0000;
}
.itemContainer .diaryItem.pink .colorStripe {
  background-color: #ff33ff;
}
.itemContainer .diaryItem.purple .colorStripe {
  background-color: #6734cc;
}
.itemContainer .diaryItem.darkblue .colorStripe {
  background-color: #000066;
}
.itemContainer .diaryItem.skyblue .colorStripe {
  background-color: #3367ff;
}
.itemContainer .diaryItem.cyan .colorStripe {
  background-color: #00aeef;
}
.itemContainer .diaryItem.aqua .colorStripe {
  background-color: #02a4a4;
}
.itemContainer .diaryItem.darkgreen .colorStripe {
  background-color: #006500;
}
.itemContainer .diaryItem.grassgreen .colorStripe {
  background-color: #5ab902;
}
.itemContainer .diaryItem.darkbrown .colorStripe {
  background-color: #562b01;
}
.itemContainer .diaryItem.lightbrown .colorStripe {
  background-color: #ac8152;
}
.itemContainer .diaryItem.deeporange .colorStripe {
  background-color: #ff6600;
}
.itemContainer .diaryItem.orange .colorStripe {
  background-color: #ff9900;
}
.itemContainer .diaryItem.grey .colorStripe {
  background-color: #8e8c8c;
}
.itemContainer .diaryItem.darkgrey .colorStripe {
  background-color: #4c4949;
}
.itemContainer .diaryItem.white .colorStripe {
  background-color: #ffffff;
}
.itemContainer .diaryItem.black .colorStripe {
  background-color: #000000;
}
.itemContainer .diaryItem.noColor .icon {
  left: 12px;
}
.itemContainer .diaryItem.noColor span {
  margin-left: 33px;
}
.itemContainer .diaryItem.noColor .colorStripe {
  display: none;
}
.itemContainer .diaryItem.dropTarget {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#989898), to(#d9d7d7));
}
.itemContainer .diaryItem.dropTarget > div {
  background-image: -webkit-gradient(linear, left 20%, left 100%, from(#e5e5e5), to(#ffffff));
}
.itemContainer .diaryItem.dropTarget .colorStripe span {
  background-image: -webkit-gradient(linear, left 30%, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0.2)));
}
.itemContainer .diaryItem.assignment .icon {
  background-image: url(../notification/assignment.png);
  width: 20px;
  height: 20px;
  left: 8px;
  top:10px;
}
.itemContainer .diaryItem.homework .icon {
  background-image: url(../notification/homework.png);
  width: 20px;
  height: 20px;
  left: 8px;
  top:10px;
}
.itemContainer .diaryItem.note .icon {
  background-image: url(../notification/note.png);
  width: 20px;
  height: 20px;
  left: 8px;
  top:10px;
}
.itemContainer .diaryItem.messageFromParent .icon {
  background-image: url(img/messageFromParent.png);
}
.itemContainer .diaryItem.messageFromTeacher .icon {
  background-image: url(img/messageFromTeacher.png);
}
.itemContainer .diaryItem.responseRequired.messageFromParent .icon {
  background-image: url(img/messageFromParent_responseRequired.png);
  width: 22px;
}
.itemContainer .diaryItem.responseRequired.messageFromTeacher .icon {
  background-image: url(img/messageFromTeacher_responseRequired.png);
  width: 22px;
}
.itemContainer .diaryItem.responseRequired span {
  margin-left: 49px;
}
.itemContainer .diaryItem.responseRequired.noColor span {
  margin-left: 39px;
}
.itemContainer .diaryItem strike {
  display: none;
}
.itemContainer .diaryItem.completed strike {
  display: block;
  position: absolute;
  background: #000;
  width: 100%;
  height: 1px;
  top: 8px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) -1px 1px 1px;
}
.itemContainer .diaryItem.due.noColor span {
  margin-right: 30px;
}
.itemContainer .diaryItem.due.noColor .link {
  right: 6px;
}
.itemContainer .diaryItem.due .colorStripe {
  -webkit-border-radius: 0 3px 3px 0;
  right: 1px;
  left: auto;
}
.itemContainer .diaryItem.due > div > span {
  margin-left: 30px;
  margin-right: 38px;
}
.itemContainer .diaryItem.due > div > span:before {
  content: "Due: ";
  color: #858484;
  text-shadow: #ffffff -2px 2px 1px;
}
.itemContainer .diaryItem.due .icon {
  background-image: url(img/overdueicon.png);
  width: 20px;
  height: 20px;
  left: 8px;
  top:10px;
}
.itemContainer .diaryItem.due .link {
  right: 14px;
}
.itemContainer .diaryItem > div {
  background-image: -webkit-gradient(linear, left 20%, left 100%, from(#ffffff), to(#e5e5e5));
  -webkit-border-radius: 3px;
  position: static;
  width: auto;
  height: 25px;
}
.itemContainer .diaryItem > div > span {
  display: inline-block;
  color: #494949;
  font-size: 13px;
  margin: 5px 31px 0 43px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: #ffffff -1px 1px 1px;
  max-width: 150px;
}
.itemContainer .diaryItem > div div {
  position: absolute;
  background-repeat: no-repeat;
}
.itemContainer .diaryItem > div .colorStripe {
  left: 1px;
  top: 1px;
  height: 25px;
  width: 9px;
  -webkit-border-radius: 3px 0 0 3px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) -2px 2px 3px;
}
.itemContainer .diaryItem > div .colorStripe span {
  background-image: -webkit-gradient(linear, left 30%, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(0, 0, 0, 0.1)));
  width: 100%;
  height: 100%;
  margin: 0;
}
.itemContainer .diaryItem > div .icon {
  left: 20px;
  top: 5px;
  width: 16px;
  height: 16px;
}
.itemContainer .diaryItem > div .link {
  right: 6px;
  top: 5px;
  width: 17px;
  height: 16px;
  background-image: url(img/drilldown_arrow.png);
}
.addDiaryItemButton {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(img/addclass.png) no-repeat;
  cursor: pointer;
    margin-top: -50px;
}
/* Popup for diary items */
.diaryItemSummary heading {
  display: block;
  position: absolute;
  left: 1px;
  right: 1px;
  height: 25px;
  border-radius: 4px;
  font-family: "Diary Font";
  font-weight: bold;
  font-size: 12px;
  color: white;
  padding-left: 8px;
  padding-top: 8px;
  -webkit-box-shadow: inset -1px -1px rgba(85, 85, 85, 0.5), inset 1px 1px rgba(170, 170, 170, 0.5);
  margin: -24px 0 0 0;
}
.diaryItemSummary heading.maroon {
  background-color: #650033;
  color: #ffffff;
}
.diaryItemSummary heading.red {
  background-color: #cf0000;
  color: #ffffff;
}
.diaryItemSummary heading.pink {
  background-color: #ff33ff;
  color: #ffffff;
}
.diaryItemSummary heading.purple {
  background-color: #6734cc;
  color: #ffffff;
}
.diaryItemSummary heading.darkblue {
  background-color: #000066;
  color: #ffffff;
}
.diaryItemSummary heading.skyblue {
  background-color: #3367ff;
  color: #ffffff;
}
.diaryItemSummary heading.cyan {
  background-color: #00aeef;
  color: #ffffff;
}
.diaryItemSummary heading.aqua {
  background-color: #02a4a4;
  color: #ffffff;
}
.diaryItemSummary heading.darkgreen {
  background-color: #006500;
  color: #ffffff;
}
.diaryItemSummary heading.grassgreen {
  background-color: #5ab902;
  color: #ffffff;
}
.diaryItemSummary heading.darkbrown {
  background-color: #562b01;
  color: #ffffff;
}
.diaryItemSummary heading.lightbrown {
  background-color: #ac8152;
  color: #ffffff;
}
.diaryItemSummary heading.deeporange {
  background-color: #ff6600;
  color: #ffffff;
}
.diaryItemSummary heading.orange {
  background-color: #ff9900;
  color: #ffffff;
}
.diaryItemSummary heading.grey {
  background-color: #8e8c8c;
  color: #ffffff;
}
.diaryItemSummary heading.darkgrey {
  background-color: #4c4949;
  color: #ffffff;
}
.diaryItemSummary heading.white {
  background-color: #ffffff;
  color: #000000;
}
.diaryItemSummary heading.black {
  background-color: #000000;
  color: #ffffff;
}
.diaryItemSummary heading.noColor {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
}
.diaryItemSummary heading .title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 28px;
  right: 20px;
}

.diaryItemSummary heading .noteTitle {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	max-width:80%;
/*	left: 28px;*/
/*	right: 20px;*/
}

.diaryItemSummary heading div.typeicon {
  display: block;
  position: absolute;
  margin-left: 1px;
  margin-top: 5px;
  width: 33px;
  height: 34px;
}
.diaryItemSummary heading.homework div.typeicon {
  background-image: url(../notification/homework.png);
  background-repeat: no-repeat;
  left: 3px;
  top: 2px;
}
.diaryItemSummary heading.assignment div.typeicon {
  background-image: url(../notification/assignment.png);
  background-repeat: no-repeat;
  left: 3px;
  top: 3px;
}
.diaryItemSummary heading.messageFromTeacher div.typeicon {
  background-image: url(../notification/messageFromTeacher.png);
  background-repeat: no-repeat;
}
.diaryItemSummary heading.messageFromParent div.typeicon {
  background-image: url(../notification/messageFromParent.png);
  background-repeat: no-repeat;
}
.diaryItemSummary heading.research div.typeicon {
  background-image: url(../notification/research.png);
  background-repeat: no-repeat;
}
.diaryItemSummary heading.note div.typeicon {
  background-image: url(../notification/note.png);
  background-repeat: no-repeat;
  left: 3px;
  top: 1px;
}
.diaryItemSummary heading.due div.typeicon {
  background-image: url(img/overdueicon.png);
  background-repeat: no-repeat;
  top: 0px;
}
.diaryItemSummary heading.assignment,
.diaryItemSummary heading.messageFromTeacher,
.diaryItemSummary heading.messageFromParent,
.diaryItemSummary heading.homework,
.diaryItemSummary heading.merit,
.diaryItemSummary heading.research,
.diaryItemSummary heading.note {
  padding-left: 22px !important;
}
.diaryItemSummary heading div.infolink {
  display: block;
  position: absolute;
  right: 4px;
  top: 8px;
  width: 11px;
  height: 11px;
  background-image: url(img/drilldown_plain_pencil.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.diaryItemSummary heading.white div.infolink {
  background-image: url(img/drilldown_plain_pencil_black.png);
}
.diaryItemSummary heading.#ffffff div.infolink{
	background-image: url(img/drilldown_plain_pencil_black.png);
}


.diaryItemSummary.dropTarget heading.maroon {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.red {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.pink {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.purple {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.darkblue {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.skyblue {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.cyan {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.aqua {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.darkgreen {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.grassgreen {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.darkbrown {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.lightbrown {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.deeporange {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.orange {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.grey {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #8e8c8c;
}
.diaryItemSummary.dropTarget heading.darkgrey {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading.white {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #8e8c8c;
}
.diaryItemSummary.dropTarget heading.grey {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #4c4949;
}
.diaryItemSummary.dropTarget heading div.infolink {
  background-image: url(./img/drilldown_plain_pencil_black.png);
}
.diaryItemSummary.note > .scrollContainer,
.diaryItemSummary.messageFromTeacher > .scrollContainer,
.diaryItemSummary.messageFromParent > .scrollContainer {
  width: 310px;
}
.diaryItemSummary.note table,
.diaryItemSummary.messageFromTeacher table,
.diaryItemSummary.messageFromParent table {
  width: 300px;
}
.diaryItemSummary.note table td,
.diaryItemSummary.messageFromTeacher table td,
.diaryItemSummary.messageFromParent table td {
  white-space: pre-wrap;
}
.diaryItemSummary > .scrollContainer {
  margin: 23px 0 5px 0;
  padding: 0;
  display: block;
  max-height: 600px;
  width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
.diaryItemSummary table {
  display: block;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 230px;
  overflow: hidden;
  /* Styling of form field name cell */

  /* Styling of form value cell */

}
.diaryItemSummary table th {
  font-size: 11px;
  font-weight: 400;
  text-align: right;
  width: 60px;
  padding-right: 12px;
  vertical-align: text-top;
  color: #858484;
  /* CSS magic to append a : after the form field */

}
.diaryItemSummary table th:after {
  content: ":";
}
.diaryItemSummary table td {
  font-size: 12px;
  font-weight: 400;
  vertical-align: text-top;
  color: #4a4a4a;
  word-break: hyphenate;
  overflow: hidden;
}
.diaryItemSummary table td div {
  /*width:116px;*/
  /*  Give it an exact size for now */

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.diaryItemSummary table td ul.attachments {
  list-style: none;
  padding: 0;
  margin: 0;
}
.diaryItemSummary table td ul.attachments li.attachment {
  cursor: default;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.diaryItemSummary table tr.message td {
  padding: 5px;
  white-space: pre-wrap;
}
.diaryItemSummary table tr.noteEntry th:after {
  content: "";
}
.diaryItemSummary table tr.noteEntry td {
  text-align: right;
}
.diaryItemSummary table tr.noteEntry td div.textbutton {
  width: auto;
}
.diaryItemSummary textarea {
  -webkit-box-shadow: #dddddd 0 0 10px inset;
  -webkit-border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  resize: none;
  padding: 3px 10px;
  font-family: "Diary Font";
  font-size: 11px;
  padding-left: 10px;
  padding-right: 10px;
  width:100%;
}
.diaryItemSummary textarea::-webkit-scrollbar {
  -webkit-border-radius: 10px 0 10px;
}
.diaryItemSummary select {
  -webkit-appearance: button;
  padding-left: 10px;
  padding-right: 30px;
  margin-bottom: 3px;
  height: 28px;
  background-position: left top, right top, left top;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-clip: padding-box, padding-box, content-box;
  background-image: url(../form/textbutton_left.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);
  border: none;
  width: 100%;
}

.reportView .rightpanel select {
	-webkit-appearance: button;
	padding-left: 10px;
	padding-right: 30px;
	margin-bottom: 3px;
	height: 28px;
	background-position: left top, right top, left top;
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-clip: padding-box, padding-box, content-box;
	background-image: url(../form/textbutton_left.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);
	border: none;
}

.view_btn {
	background: url("img/viewbtn.png") no-repeat scroll 0 0 transparent;
	border-radius: 6px 6px 6px 6px;
	color: #FFFFFF;
	float: left;
	font-weight: bold;
	height: 29px;
	line-height: 30px;
	padding: 0;
	text-align: center;
	width: 70px;
	cursor:none;
}
.view_btn  a{ 
	color:white;
	cursor:none;
}

.cal_icon {
	background: #E7E7E7;
	border-left: 1px solid #D9D9D9;
	float: right;
	width: 100px;
	height: 135px;
}

.calendar_open {
	background: url("../frame/images/calender.png") no-repeat scroll transparent;
	display: block;
	height: 35px;
	margin-top: -28px;
	position: absolute;
	right: 30px;
	text-indent: -999999px;
	top: 50%;
	width: 35px;
	border: 0;
	cursor: pointer;
	z-index: 100;
}

.cal_topBoxW {
}
.cal_topBoxW .cal_tbw_left, .cal_topBoxW .cal_tbw_right {
	float: left;
	width: 49.5%;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top {
	background: none repeat scroll 0 0 #E1E1E1;
	border: 1px solid #D9D9D9;
	border-radius: 5px 5px 5px 5px;
	margin-right: 8px;
	padding: 3px;
	height:26px;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul li.col {
	float: left;
	width: 18%;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul li.col a {
	
	border-radius: 6px 6px 6px 6px;
	color: #FFFFFF;
	display: block;
	font-weight: bold;
	margin: 0 8px;
	padding: 4px;
	text-align: center;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul li.col.view div {
	background: none repeat scroll 0 0 #EA287D;
	border: 3px solid #EA287D;
	border-radius: 6px 0 0 6px;
	box-shadow: 0 1px 2px 0 #757575;
	color: #FFFFFF;
	font-weight: bold;
	margin-right: 30px;
	padding: 4px;
	position: relative;
	text-align: center;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul li.col.view div span.arrow {
	background: url("/images/sprite_image.png") no-repeat scroll -207px -122px transparent;
	display: block;
	height: 29px;
	position: absolute;
	right: -18px;
	text-indent: -9999px;
	top: -3px;
	width: 18px;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul li.col.day a {
	
	
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul li.col.day.active a {
	border: 0px solid #FF9800; padding: 6px;
	box-shadow: 0 4px 4px 0 #0B3AAF inset;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul li.col.week a {
	
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul li.col.week.active a {
	border: 0px solid #FF9800; padding: 6px;
	box-shadow: 0 4px 4px 0 #0B3AAF inset;
	
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul li.col.month a {
	
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul li.col.month.active a {
	
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul li.col.glance a {
	
}
.cal_topBoxW .cal_tbw_left .cal_tbw_top ul li.col.glance.active a {
	
}
.cal_topBoxW .cal_tbw_left .cal_tbw_bottom {
	background: url("img/cal_box_bg_line.jpg") repeat-y scroll right center #EDEDED;
	border: 1px solid #D9D9D9;
	border-radius: 5px 5px 5px 5px;
	margin-right: 8px;
	margin-top: 14px;
	padding: 0px;
	position: relative;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_bottom .tbw_date {
	color: #1C7DCF;
	float: left;
	font-size: 100px;
	padding: 0 20px;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_bottom .tbw_date span {
	color: #333333;
	font-size: 36px;
	padding: 0 10px;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_bottom .tbw_day {
	position: relative;
	float: left;
	height: 115px;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_bottom .tbw_day h4 {
	color: #1C7DCF;
	font-size: 30px;
	font-weight: normal;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_bottom .tbw_day h5 {
	color: #3D3C3C;
	font-size: 22px;
	font-weight: normal;
	padding: 4px 0;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_bottom .tbw_day h6 {
	color: #6C6C6C;
	font-size: 18px;
	font-weight: normal;
	text-transform: capitalize;
}
.cal_topBoxW .cal_tbw_left .cal_tbw_bottom span.icon {
	background: url("/images/sprite_image.png") no-repeat scroll -325px -93px transparent;
	display: block;
	height: 56px;
	margin-top: -28px;
	position: absolute;
	right: 30px;
	text-indent: -9999px;
	top: 50%;
	width: 51px;
}
.cal_topBoxW .cal_tbw_right .tbwr_content {
	background: none repeat scroll 0 0 #EDEDED;
	border: 1px solid #D9D9D9;
	border-radius: 5px 5px 5px 5px;
	margin-left: 8px;
}
.cal_topBoxW .cal_tbw_right .tbwr_content .tbwr_title {
	background: linear-gradient(to bottom, #E9E9EA 0%, #DBDBE0 100%) repeat scroll 0 0 transparent;
	color: #383736;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	position: relative;
	text-align: center;
}
.cal_topBoxW .cal_tbw_right .tbwr_content .tbwr_title .tbwr_viewall {
	color: #737373;
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: 8px;
}
.cal_topBoxW .cal_tbw_right .tbwr_content .tbwr_contentList {
	background: url("images/sapratorline.jpg") repeat-y scroll 50% 0 transparent;
	height: 146px;
	position: relative;
}
.cal_topBoxW .cal_tbw_right .tbwr_content .tbwr_contentList ul {
	margin: 0;
	padding: 0;
}
.cal_topBoxW .cal_tbw_right .tbwr_content .tbwr_contentList ul li.col {
	border-bottom: 1px solid #F5F5F5;
	border-top: 1px solid #CCCCCC;
	float: left;
	list-style: none outside none;
	width: 50%;
}
.cal_topBoxW .cal_tbw_right .tbwr_content .tbwr_contentList ul li.col .txt {
	color: #666666;
	padding: 6px 10px 6px 20px;
	position: relative;
}
.cal_topBoxW .cal_tbw_right .tbwr_content .tbwr_contentList ul li.col .txt span.bullet {
	background: url("images/sprite_image.png") no-repeat scroll -375px 0 transparent;
	display: block;
	height: 8px;
	left: 4px;
	position: absolute;
	text-indent: -9999px;
	top: 10px;
	width: 8px;
}
.cal_topBoxW .cal_tbw_right .tbwr_content .tbwr_contentList ul li.col .txt h4 {
	color: #333333;
}


.cal_filter_task {
	/* background: none repeat scroll 0 0 #EAEAEA; */
	background: none repeat scroll 0 0 #E1E1E1;
	border: 1px solid #DFDDDD;
	border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	
	margin-left: 15px;
	
	height:29px;
}

.cal_filter_task ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.cal_filter_task ul li.col.filter a{
	background:#d0cecf;
	border:2px solid #d0cecf;
	box-shadow:0 1px 2px 0 #757575;
	-moz-box-shadow:0 1px 2px 0 #757575;
	-webkit-box-shadow:0 1px 2px 0 #757575;
	position:relative;
}
.cal_filter_task ul li.col.filter span.arrow{
	background: url("img/arrow.png") no-repeat scroll -4px center transparent;
	height: 29px;
	right: -16px;
	text-indent:-9999px;
	top:-3px;
	width: 18px;
	position:absolute;
}
.cal_filter_task ul li.col.filter.active a{
	border:3px solid #d0cecf;
	box-shadow:0px 4px 4px 0px #d0cecf inset;
	-moz-box-shadow:0px 4px 4px 0px #d0cecf inset;
	-webkit-box-shadow:0px 4px 4px 0px #d0cecf inset;
}

.cal_filter_task ul li.col.tasks a{
	background:#e8505d;
	border:2px solid #e8505d;
	box-shadow:0 1px 2px 0 #757575;
	-moz-box-shadow:0 1px 2px 0 #757575;
	-webkit-box-shadow:0 1px 2px 0 #757575;
	padding:2px;
}
.cal_filter_task ul li.col.tasks.active a{
	border:3px solid #e8505d;
	box-shadow:0px 4px 4px 0px #e8505d inset;
	-moz-box-shadow:0px 4px 4px 0px #e8505d inset;
	-webkit-box-shadow:0px 4px 4px 0px #e8505d inset;
}

.cal_filter_task ul li.col.event a{
	background:#5291d6;
	border:2px solid #5291d6;
	box-shadow:0 1px 2px 0 #757575;
	-moz-box-shadow:0 1px 2px 0 #757575;
	-webkit-box-shadow:0 1px 2px 0 #757575;
	padding:2px;
}
.cal_filter_task ul li.col.event.active a{
	border:3px solid #5291d6;
	box-shadow:0px 4px 4px 0px #5291d6 inset;
	-moz-box-shadow:0px 4px 4px 0px #5291d6 inset;
	-webkit-box-shadow:0px 4px 4px 0px #5291d6 inset;
}

.cal_filter_task ul li.col.note a{
	background:#e47935;
	border:2px solid #e47935;
	box-shadow:0 1px 2px 0 #757575;
	-moz-box-shadow:0 1px 2px 0 #757575;
	-webkit-box-shadow:0 1px 2px 0 #757575;
	padding:2px;
}
.cal_filter_task ul li.col.note.active a{
	border:3px solid #e47935;
	box-shadow:0px 4px 4px 0px #e47935 inset;
	-moz-box-shadow:0px 4px 4px 0px #e47935 inset;
	-webkit-box-shadow:0px 4px 4px 0px #e47935 inset;
}
.cal_filter_task ul li.col.tasks span.arrow{
	background: url("img/checkbox.png");
	height: 29px;
	right: -18px;
	text-indent:-9999px;
	top:-3px;
	width: 18px;
}

.cal_filter_task ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#pdcb_filter {
	margin-left: 120px;
	position: relative;
}

.cal_filter_task ul li.col {
	margin: 0;
	position: relative;
	width: 33%;
	float:left;
}
.cal_filter_task ul li.col .pdcb.pdcb_task {
	background: url("img/taskbtnnormal.png") no-repeat;
	width:110px;
	height:25px;
	
}
.cal_filter_task ul li.col .pdcb {
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 2px 0 #FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	margin: 0 5px;
	min-width: 30px;
	padding: 0 10px 0 34px;
	position: relative;
}
.cal_filter_task ul li.col .pdcb.pdcb_event {
	background: url("img/eventbtnnormal.png") no-repeat;
	width:110px;
	height:25px;
	
}
.cal_filter_task ul li.col .pdcb {
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 2px 0 #FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	margin: 0 5px;
	min-width: 30px;
	padding: 0 10px 0 34px;
	position: relative;
}
.cal_filter_task ul li.col .pdcb.pdcb_note {
	background: url("img/notesbtnnormal.png") no-repeat;
	width:110px;
	height:25px;
	
}
.cal_filter_task ul li.col .pdcb {
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 2px 0 #FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	margin: 0 5px;
	min-width: 30px;
	padding: 0 10px 0 34px;
	position: relative;
}
.cal_filter_task ul li.col.filter {
	background:url("img/cal_filter.png") no-repeat ;	
	
	height: 29px;
	
	width: 97px;
}
.fil{
	background:url("img/arrow.png") no-repeat ;
}

.cal_content{

	max-height:435px;
	clear:both; 
	overflow:scroll;

}

.cal_content .subjectContainer{
	float:left;
}

.cal_content table{
	border: 1px solid #D9D9D9;
	float: left;
	height:100% !important;
	margin-left: 0px;
	width: 100%;
	border-left:none;
	border-top:none;
	border-bottom:none;
	/*border-collapse: collapse;*/
}
.cal_content table tr {
	background: #ededed;
	border-bottom:1px solid #006500;
    border-top:1px solid #000066;

    border-left:1px solid #D9D9D9;
    border-right:1px solid #ffffff;
/*    height: 100%;*/

}
.caltd tr td
{
    /*border-left:1px solid #D9D9D9;*/
    /*border-right:1px solid #ffffff;*/
}

.cal_content .itemContainer{
/*	width:200px;
	float: left;*/
}

.cal_content table tr td:first-child{
	width:12px;
	
	text-align:right;color:#858484;
   border-spacing:0;
}
.cal_content table tr td:nth-child(2) {
	padding:0 10px 0 10px;
	color:#858484;
    border-bottom:1px solid #D9D9D9;
    border-top:1px solid #ffffff;
	border-right:1px solid #d9d9d9;
	width:13%;
		text-align:right;
	
}

.cal_content table tr td:nth-child(3) {
	padding:0 0 0 10px;
	color:#858484;
	border-bottom:1px solid #D9D9D9;
	border-top:1px solid #ffffff;
	border-left:1px solid #ffffff;
	
}

.cal_content table tr td:nth-child(4) {
	padding:0 0 0 10px;
	color:#858484;
	border-bottom:1px solid #D9D9D9;
	border-top:1px solid #ffffff;
}
.cal_content table tr td:nth-child(5) {
	padding:0 0 0 10px;
	color:#858484;
	border-bottom:1px solid #D9D9D9;
	border-top:1px solid #ffffff;
}

.cal_content table tr td:nth-child(2) h3{
	padding:0 0 0 0px;
	color:#000;
}

.cal_content table tr td h3{
	padding:10px 5px 0 0;
}

.cal_content table tr td h5{
	padding:5px 5px 10px 0;
}

#toppanel {
	position: fixed;   
	bottom: -10;
	width: 100%;
	z-index: 999;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#panel {
	width: 94%;
	height: 350px;
	color: #999999;
	background: #ededed;
	border:10px solid #4794e0;
	border-top:10px solid #4794e0;
	overflow: hidden;
	position: relative;
	z-index: 999;
	display: none;
	
	-webkit-border-radius: 8px;
}


#Mypanel {
	position: fixed;   
	bottom: 0;
	width: 80%;
	z-index: 999;
	height: 0px;
	color: #999999;
	background: #ededed;
	border:10px solid #4794e0;
	border-bottom:none;

	
	z-index: 999;
	
}

#Mainpanel {
	
	
	width: 80%;
	z-index: 999;
	height: 70px;
	
	
}

#panel h1 {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
	
}

#panel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	
}

#panel p {
	margin: 5px 0;
	padding: 0;
}

#panel a {
	text-decoration: none;
	color: #15ADFF;
}

#panel a:hover {
	color: white;
}

#panel a-lost-pwd {
	display: block;
	float: left;
}

#panel .panelContent {
	/*width: 960px;*/
	margin: 0 auto;
	padding-top: 2px;
	text-align: left;
	font-size: 0.85em;
	
	
}

#panel .panelContent .left {
	/*width: 280px;*/
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#panel .panelContent .right {
	border-right: 1px solid #333;
}

#panel .panelContent form {
	margin: 0 0 2px 0;
}

#panel .panelContent label {
	float: left;
	padding-top: 8px;
	clear: both;
	/*width: 280px;*/
	display: block;
}

#panel .panelContent input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	/*width: 200px;*/
	color: white;
	height: 16px;
}

#panel .panelContent input:focus.field {
	background: #545454;
}

#panel h1
{
	color:#575757;
}

/* BUTTONS */
/* Login and Register buttons */
#panel .panelContent input.bt_login,
#panel .panelContent input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#panel .panelContent input.bt_login {
	width: 74px;
	background: transparent url(img/bt_login.png) no-repeat 0 0;
}

#panel .panelContent input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(img/bt_register.png) no-repeat 0 0;
}

#panel .lost-pwd {
	display: block;
	float:left;
	clear: right;
	padding: 15px 5px 0;
	font-size: 0.95em;
	text-decoration: underline;
}


/* Panel Tab/button */
.tab {
	/*background: url(img/tab_b.png) repeat-x scroll 0 16px transparent;*/
	height: 26px;
	position: relative;
	bottom: 0px;
	z-index: 999;
	width:86.2%;
}

.tab ul.login {
	display: block;
	position: relative;
	float: left;
	clear: right;
	width: auto;
	font-weight: bold;
	line-height: 3px;
	margin: 0;
	color: white;
	font-size: 80%;
	text-align: center;
}

.tab ul.login li.left {
	background: url(img/tab_l.png) no-repeat left 0;
	height: 21px;
	width: 30px;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

.tab ul.login li.right {
	background: url(img/tab_r.png) no-repeat left 0;
	height: 21px;
	width: 30px;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

.tab ul.login li {
	text-align: left;
	padding: 0 6px;
	display: block;
	float: left;
	height: 21px;
	
}

.tab ul.login li a {
	color: #15ADFF;
}

.tab ul.login li a:hover {
	color: white;
}

.tab .sep {color:#414141}

.tab a.open, .tab a.close {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 100px;
	position: relative;
	top: 0px;
	/*left:450px;*/
}

.tab a.open {background: url(img/slide_open.png) no-repeat left 0;}
.tab a.close {background: url(img/slide_close.png) no-repeat left 2px;}