<div style="width:1056px;height:485px; clear:both;font-family: Arial;background-image:url('app:/content/AboutDaisy/aboutDaisy.jpg'); background-position:left;">
	<span style="top:382px;position:absolute;left:130px;"><a id="externalYoutube" style="font-size:16px; color:#e47009; cursor: pointer;">https://www.youtube.com/user/PRIMEWebisodes</a></span>
	<span style="top:415px;position:absolute;left:130px;"><a id="externalPDF" style="font-size:16px; color:#e47009; cursor: pointer;">https://prime-planner.com/AboutPrime/StudentGuide.pdf</a></span>
</div>
