.sort_dt{
	color: #6C7582;
	float: left;
	font-size: 13px;
	margin: 5px 0 0;
	background: url("images/down_arrow.png") no-repeat right center ;
	padding:0 25px 0 0;
}

.sorted{
	background: url("images/up_arrow.png") no-repeat right center ;
}

.inbox_content{
	height:600px;
	border:1px solid #d9d9d9;
	border-radius: 10px 10px 10px 10px;
	padding:5px;
    background-color:#ECECEC;

}
.inboxItemContainer{

	width: 98%;
    height: 480px;
	overflow-y:scroll;
	float:left;
}
.inbox_content .inboxItemContainer table{
	border-radius:10px;
	border-collapse:separate;
	float:left;
	left:50px !important;
    width: 100%;
}

.inbox_content .inboxItemContainer table tr:nth-child(even) 
{
	/*background: #FCFCFC;*/
}

.inbox_content .inboxItemContainer table tr:nth-child(odd) {/*background: #f2f2f2*/} 
.inbox_content .inboxItemContainer table tr td:first-child{
	
	border-right:1px solid #d9d9d9;
	text-align:left;color:#858484;
}
.inbox_content .inboxItemContainer table tr td:nth-child(2) {
	padding:0 0 0 10px;
	color:#858484;
}
.inbox_content .inboxItemContainer table tr td:nth-child(2) h3{
	padding:0 0 0 0px;
	color:#000;
}

.inbox_content .inboxItemContainer table tr td h3{
	padding:10px 5px 0 0;
}

.inbox_content .inboxItemContainer table tr td h5{
	padding:5px 5px 10px 0;
	
}
.inbox_content .sequence{
/*	background: url("images/bg2.png") repeat-x;
	width:96.5%;
	float:left;
	padding:5px;
	text-align:left;
	font-weight:bold;*/
	
}
.dt_icon{
	background: url("images/sortdt.png") ;
	width:25px;
	height:26px;
	float:right;
	cursor:pointer;
}
.ib_head{
	text-align:center; 
	padding:8px 0; 
	font-weight:bold; 
	background:#e3e3e7;
	border-radius:10px 10px 0 0;
	border:1px solid #d9d9d9;
    color:#000000;
}
.left_ib{
	float:left;
	/*width:25%;*/
    width:31%;
	
}
.left_ib table{
	border-radius: 0px;
}
.left_ib table tr td{
	padding:15px 5px;
	border-radius: 0px;
	border:0px !important;
	vertical-align: middle;
	/*background:#eeeeee;*/
	
}
/*bottom border for tr*/
.left_ib table tr:nth-child(2) {
	border-bottom:1px solid #f00 !important;
}
.left_ib img{}
.left_ib .disc{
	font-family:Arial;
	font-size: 13px;
	font-weight:bold;
	color:#4f4f50;
}
.left_ib table tr.selected{
	background:#ffe3bb;
}
.left_ib .discdt{
	font-family:Arial;
	font-size: 13px;
	font-weight:normal;
	color:#618ec3;
	text-align:right;
}


.right_ib{
	/*border: 1px solid #d9d9d9;*/
	border-top:0px;
	float: left;
	/*width: 73.9%;*/
	/*padding:5px;*/
    width:68%
	
}

.right_ib .richbox{
	border:1px solid #d9d9d9;
	width:90%;
	height:465px;
	margin: 35px auto 0;
	background:#eaeaea;
	padding:10px;
}


.label3
{
	font-family:Arial;
	font-size: 12px;
	font-weight:bold;
	color:#000;
	width:14%;
	float: left;
	text-align:right;
	/*padding-right: 12px;*/
	clear: both;
	padding-top: 15px;
}

.right_ib .richbox div  input
{
	width:63%;
	float: left;
	background:#FFF;
	border:0px;
	margin:10px 0 0 10px;
	padding:7px;
}
.right_ib .richbox div .send{
	background: url("images/bg.png") repeat-x;
	border-radius:2px;
	
	border:1px solid #08315c;
	margin: 10px;
	padding: 7px 15px;
	float:left;
	color:#FFF;
	
}
.modalTableInbox{
    background-color: #e8e7e7;
    border-radius: 4px;
    margin: 5px 5px 5px 5px;
    width: 97%;
    border: solid 1px #d6d6d6;
    font-family: arial; font-size: 16px;color: #3d3c3c;line-height: 25px;padding: 0px;
    /*height: 99%;*/
    /*-webkit-box-shadow: 2px -1px 1px 1px #b2b1b1;*/
    /*box-shadow: 2px -1px 1px 1px #b2b1b1 ;*/

}
.Announcement{
    background: url("images/Announcement.png")no-repeat;
	width:18px;
	height: 18px;
}
.news{
    background: url("images/news.png")no-repeat;
    width:16px;
	height: 14px;
}

.message{
    background: url("images/reminder.png")no-repeat;
    width:18px;
	height: 12px;
}



.modalTableInbox td{
    padding-left: 5px;
}

.messagebox{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #D9D9D9;
	clear: both;
	height: 130px;
	margin: 10px auto 0;
	width: 94%;
}

.selectedMessage{
	background-color: red !important;
	background: none repeat scroll 0 0 #FFFFFF;
/*	height: 130px;
	margin: 10px auto 0;
	width: 94%;*/
}

.truncateSubject{
	white-space:nowrap; 
	text-overflow:ellipsis;
	height:15px;
	overflow:hidden; 
	width:180px;
}
.inboxList
{
	background: url("images/threadArow.jpg") no-repeat scroll 90% 8px #9DA0A5;
	border-radius: 5px;
	
	color: #FFFFFF;
	cursor: pointer;
	font-size: 12px;
	height: 15px;
	padding: 5px 6px;
	
	width: 20px;
	float:right;
}

.truncateSubjectTitle{
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow:hidden; 
	width:450px;
}

.truncateType{
	white-space:nowrap; 
	text-overflow:ellipsis;
	height:15px !important;
	overflow:hidden; 
	width:200px !important;
}

.selectWrap {
	border-radius: 5px;
	overflow: hidden;
	box-shadow: -2px -3px 4px 0 #c4c0c0 inset;
	width: 200px;
	position: relative;
	z-index: 1;
	border: solid 1px #B5B5B5;
	font-family: arial;
	font-size: 12px;
}

.theSelect {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	height: 30px;
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.inboxItemRow{
	cursor:pointer;
	
}
.selectMessage{
background-color:#eeeeee;
}
.selectMessage:hover{
	background-color:#ffe3bb !important;
}

.selectMessage:selected{
	background-color:#ffe3bb !important;
}

.highlightMessage {
	background-color:#ffe3bb !important;
}
