@dialog-titlebar-color: #0055A5;
@dialog-titlebar-border-color: rgba(0, 0, 0, 0.5);

.ui-widget-overlay {
	background: #fff url(../jqueryui/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	opacity: 0.2;
}

.ui-dialog {
	-webkit-box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.55);
	
	.ui-dialog-titlebar {
		border: 1px solid @dialog-titlebar-border-color;
		background: @dialog-titlebar-color;
	
		.ui-dialog-title {
			color: white;
		}
	
		.ui-dialog-titlebar-close {
			.ui-icon-closethick {
				background-image: url("../jqueryui/images/ui-icons_ffffff_256x240.png");
			}
			&.ui-state-hover {
				background: none;
				border: none;
				padding: 1px;
			}	
		}
	
	}
	
	.ui-dialog-content.formContainer {
		margin: 0px 20px 20px;
		padding: 8px 0px 32px 0px;
		overflow: hidden;
			
		font-family: "Diary Font";
		font-size: 11px;
		font-weight: 400;
			
		.textlink {
			cursor: pointer;
			position: relative;
			top:5px;
			padding-right:5px;
		}
						
			
		select, input, textarea {
			padding: 0 10px;
			font-family: "Diary Font";
			font-size: 11px;
			font-weight: 400;
		}
		
		textarea {
			padding: 5px 10px !important;
		}
		
		input[disabled=disabled] {
			color: black;
		}
		
		input[type=file] {
			background: none;
			padding-left: 0;
		}

		// time pickers
		input.ui-timepicker-input {
			width: 65px;
			// display as text when viewing
			background: transparent;
			vertical-align: middle;
			height: 18px;
			border-bottom: solid 1px #EEEEEE;
		}
		input.ui-timepicker-input:focus {
			// display as input when editing
			background:
				url(../../assets/form/control_topleft.png) left top no-repeat,
				url(../../assets/form/control_topright.png) right top no-repeat,
				url(../../assets/form/control_bottomleft.png) left bottom no-repeat,
				url(../../assets/form/control_bottomright.png) right bottom no-repeat,
				url(../../assets/form/control_top.png) left top repeat-x,
				url(../../assets/form/control_bottom.png) left bottom repeat-x,
				url(../../assets/form/control_left.png) left top repeat-y,
				url(../../assets/form/control_right.png) right top repeat-y,
				#ffffff;
		}
		
		select[disabled=disabled] {
			color: black;
		}

		select {
			-webkit-appearance: button;
			padding-left:15px;
	        padding-right:30px;
			height: 28px;
	        background-position: left top, right top, left top;
	        background-repeat: no-repeat, no-repeat, repeat-x;
	        background-clip: padding-box, padding-box, content-box;
			background-image: url(../form/textbutton_left.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);
		
			&.homework {
				padding-left: 28px;
				background-image: url(selectbutton_homework.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);			
			}
		
			&.assignment {
				padding-left: 28px;
				background-image: url(selectbutton_assignment.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);							
			}
		
			&.messageFromTeacher {
				padding-left: 28px;
				background-image: url(selectbutton_messageFromTeacher.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);							
			}
		
			&.messageFromParent {
				padding-left: 28px;
				background-image: url(selectbutton_messageFromParent.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);							
			}
			
			&.event {
				padding-left: 28px;
				background-image: url(selectbutton_event.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);							
			}
			
			&.note {
				padding-left: 28px;
				background-image: url(selectbutton_note.png), url(../form/selectbutton_right.png), url(../form/textbutton_middle.png);							
			}	
			
		}
		

		th {
			width: 80px;
			&.alignTop {
				vertical-align: top;
				padding-top: 6px;
			}
		}
		
		td.time {
			select {
				width: 63px;
				padding-left: 10px;
			}
			span {
			
				display: inline-block;
				font-size: 1em;
				font-family: "Diary Font";
				margin-top: -7px;
			}
		}
		
		tr.dateRow {
		
			//span.dateHolder, input.allDay, label, span.allDayContainer, span.endTimeContainer {
			span, input, label {
				display: inline-block;
				vertical-align: middle;
			}

			input.allDay {
				width: auto;
				height: auto;
			}

			span.allDayContainer {
				float: right;
			}
		}
		
		tr.responseRequiredRow {
			text-align: right;
			
			.responseRequiredTitle {
				color: #999;
				padding-right: 12px;
				font-weight: bold;
			}
			
			.responseRequiredTitle:after {
				content: ":";
			}
			
			input[type=checkbox] {
				display: inline;
				vertical-align: middle;
				width: auto;
				height: auto;
			}
		}

		tr.attachmentsRow {
			th, td {
				padding-bottom: 0;
			}
		}
		
		tr.attachmentList {

			ul.attachments {
				list-style: none;
				padding: 0;
				max-height: 110px;
				overflow-y: auto;

				li.attachment {
					margin-bottom: 5px;
					position: relative;
					height: 17px;
					cursor: default;

					.attachmentIcon {
						display: inline-block;
						height: 16px;
						width: 16px;
					}
					.attachmentName {
						position: absolute;
						left: 18px;
						right: 18px;
						bottom: 2px;
						display: inline-block;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-weight: normal;
					}
					.attachmentRemove {
						cursor: pointer;
						position: absolute;
						right: 0;
						display: inline-block;
						height: 17px;
						width: 17px;
						background-image: url(icon_delete.png);
					}
				}
			}
		}
	}
	
}

.editButtonContainer {
	.textButton.delete {
		padding-left: 28px;
		background-image: url(textbutton_left_trash.png), url(../form/textbutton_right.png), url(../form/textbutton_middle.png);
	}							
	
	.textLink.cancel {
		
	}			
}

.diaryItemSummary {
	.attachmentName {
		width: 90px !important;
	}
}