.monthView {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 32px;
  /*min-width: 750px;*/

}
.monthViewCalendar {
  display: block;
  position: absolute;
  top: 65px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper {
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 27px;
  border-color: #DBDBDB;
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 27px;
  background: #e9e9ea; /* Old browsers */
  background: -moz-linear-gradient(top, #e9e9ea 0%, #dbdbe0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9ea), color-stop(100%,#dbdbe0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e9e9ea 0%,#dbdbe0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e9e9ea 0%,#dbdbe0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e9e9ea 0%,#dbdbe0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e9e9ea 0%,#dbdbe0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9ea', endColorstr='#dbdbe0',GradientType=0 ); /* IE6-9 */
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader > .dayTitleCellWrapper {
  display: block;
  position: absolute;
  width: 14.28%;
  height: 27px;
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader > .dayTitleCellWrapper:nth-child(7) {
  width: 14.32%;

}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader > .dayTitleCellWrapper > .dayTitleCell {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader > .dayTitleCellWrapper > .dayTitleCell > .dayTitle {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  color: #494949;
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader > .dayTitleCellWrapper:nth-child(1) {
  left: 0%;
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader > .dayTitleCellWrapper:nth-child(1) > .dayTitleCell {
  border-left: none;
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader > .dayTitleCellWrapper:nth-child(2) {
  left: 14.28%;
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader > .dayTitleCellWrapper:nth-child(3) {
  left: 28.56%;
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader > .dayTitleCellWrapper:nth-child(4) {
  left: 42.84%;
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader > .dayTitleCellWrapper:nth-child(5) {
  left: 57.12%;
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader > .dayTitleCellWrapper:nth-child(6) {
  left: 71.4%;
}
.monthViewCalendar > .monthViewColumnsHeaderWrapper > .monthViewColumnsHeader > .dayTitleCellWrapper:nth-child(7) {
  left: 85.68%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper {
  display: block;
  position: absolute;
  top: 28px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-color: #DBDBDB;
  border-style: solid;
  border-width: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  
  
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper {
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  min-height:665px;
  max-height:720px;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay {
  position: absolute;
  display: block;
  width: 14.28%;
  height: 20%;
  

    border: solid 1px #b2b1b1;outline: 1px solid #ffffff;
  
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(7n+7) {
  width: 14.32%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(7n+1) {
  left: 0%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(7n+2) {
  left: 14.28%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(7n+3) {
  left: 28.56%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(7n+4) {
  left: 42.84%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(7n+5) {
  left: 57.12%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(7n+6) {
  left: 71.4%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(7n+7) {
  left: 85.68%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(1),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(2),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(3),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(4),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(5),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(6),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(7) {
  top: 0%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(1) .daycell,
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(2) .daycell,
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(3) .daycell,
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(4) .daycell,
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(5) .daycell,
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(6) .daycell,
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(7) .daycell {
  border-top: none;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(8),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(9),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(10),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(11),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(12),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(13),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(14) {
  top: 110px;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(15),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(16),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(17),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(18),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(19),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(20),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(21) {
  top: 220px;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(22),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(23),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(24),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(25),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(26),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(27),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(28) {
  top: 330px;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(29),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(30),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(31),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(32),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(33),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(34),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(35) {
  top: 440px;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(36),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(37),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(38),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(39),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(40),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(41),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(42) {
  top: 550px;
  
}






.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay:nth-child(7n+1) .daycell {
  border-left: none;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay > .daycell {
  height: 100%;
  padding: 16px 2px 1px 2px;
  background: #ededed;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay > .daycell .cycle {
  top: 2px;
  right: 8px;
  left: auto;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay > .daycell ul {
  top: 0px;
  left: 0px;
  right: 4px;
  height: auto;
  position: relative;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay > .daycell .widgets {
  display: block;
  height: 34px;
  left: 4px;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay > .daycell .widgets > div.subject,
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay > .daycell .widgets > div.summarymultiple {
  top: 18px;
  left: 2px;
  display: none;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay > .daycell .widgets > div.subject:nth-of-type(1),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay > .daycell .widgets > div.subject:nth-of-type(2),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay > .daycell .widgets > div.subject:nth-of-type(3),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDay > .daycell .widgets > div.summarymultiple {
  position: relative;
  top: 0px;
  display: inline-block;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks {
  height: 16.666666666666667%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(8),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(9),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(10),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(11),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(12),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(13),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(14) {
  top: 16.666666666666667%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(15),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(16),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(17),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(18),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(19),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(20),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(21) {
  top: 33.333333333333333%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(22),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(23),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(24),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(25),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(26),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(27),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(28) {
  top: 50%;
}
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(29),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(30),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(31),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(32),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(33),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(34),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(35) {
  top: 66.666666666666667%;
}

.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(36),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(37),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(38),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(39),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(40),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(41),
.monthViewCalendar > .monthViewCalendarBodyWrapper > .monthViewDayWrapper > .monthViewDaySixWeeks:nth-child(42) {
	top: 82.666666666666667%;

}




.monthViewDayLayout {
  display: block;
  top: 17px;
  right: 2px;
  left: 2px;
  bottom: 0px;
  position: absolute;
  padding-left: 2px;
  padding-right: 4px;
}
.monthDayOfNote {
  display: block;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  left: 0px;
  right: 4px;
  height: auto;
  color: #8F9CBB;
  font-size: 13px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.daycell.othermonth {
  background: none;
  background: #ededed;
}
.daycell.othermonth .date {
  color: #d7d5d5;
}
#monthPopupMonthList .popupContent ul.monthList {
  margin: 0;
  padding: 0;
}
#monthPopupMonthList .popupContent ul.monthList > li {
  list-style-type: none;
  height: 23px;
  cursor: pointer;
  font-family: "Diary Font";
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 4px;
}
#monthPopupMonthList .popupContent ul.monthList > li:hover {
  background-color: #ededed;
  background-radius: 4px;
  font-weight: bold;
}
#monthPopupMonthList .popupContent ul.monthList > li.current,
#monthPopupMonthList .popupContent ul.monthList > li:hover.current {
  background-color: #fbebeb;
  background-radius: 4px;
  font-weight: normal;
}

.monthViewDayLayout ul li.event {
	padding-left: 14px;
	color: #1c4183;
background: url("../calendar/img/square-icon.png") 0px 2px no-repeat;
}