.monthView {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 32px;
/*min-width: 750px;*/
}

.monthViewCalendar {
	display: block;
	position: absolute;
	top:65px;
	left:0px;
	right: 0px;
	bottom: 0px;

	> .monthViewColumnsHeaderWrapper {
		position: absolute;
		display: block;
		left: 0px;
		right: 0px;
		top: 0px;
		height: 27px;

		border-color: #DBDBDB;
		border-width: 1px;
		border-style: solid;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;

		> .monthViewColumnsHeader {
			position: absolute;
			display: block;
			top: 0px;
			left: 0px;
			right: 0px;
			height: 27px;

			> .dayTitleCellWrapper {
				display: block;
				position: absolute;
				width: 14.28%;
				height: 27px;

				&:nth-child(7) {
					width: 14.32%
				}

				> .dayTitleCell {
					display: inline-block;
					position: absolute;
					top: 0px;
					left: 0px;
					right: 0px;
					bottom: 0px;

					border-left-color: #DBDBDB;
					border-left-width: 1px;
					border-left-style: solid;

					text-align: center;
					vertical-align: middle;
					overflow: hidden;

					> .dayTitle {
						display: inline-block;
						margin-top: 5px;
						font-size: 14px;
						color: #494949;
					}
				}

				&:nth-child(1) {
					left: 0%;

					> .dayTitleCell {
						border-left: none;
					}
				}

				&:nth-child(2) {
					left: 14.28%;
				}

				&:nth-child(3) {
					left: 28.56%;
				}

				&:nth-child(4) {
					left: 42.84%;
				}

				&:nth-child(5) {
					left: 57.12%;
				}

				&:nth-child(6) {
					left: 71.4%;
				}

				&:nth-child(7) {
					left: 85.68%;
				}
			}
		}
	}

	> .monthViewCalendarBodyWrapper {
		display: block;
		position: absolute;
		top:28px;
		left:0px;
		right: 0px;
		bottom: 0px;
		border-color: #DBDBDB;
		border-style: solid;
		border-width: 1px;
		overflow-y: hidden;
		overflow-x: hidden;

		> .monthViewDayWrapper {
			position: absolute;
			display: block;
			left: 0px;
			right: 0px;
			top:0px;
			bottom:0px;

			> .monthViewDay {
				position: absolute;
				display: block;
				width: 14.28%;
				height: 20%;


				&:nth-child(7n+7) {
					width: 14.32%
				}

				&:nth-child(7n+1) {
					left: 0%
				}

				&:nth-child(7n+2) {
					left: 14.28%
				}

				&:nth-child(7n+3) {
					left: 28.56%
				}

				&:nth-child(7n+4) {
					left: 42.84%
				}

				&:nth-child(7n+5) {
					left: 57.12%
				}

				&:nth-child(7n+6) {
					left: 71.4%
				}

				&:nth-child(7n+7) {
					left: 85.68%
				}

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6),
				&:nth-child(7) {
					top: 0%;

					.daycell {
						border-top: none;
					}
				}

				&:nth-child(8),
				&:nth-child(9),
				&:nth-child(10),
				&:nth-child(11),
				&:nth-child(12),
				&:nth-child(13),
				&:nth-child(14) {
					top: 20%;
				}

				&:nth-child(15),
				&:nth-child(16),
				&:nth-child(17),
				&:nth-child(18),
				&:nth-child(19),
				&:nth-child(20),
				&:nth-child(21) {
					top: 40%;
				}

				&:nth-child(22),
				&:nth-child(23),
				&:nth-child(24),
				&:nth-child(25),
				&:nth-child(26),
				&:nth-child(27),
				&:nth-child(28) {
					top: 60%;
				}

				&:nth-child(29),
				&:nth-child(30),
				&:nth-child(31),
				&:nth-child(32),
				&:nth-child(33),
				&:nth-child(34),
				&:nth-child(35) {
					top: 80%;
				}

				&:nth-child(36),
				&:nth-child(37),
				&:nth-child(38),
				&:nth-child(39),
				&:nth-child(40),
				&:nth-child(41),
				&:nth-child(42) {
					top: 83.333333333333333%;
				}

				&:nth-child(7n+1) .daycell {
					border-left: none;
				}

				> .daycell {
					height: 100%;
					padding: 16px 2px 1px 2px;

					.cycle {
						top: 2px;
						right: 8px;
						left: auto;
					}

					ul {
						top: 0px;
						left: 0px;
						right: 4px;
						height: auto;
						position: relative;
					}

					.widgets {
						display:block;
						height: 34px;
						left: 4px;

						> div.subject,
						> div.summarymultiple {
							top: 18px;
							left: 2px;
							display: none;
						}

						> div.subject:nth-of-type(1),
						> div.subject:nth-of-type(2),
						> div.subject:nth-of-type(3),
						> div.summarymultiple {
							position: relative;
							top: 0px;
							display: inline-block;
						}
					}
				}
			}

			> .monthViewDaySixWeeks {
				height: 16.666666666666667%;

				&:nth-child(8),
				&:nth-child(9),
				&:nth-child(10),
				&:nth-child(11),
				&:nth-child(12),
				&:nth-child(13),
				&:nth-child(14) {
					top: 16.666666666666667%;
				}

				&:nth-child(15),
				&:nth-child(16),
				&:nth-child(17),
				&:nth-child(18),
				&:nth-child(19),
				&:nth-child(20),
				&:nth-child(21) {
					top: 33.333333333333333%;
				}

				&:nth-child(22),
				&:nth-child(23),
				&:nth-child(24),
				&:nth-child(25),
				&:nth-child(26),
				&:nth-child(27),
				&:nth-child(28) {
					top: 50%;
				}

				&:nth-child(29),
				&:nth-child(30),
				&:nth-child(31),
				&:nth-child(32),
				&:nth-child(33),
				&:nth-child(34),
				&:nth-child(35) {
					top: 66.666666666666667%;
				}
			}
		}
	}
}

.monthViewDayLayout {
	display:block;
	top:17px;
	right:2px;
	left:2px;
	bottom:0px;
	position:absolute;
	padding-left: 2px;
	padding-right: 4px;
}

.monthDayOfNote {
	display: block;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	left:0px;
	right: 4px;
	height:auto;

	color: #8F9CBB;
	font-size: 13px;
	font-weight: 600;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.daycell.othermonth {
	background: none;
	background-color: #fcfcfc;

	.date {
		color: #d7d5d5;
	}
}


#monthPopupMonthList .popupContent ul.monthList {
	margin: 0;
	padding: 0;

	> li {
		list-style-type: none;
		height: 23px;
		cursor:pointer;
		font-family: "Diary Font";
		font-size: 14px;
		font-weight: normal;
		color: #333333;
		padding-left:14px;
		padding-right:14px;
		padding-top: 4px;

		&:hover {
			background-color: #ededed;
			background-radius: 4px;
			font-weight: bold;
		}

		&.current,
		&:hover.current {
			background-color: #fbebeb;
			background-radius: 4px;
			font-weight: normal;
		}
	}
}
